@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
//color nice
$col-1: #f5f5f5;
$col-2 :#f9ce06;
$col-3 : #fff;
$col-6: #111111;
$col5- : #fad784;
//viewport
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px ;
@mixin icon-img($size) {
    height : $size;
    width: $size;
}
@mixin link-style($size){
    text-decoration: none;
    color: #111111;
    font-weight: bolder;
    font-size: $size;
}
@mixin btn-style {
    border: 2px solid #111111;
    text-align: center;
    height : 32px;
    width : 130px;
    font-size: 16px;
}
@mixin black-bar{
    height: 3px;
    width : 30px;
    border : 1px solid #111111;
    border-radius: 10px;
    background-color: #111111;
    margin: 10px 0 0 0;
    position: relative;
    left : 48%;
    right : 48%;
}
@mixin img-style ($size) {
    height: $size;
    width: $size;
}
@mixin style-design($width){
    width: $width;
    max-width: 100%;
    margin: 0 auto;
}
@mixin style-container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.body-item{
    width: 100%;
    .body-container{
        width: 900px;
        max-width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
}