body{
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    font-size:18px;
}
.Container{ 
    top: 50%;
    left: 50%;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    padding: 12px;
    background-color: violet;
    border-radius:5px;

}
.keypad{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
    margin: 10px 0;

}
.calc-num{
    height:55px;
    width: 290px;
    background: linear-gradient(90deg, #87cefa, #0688bd);
    border: 0px;
    color: #fff;
    text-align: right;
    font-size:25px;
    letter-spacing:1px;
    margin: 0 5px;
}
#clear{
    grid-column: 1/4;
    grid-row: 1;
    background:#87cefa;
}
.grid-col{
    grid-column: 1/3;
}
button{
    margin: 5px ;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}