@import "@/styles/_variable";
@import "@/styles/_breakpoints";
@import "@/styles/_common";

header {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: #ffffff;
    
    .container {

        .wrapper {

            .header__logo {
                
                img {
                    width: 210px;
                    height: 100px;
                }
            }

            .header__navbar {
                display: flex;

                @include breakpoints(sm) {
                    display: none;
                }

                &-list {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px;
                    margin: 0px;

                    .header__navbar-item {
                        margin: 0px 20px;
                        position: relative; 
                        user-select: none;           

                        &-link {
                            text-decoration: none;     
                            font-size: 18px;
                            font-weight: bold;
                            color: $text-color;

                            &::after {
                                content: "";
                                display: block;
                                border-bottom: 3px solid $green-color;
                                border-radius: 3px;
                                width: 0px;
                                transition: width 1s;
                            }

                            &:hover {
                                color: $green-color;
                                cursor: pointer;
                            }

                            &:hover::after {
                                width: 100%;
                            }

                            .user-icon {
                                font-size: 22px;
                            }

                            .header__navbar-item-wrapper {
                                position: relative;

                                .cart-icon {
                                    font-size: 22px;
                                    color: $green-color;
                                }

                                .quantities {
                                    position: absolute;
                                    top: -10px;
                                    right: -6px;
                                    background: #f00;
                                    color: #fff;
                                    width: 20px;
                                    height: 20px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 20px;
                                    font-size: 14px;
                                }
                            }
                        }
                        .header__navbar-item-info {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 30px;
            
                            @include breakpoints(sm) {
                                display: none;
                            }
                            
                            &:hover {
                                opacity: 0.8;
                                cursor: pointer;
                            }
            
                            .user-name {
                                font-size: 18px;
                                font-weight: bold;
                                color: $text-color;
                            }
            
                            .caret-down {
                                font-size: 20px;
                                margin-left: 6px;
                            }
                        }
            
                        .header-dropdown {
                            background-color: #f5f5f5;
                            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                            border-radius: 5px; 
                            padding: 10px 0px;
                            position: absolute;
                            z-index: 100;
            
                            .header-dropdown-list {
                                list-style: none;
                                padding: 0px;
                                margin: 0px;
                                width: 200px;
            
                                .header-dropdown-item {
                                    padding: 10px 0px;
                                    padding-left: 20px;
            
                                    .icon {
                                        margin-right: 10px;
                                        width: 14px;
                                        height: 14px;
                                    }
            
                                    &:hover {
                                        background-color: #f1eaea;
                                        opacity: 0.8;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .header__navbar-mobile {
                display: none;
                
                @include breakpoints(sm) {
                    align-items: center;
                    display: flex;
                }

                .header__navbar-cart {
                    margin-right: 8px;

                    .header__navbar-item-wrapper {
                        position: relative;

                        .cart-icon {
                            font-size: 22px;
                            color: $green-color;
                            margin-top: 8px;
                        }

                        .quantities {
                            position: absolute;
                            top: -4px;
                            right: -6px;
                            background: #f00;
                            color: #fff;
                            width: 20px;
                            height: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 20px;
                            font-size: 14px;
                        }
                    }
                }

                .header__navbar-menu {
                    background: none;
                    border: none;
                    position: relative;
                    z-index: 10;
                    
                    .button-bar {
                        height: 3px;
                        width: 22px;
                        background-color: grey;
                        margin-top: 4px;
                        border-radius: 2px;
                        
                        transform-origin: 21px;
                        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
                    }

                    &:nth-child(1) {
                        margin-top: 0;
                    }

                }

                .header__navbar-menu-open {

                    .button-bar:nth-child(1) {
                        transform: rotate(-45deg);
                    }

                    .button-bar:nth-child(2) {
                        opacity: 0;
                    }

                    .button-bar:nth-child(3) {
                        transform: rotate(45deg)
                    }
                }
            }
        }
    }
    
    .nav {
        display: none;
        
        @include breakpoints(sm) {
            display: block;
            position: fixed;
            top: 0;
            right: -80vw;

            height: 100vh;
            width: 40vh;
            z-index: 2;

            background-color: $white-color;
            color: $green-color;
            padding: 32px;

            transition: right 0.4s ease-in-out;

            .nav-list {
                padding: 0px;
                
                .nav-item {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 8px;
                    padding: 0px;

                    .nav-item-link {
                        text-decoration: none;
                        color: $green-color;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }

                .nav-item__separator {
                    height: 2px;
                    width: 40px;
                    background-color: $green-color;
                  
                    margin: 48px 0;
                  }

                .nav-item--small {
                    cursor: pointer;
                    .nav-item-link {
                        font-size: 15px;
                        font-weight: 600;
                        margin-bottom: 12px;

                        &:hover {
                            opacity: 0.8;
                        }
                        
                    }
                }
            }
        }  

    }

    .backdrop {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        pointer-events: none;
        background-color: rgba(1, 1, 1, 0.5);
        z-index: 0;
        opacity: 0;
    }

    .nav-open {
        right: 0;
    }

    .nav-open + .backdrop {
        opacity: 1;
    }
}