@media only screen and (max-width: 46.25em) {
  body {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* Header */
  header .header-top .navbar {
    margin-left: 36%;
  }
  header .header-top .navbar .bar1 {
    background-color: #ff9050;
  }
  header .header-top .navbar .bar2 {
    background-color: #ff9050;
  }
  header .header-top .navbar .bar3 {
    background-color: #ff9050;
  }
  header .header-top .logo {
    margin-left: 10px;
  }
  header .header-top .logo img {
    width: 140px;
    height: 40px;
    margin-top: 5px;
  }
  header .header-down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    height: 500px;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    background-size: cover;
    background-position: center bottom;
  }
  header .header-down .conten2 {
    float: left;
    width: 100%;
    position: absolute;
    background-color: white;
    color: black;
    margin: 0 auto;
    margin-left: 20px;
    -webkit-box-shadow: 10px;
            box-shadow: 10px;
    bottom: -150px;
    width: 340px;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid white;
    text-align: center;
  }
  header .header-down .conten2 strong {
    width: 60%;
    margin: 10px auto;
  }
  header .header-down .conten2 p {
    color: black;
    text-align: left;
  }
  header .header-down .conten2 .t {
    text-align: center;
  }
  header .header-down .conten2 button {
    border: 1px solid #ff9050;
    color: #ff9050;
    margin: 10px auto;
  }
  header .header-down .conten1 {
    width: 100%;
    height: 200px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -100px;
  }
  header .header-down .conten1 p {
    width: 100%;
  }
  main img {
    width: 100%;
    height: 70px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .container {
    padding: 10px;
  }
  main .container .top {
    display: none;
  }
  main .container .down {
    display: none;
  }
  main .container .imgs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .container strong {
    width: 70%;
    margin: 20px auto;
    margin-top: 150px;
    height: 100px;
    font-size: 40px;
    text-align: center;
  }
  main .conten2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .conten2 .block {
    margin: 10px auto;
    border: none;
    padding: 60px;
  }
  main .conten2 .block p {
    margin: 20px 0;
  }
  main .container2 .content1 p {
    color: black;
    width: 220px;
    margin: 10px auto;
  }
  main .container3 {
    width: 100%;
    height: 650px;
  }
  main .container3 strong {
    width: 80%;
    font-size: 25px;
  }
  main .container3 .contens {
    width: 80%;
    height: 500px;
  }
  main .container3 .contens .imgs1 {
    left: 5px;
  }
  main .container3 .contens .imgs2 {
    right: 5px;
  }
  main .container3 .contens .contents1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 400px;
  }
  main .container3 .contens .contents1 img {
    width: 100%;
    height: 180px;
  }
  main .container3 .contens .contents1 .contents2 {
    margin: 10px 0;
  }
  main .container3 .contens .contents1 .contents2 img {
    width: 20px;
    height: 20px;
    margin: 5px 0;
    margin-right: 23px;
  }
  main .container3 .contens .contents1 .contents2 p {
    margin: 15px 0;
  }
  footer .lienhe {
    width: 100%;
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .lienhe strong {
    width: 100%;
    margin: 40px auto;
    font-size: 30px;
  }
  footer .lienhe .icon {
    margin: 20px 30px;
  }
  footer .lienhe .icon .text p {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    font-size: 17px;
  }
  footer .qc {
    background: url("../assets/img/home-banner-app-install-mobile.jpg") no-repeat;
    background-size: cover;
    background-position: left center;
    padding: 0;
  }
  footer .footer {
    margin: 0px 20px;
    width: 90%;
    padding: 0;
    padding-top: 30px;
  }
  footer .footer .displaynone {
    display: block;
    margin: 0;
  }
  footer .footer .dplay {
    display: none;
  }
  footer .footer .qr {
    display: none;
  }
  footer .footer .img-footer img {
    width: 120px;
    height: 40px;
  }
  footer .footer p {
    width: 90%;
    font-size: 27px;
  }
  footer .footer2 {
    padding: 30px;
    height: 660px;
  }
  footer .footer2 .fiximg {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    top: -36px;
  }
  footer .footer2 .a {
    margin: 20px 0;
  }
  footer .footer2 .pp {
    color: #afadad;
  }
  footer .footer2 .pp p {
    font-size: 13px;
  }
  footer .footer2 .pp .p {
    margin: 10px 0;
  }
  footer .footer2 .nav1 {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer2 .nav1 .nav1-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 10px auto;
  }
  footer .footer2 .nav1 .nav1-1 span {
    margin: 0 auto;
  }
  footer .footer2 .nav1 .nav1-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 10px auto;
  }
  footer .footer2 .nav1 .nav1-2 span {
    margin: 0 auto;
  }
  footer .footer2 .nav1 .nav1-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 10px auto;
  }
  footer .footer2 .nav1 .nav1-3 span {
    margin: 0 auto;
  }
  footer .footer2 .nav {
    display: none;
  }
}
/*# sourceMappingURL=style-reponsive-tablet.css.map */