*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.app{
      .header-container{
            display: flex;
            justify-content: left;
            height: 50px;
            background-color: aqua;
            margin-bottom: 20px;
            .title-item{
                  margin-left: 30px;
                  margin-top: 20px;
                  .hook{
                        text-decoration: none;
                        color : rgb(5, 5, 5);
                  }
            }
      }
      .error-message{
            width: 300px;
            max-width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            color: red;
            font-weight: 600;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            border-radius: 8px;
      }
      .form-container{
            width: 800px;
            margin : 0 auto;
            padding : 20px 15px 50px 15px;
            display: flex;
            justify-content: center;
            .form{
                  width: 400px;
                  max-width: 100%;
                  .input-container{
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: space-between;
                        .label{
                              padding-top: 10px;
                        }
                        .input{
                              width: 70%;
                              padding: 10px;
                              border: 2px solid black;
                              border-radius: 5px;
                        }
                  }
                  .button-container{
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;
                        .button{
                              height: 40px;
                              width: 120px;
                              max-width: 100%;
                              background-color: aquamarine;
                              font-weight: 600;
                              border: 2px solid black;
                              border-radius: 5px;
                        }
                        .button:hover{
                              background-color: rgb(127, 255, 165);
                              cursor: grab;
                        }
                        .button:active{
                              color: #f5f5f5;
                              cursor: grabbing;
                        }
                  }
            }
      }
      .user-profile{
            width: 400px;
            max-width: 100%;
            margin: 50px auto;
            padding: auto 15px;
            .user-avatar {
                  width: 100%;
                  img{
                        width: 100%;
                  }
            }
            .user-detail{
                  font-size: 30px;
                  font-weight: 600;
                  margin-bottom: 5px;
            }
            .user-button{
                  button{
                        width: 120px;
                        height: 40px;
                        border: 2px solid black;
                        border-radius: 3px;
                        background-color: aqua;
                  }
            }
      }
}