.auth-form {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;

    .auth-form-control {
        display: flex;

        .auth-form-button {
             
            &:first-child {

                .button {
                    border-top-left-radius: 10px;
                }
            }
            
            .button {
                font-size: 20px;
                font-weight: bold;
                padding: 20px 28px;
                outline: none;
                border: none;
                
                &.active {
                    background-color: #009b70;
                    color: white;
                }

                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }

            }
        }
    }

    .auth-form-content {
        padding: 16px;
        overflow: auto;
        max-height: 361px;
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
}