@-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
}
@keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
}
@keyframes nav-con {
      from { opacity: .2}
      to { opacity: 1}
}