* {
    padding : 0;
    margin : 0px;
    box-sizing: border-box;
    font-family:sans-serif ;
    // border: 1px solid black;
}
input[type=text], select {
    width: 100%;
    padding: 12px 10px;
    margin: 20px 0 10px 0;
    display: inline-block;
    border: 1px solid #696666;
    box-sizing: border-box;
  }
#message, select {
  width: 100%;
  height : 140px;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #726f6f;
  box-sizing: border-box;
}
.body-item{
    width: 100%;
    .body-container{
        width: 900px;
        max-width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
}