.wrapper{
    width: 100%;
    .header{
        .nav-container{
            @include style-component(1100px,15px);
            .nav-bar{
                height : 60px;
                display: flex;
                justify-content: space-between;
                .nav-logo{
                    width: 150px;
                    height: 100%;
                    padding-top: 10px;
                    img{
                        max-width: 100%;
                        height: 40px;
                    }
                }
                .nav-list{
                    list-style: none;
                    font-size: 14px;
                    display : flex;
                    justify-content: space-between;
                    width: 500px;
                    max-width: 600px;
                    .nav-item{
                        height : 100%;
                        text-align: center;
                        padding-top: 23px;
                        padding-left: 10px;
                        padding-right: 10px;
                        .nav-link{
                            text-decoration: none;
                            color: #575555;
                            font-size: 14px;
                        }
                    }
                    .nav-item:hover {
                        background-color: #d4d3d3;
                    }
                }
            }
        }
        .slide-container{
            width: 100%;
            .slideshow-container {
                text-align: center;
                width: 100%;
                position: relative;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
                color: #f5f5f5;
                .mySlides {
                    display: none; 
                    background-image: url(../assets/image/st_banner_01.jpg);
                    background-position: center;
                    background-size: cover;
                    position: relative;
                    height: 500px;
                    padding-top: 70px;
                    .banner-content{
                        .banner-title{
                            font-size: 50px;
                        }
                        .slide-text{
                            font-size: 16px;
                            margin: 50px 0;
                        }
                        .index-banner{
                            display : flex;
                            justify-content: center;
                            width : 100%;
                            .index{
                                padding : 12px 15px 7px 15px;
                                font-size: 13px;
                                width: 150px;
                            }
                            .index:nth-child(1){
                                border : 1px solid #f5f5f5;
                                margin-right: 5px;
                            }
                            .index:nth-child(2){
                                background-color: #f9ce06;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            /* Next & previous buttons */
            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                height: auto;
                margin-top: -22px;
                padding: 16px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                user-select: none;
            }
            .prev{
                background: url(../assets/image/icon/icon-controller-left.png);
                background-size: cover;
                background-position : center;
                left : 0;
            }
            
            /* Position the "next button" to the right */
            .next {
                background: url(../assets/image/icon/icon-controller-right.png);
                background-size: cover;
                background-position : center;
                right: 0;
                border-radius: 3px 0 0 3px;
            }
            
            /* On hover, add a black background color with a little bit see-through */
            .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
            }
            
            /* Caption text */
            .text {
                color: #f2f2f2;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                bottom: 8px;
                width: 100%;
                text-align: center;
            }
            
            /* Number text (1/3 etc) */
            .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }
            
            /* The dots/bullets/indicators */
            .dot-banner{
                width: 100%;
                text-align:center;
                align-items: center;
                position: absolute;
                bottom: 5%;
            }
            .dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #eeece5;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }
            
            .active, .dot:hover {
                background-color: #f9ce06;
            }
            
            /* Fading animation */
            .fade {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }
            }
        }   
    }
    // end header
    .main{
        .our-services{
            background-color: #f5f5f5;
            padding-bottom: 40px;
            .our-services-content{
                .services-header{
                    text-align: center;
                    padding : 40px 0 50px 0 ;
                .ser-title::after{
                        content: "";
                        display : block;
                        height: 1px;
                        width : 30px;
                        border : 1px solid #111111;
                        border-radius: 10px;
                        background-color: #111111;
                        margin: 10px 0 0 0;
                        margin: 10px auto;
                }
                }
                .services-list{
                    list-style: none;
                    display : flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    background-color: #f5f5f5;
                    .ser-item{
                        background-color: #ffffff;
                        width : 32%;
                        text-align: center;
                        .ser-icon{
                            @include icon-style(30px);
                            margin : 50px 0;
                        }
                        .ser-text{
                            color : #5c5252;
                            margin : 50px 7px 70px 7px ;
                            padding: auto;
                            font-size: 14px;
                            br{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        //end services
        .our-work{
            text-align: center;
            .our-work-content{
                .work-header{
                    margin: 50px 0;
                    .work-title::after{
                        content: "";
                        display : block;
                        height: 1px;
                        width : 30px;
                        border : 1px solid #111111;
                        border-radius: 10px;
                        background-color: #111111;
                        margin: 10px auto;
                    }
                }
                .st-work{
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    .work-item{
                        width : 33.3333%;
                        .img-style{
                            @include img-style(95%);
                        }
                    }
                }
                .btn-con{
                    width : 100%;
                    height : auto;
                    display: flex;
                    justify-content: center;
                    margin : 50px 0 ;
                    .btn{
                        width: 250px;
                        .btn-link{
                            border : 2px solid #111111;
                            @include link();
                            padding: 15px 25px 10px 25px;
                        }
                    }
                }
            }
        }
        //end work

        .client-banner{
            margin-top: 70px;
            text-align: center;
            background: url("../assets/image/bkg-quotes.jpg") no-repeat;
            background-size: cover;
            background-position: center left;
            color: #f5f5f5;
            .client-banner-content{
                @include style-component(600px,15px);
                padding-top: 30px;
                padding-bottom: 30px;
                .reviews-text{
                    line-height: 1.4;
                }
                .client-title{
                    margin: 20px 0;
                }
                .client-title::after{
                    content: "";
                    display : block;
                    height: 1px;
                    width : 30px;
                    border : 1px solid #ffffff;
                    border-radius: 10px;
                    background-color: #ffffff;
                    margin: 10px auto;
                }
                .author-client{
                    margin: 30px 0 0 0;
                }
                .quotes-icon{
                    @include icon-style(32px);
                }
            }
        }
        //end client-banner
        
        .client-footer{
            background-color: #f9ce06;
            padding: 30px 0;
            .client-footer-content{
                font-size: 10px;
                display: flex;
                justify-content: space-between;
                .text-build{
                    padding : 5px 0 0 0;
                    font-size: 13px;
                    font-weight: 300;
                }
                .btn{
                    border: 2px solid #111111;
                    min-width: 120px;
                    padding: 12px 15px 5px 15px;
                    display: flex;
                    justify-content: center;
                    .btn-link{
                    @include link();
                    font-size: 12px;
                    font-weight: bold;
                    }
                }
            }
        }
        //end client 
        .our-team{
            margin-bottom: 50px;
            .our-team-content {
                text-align: center;
                .team-header{
                    margin : 50px 0 50px 0 ;
                    .team-title::after{
                        content: "";
                        display : block;
                        height: 1px;
                        width : 30px;
                        border : 1px solid #111111;
                        border-radius: 10px;
                        background-color: #111111;
                        margin: 10px auto;
                    }
                }
                .list-member {
                    display : flex;
                    list-style: none;
                    justify-content: space-between;
                    .member{
                        img{
                            width: 100%;
                        }
                        text-align: left;
                        .mem-name{
                            margin : 20px 0 ;
                        }
                    }
                    .member:nth-child(2){
                        margin: 0 8px 0 16px;
                    }
                    .member:nth-child(3){
                        margin: 0 16px 0 8px;
                    }
                }
            }
        }
        // end team
        .our-recent-post{
            background-color: #f5f5f5;
            .our-recent-post-content{
                text-align: center;
                position: relative;
                padding-bottom: 50px ;
                .post-header{
                    width : 100%;
                    margin-bottom: 40px;
                    margin-top: 50px;
                    padding-top: 40px;
                    .post-title-container{
                        .post-title-mobile{
                            display: none;
                        }
                    }
                    .post-title-container::after{
                        content: "";
                        display : block;
                        height: 1px;
                        width : 30px;
                        border : 1px solid #111111;
                        border-radius: 10px;
                        background-color: #111111;
                        margin: 10px auto;
                    }
                }
                .recent-post{
                    display: flex;
                    justify-content: space-between;
                    text-align: left;
                    .outsourcing{
                        background-color: #ffffff;
                        width: 65.5%;
                        padding-bottom: 30px;
                        .thumb-main{
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .outsourcing-content{
                            padding: 40px 30px;
                        }
                    }
                    .hot-news{
                        background-color: #ffffff;
                        width : 33%;
                        height: 80%;
                        padding: 35px 5px 35px 15px;
                        list-style: none;
                        .news-item{
                            display: flex;
                            margin : 10px 0 0 0 ;
                            font-size: 15px;
                            .img-news{
                                margin : 0 5% 0 0;
                                height : 30%;
                                width : auto;
                            }
                            p{
                                width : 65%;
                            }
                        }
                        .news-title{
                        }
                    }
                }
            }
        }
        // end recent post
        .our-contact-us{
            margin-bottom: 50px;
            .our-contact-us-content{
                .contact-us-header{
                    text-align: center;
                    margin-top: 50px;
                    .con-title::after{
                        content: "";
                        display : block;
                        height: 1px;
                        width : 30px;
                        border : 1px solid #111111;
                        border-radius: 10px;
                        background-color: #111111;
                        margin: 10px auto;
                    }
                }
                .contact-content{
                    display: flex;
                    .form-contact{
                        width: 65%;
                        .btn-contact-us{
                            margin-top: 30px;
                            .btn-submit{
                                width: 160px;
                                background-color: #f9ce06;
                                color: #111111;
                                font-family: 'Lato', sans-serif;
                                font-weight: bold;
                                padding: 10px 0px;
                                font-size: 16px;
                                border: none;
                                cursor: pointer;
                            }
                        }
                    }
                    .our-contact{
                        list-style: none;
                        .our-item{
                            margin : 25px 0 20px 20px;
                            .our-item-title{
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }    
        // end contact us
    }
    // end main

    .footer{
        .banner-footer{
            padding: 70px 0;
            height: 380px;
            background-image: url("../assets/image/bkg-footer.jpg");
            background-repeat: no-repeat;
            background-size: cover ;
            background-position: center;
            .connect-us{
                .connect-header{
                    text-align: center;
                    .connect-title{
                        color: #ffffff;
                    }
                    .connect-title::after{
                        content: "";
                        display : block;
                        height: 1px;
                        width : 30px;
                        border : 1px solid #ffffff;
                        border-radius: 10px;
                        background-color: #ffffff;
                        margin: 10px auto;
                    }
                }
                .networking{
                    display: flex;
                    justify-content: space-between;
                    color: #f5f5f5;
                    margin-top: 50px;
                    .social-net{
                        text-align: center;
                        width : 20%;
                        .app-contact{
                            font-size: 20px;
                            margin: 20px 0;
                        }
                        img{
                            height: 42px;
                            width: 42px;
                        }
                    }
                }
            }
        }
        .footer-end-container{
            background-color: #111111;
            .footer-content{
                margin: 0 auto;
                padding: 50px 15px;
                .info-me{
                    color : #f5f5f5;
                    display: flex;
                    .contact-me{
                        width : 50%;
                        padding-right: 10px;
                        .contact-local{
                            margin : 20px 0 0 0 ;
                            line-height: 1.6;
                        }
                        .contact-info{
                            text-align: center;
                            display: flex;
                            margin: 15px 0 0 0;
                        }
                    }
                    .hr{
                        width:100%;
                        display: none;
                    }
                    .link-target{
                        width: 50%;
                        .connect-me{
                            margin : 30px 0 0 10px;
                            display : flex;
                            flex-wrap: wrap;
                            .connect-me-item{
                                width : 32%;
                                display: flex;
                                .icon-arrow{
                                    @include icon-style(10px);
                                    margin : 5px 7px 0 0;
                                }
                                p{
                                    line-height:1.6;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    
                }
            
            }
        }   
    }
    // end footer
    
}