@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
$bg-col-1: #f5f5f5;
$bg-col-2 :#f9ce06;
$bg-col-3 : #fff;
$bg-col-footer: #111111;
$color-carousel : #fad784;
$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  
@mixin icon-style($size) {
    height : $size;
    width: $size;
}
@mixin link{
    text-decoration: none;
    color: #111111;
    font-weight: bolder;
}
@mixin btn {
    border: 2px solid #111111;
    text-align: center;
    height : 32px;
    width : 130px;
    padding: 5px 0 0 0 ;
    font-size: 16px;
}
@mixin hr-item ($size){
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #888585;
    margin: $size 0;
}
@mixin item-title-below ($size){
    content: "";
    display : block;
    height: 1px;
    width : $size;
    border : 1px solid #111111;
    border-radius: 10px;
    background-color: #111111;
    margin: 10px auto;
}
@mixin black-bar{
    height: 3px;
    width : 30px;
    border : 1px solid #111111;
    border-radius: 10px;
    background-color: #111111;
    margin: 10px auto;
}
@mixin img-style ($size) {
    height: $size;
    width: $size;
}
@mixin style-component($width,$padding){
    width: $width;
    max-width: 100%;
    padding: 0 $padding;
    margin: 0 auto;
}
@mixin style-container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}