@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Lato:wght@100&family=Roboto:wght@100;500&family=Ubuntu&display=swap');
@import "default";
@import "mixin_val";
@import "desktop";
@import "animation";
@media only screen and (min-width: $tablet-width){
    .mobile-nav{
        display: none;
    }
}
@media only screen and (max-width: $tablet-width){
    .wrapper{
        .header{
            .nav-container{
                .nav-bar{
                    .nav-list{
                        display: none;
                    }
                    .animation-nav{
                        animation: nav-con;
                        animation-duration: 2.5s;
                    }
                    .toggle-nav{
                        text-align: center;
                        height: 40px;
                        padding-top: 15px;
                        .toggle-bar{
                            box-sizing: border-box;
                            height: 4px;
                            width : 30px;
                            border : 1px solid #111111;
                            background-color: #111111;
                            margin : 5px 0 0 0;
                        }
                        
                    }
                }
            }
    
            .mobile-nav{
                display: none;
                animation-name: nav-con;
                animation-duration: 2s;
                position: relative;
                top: 0;
                z-index: 1;
                .nav-list{
                    .nav-item{
                        padding : 15px;
                        .nav-link{
                            text-decoration: none;
                            color: #444343;
                        }
                    }
                    .nav-item:hover{
                        background-color: rgb(113, 117, 114);
                        color: #f5f5f5;
                    }
                }
            }
    
            .slide-container{
                .banner-header-content{
                    .banner-title{
                    font-size: 50px;
                    }
                    .slide-text{
                    font-size: 16px;
                    }
                    .index-banner{
                        display : flex;
                        justify-content: center;
                        .index{
                        font-size: 13px;
                        width: auto;
                        }
                        .index:nth-child(1){
                        }
                        .index:nth-child(2){
                        }
                    } 
                    .dot {
                    cursor: pointer;
                    height: 15px;
                    width: 15px;
                    margin: 0 2px;
                    background-color: #eeece5;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s ease;
                    }
                }
                .slideshow-container {
                    .mySlides {
                        padding-top: 100px;
                        .banner-content{
                            .banner-title{
                                font-size: 30px;
                            }
                            .slide-text{
                                font-size: 16px;
                                margin: 50px 0;
                            }
                            .index-banner{
                                display : block;
                                text-align: center;
                                width : 100%;
                                .index{
                                    margin: 0 auto;
                                }
                                .index:nth-child(1){
                                    border : 1px solid #f5f5f5;
                                    margin-right: 0;
                                    margin: 0 auto 10px auto;
                                }
                                .index:nth-child(2){
                                    background-color: #f9ce06;
                                    margin-left: 0;
                                    margin: 10px auto 0 auto;
                                }
                            }
                        }
                    }
                /* Next & previous buttons */
                .prev, .next {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    width: auto;
                    height: auto;
                    margin-top: -22px;
                    padding: 16px;
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                    transition: 0.6s ease;
                    user-select: none;
                }
                .prev{
                    background: url(../assets/image/icon/icon-controller-left.png);
                    background-size: cover;
                    background-position : center;
                    left : 0;
                }
                
                /* Position the "next button" to the right */
                .next {
                    background: url(../assets/image/icon/icon-controller-right.png);
                    background-size: cover;
                    background-position : center;
                    right: 0;
                    border-radius: 3px 0 0 3px;
                }
                
                /* On hover, add a black background color with a little bit see-through */
                .prev:hover, .next:hover {
                    background-color: rgba(0,0,0,0.8);
                }
                
                /* Caption text */
                .text {
                    color: #f2f2f2;
                    font-size: 15px;
                    padding: 8px 12px;
                    position: absolute;
                    bottom: 8px;
                    width: 100%;
                    text-align: center;
                }
                
                /* Number text (1/3 etc) */
                .numbertext {
                    color: #f2f2f2;
                    font-size: 12px;
                    padding: 8px 12px;
                    position: absolute;
                    top: 0;
                }
                
                /* The dots/bullets/indicators */
                .dot-banner{
                    width: 100%;
                    text-align:center;
                    align-items: center;
                    position: absolute;
                    bottom: 5%;
                }
                .dot {
                    cursor: pointer;
                    height: 15px;
                    width: 15px;
                    margin: 0 2px;
                    background-color: #eeece5;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s ease;
                }
                
                .active, .dot:hover {
                    background-color: #f9ce06;
                }
                
                /* Fading animation */
                .fade {
                    -webkit-animation-name: fade;
                    -webkit-animation-duration: 1.5s;
                    animation-name: fade;
                    animation-duration: 1.5s;
                }
                }
            }
        }
        // end header
        .main{
            .our-services{
                .our-services-content{
                    .services-header{
                        padding: 40px 0 0 0;
                    }
                    .services-title{
                        padding: 0 ;
                        width: auto;
                        background-color: #f5f5f5;
                    }
                    .services-list{
                        display : block;
                        padding : 0 0 50px 0;
                        margin-top: 0;
                        background-color: #f5f5f5;
                        text-align: center;
                        .ser-item{
                            width : 100%;
                            padding: 0 20px 50px 20px;
                            margin-top: 100px;
                            .ser-text{
                                font-size: 18px;
                                line-height: 1.5;
                                margin : 30px 0;
                                br{
                                    display: none !important;
                                }
                            }
                        }
                    }
                }
            }
        
            .our-work{
                .our-work-content{
                    margin-top: 150px;
                    text-align: center;
                    .st-work{
                        padding: 0;
                        .work-item{
                            width: 50%;
                            .img-style{
                                @include img-style(100%);
                            }
                        }
                        .work-item:nth-child(1), .work-item:nth-child(3),.work-item:nth-child(5){
                            padding: 0 10px 20px 0;
                        }
                        .work-item:nth-child(2), .work-item:nth-child(4),.work-item:nth-child(6){
                            padding: 0 0 20px 10px;
                        }
                    }
                }
            }
        
            .client-banner{
                background-image: none;
                background-color: #989061;
                .client-banner-content{
                    font-size: 15px;
                    .client-content{
                    }
                    .reviews-text{
                        font-size: 12px;
                        font-family: "roboto";
                        margin : 32px 0 32px 0;
                    }
                }
            }

            .client-footer{
                .client-footer-content{
                    display: block;
                    text-align: center;
                    .text-build{
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        font-size: 16px;
                        margin-right: 30px;
                    }
                    .btn{
                        width: 100px;
                        margin: 30px auto 10px auto;
                    }
                }
            }

            .our-team{
                .our-team-content{
                    .list-member{
                        flex-wrap: wrap;
                        .member{
                            width: 48%;
                            text-align:center;
                            padding-bottom: 30px;
                        }  
                        .member:nth-child(2){
                            margin: 0 ;
                        }
                        .member:nth-child(3){
                            margin: 0 ;
                        }
                    }
                }
            }
            
            .our-recent-post{
                padding-bottom: 50px;
                    .our-recent-post-content{
                        padding-left: 0;
                        padding-right: 0;
                        .post-header{
                           .post-title-container{
                                .post-title-desktop{
                                    display: none;
                            }
                                .post-title-mobile{
                                    display: block;
                                }
                           }
                        }
                        .recent-post{
                            display: block;
                            padding: 0;
                            .outsourcing{
                                width: 100%;
                                .thumb-main{
                                    background-size: cover;
                                }
                            }
                            .hot-news{
                                display: none;
                            }
                        }
                    }
            }
           
            .our-contact-us{
                .our-contact-us-content{
                    .contact-content{
                        display: block;
                        .form-contact{
                            width: 100%;
                            .btn-contact-us{
                                margin-bottom: 30px;
                            }
                        }
                        .our-contact{
                            list-style: none;
                            .our-item{
                                margin : 25px 0 20px ;
                                .our-item-title{
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        // end main
        .footer{
            .banner-footer{
                padding: 70px 40px;
                height: 600px;
                .connect-us{
                    .networking{
                        padding : 50px 0 0 0;
                        display: flex;
                        flex-wrap: wrap;
                        .social-net{
                                width: 40%;
                                clear: left;
                                font-size: 13px;
                                .app-contact{
                                    font-size: 16px;
                                    margin: 20px 0;
                                }
                                img{
                                    height: 30px;
                                    width : 30px;
                                }
                        }
                        .social-net:nth-child(3){
                            padding : 50px 0 0 0;
                        }
                        .social-net:nth-child(4){
                            padding : 50px 0 0 0;
                        }
                    }
                }
            } 
            .footer-end-container{
                background-color: #111111;
                .footer-content{
                    .info-me{
                        flex-wrap: wrap;
                        .contact-me, .link-target{
                            width: 100%;
                        }
                        .contact-me{
                            padding-right: 10px;
                            .contact-local{
                                margin : 20px 0 0 0 ;
                                line-height: 1.6;
                            }
                            .contact-info{
                                text-align: center;
                                display: flex;
                                margin: 15px 0 0 0;
                            }
                        }
                        .contact-me::after{
                            display: block;
                            content: "";
                            width: 100%;
                            height: 1px;
                            background-color: #888585;
                            margin: 30px 0;
                        }
                        .link-target{
                            width: 70%;
                            .connect-me{
                                margin : 30px 10px 0 10px;
                                display : flex;
                                flex-wrap: wrap;
                                .connect-me-item{
                                    width : 48%;
                                    display: flex;
                                    margin-right: 1%;
                                    .icon-arrow{
                                        @include icon-style(10px);
                                        margin : 5px 7px 0 0;
                                    }
                                    p{
                                        line-height:1.6;
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                        
                    }
                
                }
            }
        }
    }
}