*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    width: 100%;
}

     /* Header */

header {
    .header-top{
        display: flex;
        width: 100%;
        height: 77px;
        padding: 0 200px 0 200px;
        .logo{
            padding: 10px;
            img{
                object-fit: cover;
                width: 150px;
                height: 45px;  
            }
        }
        .navbar{
            width: 70px;
            padding: 18px;
            margin-left: 84%;
            .container {
                display: inline-block;
                cursor: pointer;
              }
              
              .bar1, .bar2, .bar3 {
                width: 35px;
                height: 3px;
                background-color: rgb(168, 166, 166);
                margin: 6px 0;
                transition: 0.4s;
              }
              
              .change .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
              }
              
              .change .bar2 {opacity: 0;}
              
              .change .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
              }
        }
    }
    .header-down{
        background: url('../../assets/img/BUYNOW_PAYLATER_bg.png');
        background-size: cover;
        background-position: bottom center;
        width: 100%;
        height: 386px;
        .conten{
            text-align: left;
            width: 55%;
            padding: 50px 200px;
            font-size: 40px;
            height: 386px;
            button{
                width: 220px;
                height: 53px;
                background: rgb(1, 196, 255);
                color: white;
                border: none;
                margin: 40px 0;
            }
            p{
                font-size: 27px;
                font-weight: bold;
                margin-top: 30px;
            }
            span{
                font-size: 22px;
                margin-top: 20px;
                width: 500px;
                display: block;
            }
        }
    }
}
.hienn{
    display: none;
}



section{
    .container{
        width: 100%;
        padding: 50px 200px;
        text-align: left;
        position: relative;
        span{
            font-size: 25px;
            font-weight: bold;
            display: block;
        }
        .top, .down{
            width: 70px;
            height: 100px;
            position: absolute;
            object-fit: cover;
            right: 30px;
        }
        button{
            width: 120px;
            height: 40px;
            border: 2px solid rgb(1, 196, 255);
            background: transparent;
            margin-left: 90%;
            margin-top: -30px;
            color: rgb(1, 196, 255);
            img{
                width: 20px;
                height: 20px;
                object-fit: cover;
                margin: -5px 0;
            }
        }
        .down{
            bottom: 90%;
        }
        .conten-ct{
            display: flex;
            .conten-ct-b{
                width: 300px;
                height: 200px;
                img{
                    width: 90px;
                    height: 90px;
                }
                p{
                    margin: 10px 0;
                }
            }
            .c{
                margin: 0 auto;
            }
        }
        .conten1{
            display: flex;
            height: 356px;
            width: 100%;
            margin: 80px 0;
            img{
                width: 533px;
                height: 356px; 
                object-fit: cover;
            }
            
            .conten1-1{
                height: 356px;
                width: 35%;
                margin: 50px 0;
                p{
                    color:rgb(1, 196, 255);
                    font-size: 25px;;
                }
                ul{
                    margin: 30px 0;
                    margin-left: 25px;
                    font-size: 20px;
                    li{
                        margin: 10px 0;
                    }
                }
            }
            .mrr{
                margin-right: 185px;
            }
            
        }
    }
    .sb{
        margin: 40px 0;
    }
    .form1{
        display: flex;
    }
    .stmv{
        width: 385px;
        margin-right: 20px;
        .d{
            display: flex;
            margin: 10px 0;
            .a{
                margin-left: 55%;
            }
            .b{
                margin-left: 70%
            }
        }
        .p{
            display: flex;
            width: 100%;
            height: 46px;
            padding: 10px;
            background-color: rgb(1, 196, 255);
            color: white;
            border-radius: 5px;
            font-size: 20px;
            position: relative;
            span{
                position: absolute;
                right: 10px;
            }
        }
        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
            margin-top: 15px;
        }
          
          .slider:hover {
            opacity: 1;
          }
          
          .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            background: rgb(1, 196, 255);
            cursor: pointer;
            border-radius: 50% ;
          }
          
          .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: black;
            cursor: pointer;
          }
          select {
              width: 100%;
              height: 46px;
              background:rgb(1, 196, 255);
              border-radius: 5px;
              color: white;
              border: none;
          }
    }
    form{
        .form{
            margin: 30px 0;
            font-weight: bold;
            font-size:25px;
        }
        label{
            margin: 10px 0;
            display: block;
        }
        .nut{
            display: flex;
            margin-left: 77%;
            margin-top: 60px;
            margin-bottom: 80px;;
            .nut1{
                background: white;
                width: 165px;
                height: 52px;
                margin: 10px 10px;
                border: 2px solid rgb(155, 153, 153);
                color: rgb(155, 153, 153);
            }
            .nut2{
                background: rgb(155, 153, 153);
                width: 165px;
                height: 52px;
                margin: 10px 0;
                border: 2px solid rgb(155, 153, 153) ;
                color: white;
            }
        }
        
    }
    .bp{
        border: 1px solid black;
        width: 100%;
        height: 258px;
        padding: 35px;
        display: flex;
        .bp1{
            width: 320px;
            height: 180px;
            padding-right: 44px;
            padding-left: 24px;
            p{
                margin: 5px 0;
                font-size: 20px;
                margin-bottom: 45px;
                
            }
            ul{
                margin-left: 20px;
                font-size: 20px;
                li{
                    margin: 5px 0;
                }
                p{
                    font-size: 20px;
                    margin: 5px -20px;
                }
            }
        }
        .bp2{
            margin-left: 40px;
            p{
                margin: 5px 0;
                font-size: 20px;
                margin-bottom: 45px;
            }
            ul{
                margin-left: 20px;
                font-size: 20px;
                li{
                    margin: 5px 0;
                }
                
            }
        }
    }
    
}
.hien{
    width: 100%;
    display: none;
}
/* Footer */
footer{
    .lienhe{
        display: flex;
        width: 100%;
        height: 150px;
        background:rgb(243, 242, 242);
        padding: 0 200px;
        strong{
            font-size: 25px;
            display: block;
            margin: auto 0;
            margin-right: 380px;
        }
        .icon{
            display: flex;
            text-align: left;
            margin: auto 100px;
            height: 50px;
            width: 240px;
            strong{
                margin: 4px 0;
                font-size: 16px;
            }
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
    .qc{
        background: url("../../assets/img/bg-banner-footer.png") no-repeat;
        background-size: cover;
        background-position: top center;
        width: 100%;
        height: 310px;
        padding: 75px 200px;
    }
    .footer{
        width: 25%;
        text-align: left;
        display: flex;
        .displaynone{
            display: none;
        }
        p{
            font-size: 30px;
            width: 350px;
            display: block;
            color: white;
            font-weight: bold;
        }
        .img-footer{
            margin: 30px 0;
            img{
                width: 150px;
                height: 50px;
                object-fit: cover;
                margin-left: 10px;
                border-radius: 10px;
                border: 1px white;
            }
        }
        .qr{
            display: flex;
            width: 500px;
            height: 160px;
            margin-left: 187%;
            img{
                width: 160px;
                height: 160px;
                object-fit: cover;
            }
            p{
                font-size: 15px;
                
                color: rgb(220, 221, 221);
                width: 170px;
                margin: auto;
                margin-left: 20px;
            }
        }
    }
    .footer2{
        position: relative;
        width: 100%;
        height: 400px;
        background:rgb(61, 66, 77);
        padding: 50px 200px;
        color: white;
        .fiximg{
                width: 90px;
                height: 90px;
                object-fit: cover;
                top: -40px;
                right: 160px;
                position: absolute;
        }
        
        .nav{
            width: 100%;
            display: flex;
            margin: auto;
            justify-content: center;
            color: white;
            margin-bottom: 40px;
            p{
                font-weight: bold;
            }
            span{
                margin: 0 50px;
            }
        }
        .nav1{
            display: none;
        }
        .a{
            display: block;
            margin: 30px 0;
            color:rgb(175, 173, 173);
        }
        .icon11{
            margin: 20px 0;
            img{
                width: 30px;
                height: 30px;
                margin: 0 10px;
                object-fit: cover;
            }
        }
        .pp{
            p{
                margin: 5px 0;
            }
            .p{
                margin: 40px 0;
                color: rgb(175, 173, 173);
            }
        }
    }
}
