@media only screen and (max-width: 46.25em){
    *{
        padding: 0;
    }
    body{
        width: 100%;
    }
    header{
        .header-top{
            padding: 0 15px;
            width: 100%;
            height: 50px;
            .logo{
                img{
                    width: 86px;
                    height: 26px;
                    margin: auto 0;
                }
            }
            .navbar{
                margin-left: 53%;
                padding: 5px;
                .container{
                    margin: 7px 0;;
                    .bar1, .bar2, .bar3{
                        width: 18px;
                        margin: 3px 0;
                        background-color: #f78d46;
                    }
                    
                }
            }
        }
        .header-down{
            width: 100%;
            height: 550px;
            padding: 25px 75px;
            background: url('../../assets/img/bg-banner-mobile.png') no-repeat;
            background-position: bottom center;
            background-size: cover;
            .conten{
                padding: 10px 0;
                width: 100%;
                height: 300px;
                text-align: center;
                span{
                    width: 100%;
                    font-size: 15px;
                }
                strong{
                    font-size: 30px;
                    width: 100%;
                }
                p{
                    font-size: 18px;
                }
                button{
                    margin-top: 250px;
                    box-shadow: 10px;
                    display: block;
                }
                .hien{
                    display: block;
                    width: 50px;
                    height: 50px;
                    margin: 10px auto;
                    img{
                        object-fit: cover;
                    }
                }
            }
        }
    }
    section{
        .container{
            padding: 0;
            margin-top: 150px;

            span{
                text-align: center;
                height: 60px;
                font-size: 25px;
                width: 90%;
                margin: 0 auto;
                padding: 0 30.5px;
                display: block;
            }
            .conten-ct{
                padding: 10px 50px;
                flex-direction: column;
                .conten-ct-b, .conten-ct-c{
                    display: flex;
                }
                .conten-ct-b{
                    width: 100%;
                    height: 100px;
                    margin: 40px 0;
                    p{
                        margin: auto 10px
                    }
                }
            }
            .hien{
                margin: 20px auto;
                width: 175px;
                height: 48px;
                display: block;
                color: #f78d46;
                font-size: 17px;
                font-weight: bold;
                display: block;
                img{
                    margin: -6px 5px;
                    width: 30px;
                    height: 30px;
                }
            }
            .conten1{
                width: 100%;
                margin: 20px 0;
                height: 430px;
                padding: 0 50px;
                flex-direction: column-reverse;
                .conten1-1{
                    width: 100%;
                    height: 270px;
                    margin: 10px 0;
                    p{
                        width: 90%;
                        height: 70px;
                        font-size: 18px;
                        display: block;
                        margin: 30px auto;
                        font-weight: bold;
                    }
                    ul{
                        font-size: 15px;
                        margin: 30px 0;
                    }
                    img{
                        margin: 20px 0;
                    }
                }
                .mrr{
                    margin: 0;
                }
                img{
                    width: 275px;
                    height: 155px;
                    margin: 10px 0 !important;
                }
            }
            .conten1-1{
                flex-direction: column;
            }
        }
        .form1{
            padding: 0;
            flex-direction: column;
            height: 400px;
            .stmv{
                width: 95%;
                height: 140px;
                margin: 0px auto ;
                .p{
                    font-size: 20px;
                    span{
                        font-size: 20px;
                        right: 30px;
                        height: 25px;
                        width: 60px;
                    }
                }
                .d{
                    p{
                        width: 250px;
                    }
                    .a{
                        margin-left: 30%;
                    }
                    .b{
                        margin-left: 60%;
                    }
                }
            }
        }
        form{
            .nut{
                flex-direction: column;
                margin: 40px 0;;
                justify-content: center;
                align-items: center;
            }
            .form{
                display: block;
                margin: 40px auto;
                width: 250px;
            }
        }
        .bp{
            flex-direction: column;
            height: 670px;
            width: 90%;
            margin: 0 auto;
            .bp2{
                margin: 10px 0;
                p{
                    margin: 5px 10px;
                    margin-bottom: 45px;
                }
            }
            .bp1{
                height: 250px;
                padding: 10px;
                width: 100%;
                border: none;
                p{
                    margin: 5px 10px;
                    margin-bottom: 45px;
                }
                ul{
                    p{
                        width: 150px;
                        margin: 10px 0;
                    }
                }
            }
            .hien{
                width: 100%;
                display: block;
            }
        }
    }
    .an{
        display: none;
    }

    /* Footer */
    footer{
        .lienhe{
            width: 100%;
            height: 300px;
            flex-direction: column;
            padding: 0;
            strong{
                width: 100%;
                margin: 40px auto;
                font-size: 30px;
            }
            .icon{
                margin: 20px 30px;
                .text{
                    p{
                        text-decoration-line: underline; 
                        font-size: 17px;
                    }
                }
            }
        }
        .qc{
            background: url('../../assets/img/home-banner-app-install-mobile.jpg') no-repeat;
            background-size: cover;
            background-position: left center;
            padding: 0;
            height: 600px;
        }
        .footer{
            margin: 0px 20px;
            width: 90%;
            padding: 0;
            padding-top: 30px;
            .displaynone{
                display: block;
                margin: 0;
            }
            .dplay{
                display: none;
            }
            .qr{
                display: none;
            }
            .img-footer{
                img{
                    width: 120px;
                    height: 40px;
                }
            }
            p{
                width: 90%;
                font-size: 27px;
            }
        }
        .footer2{
            padding: 30px;           
            height: 750px;
                .fiximg{
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    right: 0;
                    top: -36px;
                }
            .a{
                margin: 20px 0;
            }
            .pp{
                color: #afadad;
                p{
                    font-size: 13px;
                }
                .p{
                    margin: 10px 0;
                }
            }
            .nav1{
                display: block;
                text-align: center;
                justify-content: center;
                .nav1-1{
                    display: flex;
                    width: 90%;
                    margin: 10px auto;
                    span{
                        margin: 0 auto;
                    }
                }
                .nav1-2{
                    display: flex;
                    width: 80%;
                    margin: 10px auto;
                    span{
                        margin: 0 auto;
                    }
                }
                .nav1-3{
                    display: flex;
                    width: 100%;
                    margin: 10px auto;
                    span{
                        margin: 0 auto;
                    }
                }
            }
            .nav{
                display: none;
                
            }
        }
    }
}