/* line 1, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/style.scss */
body {
  background-color: #d6b313;
}

/* line 9, ../sass/style.scss */
.carousel {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 12, ../sass/style.scss */
.carousel .carousel-wrapper {
  width: 100%;
  margin: 50px 0;
}
/* line 15, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport {
  position: relative;
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  height: 500px;
}
/* line 21, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .item-container {
  position: relative;
  width: 100%;
  height: 500px;
  cursor: grab;
  overflow: hidden;
}
/* line 27, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .item-container .slide-ul {
  position: absolute;
  top: 0;
  display: flex;
  list-style: none;
}
/* line 32, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .item-container .slide-ul .slide-inner {
  width: 100%;
}
/* line 34, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .item-container .slide-ul .slide-inner img {
  height: auto;
  width: 900px;
  max-height: auto;
}
/* line 42, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .item-container:active {
  cursor: grabbing;
}
/* line 45, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .btn-container {
  z-index: 1;
  height: 0;
  position: absolute;
  top: 45%;
  width: 90%;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: space-between;
}
/* line 55, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .btn-container .button {
  cursor: grab;
}
/* line 57, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .btn-container .button img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
/* line 63, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .btn-container .button:hover {
  opacity: 0.4;
}
/* line 66, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .btn-container .button:active {
  cursor: grabbing;
}
/* line 70, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .ind-container {
  z-index: 1;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
/* line 77, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .ind-container .indicator {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 30px auto;
  width: 200px;
}
/* line 84, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .ind-container .indicator .dot {
  z-index: 100;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #050505;
  cursor: grab;
  bottom: 0;
  height: 20px;
  width: 20px;
}
/* line 94, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .ind-container .indicator .dot:hover {
  background-color: #16e991 !important;
}
/* line 97, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .ind-container .indicator .dot:active {
  cursor: grabbing;
}
/* line 100, ../sass/style.scss */
.carousel .carousel-wrapper .carousel-viewport .ind-container .indicator .dot:nth-child(1) {
  background-color: red;
}
