@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@font-face {
  font-family: calibri;
  src: url(../assets/fonts/calibri/calibri-regular.ttf);
}
/* line 9, ../sass/_default.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri;
}

/* line 21, ../sass/_default.scss */
.body-item {
  width: 100%;
}
/* line 23, ../sass/_default.scss */
.body-item .body-container {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 36, ../sass/_default.scss */
input[type=range] {
  margin: auto;
  outline: none;
  padding: 0;
  width: 100%;
  height: 2px;
  background-color: #dedede;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00aec7), color-stop(100%, #00aec7));
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

/* line 51, ../sass/_default.scss */
input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

/* line 59, ../sass/_default.scss */
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border: 0;
  background: #00aec7;
  border-radius: 50%;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
}

/* line 68, ../sass/_default.scss */
.fal {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/* line 77, ../sass/_default.scss */
.fa-angle-double-down:before {
  content: "\f103";
}

/* line 4, ../sass/_desktop.scss */
.header .nav-bar {
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-top: 20px;
}
/* line 10, ../sass/_desktop.scss */
.header .nav-bar .nav-logo {
  width: 200px;
  height: auto;
}
/* line 13, ../sass/_desktop.scss */
.header .nav-bar .nav-logo .img-logo {
  max-height: 100%;
  width: 100%;
}
/* line 18, ../sass/_desktop.scss */
.header .nav-bar .toggle-nav {
  padding: 13px 0;
  height: auto;
}
/* line 21, ../sass/_desktop.scss */
.header .nav-bar .toggle-nav .toggle-bar {
  height: 5px;
  background-color: #d8d8da;
  width: 30px;
  margin: auto;
}
/* line 27, ../sass/_desktop.scss */
.header .nav-bar .toggle-nav .toggle-bar:nth-child(2) {
  margin: 8px 0;
}

/* line 34, ../sass/_desktop.scss */
#main-content .slide-heading {
  background: url("../assets/img/BUYNOW_PAYLATER_bg.png") center/cover no-repeat;
  height: 400px;
  padding-top: 50px;
}
/* line 38, ../sass/_desktop.scss */
#main-content .slide-heading .slide-content {
  position: relative;
}
/* line 41, ../sass/_desktop.scss */
#main-content .slide-heading .slide-content .slide-text .slide-desc, #main-content .slide-heading .slide-content .slide-text .slide-sub-title, #main-content .slide-heading .slide-content .slide-text .slide-title, #main-content .slide-heading .slide-content .slide-text .btn-slide {
  line-height: 1.6;
}
/* line 44, ../sass/_desktop.scss */
#main-content .slide-heading .slide-content .slide-text .slide-title {
  font-size: 40px;
  font-weight: bold;
}
/* line 48, ../sass/_desktop.scss */
#main-content .slide-heading .slide-content .slide-text .slide-sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
/* line 53, ../sass/_desktop.scss */
#main-content .slide-heading .slide-content .slide-text .slide-desc {
  margin-top: 10px;
}
/* line 57, ../sass/_desktop.scss */
#main-content .slide-heading .slide-content .btn-slide {
  width: 220px;
  margin-top: 50px;
  background-color: #00aec7;
  text-align: center;
  padding: 14px;
}
/* line 63, ../sass/_desktop.scss */
#main-content .slide-heading .slide-content .btn-slide .btn-cal {
  text-decoration: none;
  color: #ffffff;
}
/* line 71, ../sass/_desktop.scss */
#main-content .benefit {
  padding-top: 50px;
}
/* line 73, ../sass/_desktop.scss */
#main-content .benefit .ben-header {
  display: flex;
  justify-content: space-between;
}
/* line 76, ../sass/_desktop.scss */
#main-content .benefit .ben-header .ben-header-title {
  font-size: 20px;
  font-weight: 600;
}
/* line 80, ../sass/_desktop.scss */
#main-content .benefit .ben-header .btn-ben {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  width: 165px;
  border: 2px solid #00aec7;
  color: #00aec7;
}
/* line 88, ../sass/_desktop.scss */
#main-content .benefit .ben-header .btn-ben .btn-img {
  filter: invert(54%) sepia(90%) saturate(2076%) hue-rotate(148deg) brightness(90%) contrast(101%);
  margin-right: 5px;
}
/* line 94, ../sass/_desktop.scss */
#main-content .benefit .ben-list {
  display: flex;
  list-style: none;
}
/* line 97, ../sass/_desktop.scss */
#main-content .benefit .ben-list .ben-item {
  min-height: 200px;
  text-align: left;
}
/* line 100, ../sass/_desktop.scss */
#main-content .benefit .ben-list .ben-item img {
  height: 120px;
  width: 120px;
  margin-left: -22px;
}
/* line 105, ../sass/_desktop.scss */
#main-content .benefit .ben-list .ben-item .ben-desc {
  padding-right: 40px;
}
/* line 109, ../sass/_desktop.scss */
#main-content .benefit .ben-list .ben-item:nth-child(1) {
  margin: 0 40px 0 0;
}
/* line 112, ../sass/_desktop.scss */
#main-content .benefit .ben-list .ben-item:nth-child(2) {
  margin: 0 20px;
}
/* line 115, ../sass/_desktop.scss */
#main-content .benefit .ben-list .ben-item:nth-child(3) {
  margin: 0 0 0 40px;
}
/* line 120, ../sass/_desktop.scss */
#main-content .benefit::after {
  content: "";
  display: block;
  background-color: #857e7e;
  height: 1.5px;
  width: 870px;
  max-width: 100%;
  margin: 50px auto;
}
/* line 129, ../sass/_desktop.scss */
#main-content .sticker {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 40%;
  width: 80px;
}
/* line 135, ../sass/_desktop.scss */
#main-content .sticker img {
  width: 100%;
  height: 100%;
}
/* line 141, ../sass/_desktop.scss */
#main-content .benefit-detail .ben-del-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
/* line 145, ../sass/_desktop.scss */
#main-content .benefit-detail .ben-del-header .ben-title {
  font-size: 20px;
  font-weight: 600;
}
/* line 149, ../sass/_desktop.scss */
#main-content .benefit-detail .ben-del-header .btn-ben {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  width: 165px;
  border: 2px solid #00aec7;
  color: #00aec7;
}
/* line 157, ../sass/_desktop.scss */
#main-content .benefit-detail .ben-del-header .btn-ben .btn-img {
  filter: invert(54%) sepia(90%) saturate(2076%) hue-rotate(148deg) brightness(90%) contrast(101%);
  margin-right: 5px;
}
/* line 163, ../sass/_desktop.scss */
#main-content .benefit-detail .feature {
  list-style: none;
}
/* line 165, ../sass/_desktop.scss */
#main-content .benefit-detail .feature .feature-item {
  display: flex;
  justify-content: space-between;
  height: auto;
}
/* line 169, ../sass/_desktop.scss */
#main-content .benefit-detail .feature .feature-item .feature-content {
  width: 45%;
  height: auto;
  padding: 10% 0;
}
/* line 173, ../sass/_desktop.scss */
#main-content .benefit-detail .feature .feature-item .feature-content .list-title {
  font-size: 20px;
  color: #00aec7;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 1.4;
}
/* line 180, ../sass/_desktop.scss */
#main-content .benefit-detail .feature .feature-item .feature-content .list-desc {
  margin-left: 30px;
  list-style: none;
}
/* line 183, ../sass/_desktop.scss */
#main-content .benefit-detail .feature .feature-item .feature-content .list-desc .li-item {
  line-height: 1.9;
}
/* line 186, ../sass/_desktop.scss */
#main-content .benefit-detail .feature .feature-item .feature-content .list-desc .li-item::before {
  content: "";
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #111111;
  display: inline-block;
  position: relative;
  bottom: 3px;
  right: 5px;
}
/* line 199, ../sass/_desktop.scss */
#main-content .benefit-detail .feature .feature-item .feature-img {
  width: 45%;
  height: 100%;
}
/* line 202, ../sass/_desktop.scss */
#main-content .benefit-detail .feature .feature-item .feature-img img {
  height: 100%;
  max-width: 100%;
}
/* line 210, ../sass/_desktop.scss */
#main-content .benefit-detail::after {
  content: "";
  display: block;
  background-color: #857e7e;
  height: 1.5px;
  width: 870px;
  max-width: 100%;
  margin: 50px auto;
}
/* line 222, ../sass/_desktop.scss */
#main-content .benefit-calculate .form-calc .benefit-heading {
  font-size: 20px;
  font-weight: 600;
}
/* line 226, ../sass/_desktop.scss */
#main-content .benefit-calculate .form-calc .calc-list {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0 0;
}
/* line 230, ../sass/_desktop.scss */
#main-content .benefit-calculate .form-calc .calc-list .calc-item:nth-child(2) {
  margin: 0 1%;
}
/* line 233, ../sass/_desktop.scss */
#main-content .benefit-calculate .form-calc .calc-list .calc-item {
  width: 32%;
}
/* line 235, ../sass/_desktop.scss */
#main-content .benefit-calculate .form-calc .calc-list .calc-item .calc-def, #main-content .benefit-calculate .form-calc .calc-list .calc-item .calc-number {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px 0;
}
/* line 240, ../sass/_desktop.scss */
#main-content .benefit-calculate .form-calc .calc-list .calc-item .calc-number {
  color: #c0baba;
}
/* line 243, ../sass/_desktop.scss */
#main-content .benefit-calculate .form-calc .calc-list .calc-item .rage {
  width: 100%;
}
/* line 246, ../sass/_desktop.scss */
#main-content .benefit-calculate .form-calc .calc-list .calc-item .calc-def {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #00aec7;
}
/* line 253, ../sass/_desktop.scss */
#main-content .benefit-calculate .form-calc .calc-list .calc-item .select-container {
  width: 100%;
  position: relative;
}
/* line 256, ../sass/_desktop.scss */
#main-content .benefit-calculate .form-calc .calc-list .calc-item .select-container .arrow-down {
  width: 10%;
  position: absolute;
  top: 19px;
  left: 90%;
}
/* line 261, ../sass/_desktop.scss */
#main-content .benefit-calculate .form-calc .calc-list .calc-item .select-container .arrow-down .arr {
  color: #ffffff;
  position: absolute;
  font-size: 20px;
}
/* line 267, ../sass/_desktop.scss */
#main-content .benefit-calculate .form-calc .calc-list .calc-item .select-container .select {
  appearance: none;
  border: 1px solid #00aec7;
  width: 100%;
  height: 39px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #00aec7;
}
/* line 282, ../sass/_desktop.scss */
#main-content .benefit-calculate .btn-calc {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}
/* line 286, ../sass/_desktop.scss */
#main-content .benefit-calculate .btn-calc .btn-item {
  padding: 10px 20px;
  cursor: pointer;
  max-width: 200px;
  font-size: 14px;
}
/* line 292, ../sass/_desktop.scss */
#main-content .benefit-calculate .btn-calc .btn-item:nth-child(1) {
  margin-right: 20px;
  border: 2px solid #aaaaaa;
  color: #aaaaaa;
}
/* line 297, ../sass/_desktop.scss */
#main-content .benefit-calculate .btn-calc .btn-item:nth-child(2) {
  background-color: #aaaaaa;
  color: #ffffff;
}
/* line 303, ../sass/_desktop.scss */
#main-content .benefit-calculate::after {
  content: "";
  display: block;
  background-color: #857e7e;
  height: 1.5px;
  width: 870px;
  max-width: 100%;
  margin: 50px auto;
}
/* line 314, ../sass/_desktop.scss */
#main-content .benefit-condition .ben-con-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
/* line 318, ../sass/_desktop.scss */
#main-content .benefit-condition .ben-con-header .ben-heading {
  font-size: 20px;
  font-weight: bold;
}
/* line 322, ../sass/_desktop.scss */
#main-content .benefit-condition .ben-con-header .btn-ben {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  width: 165px;
  border: 2px solid #00aec7;
  color: #00aec7;
}
/* line 330, ../sass/_desktop.scss */
#main-content .benefit-condition .ben-con-header .btn-ben .btn-img {
  filter: invert(54%) sepia(90%) saturate(2076%) hue-rotate(148deg) brightness(90%) contrast(101%);
  margin-right: 5px;
}
/* line 336, ../sass/_desktop.scss */
#main-content .benefit-condition .condition {
  display: flex;
  border: 1px solid #111111;
  width: 870px;
}
/* line 340, ../sass/_desktop.scss */
#main-content .benefit-condition .condition .condition-item {
  padding-left: 20px;
}
/* line 342, ../sass/_desktop.scss */
#main-content .benefit-condition .condition .condition-item .con-heading {
  margin: 40px 0 40px 0;
}
/* line 345, ../sass/_desktop.scss */
#main-content .benefit-condition .condition .condition-item .list-con-1 {
  margin-right: 7%;
}
/* line 348, ../sass/_desktop.scss */
#main-content .benefit-condition .condition .condition-item .list-con-2 {
  margin-right: 40px;
}
/* line 351, ../sass/_desktop.scss */
#main-content .benefit-condition .condition .condition-item .list-con {
  margin-bottom: 40px;
  list-style: none;
}
/* line 354, ../sass/_desktop.scss */
#main-content .benefit-condition .condition .condition-item .list-con .list-item::before {
  content: ".";
  content: "";
  min-width: 4px;
  height: 4px;
  background-color: #111111;
  border-radius: 50%;
  display: inline-block;
  margin: 0 6px 4px 0;
}
/* line 366, ../sass/_desktop.scss */
#main-content .benefit-condition .condition .hr-condition {
  margin: 30px 0;
}
/* line 369, ../sass/_desktop.scss */
#main-content .benefit-condition .condition .condition-item:nth-child(1) {
  width: 30%;
}
/* line 372, ../sass/_desktop.scss */
#main-content .benefit-condition .condition .condition-item:nth-child(2) {
  width: 65%;
}
/* line 377, ../sass/_desktop.scss */
#main-content .mobile-plan {
  display: none;
  margin: 30px 100px 0 100px;
}
/* line 380, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container {
  position: relative;
  width: 100%;
  font-size: 16px;
  display: flex;
}
/* line 385, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container #plan-first {
  border: 2px solid #111111;
  display: flex;
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
  width: 200%;
}
/* line 392, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container #plan-first .plan-item {
  padding: 20px 10px;
  min-width: 100%;
}
/* line 395, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container #plan-first .plan-item .plan-heading {
  display: flex;
  justify-content: space-between;
}
/* line 398, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container #plan-first .plan-item .plan-heading .img-title {
  width: 24px;
  height: 24px;
  position: relative;
  bottom: 3px;
}
/* line 405, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container #plan-first .plan-item .hr-plan {
  border: 1px solid #111111;
  background-color: #111111;
  margin: 20px 0 20px 0;
}
/* line 411, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .plan-body-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* line 415, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .plan-body-item .plan-text-bold {
  font-weight: 600;
}
/* line 419, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .hr-plan {
  border: 1px solid #111111;
  background-color: #111111;
  margin: 20px 0 20px 0;
}
/* line 424, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .btn-plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 428, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .btn-plan .btn-item {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 600;
}
/* line 433, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .btn-plan .btn-item .fa {
  font-size: 20px;
  margin-left: 10px;
  position: relative;
  bottom: 1px;
}
/* line 439, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .btn-plan .btn-item:nth-child(1) {
  background-color: #00aec7;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
/* line 447, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .btn-plan .btn-item:nth-child(2) {
  max-width: 200px;
  color: #00aec7;
  border: 2px solid #00aec7;
  padding: 10px 20px;
}
/* line 457, ../sass/_desktop.scss */
#main-content .mobile-plan .plan-container #add-container {
  display: none;
}
/* line 462, ../sass/_desktop.scss */
#main-content .mobile-product {
  display: none;
}

/* line 467, ../sass/_desktop.scss */
.footer .footer-heading {
  text-align: center;
  background-color: #efefef;
  padding-bottom: 30px;
}
/* line 472, ../sass/_desktop.scss */
.footer .footer-heading .footer-heading-container .footer-title {
  font-size: 24px;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 478, ../sass/_desktop.scss */
.footer .footer-heading .footer-heading-container .footer-heading-content {
  padding-left: 20px;
}
/* line 480, ../sass/_desktop.scss */
.footer .footer-heading .footer-heading-container .footer-heading-content .contact-item {
  display: flex;
  justify-content: left;
}
/* line 483, ../sass/_desktop.scss */
.footer .footer-heading .footer-heading-container .footer-heading-content .contact-item .img-contact {
  width: 50px;
  height: auto;
}
/* line 486, ../sass/_desktop.scss */
.footer .footer-heading .footer-heading-container .footer-heading-content .contact-item .img-contact img {
  position: relative;
  bottom: 5px;
  width: 100%;
}
/* line 492, ../sass/_desktop.scss */
.footer .footer-heading .footer-heading-container .footer-heading-content .contact-item .con-text {
  text-align: left;
}
/* line 494, ../sass/_desktop.scss */
.footer .footer-heading .footer-heading-container .footer-heading-content .contact-item .con-text .con-title {
  font-weight: bold;
}
/* line 502, ../sass/_desktop.scss */
.footer .banner-footer {
  background: url(../assets/img/bg-app-download.png);
  background-size: cover;
  background-position: top center right center;
  padding-top: 50px;
  height: 600px;
  position: relative;
}
/* line 509, ../sass/_desktop.scss */
.footer .banner-footer .ban-body {
  display: flex;
  justify-content: space-between;
}
/* line 513, ../sass/_desktop.scss */
.footer .banner-footer .ban-body .ban-left .contact-item {
  font-size: 1.7em;
  color: #f5f5f5;
  font-weight: bolder;
}
/* line 518, ../sass/_desktop.scss */
.footer .banner-footer .ban-body .ban-left .app {
  display: flex;
  margin: 32px 0 0 0;
  width: 70%;
}
/* line 522, ../sass/_desktop.scss */
.footer .banner-footer .ban-body .ban-left .app .app-store {
  margin-right: 10px;
  width: 40%;
}
/* line 525, ../sass/_desktop.scss */
.footer .banner-footer .ban-body .ban-left .app .app-store img {
  height: 100%;
  width: 100%;
}
/* line 533, ../sass/_desktop.scss */
.footer .banner-footer .next-top {
  position: absolute;
  right: 5%;
  bottom: -1em;
  background-color: #f5f5f5;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
}
/* line 542, ../sass/_desktop.scss */
.footer .banner-footer .next-top img {
  margin-top: 25%;
  height: 50%;
  width: 50%;
}
/* line 549, ../sass/_desktop.scss */
.footer .footer-contact {
  background-color: #3a3b40;
  color: #dbd3d3;
  padding-bottom: 32px;
  padding-top: 3em;
}
/* line 555, ../sass/_desktop.scss */
.footer .footer-contact .list-contact .sub-list {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
/* line 559, ../sass/_desktop.scss */
.footer .footer-contact .list-contact .sub-list .hide {
  display: none;
}
/* line 562, ../sass/_desktop.scss */
.footer .footer-contact .list-contact .sub-list .hr-contact {
  height: 24px;
  width: 1px;
  margin: 0 20px;
  background-color: #f5f5f5;
  border: 0.01px solid #f5f5f5;
}
/* line 569, ../sass/_desktop.scss */
.footer .footer-contact .list-contact .sub-list .list-contact-item {
  color: #ffffff;
  font-weight: 600;
}
/* line 575, ../sass/_desktop.scss */
.footer .footer-contact .contact-net {
  margin-bottom: 32px;
}
/* line 577, ../sass/_desktop.scss */
.footer .footer-contact .contact-net .contact-title {
  margin: 32px 0;
  text-align: center;
  color: #afaaaa;
  font-size: 13px;
}
/* line 583, ../sass/_desktop.scss */
.footer .footer-contact .contact-net .list-app {
  height: 32px;
  display: flex;
  justify-content: center;
  padding: 0 30%;
}
/* line 588, ../sass/_desktop.scss */
.footer .footer-contact .contact-net .list-app .app-2 {
  margin: 0 20px;
}
/* line 591, ../sass/_desktop.scss */
.footer .footer-contact .contact-net .list-app img {
  height: 100%;
  width: 100%;
  color: #afaaaa;
}
/* line 598, ../sass/_desktop.scss */
.footer .footer-contact .contact-net::after {
  content: "";
  display: block;
  height: 0.5px;
  background-color: #f5f5f5;
  width: 870px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
/* line 608, ../sass/_desktop.scss */
.footer .footer-contact .address {
  color: #afaaaa;
  text-align: center;
  padding: 0 5%;
}
/* line 612, ../sass/_desktop.scss */
.footer .footer-contact .address .site-net {
  display: flex;
  justify-content: center;
}
/* line 615, ../sass/_desktop.scss */
.footer .footer-contact .address .site-net .hr-reverse {
  height: 16px;
  width: 1.6px;
  background-color: #ffffff;
  margin: 3.2px 6.4px;
}

@media screen and (min-width: 767px) {
  /* line 4, ../sass/style.scss */
  .footer .footer-heading {
    text-align: left;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  /* line 9, ../sass/style.scss */
  .footer .footer-heading .footer-heading-container {
    display: flex;
    justify-content: space-between;
  }
  /* line 12, ../sass/style.scss */
  .footer .footer-heading .footer-heading-container .footer-title {
    font-size: 32px;
    font-weight: 600;
  }
  /* line 16, ../sass/style.scss */
  .footer .footer-heading .footer-heading-container .footer-heading-content {
    display: flex;
    width: 50%;
  }
  /* line 19, ../sass/style.scss */
  .footer .footer-heading .footer-heading-container .footer-heading-content .contact-item:nth-child(1) {
    margin-right: 40px;
  }
  /* line 22, ../sass/style.scss */
  .footer .footer-heading .footer-heading-container .footer-heading-content .contact-item {
    justify-content: space-evenly;
    padding: 40px 0;
  }
  /* line 26, ../sass/style.scss */
  .footer .footer-heading .footer-heading-container .footer-heading-content .contact-item .img-contact img {
    position: static;
  }
  /* line 30, ../sass/style.scss */
  .footer .footer-heading .footer-heading-container .footer-heading-content .contact-item .con-text {
    width: 100%;
    margin-left: 20px;
  }
  /* line 33, ../sass/style.scss */
  .footer .footer-heading .footer-heading-container .footer-heading-content .contact-item .con-text .con-title {
    font-weight: bold;
  }
  /* line 36, ../sass/style.scss */
  .footer .footer-heading .footer-heading-container .footer-heading-content .contact-item .con-text u {
    text-decoration: none;
  }
  /* line 39, ../sass/style.scss */
  .footer .footer-heading .footer-heading-container .footer-heading-content .contact-item .con-text .con-desc {
    font-size: 14px;
  }
  /* line 47, ../sass/style.scss */
  .footer .banner-footer {
    background-image: url(../assets/img/bg-banner-footer.png);
    background-size: cover;
    background-position: right center;
    height: 400px;
    padding: 100px 0 0 0;
  }
  /* line 55, ../sass/style.scss */
  .footer .banner-footer .ban-body .ban-left .contact-item {
    display: none;
  }
  /* line 58, ../sass/style.scss */
  .footer .banner-footer .ban-body .ban-left .contact-desktop {
    display: block !important;
    font-size: 23px;
    color: #f5f5f5;
    font-weight: bolder;
  }
  /* line 64, ../sass/style.scss */
  .footer .banner-footer .ban-body .ban-left .app {
    display: flex;
    margin: 2em 0 0 0;
    width: 400px;
  }
  /* line 68, ../sass/style.scss */
  .footer .banner-footer .ban-body .ban-left .app .app-store {
    margin-right: 10px;
    width: 40%;
  }
  /* line 71, ../sass/style.scss */
  .footer .banner-footer .ban-body .ban-left .app .app-store img {
    height: 100%;
    width: 100%;
  }
  /* line 79, ../sass/style.scss */
  .footer .banner-footer .qr-code {
    display: flex !important;
    justify-content: left;
    width: 100%;
  }
  /* line 83, ../sass/style.scss */
  .footer .banner-footer .qr-code .img-qr {
    width: 200px;
    height: 200px;
  }
  /* line 86, ../sass/style.scss */
  .footer .banner-footer .qr-code .img-qr img {
    width: 200px;
    height: 200px;
  }
  /* line 91, ../sass/style.scss */
  .footer .banner-footer .qr-code .qr-text {
    margin: 50px 25px 0 10px;
    color: #f5f5f5;
    line-height: 1.4;
  }
  /* line 99, ../sass/style.scss */
  .footer .footer-contact .list-contact {
    display: none;
    list-style: none;
  }
  /* line 103, ../sass/style.scss */
  .footer .footer-contact .list-contact-desktop {
    list-style: none;
    display: flex !important;
    justify-content: space-between;
  }
  /* line 107, ../sass/style.scss */
  .footer .footer-contact .list-contact-desktop .hr-contact {
    height: 1.5em;
    width: 1px;
    background-color: #f5f5f5;
    border: 0.01px solid #f5f5f5;
  }

  /* line 118, ../sass/style.scss */
  #main-content .mobile-plan {
    display: none;
  }
  /* line 120, ../sass/style.scss */
  #main-content .mobile-plan #add-container {
    display: none;
  }
  /* line 123, ../sass/style.scss */
  #main-content .mobile-plan #add-container-desktop {
    cursor: pointer;
    display: block;
    width: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  /* line 129, ../sass/style.scss */
  #main-content .mobile-plan #add-container-desktop #add-plan-desktop {
    color: #00aec7;
    width: auto;
    transform: rotate(-90deg);
    position: relative;
    top: 130px;
  }
  /* line 136, ../sass/style.scss */
  #main-content .mobile-plan #add-container-desktop #add-plan-desktop .plan-heading {
    display: flex;
    width: 150px;
  }
  /* line 139, ../sass/style.scss */
  #main-content .mobile-plan #add-container-desktop #add-plan-desktop .plan-heading .fa {
    margin-left: 10px;
  }
  /* line 146, ../sass/style.scss */
  #main-content .hr-2 {
    margin: 50px 100px 0 100px;
  }
}
@media screen and (max-width: 767px) {
  /* line 153, ../sass/style.scss */
  .nav-bar {
    padding: 16px 30px 0 30px;
  }

  /* line 156, ../sass/style.scss */
  .sticker {
    display: none;
  }

  /* line 159, ../sass/style.scss */
  .btn-mobile-heading {
    display: flex !important;
    justify-content: center;
    margin: 0 0 20px 0;
  }
  /* line 163, ../sass/style.scss */
  .btn-mobile-heading .btn-con {
    width: 220px;
    margin-top: 50px;
    background-color: #00aec7;
    text-align: center;
    padding: 14px;
  }
  /* line 169, ../sass/style.scss */
  .btn-mobile-heading .btn-con .btn-cal {
    text-decoration: none;
    color: #ffffff;
  }

  /* line 175, ../sass/style.scss */
  .btn-mobile-benefit {
    display: flex !important;
    justify-content: center;
    margin: 0 0 50px 0;
    padding: 0 15px;
  }
  /* line 180, ../sass/style.scss */
  .btn-mobile-benefit .btn-ben {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    width: 165px;
    border: 2px solid #00aec7;
    color: #00aec7;
  }
  /* line 188, ../sass/style.scss */
  .btn-mobile-benefit .btn-ben .btn-img {
    filter: invert(54%) sepia(90%) saturate(2076%) hue-rotate(148deg) brightness(90%) contrast(101%);
    margin-right: 5px;
  }

  /* line 196, ../sass/style.scss */
  #main-content .slide-heading {
    height: 600px;
    padding: 0;
    text-align: center;
    background: url("../assets/img/BUYNOW_PAYLATER_bg_mobile.png") bottom center/cover no-repeat;
  }
  /* line 201, ../sass/style.scss */
  #main-content .slide-heading .slide-content {
    padding: 50px 15px;
  }
  /* line 205, ../sass/style.scss */
  #main-content .slide-heading .slide-content .slide-text .slide-title br, #main-content .slide-heading .slide-content .slide-text .slide-desc br {
    display: block !important;
  }
  /* line 210, ../sass/style.scss */
  #main-content .slide-heading .slide-content .slide-text .slide-desc #br-1 {
    display: none !important;
  }
  /* line 215, ../sass/style.scss */
  #main-content .slide-heading .slide-content .btn-slide {
    display: none !important;
  }
  /* line 218, ../sass/style.scss */
  #main-content .slide-heading .slide-content .icon-down-mobile {
    display: block !important;
    padding-top: 20px;
  }
  /* line 225, ../sass/style.scss */
  #main-content .benefit .ben-header {
    display: flex;
    justify-content: center;
  }
  /* line 228, ../sass/style.scss */
  #main-content .benefit .ben-header .ben-header-title {
    font-size: 24px;
    font-weight: 600;
    width: 190px;
    text-align: center;
  }
  /* line 234, ../sass/style.scss */
  #main-content .benefit .ben-header .btn-ben {
    display: none;
  }
  /* line 238, ../sass/style.scss */
  #main-content .benefit .ben-list {
    display: block;
  }
  /* line 240, ../sass/style.scss */
  #main-content .benefit .ben-list .ben-item {
    min-height: 200px;
    display: flex;
    padding: 0 20px;
  }
  /* line 244, ../sass/style.scss */
  #main-content .benefit .ben-list .ben-item img {
    height: 50%;
    max-width: 50%;
    margin-top: 40px;
  }
  /* line 249, ../sass/style.scss */
  #main-content .benefit .ben-list .ben-item .ben-desc {
    margin-top: 60px;
    font-size: 16px;
    line-height: 1.4;
    margin-left: 30px;
  }
  /* line 255, ../sass/style.scss */
  #main-content .benefit .ben-list .ben-item .ben-desc-3 {
    margin-top: 50px;
  }
  /* line 259, ../sass/style.scss */
  #main-content .benefit .ben-list .ben-item:nth-child(1) {
    margin: 0;
  }
  /* line 262, ../sass/style.scss */
  #main-content .benefit .ben-list .ben-item:nth-child(2) {
    margin: 0;
  }
  /* line 265, ../sass/style.scss */
  #main-content .benefit .ben-list .ben-item:nth-child(3) {
    margin: 0;
  }
  /* line 271, ../sass/style.scss */
  #main-content .benefit::after {
    margin: 0 15px 30px 15px;
    width: auto;
  }
  /* line 275, ../sass/style.scss */
  #main-content .hr {
    margin: 0 50px;
  }
  /* line 278, ../sass/style.scss */
  #main-content .hr1 {
    margin: 0 70px;
  }
  /* line 282, ../sass/style.scss */
  #main-content .benefit-detail .ben-del-header {
    display: flex;
    justify-content: center;
  }
  /* line 285, ../sass/style.scss */
  #main-content .benefit-detail .ben-del-header .ben-title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding: 0 15%;
  }
  /* line 291, ../sass/style.scss */
  #main-content .benefit-detail .ben-del-header .btn-ben {
    display: none;
  }
  /* line 296, ../sass/style.scss */
  #main-content .benefit-detail .feature .feature-item:nth-child(1) {
    flex-direction: column-reverse;
  }
  /* line 299, ../sass/style.scss */
  #main-content .benefit-detail .feature .feature-item:nth-child(2) {
    flex-direction: column;
  }
  /* line 302, ../sass/style.scss */
  #main-content .benefit-detail .feature .feature-item:nth-child(3) {
    flex-direction: column-reverse;
  }
  /* line 305, ../sass/style.scss */
  #main-content .benefit-detail .feature .feature-item {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  /* line 310, ../sass/style.scss */
  #main-content .benefit-detail .feature .feature-item .feature-content {
    width: 100%;
    height: auto;
    padding: 0 20px;
    margin-bottom: 50px;
  }
  /* line 315, ../sass/style.scss */
  #main-content .benefit-detail .feature .feature-item .feature-content .list-title {
    margin-top: 30px;
    font-size: 20px;
    color: #00aec7;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.4;
  }
  /* line 323, ../sass/style.scss */
  #main-content .benefit-detail .feature .feature-item .feature-content .list-desc {
    margin-left: 10px;
  }
  /* line 325, ../sass/style.scss */
  #main-content .benefit-detail .feature .feature-item .feature-content .list-desc li {
    line-height: 1.9;
  }
  /* line 330, ../sass/style.scss */
  #main-content .benefit-detail .feature .feature-item .feature-img {
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }
  /* line 334, ../sass/style.scss */
  #main-content .benefit-detail .feature .feature-item .feature-img img {
    height: 100%;
    width: 100%;
  }
  /* line 342, ../sass/style.scss */
  #main-content .benefit-detail::after {
    display: none;
  }
  /* line 345, ../sass/style.scss */
  #main-content .btn-mobile-ben-detail {
    display: flex !important;
    justify-content: center;
    padding: 0 15px;
  }
  /* line 349, ../sass/style.scss */
  #main-content .btn-mobile-ben-detail .btn-ben {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    width: 165px;
    border: 2px solid #00aec7;
    color: #00aec7;
  }
  /* line 357, ../sass/style.scss */
  #main-content .btn-mobile-ben-detail .btn-ben .btn-img {
    filter: invert(54%) sepia(90%) saturate(2076%) hue-rotate(148deg) brightness(90%) contrast(101%);
    margin-right: 5px;
  }
  /* line 363, ../sass/style.scss */
  #main-content .benefit-calculate {
    padding: 50px 0;
    width: 100%;
  }
  /* line 366, ../sass/style.scss */
  #main-content .benefit-calculate .form-calc {
    margin-left: 0px;
    margin-right: 0px;
  }
  /* line 369, ../sass/style.scss */
  #main-content .benefit-calculate .form-calc .benefit-heading {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
  /* line 375, ../sass/style.scss */
  #main-content .benefit-calculate .form-calc .calc-list {
    display: block;
    padding: 0;
  }
  /* line 378, ../sass/style.scss */
  #main-content .benefit-calculate .form-calc .calc-list .calc-item:nth-child(2) {
    margin: 0;
  }
  /* line 381, ../sass/style.scss */
  #main-content .benefit-calculate .form-calc .calc-list .calc-item {
    width: 100%;
  }
  /* line 383, ../sass/style.scss */
  #main-content .benefit-calculate .form-calc .calc-list .calc-item .calc-heading, #main-content .benefit-calculate .form-calc .calc-list .calc-item .calc-heading-option {
    font-weight: 600;
    line-height: 1.4;
  }
  /* line 387, ../sass/style.scss */
  #main-content .benefit-calculate .form-calc .calc-list .calc-item .calc-def, #main-content .benefit-calculate .form-calc .calc-list .calc-item .calc-number {
    display: flex;
    justify-content: space-between;
  }
  /* line 391, ../sass/style.scss */
  #main-content .benefit-calculate .form-calc .calc-list .calc-item .calc-number {
    color: #c0baba;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  /* line 396, ../sass/style.scss */
  #main-content .benefit-calculate .form-calc .calc-list .calc-item .rage {
    width: 100%;
    margin: 100px 0;
  }
  /* line 400, ../sass/style.scss */
  #main-content .benefit-calculate .form-calc .calc-list .calc-item .calc-def {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #00aec7;
  }
  /* line 412, ../sass/style.scss */
  #main-content .benefit-calculate .btn-calc {
    display: none;
  }
  /* line 416, ../sass/style.scss */
  #main-content .benefit-calculate::after {
    margin-bottom: 0;
    display: none;
  }
  /* line 420, ../sass/style.scss */
  #main-content .btn-calc-mobile {
    width: auto;
    display: flex !important;
    justify-content: center;
  }
  /* line 424, ../sass/style.scss */
  #main-content .btn-calc-mobile .btn-con {
    min-width: 150px;
    text-align: center;
  }
  /* line 427, ../sass/style.scss */
  #main-content .btn-calc-mobile .btn-con .btn-item {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.8em;
  }
  /* line 432, ../sass/style.scss */
  #main-content .btn-calc-mobile .btn-con .btn-item:nth-child(1) {
    border: 2px solid #aaaaaa;
    color: #aaaaaa;
  }
  /* line 436, ../sass/style.scss */
  #main-content .btn-calc-mobile .btn-con .btn-item:nth-child(2) {
    background-color: #aaaaaa;
    color: #ffffff;
    width: 130px;
    margin-left: 10px;
    margin-top: 20px;
  }
  /* line 445, ../sass/style.scss */
  #main-content .mobile-plan {
    display: block;
    margin: 0;
    padding: 30px 15px;
  }
  /* line 449, ../sass/style.scss */
  #main-content .mobile-plan .plan-container {
    position: relative;
    width: 100%;
    font-size: 0.9em;
    display: flex;
  }
  /* line 454, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #plan-first {
    border: 2px solid #111111;
    display: flex;
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    width: 200%;
  }
  /* line 461, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #plan-first .plan-item {
    padding: 20px 10px;
    min-width: 100%;
  }
  /* line 464, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #plan-first .plan-item .plan-heading {
    display: flex;
    justify-content: space-between;
  }
  /* line 467, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #plan-first .plan-item .plan-heading .img-title {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    bottom: 3px;
  }
  /* line 474, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #plan-first .plan-item .hr-plan {
    border: 1px solid #111111;
    background-color: #111111;
    margin: 20px 0 20px 0;
  }
  /* line 480, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .plan-body-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  /* line 484, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .plan-body-item .plan-text-bold {
    font-weight: 600;
  }
  /* line 488, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .hr-plan {
    border: 1px solid #111111;
    background-color: #111111;
    margin: 20px 0 20px 0;
  }
  /* line 493, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .btn-plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 497, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .btn-plan .btn-item {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 600;
  }
  /* line 502, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .btn-plan .btn-item .fa {
    font-size: 20px;
    margin-left: 10px;
    position: relative;
    bottom: 1px;
  }
  /* line 508, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .btn-plan .btn-item:nth-child(1) {
    background-color: #00aec7;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: #ffffff;
  }
  /* line 516, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #plan-first .plan-item .plan-body .btn-plan .btn-item:nth-child(2) {
    max-width: 200px;
    color: #00aec7;
    border: 2px solid #00aec7;
    padding: 10px 20px;
  }
  /* line 526, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #add-container {
    display: block;
    width: 50px;
    cursor: pointer;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  /* line 532, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #add-container #add-plan {
    color: #00aec7;
    width: auto;
    transform: rotate(-90deg);
    position: relative;
    top: 130px;
  }
  /* line 539, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #add-container #add-plan .plan-heading {
    display: flex;
    width: 150px;
  }
  /* line 542, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #add-container #add-plan .plan-heading .fa {
    margin-left: 10px;
  }
  /* line 548, ../sass/style.scss */
  #main-content .mobile-plan .plan-container #add-container-desktop {
    display: none;
  }
  /* line 553, ../sass/style.scss */
  #main-content .mobile-product {
    border: 1.5px solid #5c5959;
    display: block !important;
    margin: 0 15px;
    margin-top: 40px;
  }
  /* line 558, ../sass/style.scss */
  #main-content .mobile-product .product-heading {
    display: flex;
  }
  /* line 560, ../sass/style.scss */
  #main-content .mobile-product .product-heading .product-head-item {
    padding: 20px 20px 10px 20px;
    font-size: 25px;
    width: 50%;
  }
  /* line 565, ../sass/style.scss */
  #main-content .mobile-product .product-heading .product-head-item:nth-child(1) {
    background-color: #d8d0d0;
    border-bottom-right-radius: 10px;
  }
  /* line 570, ../sass/style.scss */
  #main-content .mobile-product .product-list {
    padding: 20px;
    list-style: none;
  }
  /* line 573, ../sass/style.scss */
  #main-content .mobile-product .product-list .product-item {
    line-height: 1.4;
    margin-bottom: 10px;
  }
  /* line 577, ../sass/style.scss */
  #main-content .mobile-product .product-list .product-item::before {
    content: "";
    height: 4px;
    width: 4px;
    background-color: #111111;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 3px;
    left: 4px;
    margin-right: 7px;
  }
  /* line 591, ../sass/style.scss */
  #main-content .benefit-condition::before, #main-content .benefit-calculate::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #797272;
    margin: 30px;
  }
  /* line 598, ../sass/style.scss */
  #main-content .benefit-calculate::before {
    margin: 0 65px 30px 65px;
  }
  /* line 601, ../sass/style.scss */
  #main-content .hr-2 {
    margin: 50px 50px 20px 50px;
  }
  /* line 604, ../sass/style.scss */
  #main-content .benefit-condition {
    padding: 10px 15px 50px 15px;
  }
  /* line 606, ../sass/style.scss */
  #main-content .benefit-condition .ben-con-header {
    justify-content: center;
  }
  /* line 608, ../sass/style.scss */
  #main-content .benefit-condition .ben-con-header .ben-heading {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  /* line 612, ../sass/style.scss */
  #main-content .benefit-condition .ben-con-header .ben-heading br {
    display: block !important;
  }
  /* line 616, ../sass/style.scss */
  #main-content .benefit-condition .ben-con-header .btn-ben {
    display: none;
  }
  /* line 620, ../sass/style.scss */
  #main-content .benefit-condition .condition {
    display: block;
  }
  /* line 623, ../sass/style.scss */
  #main-content .benefit-condition .condition .condition-item .con-heading {
    margin: 30x 0 30x 0;
  }
  /* line 626, ../sass/style.scss */
  #main-content .benefit-condition .condition .condition-item .list-con {
    margin-bottom: 40px;
    list-style: none;
  }
  /* line 629, ../sass/style.scss */
  #main-content .benefit-condition .condition .condition-item .list-con .list-item::before {
    content: ".";
    content: "";
    min-width: 4px;
    height: 4px;
    background-color: #111111;
    border-radius: 50%;
    display: inline-block;
    margin: 0 6px 4px 0;
  }
  /* line 641, ../sass/style.scss */
  #main-content .benefit-condition .condition .hr-condition {
    width: 90%;
    margin: 30px 5%;
  }
  /* line 645, ../sass/style.scss */
  #main-content .benefit-condition .condition .condition-item:nth-child(1) {
    width: 100%;
  }
  /* line 648, ../sass/style.scss */
  #main-content .benefit-condition .condition .condition-item:nth-child(2) {
    width: 100%;
  }
  /* line 653, ../sass/style.scss */
  #main-content .btn-container {
    display: flex !important;
    justify-content: center;
    margin-bottom: 50px;
  }
  /* line 657, ../sass/style.scss */
  #main-content .btn-container .btn-mobile-3 {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 165px;
    border: 2px solid #00aec7;
    color: #00aec7;
  }
  /* line 664, ../sass/style.scss */
  #main-content .btn-container .btn-mobile-3 .btn-img {
    filter: invert(54%) sepia(90%) saturate(2076%) hue-rotate(148deg) brightness(90%) contrast(101%);
    margin-right: 5px;
  }

  /* line 674, ../sass/style.scss */
  .footer .footer-contact .contact-net::after {
    width: auto;
    margin: 30px 15px;
  }
}
