.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 700px;
  margin: 50px auto;
  border: 1px solid rgb(124, 126, 241);
}

table th, table td {
  border: 1px solid rgb(124, 126, 241);
  height: 50px;
}

input[type="text"] {
  width: 300px;
  height: 30px;
  margin: 30px 0;
}

button {
  width: 100px;
  border: 1px solid rgb(124, 126, 241);
  height: 30px;
  margin: 10px 10px;
  box-shadow: 0 10 10 0 #ccc;
  cursor: pointer;
}

svg {
  width: 20px;
}

.calculator {
  width: 500px;
  background: rgb(174, 236, 251);
  margin: 100px auto;
  border-radius: 20px;
}

.calculator .calculator-main {
  width: 100%;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px 5px 20px 5px;
}

.calculator button {
  border-radius: 10px;
  background: rgb(250, 250, 250);
}

.calculator .opsBtn {
  background: rgb(99, 238, 192);
}

.calculator .btn {
  width: 220px;
}

button:disabled {
  background-color: rgb(255, 95, 95) !important;
  color: white;
}

button:hover {
  background-color: rgb(113, 250, 95);
  border: 5px dotted red;
  font-weight: bold;
}

.container {
  width: 500px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(48, 131, 255);
  color: white;
}

.nav-ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-mors {
  width: 200px;
  list-style: none;
  font-size: 24px;
  border-right: 2px solid #333;
}

.nav-mors li, .nav-mors li a{
  list-style: none;
  text-decoration: none;
  line-height: 50px;
}