.app{
      .header{
            padding: 50px;
            background-color: aqua;
            text-align: center;
            width: 100%;
            .app-title{

            }
      }
      .calculator-container{
            width: 600px;
            max-width: 100%;
            margin: 50px auto;
            font-weight: bold;
            .view-calculator{
                  background-color: rgb(26, 116, 18);
                  color: aliceblue;
                  margin-bottom: 5px;
                  padding-right: 30px;
                  font-size: 20px;
                  .view-input{
                        height: 40px;
                        display: flex;
                        justify-content: right;
                        .input-item{
                              padding-top: 15px;
                              padding-left: 15px;
                        }
                  }
                  .view-output{
                        height: 40px;
                        text-align: right;
                        .output-item{
                              padding-top: 5px;
                        }
                  }
            }
            .cal-key-container{
                  .cal-key-item{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 5px;
                        .cal-button{
                              width: 24.5%;
                              button{
                                    background-color:#ee5f62;
                                    width: 100%;
                                    height: 40px;
                                    font-size: 20px;
                                    color: white;
                              }
                              button:hover{
                                    background-color:#a84d4e;
                                    cursor: grab;
                              }
                              button:active{
                                    background-color: #805d5e;
                                    cursor: grabbing;
                              }
                        }
                        .cal-zero{
                              width: 49.67%;
                        }
                  }
            }
      }
      .footer{
            height: 300px;
            background-color: rgb(190, 105, 105);
      }
}

.is-disable{
      background-color: rgb(32, 196, 46) !important;
}