.carousel-viewport {
  position: relative;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.item-container {
  width: 10000px;
}

.item-container ul::after {
  content: '';
  display: table;
  clear: both;
}

.item-container ul {
  padding: 0;
  width: 10000px;
}

.item-container ul li {
  display: block;
  float: left;
  width: 500px;
}

.item-container ul li img {
  width: 100%;
}

.indicator-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.indicator-container ul {
  padding-left: 0;
}

.indicator-container ul li {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #000;
  margin: 0 5px;
  cursor: pointer;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 99;
  width: 100%;
}

.btn-container .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #000;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.btn-container .prevBtn {
  margin-left: 20px;
}

.btn-container .nextBtn {
  margin-right: 20px;
}
