*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.container{
  width: 1230px;
  margin: 0 auto;
  max-width:100%
}
header{
  box-shadow: 0 1px 3px #ccc; 
}
.header{
  display: flex;
  justify-content:space-between;
  height:90px;
  align-items: center;
}
.navbar{
  display: flex;
  list-style: none;
}
.navbar a{
  text-decoration: none;
  padding: 0 20px;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  line-height:90px;
}
.navbar li:hover{
  background-color: #ccc;
}
.cart{
  display: flex;
}
.Cart-img{
  width: 25px;
  height: 25px;
}
.cart-item{
  padding-right: 0 !important;
}
.cart-icons{
  padding-left: 0 !important;
}
.products{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  margin-top:50px;
  padding-bottom: 100px;
  text-align: center;
}
.element{
  width: 48%;
  margin: 20px 0;
}
.addToCart{
  padding: 10px 26px;
  background-color:#000;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
.price{
  margin-bottom: 20px;
}
.heading{
  text-align: center;
  padding: 40px 0;
}
.product-detail{
  display:flex;
  padding: 60px 0;
}
.product-item-detail{
  width: 48%;
  margin: 0 auto;
}