/* line 1, ../sass/base.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 6, ../sass/base.scss */
html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

/*PC*/
@media (min-width: 64em) {
  /* line 14, ../sass/base.scss */
  #header {
    height: 80.4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 1px 3px #ccc;
  }

  /* line 27, ../sass/base.scss */
  .logo-img {
    margin: 12px;
  }

  /* line 30, ../sass/base.scss */
  .nav {
    display: flex;
  }
  /* line 32, ../sass/base.scss */
  .nav li {
    list-style: none;
    display: block;
  }
  /* line 36, ../sass/base.scss */
  .nav a {
    text-decoration: none;
    color: #777575;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 56.4px;
    display: block;
  }

  /* line 45, ../sass/base.scss */
  .nav li:hover a {
    background-color: #ccc;
    color: #000;
  }
}
/* line 51, ../sass/base.scss */
#slider {
  background: url(../assets/img/st_new_thumb_sb.jpg) top center/cover no-repeat;
  padding-top: 50%;
  position: relative;
}

/* line 56, ../sass/base.scss */
.sub-slider {
  position: absolute;
  width: 100%;
  bottom: 40px;
  color: #fff;
  text-align: center;
}

/* line 64, ../sass/base.scss */
.sub-content {
  padding-bottom: 70px;
  font-size: 22px;
  font-weight: 600;
}

/* line 71, ../sass/base.scss */
.btn-slider .view-content {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 10px;
}
/* line 77, ../sass/base.scss */
.btn-slider .view-content a {
  color: #fff;
  text-decoration: none;
}
/* line 83, ../sass/base.scss */
.btn-slider .purchase-content {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #f9c74f;
  border: none;
  font-size: 10px;
  margin-left: 12px;
}
/* line 90, ../sass/base.scss */
.btn-slider .purchase-content a {
  color: #fff;
  text-decoration: none;
}

/* line 98, ../sass/base.scss */
.service-content {
  background-color: #f5f5f5;
  width: 100%;
  padding: 60px 0;
}

/* line 103, ../sass/base.scss */
.service-content-heading {
  text-align: center;
  font-size: 20px;
}

/* line 107, ../sass/base.scss */
.service-content-sub {
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: 30px;
  margin-top: -22px;
  padding-bottom: 40px;
}

/* line 115, ../sass/base.scss */
.service-desc {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* line 121, ../sass/base.scss */
.service-desc-about {
  background-color: #fff;
  padding: 40px 16px;
}

/* line 125, ../sass/base.scss */
.service-desc-about-img {
  text-align: center;
}

/* line 128, ../sass/base.scss */
.service-desc-about-img img {
  width: 24px;
}

/* line 131, ../sass/base.scss */
h3.service-desc-about-heading {
  margin: 24px 0;
  text-align: center;
  font-size: 16px;
}

/* line 136, ../sass/base.scss */
.service-desc-about-paragraph {
  word-spacing: 1px;
  font-size: 16px;
  color: #c1c4c6;
  text-align: center;
}

/* line 143, ../sass/base.scss */
.ourwork-content {
  padding: 60px 0;
}

/* line 146, ../sass/base.scss */
.ourwork-img {
  display: flex;
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  padding: 40px 0 20px;
}

/* line 155, ../sass/base.scss */
.ourwork-img-line1, .ourwork-img-line2 {
  display: flex;
  justify-content: center;
}
/* line 158, ../sass/base.scss */
.ourwork-img-line1 .img-aboutwork, .ourwork-img-line2 .img-aboutwork {
  margin: 4px 8px;
}

/* line 162, ../sass/base.scss */
.btn-ourwork {
  text-align: center;
}
/* line 164, ../sass/base.scss */
.btn-ourwork .btn-work {
  cursor: pointer;
  background-color: transparent;
  font-weight: 700;
  font-size: 12px;
  border: 1px #000 solid;
  padding: 8px 16px;
}
/* line 171, ../sass/base.scss */
.btn-ourwork .btn-work a {
  color: #000;
  text-decoration: none;
}

/* line 178, ../sass/base.scss */
.background-clients {
  position: relative;
  background: url(./img/bkg-quotes.jpg) top center/cover no-repeat;
  padding-top: 36%;
}

/* line 184, ../sass/base.scss */
.about-clients-say {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* line 189, ../sass/base.scss */
.icon-say {
  text-align: center;
  margin-bottom: 12px;
}

/* line 193, ../sass/base.scss */
.clients-heading {
  color: #fff;
  font-weight: 600;
}

/* line 197, ../sass/base.scss */
.clients-subheading {
  margin-bottom: 50px;
  color: #fff;
}

/* line 202, ../sass/base.scss */
.clients-say-desc {
  margin-bottom: 36px;
  color: #fff;
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
}

/* line 213, ../sass/base.scss */
.clients-tag {
  margin-bottom: 40px;
  color: #fff;
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  font-style: italic;
}

/* line 224, ../sass/base.scss */
.clients-check {
  display: flex;
  align-items: center;
  background-color: #f9c74f;
  padding: 24px 8px;
  justify-content: center;
  text-align: center;
}

/* line 232, ../sass/base.scss */
.clients-check-desc {
  font-style: italic;
}

/* line 238, ../sass/base.scss */
.team-member {
  padding: 60px 0;
}

/* line 241, ../sass/base.scss */
.member-sub {
  padding-bottom: 40px;
}

/* line 244, ../sass/base.scss */
.member-list {
  display: flex;
  max-width: 100%;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/* line 251, ../sass/base.scss */
.half-member, .half-member1 {
  display: flex;
}

/* line 254, ../sass/base.scss */
.member-name {
  text-align: inherit;
  font-size: 16px;
  padding: 12px 0;
}

/* line 260, ../sass/base.scss */
.member-introduce {
  color: #ccc;
  text-align: inherit;
  padding: 12px 0;
}

/* line 266, ../sass/base.scss */
.recent-post {
  background-color: #f5f5f5;
  padding: 60px 0;
}

/* line 270, ../sass/base.scss */
.recent-form {
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  max-width: 100%;
  display: flex;
}
/* line 276, ../sass/base.scss */
.recent-form .recent-outsourcing {
  background-color: #fff;
  flex: 2;
}
/* line 280, ../sass/base.scss */
.recent-form .recent-form-abt {
  padding: 18px;
}

/* line 285, ../sass/base.scss */
.recent-new-abt {
  display: flex;
}

/* line 288, ../sass/base.scss */
.recent-heading {
  text-align: inherit;
  color: #000;
  padding-bottom: 40px;
}

/* line 293, ../sass/base.scss */
.recent-paragraph {
  color: #777575;
  font-size: inherit;
  text-align: inherit;
}

/* line 298, ../sass/base.scss */
.recent-img {
  width: 100%;
}

/* line 301, ../sass/base.scss */
.recent-news {
  margin-left: 12px;
  background-color: #fff;
  flex: 1;
  padding: 16px;
}
/* line 306, ../sass/base.scss */
.recent-news .recent-news-name {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 0;
}
/* line 312, ../sass/base.scss */
.recent-news .hot-news-paragraph {
  color: #2d2a2a;
  padding: 0 16px;
}

/* line 319, ../sass/base.scss */
.contact {
  padding: 60px 0;
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 326, ../sass/base.scss */
.col-half {
  display: flex;
}

/* line 329, ../sass/base.scss */
.contact-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}
/* line 333, ../sass/base.scss */
.contact-form .btn-submit {
  padding: 10px 8px;
  width: 120px;
  cursor: pointer;
  border: none;
  color: #000;
  background-color: #f9c74f;
  font-weight: 700;
}

/* line 343, ../sass/base.scss */
.form-contact-input {
  margin-bottom: 24px;
}

/* line 346, ../sass/base.scss */
.formn-control {
  width: 100%;
  padding: 8px 4px;
  border: 1px #ebebeb solid;
}

/* line 351, ../sass/base.scss */
.contact-list {
  margin-left: 24px;
}
/* line 353, ../sass/base.scss */
.contact-list .contact-item {
  margin-bottom: 18px;
}
/* line 356, ../sass/base.scss */
.contact-list .contact-item-name {
  font-size: 16px;
}
/* line 359, ../sass/base.scss */
.contact-list .contact-item-sub {
  font-size: 14px;
  color: #777575;
}

/* line 364, ../sass/base.scss */
.more-space {
  padding-bottom: 60px;
}

/* line 368, ../sass/base.scss */
#footer {
  background: url(./img/bkg-footer.jpg) top center/cover no-repeat;
  padding-top: 50%;
  position: relative;
}

/* line 373, ../sass/base.scss */
.footer-content {
  position: absolute;
  width: 100%;
  bottom: -75px;
  text-align: center;
}

/* line 379, ../sass/base.scss */
.connect-link {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

/* line 384, ../sass/base.scss */
.split-connect-item {
  display: flex;
}

/* line 387, ../sass/base.scss */
.connect-item {
  padding: 0 20px;
}
/* line 389, ../sass/base.scss */
.connect-item .connect-img {
  width: 46px;
}
/* line 392, ../sass/base.scss */
.connect-item .connect-item-heading {
  color: #fff;
  font-size: 16px;
  padding: 14px 0;
}
/* line 397, ../sass/base.scss */
.connect-item .connect-item-sub {
  color: #fff;
}

/* line 402, ../sass/base.scss */
.footer-contact {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  text-align: initial;
  margin-top: 60px;
}

/* line 411, ../sass/base.scss */
.footer-address-heading {
  padding: 10px 0;
}

/* line 414, ../sass/base.scss */
.address-desc {
  padding-bottom: 10px;
}

/* line 417, ../sass/base.scss */
.footer-connect-item {
  display: flex;
}

/* line 420, ../sass/base.scss */
.sp-footer-space {
  padding: 0 30px;
}
