/* Mobile */
@media (max-width: 740px) {
  /* line 4, ../sass/responsive.scss */
  #main {
    overflow: hidden;
  }

  /* line 7, ../sass/responsive.scss */
  #slider {
    padding-top: 100%;
  }
  /* line 9, ../sass/responsive.scss */
  #slider .btn-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 13, ../sass/responsive.scss */
  #slider .btn-slider .view-content, #slider .btn-slider .purchase-content {
    width: 84px;
  }
  /* line 16, ../sass/responsive.scss */
  #slider .btn-slider .purchase-content {
    margin: 12px 0;
  }

  /* line 22, ../sass/responsive.scss */
  .service-desc {
    flex-direction: column;
  }
  /* line 24, ../sass/responsive.scss */
  .service-desc .service-desc-about {
    width: 30%;
    margin: 30px 7px;
  }

  /* line 30, ../sass/responsive.scss */
  .background-clients {
    padding-top: 110%;
  }

  /* line 33, ../sass/responsive.scss */
  .clients-subheading {
    margin-bottom: 18px;
  }

  /* line 36, ../sass/responsive.scss */
  .clients-check {
    display: flex;
    flex-direction: column;
  }

  /* line 40, ../sass/responsive.scss */
  .btn-ourwork {
    padding-top: 10px;
  }

  /* line 43, ../sass/responsive.scss */
  .clients-tag, .clients-say-desc {
    margin-bottom: 16px;
  }

  /* line 46, ../sass/responsive.scss */
  .ourwork-img {
    flex-direction: row;
  }

  /* line 49, ../sass/responsive.scss */
  .ourwork-img-line1, .ourwork-img-line2 {
    flex-direction: column;
  }

  /* line 52, ../sass/responsive.scss */
  .img-mobile-work {
    width: 100%;
  }

  /* line 55, ../sass/responsive.scss */
  .ourwork-img-line1, .ourwork-img-line2 {
    width: 50%;
  }

  /* line 58, ../sass/responsive.scss */
  .half-member {
    flex-direction: column;
  }

  /* line 61, ../sass/responsive.scss */
  .mobile-width {
    width: 80%;
    display: block;
    margin-left: 16px;
  }

  /* line 66, ../sass/responsive.scss */
  .half-member1 {
    margin-left: 10px;
    flex-direction: column;
  }

  /* line 70, ../sass/responsive.scss */
  .member-list {
    padding: 0 6px;
  }

  /* line 73, ../sass/responsive.scss */
  .member-name {
    text-align: center;
  }

  /* line 76, ../sass/responsive.scss */
  .member-introduce {
    text-align: center;
  }

  /* line 79, ../sass/responsive.scss */
  .recent-news {
    display: none;
  }

  /* line 82, ../sass/responsive.scss */
  .recent-outsourcing {
    margin: 0 12px;
  }

  /* line 85, ../sass/responsive.scss */
  .contact-form {
    margin: 0 12px;
  }

  /* line 88, ../sass/responsive.scss */
  .contact-item {
    margin-top: 20px;
  }

  /* line 91, ../sass/responsive.scss */
  .col-half {
    flex-direction: column;
  }

  /* line 94, ../sass/responsive.scss */
  #footer {
    padding-top: 300%;
  }

  /* line 97, ../sass/responsive.scss */
  .connect-link {
    flex-wrap: wrap;
  }

  /* line 100, ../sass/responsive.scss */
  .footer-contact {
    flex-direction: column;
  }

  /* line 103, ../sass/responsive.scss */
  .footer-address {
    margin: 0 10px;
    border-bottom: 1px #f5f5f5 solid;
    padding-bottom: 20px;
  }

  /* line 108, ../sass/responsive.scss */
  .footer-address-heading, .footer-connect-item {
    margin: 4px 10px;
  }

  /* line 111, ../sass/responsive.scss */
  .footer-connect {
    margin: 0 10px;
  }

  /* line 114, ../sass/responsive.scss */
  .footer-connect-item {
    padding-bottom: 40px;
  }
}
/*PC*/
@media (min-width: 64em) {
  /* line 122, ../sass/responsive.scss */
  #slider {
    margin-top: 80.4px;
  }

  /* line 125, ../sass/responsive.scss */
  .btn-slider {
    padding-bottom: 192px;
  }

  /* line 128, ../sass/responsive.scss */
  .text-content {
    font-size: 60px;
    padding-bottom: 100px;
  }

  /* line 132, ../sass/responsive.scss */
  .btn-ourwork {
    padding-left: 60px;
  }

  /* line 136, ../sass/responsive.scss */
  .member2 {
    margin-left: 24px;
    margin-right: 12px;
  }

  /* line 140, ../sass/responsive.scss */
  .member3 {
    margin-left: 12px;
    margin-right: 24px;
  }
}
