@import "@/styles/_variable";
@import "@/styles/_common";
@import "@/styles/_breakpoints";


.app {
    overflow: hidden;
    position: relative;

    //auth
    .auth {
        position: fixed; 
        bottom: 0;   
        top: 0;
        left: 0;
        right: 0;
        z-index: 4;
        user-select: none;
    }
    
    //home
    #home {
        @include breakpoints(sm) {
            margin-top: 100px;
        }

        .container {
    
            .wrapper {
    
                @include breakpoints(sm) {
                    flex-direction: column;
                }
    
                .home__title {
                    max-width: 500px;
    
                    &-heading {
                        color: $green-color;
                        font-size: 64px;
                        font-weight: bold;
                        font-family: $font-family-home;
                    }
    
                    &-subHeading {
                        color: $subTitle-color;
                        font-size: 36px;
                        font-weight: bold;
                        font-family: $font-family-home;
                    }
                }
    
                .home__image {
    
                    @include breakpoints(sm) {
                        margin: 40px auto 0;
                    }
    
                    img {
                        width: 572px;
                        height: 580px;
                    }
    
                    @include breakpoints(sm) {
    
                        img {
                            width: 400px;
                            height: 407px;
                        }
                    }
                }
    
            }
        }
    }
    
    //about
    #about {
        
        .container {
    
            .wrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
    
                @include breakpoints(sm) {
                    display: flex;
                    flex-direction: column-reverse;
                }
    
                .about__image {
                   
                    @include breakpoints(sm) {
                        margin-top: 40px;
                        margin: 0 auto;
                    }
    
                    img {
                       width: 400px;
                        object-fit: cover;
                        border-radius: 10px;
                        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    
                        @include breakpoints(sm) {
                            margin-top: 40px;
                        }
                    } 
                }
    
                .about__intro {
                    
                    @include breakpoints(sm) {
                        text-align: center;
                    }
    
                    &-title {
                        font-size: 16px;
                        color: $green-color;
                        font-weight: bold;
                    }
    
                    &-heading {
                        font-size: 40px;
                        font-weight: bold;
                    }
    
                    &-description {
                        font-size: 16px;
                        color: $text-color;
                    }
                }
            }
        }
    }
    
    //service
    #services {
    
        .container {
    
            .wrapper {
                display: flex;
                
                .services__intro {
                    margin: 0 auto;
                    text-align: center;
    
                    &-title {
                        font-size: 16px;
                        color: $green-color;
                        font-weight: bold;
                    }
    
                    &-heading {
                        font-size: 40px;
                        font-weight: bold;
                    }
    
                }
    
                .services__container {
    
                    .services__list {
                        display: flex;
                        padding: 0;
                        margin: 0;
    
                        @include breakpoints(sm) {
                            flex-direction: column;
                        }
    
                        .services__item {
                            text-align: center;
    
                            &-img {
                                margin: 0 auto;
                                padding: 10px 0px;
                            }   
    
                            &-heading {
                                font-weight: bold;
                                font-size: 20px;
                                padding: 10px 0px;
                            }
    
                            &-description {
                                font-size: 16px;
                                font-weight: bold;
                                color: $text-color;
                                padding: 10px 0px;
                            }
                        }
                    }
                }
    
            }
        }
    }
    
    //menu
    #menu {
    
        .container {
            background-color: #fff;
            box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
            padding: 30px 50px;
            border-radius: 10px;
            position: relative;
            
            @include breakpoints(sm) {
                padding: 0px;
                border-radius: 0px;
            }
            .wrapper {
                // flex-direction: column;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                
                @include breakpoints(sm) {
                    padding: 0px;
                    border-radius: 0px;
                    flex-wrap: nowrap;
                }

                .menu__intro {
                    margin: 0 auto;
                    text-align: center;
                    
                    @include breakpoints(sm) {
                        padding: 20px 0px;
                    }

                    &-title {
                        font-size: 16px;
                        color: $green-color;
                        font-weight: bold;
                    }
    
                    &-heading {
                        font-size: 40px;
                        font-weight: bold;
                    }
                }
    
                .menu__filter-btn {
                    display: flex;
                    justify-content: space-around;
                    margin: 20px 0px;

                    @include breakpoints(sm) {
                        overflow-x: auto;
                        /* Hide scrollbar for Chrome, Safari and Opera */
                        &::-webkit-scrollbar {
                            display: none;
                        }

                        /* Hide scrollbar for IE, Edge and Firefox */
                        & {
                        -ms-overflow-style: none;  /* IE and Edge */
                        scrollbar-width: none;  /* Firefox */
                        }

                        justify-content: flex-start;
                        margin: 0 24px;
                    }

                    button {
                        @include breakpoints(sm) {
                            margin-right: 4px;
                            padding: 10px 0px;
                            min-width: 140px;
                        }
                    }
                }
    
                .menu__dishes {
                    margin: 40px 0px;

                    &-list {
                        padding: 0;
                        margin: 0;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        grid-row-gap: 40px;
                        grid-column-gap: 40px;
                        
                        @include breakpoints(sm) {
                            grid-template-columns: repeat(2, 1fr);
                            padding: 0px 24px;
                            grid-row-gap: 20px;
                            grid-column-gap: 20px;
                        }
                        
                        .menu__dishes-item {
                            display: flex;
                            flex-direction: column;
                            background-color: #fff;
                            box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
                            border-radius: 15px;
                            padding: 20px;
                            margin: 6px;
                            transition: transform ease-in 0.1s;
                            will-change: transform;

                            &:hover {
                                transform: translateY(-1px);
                            }

                            &-bg {
                                padding-top: 100%;
                                position: relative;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                border-radius: 100%;
                            }
    
                            &-name {
                                font-size: 20px;
                                margin: 7px 0px;
                                @include breakpoints(sm) {
                                    margin: 14px 0px 6px;
                                }
                            }
    
                            &-price {
                                font-size: 16px;
                                font-weight: bold;
                            }

                            &-cart {
                                right: 0;
                                position: absolute;
                                bottom: 0;
                                background-color: $green-color;
                                border-bottom-right-radius: 15px;
                                padding: 10px;
                                cursor: pointer;
                                
                                &:hover {
                                    opacity: 0.8;
                                }

                                .cart-icon {
                                    font-size: 20px;
                                    color: $white-color;
                                }
                            }
    
                        }
                    }
                }
            }
        }
    }
    
    //reservation
    #table {
        
        .container {
            padding: 30px 50px;
            
            @include breakpoints(sm) {
                padding: 0px;
            }

            .wrapper {
                flex-direction: column;
    
                .table__intro {
                    margin: 0 auto;
                    text-align: center;
    
                    &-title {
                        font-size: 16px;
                        color: $green-color;
                        font-weight: bold;
                    }
                    
                    &-heading {
                        font-size: 40px;
                        font-weight: bold;
                    }
                }
    
                .table__reservation {
                    margin: 40px 0px;
                    
                    &-list {

                        @include breakpoints(sm) {
                            margin: 0px 14px;
                        }

                        .table__reservation-item {                       
                            position: relative;
                            width: 100%;
                            margin: 0px 16px !important;
                           
                            @include breakpoints(sm) {
                                margin: 0px 8px !important;
                            }
                            .overlay {
                                top: 0;
                                bottom: 0;
                                position: absolute;
                                z-index: 100;
                                background: rgba(50, 70, 80, 0.7); 
                                width: 100%;
                                margin: 0 auto;
                                display: none;
                            }
                            
                            .reservation-icon {
                                font-size: 40px;
                                color: $beige-color;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                cursor: pointer;
                            }
    
                            @keyframes booking {
                                from { 
                                    opacity: 0;
                                }
                                to {
                                    opacity: 1;
                                }
                            }
    
                            &:hover .overlay{
                                display: block;  
                                animation-name: booking;
                                animation-duration: 1.5s; 
                            }
    
                            .table-image {
                                width: 282px;
                                height: 142px;
                            }
    
                            &-info {
                                display: flex;
                                flex-direction: column;
                                padding: 8px;
                                background-color: #fff;
                                box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
                                border-bottom: 2px inset;
    
                                .table-name {
                                    font-weight: bold;
                                    font-size: 20px;
                                    margin: 0px;
                                }
                                
                                .table-quality {
                                    color: $text-color;
                                    font-size: 16px;
                                    font-weight: bold;
                                    
                                    .table-size {
                                        
                                    }
    
                                    .cross {
                                        margin-left: 8px;
                                    }
         
                                    .table-type {
                                        margin-left: 8px;
                                    }
                                }
    
                                .table-description {
                                    margin-top: 8px;
                                    overflow: hidden;
                                    display: block;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 4;
                                }
                            }
                        }
    
                        .swiper-slide {
                            width: 0 !important;
                            margin-right: 0 !important;
                            background-color: $white-color !important;
                        }
    
                        .swiper-button-prev, .swiper-button-next {
                            color: $green-color;
                        }
                    }
                }
            }
        }
    }

    //banner
    #banner {
        background-image: url("../../../public/img/backgrounds/banner-footer.png");
        background-position: center;
        background-size: cover;
        padding: 80px;
        margin: 0px 0px 20px 0px;

        .container {

            .wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .banner__title {
                    text-align: center;
                    color: $white-color;
                    
                    .banner__title-text {
                        font-size: 20px;
                        font-weight: bold;
                        padding: 10px 0px;
                    }

                    .banner__title-heading {
                        font-size: 30px;
                        font-weight: bold;
                        color: $white-color;
                        padding: 10px 0px;
                    }
                }

                .banner__email {
                    position: relative;
                    display: flex;
                    justify-content: center;

                    .banner-ipt {
                        padding: 16px 20px;
                        width: 350px;
                        border: none;
                    }

                    .banner-icon {
                       position: absolute;
                       top: 50%;
                       transform: translateY(-50%);
                       right: 0;
                       padding: 10px 20px;
                       cursor: pointer;
                    }
                }
            }
        }
    }
}
