$banner_color : #eb681a;
$default-_col : #f5f5f5;
$footer_col : #3a3b40;
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
    // border : 1px solid black;
    // font-size : 16px;
    // display: none;
}
.body-item{
    width : 100%;
    .body-container{
        width: 900px;
        max-width: 100%;
        margin: 0 auto;
    }
}
@font-face {
    font-family: calibri;
    src: url(../assets/fonts/calibri/calibri-regular.ttf);
}
@-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
}
              
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }
