
.header{
    padding: 10px 15px;
    .nav-bar{
        height : auto;
        display: flex;
        justify-content: space-between;
        .nav-logo{
            width: 150px;
            height: 50px;
            .img-logo{
                height: 100%;
                width: 100%;
            }
        }
        .toggle-nav{
            padding: 0.8em 1em ;
            height: auto;
            .toggle-bar{
                height: 0.3em;
                background-color: $banner_color;
                width: 2em;
                margin: auto;
            }
            .toggle-bar:nth-child(2){
                margin : 0.5em 0 ;
            }
        }
    }
}
.main{
    .banner-header{
        .banner-content{
            padding-left: 0;
            padding-right: 0;
            .ban-left{
                background-image: url("../assets/img/home-hero-banner.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: right -550px center;
                z-index: 1 ;
                text-align: center;
                color: #ffffff;
                padding-bottom: 250px;
                padding-top: 50px;
                .ban-left-title{
                    font-size: 32px;
                    font-weight: bold;
                }
                .ban-left-content{
                    width: 100%;
                    margin-top: 30px;
                    .ban-left-text{
                        font-size: 1.7em;
                    }
                }
            }
            .ban-right{
                margin:  -220px 15px 0 15px;
                padding: 30px 50px 30px 30px;
                background-color: #ffffff;
                border-radius: 10px;
                box-shadow: 0px 4px 9px 4px #b1acac;
                .ban-right-title, .i-want{
                    text-align: center;
                }
                .ban-right-title{
                    font-size: 32px;
                    font-weight: bold;
                }
                .i-want{
                    margin: 30px auto;
                    color: #111111;
                }
                .btn-container{
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    .btn-suggest{
                        width: 130px;
                        padding: 8px;
                        text-align: center;
                        border: 1.6px solid #eb681a;
                        color: #eb681a;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                .list-wanted{
                    padding-bottom: 20px;
                    .list-item{
                        .check-desc{
                            display: block;
                            position: relative;
                            padding-left: 35px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            font-size: 22px;
                            br{
                                display: none;
                            }
                            .check-input{
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                            }
                            .checkmark{
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 25px;
                                width: 25px;
                                background-color: #ffffff;
                                border-radius: 50%;
                                border: 2px solid #b1acac;
                            }
                            .checkmark:after {
                                content: "";
                                position: absolute;
                                display: none;
                              }
                        }
                    }
                }
            }
        }
    }
    // end banner header
    .sticker{
        display: none;
    }
    .carousel{
        margin-bottom: 50px;
        margin-top: 50px;
        .car-content{
            padding-left: 15px;
            .car-title{
                font-size: 30px;
                font-weight: 600;
                font-weight: bold;
                text-align: center;
                width: 210px;
                max-width: 100%;
                margin: 50px auto;
            }
            .car-container{
                display: flex;
                overflow: auto;
                overflow-x: auto;
                overflow-y: hidden;
                .car-item:nth-child(1), .car-item:nth-child(2){
                    margin-right: 10px;
                }
                .car-item{
                    position: relative;
                    min-width: 80%;
                    height: 300px;
                    padding: 50px 0 0 50px ;
                    line-height: 1.4;
                    .item-title{
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .car-item-content{
                        padding: 0 30% 0 0;
                        margin-top: 20px;
                    }
                    .btn-explore{
                        position: absolute;
                        bottom: 2em;
                        display: flex;
                        justify-content: space-between;
                        background-color: #ffffff;
                        padding: 5px 10px;
                        width: 110px;
                        .btn-img{
                            border: 2px solid black; 
                            border-radius: 50%;
                            height: auto; width: auto;
                        }
                    }
                }
                .car-item:nth-child(1){
                    background-image: url("../assets/img/loan-product-item-001.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position:bottom center;
                }
                .car-item:nth-child(2){
                    background: url("../assets/img/loan-product-item-002.jpg") ;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: bottom center;
                }
                .car-item:nth-child(3){
                    background-image: url("../assets/img/loan-product-item-003.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
    // end carrousel
    .about-us{
        background-color: #f5f5f5;
        text-align: center;
        padding: 50px 50px 0 50px;
        position: relative;
        .about-us-header{
            text-align: center;
            .about-title{
                color: $banner_color;
                font-size: 1.8em;
                font-weight: bold;
                margin: 20px auto;
            }
            .about-heading-desc{
                font-weight: 400;
                font-size: 18px;
            }
        }
        .about-us-header::after{
            content: "";
            display: block;
            width: 100%;
            height: 1.5px;
            background-color: #b1acac;
            margin: 30px 0;
        }
        .about-us-content{
            margin-top: 50px;
            .about-container{
                text-align: left;
                margin-bottom: 40px;
                .about-img{
                    width: 100%;
                    img{
                        height: 100px;
                        width: 100px;
                        position: relative;
                        left: -25px;
                    }
                }
                .all-item{
                    text-align: left;
                    .solution-title{
                        font-size: 1.3em;
                        font-weight: bold;
                        color: $banner_color;
                        margin :  1.5em 0 1.5em 0;
                    }
                    .list-all-about{
                        list-style: none;
                        margin-right: 60px;
                        width: 100%;
                        line-height: 1.6;
                        .list-about-item::before{
                            content: "";
                            min-width: 4px;
                            height: 4px;
                            background-color: #111111;
                            border-radius: 50%;
                            display: inline-block;
                            margin-bottom: 5px;
                            position: relative;
                            top: 3px;
                            left: -15px;
                        }
                    }
                }
            }
            .hr-about{
                display: none;
            }
        }
    }
    .about-us-footer{
        background-image: url("../assets/img/frame_02.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 150px;
        margin-top: -40px;
    }
    // end about us
    .cus-evaluate{
        position: relative;
        padding-bottom: 50px;
        .cus-content{
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 750px;
            max-width: 100%;
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;
            .arrow-left, .arrow-right{
                position: relative;
                width: 30px !important;
                cursor: pointer;
                // border: 1px solid black;
            }
            .arrow-left{
                img{
                    width : 30px;
                    height : 30px;
                    position: absolute;
                    top: 540px;
                    left: -10px;
                }
            }
            .arrow-right{ 
                img{
                    width : 30px;
                    height : 30px;
                    position: absolute;
                    top: 540px;
                    right: -10px;
                }
            }
            .slide-container{
                width: 600px;
                max-width: 100%;
                margin: 0 auto;
                padding: 0 15px;
                .cus-title{
                    font-size: 30px;
                    font-weight: bolder;
                    text-align: center;
                    margin: 40px 0;
                }
                .fade {
                    -webkit-animation-name: fade;
                    -webkit-animation-duration: 1.5s;
                    animation-name: fade;
                    animation-duration: 1.5s;
                }
                .mySlides{
                    width: 100%;
                    .cus-info{
                        box-shadow:  0px 1px 14px 2px rgba(122, 120, 120, 0.75);;
                        border: 4px solid #f5f5f5;
                        background-color: #efefef;
                        padding: 50px 40px;
                        .ava-cus{
                            width: 100%;
                            height : 50%;
                            img{
                                width: 100%;
                                height : 100%;
                            }
                        }
                        .cus-detail{
                            .cus-rate{
                                width : 100%;
                                display: flex;
                                justify-content: space-between;
                                margin : 1em 0 0 0 ;
                                img{
                                    margin : 0 0 0 0;
                                    max-width: 20%;
                                    height : 100%;
                                }
                            }
                            .cus-name{
                                text-align: left;
                                margin: 24px 0;;
                            }
                        }
                    }
                    
                }
            }
        }
    }
    // end customer rating
}
.footer{
    .footer-header{
        background-color: #efefef;
        .footer-header-content{
            padding: 20px 50px;
            .footer-header-title{
                font-size: 24px;
                font-weight: bolder;
                margin-bottom: 20px;
                text-align: center;
            }
            .footer-header-contact{
                .contact-item{
                    display: flex;
                    justify-content: left;
                    .img-contact{
                        width: 50px;
                        height: auto;
                        img{
                            position: relative;
                            bottom: 5px;
                            width: 100%;
                        }
                    }
                    .con-text{
            
                    }
                }
            }
        }
    }
    .footer-banner{
        background-image:url("../assets/img/home-banner-app-install-mobile.jpg") ;  
        background-size: cover;
        background-repeat: no-repeat ;
        background-position: top center;
        height: 600px;
        background-color: #3a3b40;
        .footer-banner-content{
            padding: 30px 50px;
            height: 100%;
            position: relative;
            .contact-mobile{
                font-size: 1.7em;
                color: #f5f5f5;
                font-weight: bolder;
            }
            .contact-desktop{
                display: none;
            }
            .app{
                display: flex;
                margin : 2em 0 0 0 ;
                width: 70%;
                .app-store{
                    margin-right: 10px;
                    width: 40%;
                    img{
                        height : 100%;
                        width : 100%;
                    }
                }
            }
            .next-top{
                position: absolute;
                right : 50px;
                bottom: -16px;
                background-color: #f5f5f5;
                height: 32px;
                width : 32px;
                border-radius: 50%;
                text-align: center;
                img{
                    margin-top:25%;
                    height: 50%;
                    width : 50%;
                }
            }
        }
    }
    .footer-end{
        padding-top: 40px;
        background-color: #3a3b40;
        color: #dbd3d3;
        padding-bottom: 32px;
        .list-contact{
           .sub-list{
               display: flex;
               justify-content: center;
                text-decoration: none;
               margin: 10px 0;
                .hide{
                   display: none;
               }
                .hr-contact{
                    height: 24px;
                    width: 1px;
                    margin: 0 20px;
                    background-color: #f5f5f5;
                    border: 0.01px solid #f5f5f5;
                }
                .list-contact-item{
                    color: #ffffff;
                    font-weight: 600;
                }
           }
        }
        .list-contact-desktop{
            display: none;
        }
        .contact-net{
            .contact-title{
                margin: 2em 0;
                text-align : center;
                color: #afaaaa;
                font-size: 0.9em;;
            }
            .list-app{
                height : 2em;
                display: flex;
                justify-content: center;
                padding: 0 30%;
                .app-2{
                    margin: 0 20px;
                }
                img{
                    height: 100%;
                    width : 100%;
                    color: #afaaaa;
                }
            }
        }
        .contact-net::after{
            content: "";
            display: block ;
            margin: 20px auto;
            height: 1.5px;
            background-color: #dbcccc;
            margin: 30px 15px;
        }
        .address{
            color: #afaaaa;
            text-align: center;
            padding: 0 5%;
            .site-net{
                display: flex;
                justify-content: center;
                .hr-reverse{
                    height : 1em;
                    width : 0.1em;
                    background-color: #ffffff;
                    margin : 0.2em 0.4em ;
                }
            }
        }
    }
}