@import "mixin";
@import "default";
@import "mobile";

// desktop

@media only screen and (min-width:767px) {
    .main{
        .banner-header{
            background-image: url("../assets/img/home-hero-banner.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            .banner-content{
                padding-left: 0;
                padding-right: 0;
                display: flex;
                justify-content: space-between;
                .ban-left{
                    background-image: none;
                    width: 40%;
                    z-index: 1 ;
                    text-align: left;
                    padding-bottom: 50px;
                    .ban-left-title{
                    }
                    .ban-left-content{
                        .ban-left-text{
                        }
                    }
                }
                .ban-right{
                    margin:  0 20px 0 20px;
                    padding: 30px 50px 30px 30px;
                    background-color: transparent;
                    border-radius: 10px;
                    box-shadow: none;
                    color: #f5f5f5;
                    .ban-right-title, .i-want{
                        text-align: left;
                    }
                    .ban-right-title{
                        font-size: 18px;
                    }
                    .i-want{
                        color: #f5f5f5;
                    }
                    .btn-container{
                        display: flex;
                        justify-content: center;
                        cursor: pointer;
                        .btn-suggest{
                            width: 130px;
                            padding: 8px;
                            text-align: center;
                            border: 1.6px solid #eb681a;
                            color: #eb681a;
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }
                    .list-wanted{
                        padding-bottom: 20px;
                        .list-item{
                            .check-desc{
                                display: block;
                                position: relative;
                                padding-left: 35px;
                                margin-bottom: 12px;
                                cursor: pointer;
                                font-size: 13px;
                                line-height: 1.5;
                                br{
                                    display: block;
                                }
                                .check-input{
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                }
                                .checkmark{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 25px;
                                    width: 25px;
                                    background-color: #ffffff;
                                    border-radius: 50%;
                                    border: 2px solid #b1acac;
                                }
                                .checkmark:after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                  }
                            }
                        }
                    }
                }
            }
        }
        .sticker{
            width: 70px;
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 40%;
            right: 0;
            z-index: 1;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .carousel{
            padding: 0;
            margin-bottom: 50px;
            .car-content{
                .car-title{
                    width: 100%;
                    text-align: left;
                    margin-bottom: 30px;
                    font-size: 22px;
                    br{
                        display: none;
                    }
                }
                .car-container{
                    .car-item:nth-child(1), .car-item:nth-child(2){
                        margin-right: auto;
                    }
                    .car-item{
                        min-width: 32% ;
                        .item-title{
                            font-size: 20px;
                            font-weight: bold;
                        }
                        .car-item-content{
        
                        }
                        .btn-explore{
                            position: absolute;
                            bottom: 1.5em;
                            display: flex;
                            justify-content: space-between;
                            background-color: #ffffff;
                            padding: 5px 10px;
                            width: 110px;
                            .btn-img{
                                border: 2px solid black; 
                                border-radius: 50%;
                                height: auto; width: auto;
                            }
                        }
                    }
                    .car-item:nth-child(1){
                        background-image: url("../assets/img/bg-banner-mobile.png");
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: bottom center;
                    }
                    .car-item:nth-child(2){
                        background: url("../assets/img/loan-product-item-002.jpg") no-repeat ;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: bottom center;
                    }
                    .car-item:nth-child(3){
                        background-image: url("../assets/img/loan-product-item-003.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                }
            }
        }
        .about-us{
            padding: 50px 100px;
            .about-us-header::after{
                display: none;
            }
            .about-us-content{
                display: flex;
                justify-content: center;
                .hr-about{
                    display: block;
                    margin: 0 30px;
                }
                .about-container{
                    width: 30%;
                    
                .all-item{
                    .list-all-about{
                        .list-about-item::before{
                            content: "";
                            min-width: 4px;
                            height: 4px;
                            background-color: #111111;
                            border-radius: 50%;
                            display: inline-block;
                            margin-bottom: 5px;
                            margin-right: 6px ;
                            position: relative;
                            top: 2px;
                            left: 0px;
                        }
                    }
                }
                }
            }
           
        }
        .about-us-footer{
            background-image: url("../assets/img/frame_01.png");
            background-size: cover;
            background-repeat: no-repeat;
            height: 160px;
            margin-bottom: 50px;
        }
        .cus-evaluate{
            text-align: center;
            position: relative;
           .cus-content{
                .arrow-left, .arrow-right{
                    img{
                        top: 300px;
                    }
                }
                .slide-container{
                    .cus-title{
                        font-size: 27px;
                        padding: 0 30px;
                        br{
                            display: none;
                        }
                    }
                    .mySlides{
                        .cus-info{
                            display: flex;
                            background-color: #efefef;
                            padding: 50px;
                            width: 100%;
                            height: 100%;
                            .ava-cus{
                                width: 40%;
                                height: 187px;
                                padding-right: 20px;
                            }
                            .cus-detail{
                                width: 60%;
                                height: 100%;
                                .cus-rate{
                                    width : 100%;
                                    display: flex;
                                    justify-content: initial;
                                    margin : 8px 0 0 0 ;
                                    img{
                                        margin : 0 10px 0 0 ;
                                        max-width: 10%;
                                        height : 100%;
                                    }
                                }
                                .cus-name{
                                    text-align: left;
                                    margin: 24px 0;;
                                }
                            }
                        }
                    
                    }
                }
           }
        }
    }
    .footer{
        .footer-header{
            .footer-header-content{
                padding: 40px 0  ;
                display: flex;
                justify-content: space-between;
                .footer-header-title{
                    width: 45%;
                    text-align: left;
                }
                .footer-header-contact{
                    width: 55%;
                    display: flex;
                    justify-content: space-around;
                    .contact-item{
                        display: flex;
                        justify-content: left;
                        .img-contact{
                            width: 50px;
                            height: auto;
                            img{
                                position: relative;
                                bottom: 5px;
                                width: 100%;
                            }
                        }
                        .con-text{
                
                        }
                    }
                }
            }
        }
        .footer-banner{
            height: 380px;
            background-image:url("../assets/img/home-banner-app-install.jpg");
            background-size: cover;
            background-repeat: no-repeat ;
            background-position: center;
            .footer-banner-content{
                padding: 50px 0;
                .contact-item{
                    display: none;
                }
                .contact-desktop{
                    display: block ;
                    font-size: 1.4em;
                    color: #f5f5f5;
                    font-weight: bolder;
                }
                .contact-mobile{
                    display: none;
                }
                .app{
                    display: flex;
                    margin : 32px 0 0 0 ;
                    width: 400px;
                    .app-store{
                        margin-right: 10px;
                        width: 70%;
                        img{
                            height : 100%;
                            width : 100%;
                        }
                    }
                }
                .qr-code{
                    display: flex !important;
                    margin-top: 40px;
                    .img-qr{
                        width: 100px;
                        height: 100px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .qr-text{
                        margin: 20px 25px;
                        color: #f5f5f5;
                    }
                }
                .next-top{
                    right: 0;
                }
            }
        }
        .footer-end{
            .list-contact{
                display: none;
            }
            .list-contact-desktop{
                display: flex !important;
                justify-content: space-between;
                list-style: none;
                .hr-contact{
                    height: 24px;
                    width: 1px;
                    background-color: #f5f5f5;
                    border: 0.01px solid #f5f5f5;
                }
            }
            .contact-net::after{
                margin: 30px 0;
            }
        }
    }
}
