*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    text-align: left;
    margin: 0 auto;
}
.main{
    overflow: hidden;
}

header {
    display: flex;
    height: 80px;
    width: 100%;
}
.headerpos{
    position: fixed;
    top: 0px;
    background: white;
}

header .logo {
    margin-left: 250px;
}

header .logo img {
    margin: 13px 0;
}

header .menubar {
    margin-left: 250px;
}

header .menubar ul {
    list-style-type: none;
    margin: 0px 250px;
    padding: 0;
    overflow: hidden;
}

header .menubar ul li {
    float: left;
}

header .menubar ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-family: arial;
    font-weight: normal;
}

header .menubar ul li a:hover {
    background-color: rgb(236, 236, 236);
}

.menu-reponesive{
    display: none;
}

.aslide {
    display: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    height: 200px;
    width: 100%;
    color: white;
}

.aslide img {
    float: right;
    object-fit: cover;
    height: 700px;
    width: 100%;
}

.input-slide{
    justify-content: center;
}

#slide_1 {
    display: block;
}

#slides {
    position: relative;
    width: 100%;
    height: 700px;
}
.text-slide{
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    padding: 100px;
}
.text-slide strong{
    font-weight: bold;
    font-size: 60px;
    margin: 80px 0;
    display: block;
}
.text-slide p{
    font-size: 25px;
    font-weight: bold;
}
.text-slide input{
    justify-content: center;
    width: 170px;
    height: 40px;
    background: none;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    margin: 50px 10px;
}
.text-slide input:hover{
    background: rgb(255, 208, 0);
}

#slides button {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 320px;
    border: none;
}

#slides button:hover {
    background-color: #FFFF;
}

#c1 {
    left: 10px;
}

#c2 {
    right: 10px;
}

#dot {
    width: 100px;
    margin: 20px auto;
    position: absolute;
    bottom: 10px;
    left: 49%;
}
.input-slide .ab{
    background:rgb(247, 176, 62);
    border: none;
}

#dot div {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: white;
    display: inline-block;
    margin-left: 3px;
}

#dot #dot_1 {
    background: rgb(250, 205, 4);
}

.cards{
    width: 100%;
    padding: 40px;
    text-align: center;
    background-color:rgb(245, 245, 245);
}
.mycard{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.icon img{
    width: 30px;
    height: 30px;
    margin: 30px 0;
}
.content hr{
    background-color: black;
    height: 4px;
    width: 50px;
    margin: 10px auto;
}
.ourwork button{
    width: 150px;
    height: 35px;
    border: 1px solid black;
    font-weight: bold;
    margin: 20px 0;
}
.card{
    width: 280px;
    height: 400px;
    padding: 40px;
    background-color: white;
    margin: 10px 10px;
}
.card strong{
    margin: 30px 0;
    display: block;
}
.lorem{
    color: rgb(167, 165, 165)
}


.ourwork{
    text-align: center;
    padding: 40px;
}
.imgs1 img{
    object-fit: cover;
    margin: 5px 5px;
    width: 250px;
}

.content2{
    background: url('../assets/img/bkg-quotes.jpg') no-repeat;
    width: 100%;
    padding: 50px;
    background-size: cover;
    background-position: center center;
    text-align: center;
}
.content2 img{
    margin: 20px 0;
}
.content2 strong{
    margin: 5px 0;
    color: rgb(243, 243, 243);
    display: block;
}
.content2 hr{
    background-color: white;
    height: 4px;
    width: 50px;
    margin: 10px auto;
}
.content2 p{
    color: rgb(226, 226, 226);
    margin: 20px 0;
    padding: 0 10px;
    width: 520px;
    margin: 10px auto;
}
.conten2-2{
    padding: 40px;
}
.content2 span{
    font-style: italic;
    color: rgb(240, 240, 240);
    margin-top: 35px;
    display: block;
}
.content3{
    background: rgb(253, 220, 29);
    height: 75px;
    padding: 25px 250px 25px 420px;
    font-style: italic;
    font-size: 20px;
}
.content3 button{
    width: 120px;
    height: 25px;
    font-weight: bold;
    border: 1px solid black;
    background-color: rgb(253, 220, 29);
    margin-left: 70px;
}

.members{
    display: flex;
}
.team{
    padding: 60px;
    width: 100%;
    text-align: center;
}
.member{
    display: flex;
    margin: 40px 0;
    justify-content: center;
}
.member1{
    width: 178px;
    margin: 15px 25px;
    text-align: left;
}
.member1 p{
    color:rgb(116, 114, 114);
    text-align: left;
    margin-top: 20px;
}
.member1 strong{
    margin: 15px 0;
    display: block;
}

.ourpost{
    background:rgb(233, 230, 230);
    width: 100%;
    padding: 40px;
    padding-top: 60px;
    text-align: center;
    
}
.our1{
    display: flex;
    padding: 30px;
    justify-content: center;
    margin-top: 20px;
}
.our-text{
    background: white;
    text-align: left;
    padding: 20px;
    width: 590px;
}
.our-text strong{
    margin: 20px 0;
    display: block;
}
.our-text p{
    color:rgb(117, 117, 117);
}
.our-1-2{
    background: white;
    padding: 20px;
    text-align: left;
    margin: 0 10px;
    height: 320px;
}
.our-img img{
    display: block;  
}
.our-img2{
    display: flex;
    width: 200px;
    height: 70px;
}
.our-1-2 img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin: 10px 0;
}
.our-img2 p{
    margin: 10px 10px;
}
.contact{
    padding: 40px;
    padding-top: 60px;
    text-align: center;
    
}
.form-contact{
    display: flex;
    margin: 50px auto;
}
.form-contact1{
    text-align: left;
    width: 590px;
    margin-left: 27%;
}
.form-contact1 input{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(168, 167, 167);
    margin: 10px auto;
    padding: 10px;
}
.form-contact1 .texteara{
    height: 80px;
    padding-bottom: 57px;
}
.form-contact1 button{
    width: 120px;
    height: 37px;
    margin: 10px 0;
    border: none;
    background: rgb(247, 203, 62);
    font-weight: bold;
}
.form-contact textarea{
    width: 100%;
    height: 80px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(149, 149, 149);
    font-size: 15px;
}

.location{
    text-align: left;
}
.location p{
    color: rgb(163, 162, 162);
    margin: 5px 0;
}
.text-location{
    margin: 10px 20px;
    font-size: 15px;
}
.margin{
    margin: 19px 20px;
}

.connect{
    background: url('../assets/img/bkg-footer.jpg') no-repeat;
    width: 100%;
    padding: 50px;
    background-size: cover;
    background-position: bottom center;
    text-align: center;
}
.icon-connect{
    display: flex;
    margin: 20px auto;
    height: 400px;
    padding: 50px;
    text-align: center;
    justify-content: center;
}
.icon1{
    margin: 15px 60px;
    
}
.icon-connect img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 35px 0;
}
.icon-connect strong{
    margin: 10px 0;
    display: block;
    color: white;
}
.icon-connect p{
    color: white;
    margin: 30px 0;
}
.colorw{
    color: white
}
.bgrw{
    background-color: white !important;
}

.footer{
    width: 100%;
    background: black;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 40px;
    display: flex;
    justify-content: center;
}
.lienhe{
    margin: 20px 30px;
    width: 450px;
}
.lienhe strong{
    margin: 5px 0;
    display: block;
}
.text-1{
    margin: 15px 0;
}
.text-1 p{
    margin: 3px 0;
    height: 30px;
}
.text-icon{
    display: flex;
}
.text-icon img{
    object-fit: cover;
    margin: 10px 10px 10px 0;
    width: 15px;
    height: 15px;
}
.text-icon p{
    margin: 10px 0;
}
.lienket{
    padding: 10px;
    margin: 7px;
    
}
.lienket strong{
    margin: 10px 0;
    display: block;
}
.superdiv{
    display: flex;
}
.lienket1{
    margin: 10px 20px;
}
.lienket1-1{
    margin: 10px 0;
    width: 130px;
}
.lienket1-1 a{
    text-decoration: none;
    color: white;
    margin: 0 3px;
}
.lienket1-1 .aimg{
    margin-left: 17px;
    margin-top: -16px;
    display: block;
}

#nav{
    display: none;
}

.icon-menu div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px -100px;
}
.icon-menu{
    margin: 25px 0;
    margin-left: 240px;
}
.menu{
    background-color:white;
    width: 100vh;
}

.menu a{
    text-decoration: none;
    width: 90%;
    height: 20px;
    background-color: white;
    color:black;
    margin: 10px 10px;
    display: block;
    padding: 10px;
    font-size: 20px;
}
.menu a:hover{
    background-color: rgb(204, 201, 201);
    width: 100vh;
    padding: 11px;
    margin: 0;
    height: 40px;
}
.input-slide{
    display: flex;
}
.content3 br{
    display: none;
}
.icon1-1{
    display: flex;
}
.display2{
    display: none;
}
.lienket hr{
    background-color: white;
    border: 1px solid white;
}
/* Mobile: width < 740px */



