/*  Mobile: width < 740px */
@media only screen and (max-width: 46.25em){
    body{
        width: 100%;
        
    }
    header{
        width: 100%;
    }
    header .logo{
        margin: 5px 10px;
    }
    .logo img{
        width: 150px;
        object-fit: cover;
    }
    header .menubar{
        display: none;
    }
    header .menu-reponesive{
        display: block;
        margin-left: 6%;
        width: 100px;
    }
    .menu{
        width: 100%;
    }
    #slides{
        height: 482px;
        width: 100%;
    }
    #slides button{
        top: 240px;
        width: 30px;
        height: 30px;
    }
    #slides button img{
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
    #dot{
        left: 44%;
        bottom: -10px;
        width: 50px;
        margin: 0 auto;
    }
    .text-slide{
        padding: 40px;
    }
    .text-slide strong{
        font-size: 25px;
        width: 100%;
        margin: 40px auto;
    }
    .text-slide p{
        font-size: 14px;
    }
    .input-slide{
        flex-direction: column;
        align-items: center;
        height: 100px;
        margin: 40px 0;
        margin-top: 100px
    }
    .input-slide .ab{
        background: rgb(255, 179, 0);
        border: none;
    }
    .input-slide input{
        margin: 5px 0;;
        width: 150px;
    }
    .aslide img{
        width: 100%;
        height: 500px;
    }

    .content strong,.conten2-1 strong, .card strong, .conten2 strong{
        font-size: 20px;
    }

    .content{
        margin: 70px 0;
    }
    .content3{
        padding: 10px;
        padding-top: 60px;
        height: 220px;
        text-align: center;
    }
    .content3 br{
        display: block;
    }
    .content3 span{
        width: 100%;
        margin: 25px 0 10px 0;
        display: block;
        font-size: 20px;
    }
    .content3 button{
        width: 150px;
        height: 30px;
        margin-top: -5px;
        margin-left: 12px;
    }
    .lorem{
        height: 100px;
        padding: 15px;
        font-size: 20px;
    }
    .cards{
        padding: 5px;
        margin-top: 20px;
        
    }
    .card{
        width: 100%;
        margin: 10px auto;
        padding: 10px;
        height: 400px;
    }

    .ourwork, .content2, .conten2-2{
        padding: 10px;
    }
    .conten2-2{
        margin: 10px auto;
        height: 250px;
    }
    .ourwork{
        height: 720px;
    }
    .ourwork button{
        margin-top: 40px;
    }
    .mycard{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 10px;
        height: 1400px;
    }
    .icon1{
        width: 150px;
        margin: 10px 20px;
    }
    .icon-connect p{
        font-size: 10px;
        margin: 20px 0;
    }
    .imgflex{
        display: flex;
    }
    .imgs1 img{
        width: 170px;
    }
    .content2{
        height: 450px;
    }
    .content2 p{
        height: 130px;
        width: 100%;
        padding: 20px 5px;
        font-size: 17px;
    }
    .conten2-2 span{
        font-size: 15px;
        margin-top: 50px;
    }
    
    .conten2-1{
        margin: 20px 0;
    }
    .team{
        padding: 5px;
        height: 1050px;
    }
    .member1{
        width: 100%;
        height: 400px;
        margin: 10px auto;
        text-align: center;
    }
    .member1 img{
        width: 100%;
        height: 170px;
    }
    .member1 p{
        height: 200px;
        padding: 10px;
        font-size: 15px;
        text-align: center;
    }
    .member{
        display: flex;
        height: 820px;
    }
    .members{
        margin: 0 5px;
        width: 400px;
        justify-content: center;
        flex-direction: column;
    }
    .our-1-2{
        display: none;
    }
    .footer{
        flex-direction: column;
    }
    .form-contact{
        flex-direction: column;
        width: 100%;
    }
    .ourpost{
        padding: 10px;
        height: 820px;
    }
    .our1{
        padding: 0px;
    }
    .our-1-1{
        width: 100%;
    }
    .our-img img{
        width: 100%;
        height: 250px;
    }
    .our-text{
        width: 100%;
        height: 300px;
        margin: 0px 0;
    }
    .our-text strong{
        font-size: 20px;
        margin: 20px 0;
    }
    .our-text p{
        font-size: 20px;
        height: 170px;
    }
    .form-contact1{
        width: 100%;
        margin: 0;
    }
    .form-contact1 input{
        width: 100%;
        height: 40px;
        font-size: 17px;
    }
    .form-contact textarea{
        width: 100%;
        font-size: 17px;
    }

    .connect{
        height: 800px;
    }
    .contact{
        padding: 20px;
    }
    .location{
        
        padding: 0;
    }
    .text-location{
        margin: 20px 0;
        font-size: 15px;
    }
    .footer{
        padding: 20px;
    }
    .lienhe{
        margin: 20px 0;
        font-size: 20px;
        width: 100%;
    }
    .text-icon p{
        margin: 7px 0;
    }
    .icon1-1{
        display: block;
    }
    .icon-connect{
        padding: 0;
        height: 600px;
    }
    .lienket1{
        margin: 0 60px 0 0;
    }
    .display1{
        display: none;
    }
    .display2{
        display: block;
    }
    
}