@charset "utf-8";

/* 1. Fonts */
@import url("http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

*{
  
  padding: 0;
  margin: 0;
}


html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

section {
  padding: 0;

}

.container {
  width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

/* p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  font-size: 1rem;
}
 */
a {
  display: inline-block;
  text-decoration: none;
}

.heading {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: #666;
}

.nav-bar {
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-bar .nav-logo {
  margin: 15px;
  
}

.nav-bar .nav-list {
  display: flex;
}

.nav-bar .nav-list .nav-item {
  padding: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.nav-bar .nav-list .nav-item .nav-link {
  text-decoration: none;
  color: #555555;
}

.nav-bar .nav-list .nav-item:hover {
  background-color: #949191;
}

.nav-bar .nav-list .nav-item:hover .nav-link {
  color: white;
}


/* home section */

.home {
  background-size: cover !important;
  height: 55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content {
  text-align: center;
  height: 46%;
}

.home .content h1 {
  height: 46%;
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}

.home .content p {
  height: 20%;
  font-size: 1.2rem;
  color: #fff;
}
.home .button {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 1rem;
  color: #fff;
  padding: .5rem 1rem;
  border: .09rem solid #fff;
  cursor: pointer;
  font-size: .7rem;
}
.home .button:hover {
  background: #f9bf43;
  border: .09rem solid #f9bf43;
}

.services .services-title {
  text-align: center;
  background-color: #f5f5f5;
  padding: 80px 0 0 0;
}

.services .services-title .services-bar {
  height: 2px;
  width: 2%;
  border: 1px solid #111111;
  border-radius: 10px;
  background-color: #111111;
  margin: 10px 0 0 0;
  position: relative;
  left: 49%;
  right: 48%;
  text-transform: uppercase;
}

.services h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.services .services-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  padding: 0 15%;
}



.services .services-list .services-item {
  background-color: #ffffff;
  width: 28%;
  margin: 50px 7px;
}


.services .services-list .services-item .services-icon {
  height: 25px;
  width: auto;
  margin: 40px;
}

.services .services-list .services-item h4 {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.services .services-list .services-item .services-text {
  color: #5c5252;
  margin: 30px 20px 50px 20px;
}

.work {
  text-align: center;
  padding: 0 19%;
}

.work .work-title {
  text-align: center;
  margin: 5%;
}

.work h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.work .work-list {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.work .work-title .work-bar {
  height: 2px;
  width: 4%;
  border: 1px solid #111111;
  border-radius: 10px;
  background-color: #111111;
  margin: 10px 0 0 0;
  position: relative;
  left: 48%;
  right: 48%;
  text-transform: uppercase;
}
.work .work-list .work-item {
  width: 33.3333%;
}

.work .work-list .work-item .img-style {
  height: 95%;
  width: 95%;
}

.work .button {
  margin-top: 30px;
  text-transform: uppercase;
  display: inline-block;
  color: #000;
  padding: .5rem 2rem;
  border: .1rem solid #000;
  cursor: pointer;
  font-size: 0.7rem;
}


.work .button:hover {
  background: #f9bf43;
}

section .quotes{
  margin-top: 70px;
  background: url("../assets/img/bkg-quotes.jpg") no-repeat;
  background-size: cover;
  height: auto;
  width: auto;
  color: #f5f5f5;
  text-align: center;
  padding: 5% 20% 10% 20%;
}
section .quotes .h1{
  text-transform: uppercase !important;
}
section .quotes .quotes-icon {
  height: 15px;
  width: 15px;
}
section .quotes .space-line-1{  
  height: 20px;
}
section .quotes .space-line-2{
  padding-top: 30px;
  width: 51%;
  padding-left: 23%;
  text-align: center;
}
section .quotes .white-bar{
  height: 1.5px;
  width: 4%;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  margin: 5px 0 0 0;
  position: relative;
  left: 48%;
  right: 48%;
  text-transform: uppercase;
}
section .quotes .space-line-3{
  height: 20px;
}

section .build-team {
  background-color: #f9ce06;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .build-team .text-build {
  padding: 6px;
  margin: 0 5% 0 0;
}

section .build-team .button {
  text-transform: uppercase;
  border: .1rem solid #111111;
  text-align: center;
  font-size: .7rem;
  padding: 9px 25px 5px 25px;
  text-decoration: none;
  color: #111111; 
  font-weight: bolder;
}
section .build-team .button:hover {
  background-color: #949191;
}
.team {
  text-align: center;
}

.team .team-title {
  margin: 40px 0 0 0;
}
.team h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}
.team .team-title .team-bar {
  height: 2px;
  width: 3%;
  border: 1px solid #111111;
  border-radius: 10px;
  background-color: #111111;
  margin: 10px 0 0 0;
  position: relative;
  left: 48%;
  right: 48%;
  text-transform: uppercase;
}
.team .list-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 20%;
}

.team .list-member .member {
  width: 24%;
  margin: 0 1% 3% 0;
  text-align: left;
}

.team .list-member .member img {
  width: 100%;
}

.team .list-member .member .mem-name {
  margin: 20px 0;
}
.team .team-title {
  margin: 50px 0 0 0;
}

.team .list-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 20%;
}

.team .list-member .member {
  width: 24%;
  margin: 0 1% 3% 0;
  text-align: left;
}

.team .list-member .member img {
  width: 100%;
}

.team .list-member .member .mem-name {
  margin: 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}


.ourpost{
  background:rgb(233, 230, 230);
  width: 100%;
  padding: 40px;
  text-align: center;
  
}
.ourpost h3{
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}
.ourpost .content .ourpost-bar {
  height: 2px;
  width: 3%;
  border: 1px solid #111111;
  border-radius: 10px;
  background-color: #111111;
  margin: 10px 0 0 0;
  position: relative;
  left: 48%;
  right: 48%;
  text-transform: uppercase;
}
.our1{
  display: flex;
  padding: 30px;
  justify-content: center;
}

.our-text{
  background: white;
  text-align: left;
  padding: 20px;
  width: 590px;
}
.our-text strong{
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.our-2{
  background: white;
  padding: 20px;
  text-align: left;
  margin: 0 10px;
  height: 290px;
}
.our-1 img{
  display: flex;
  width: 630px;
  height: 200px;
}
.our-img2{
  display: flex;
  width: 300px;
  height: 70px;
}
.our-2 img{
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin: 10px 0;
}
.our-img2 p{
  margin: 10px 10px;
}

.contact-us {
  text-align: center;
  height: 450px;
  margin-top: 50px;
  position: relative;
  margin-bottom: 70px;
}

.contact-us h3{
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}
.contact-us .content .contact-bar {
  height: 2px;
  width: 3%;
  border: 1px solid #111111;
  border-radius: 10px;
  background-color: #111111;
  margin: 10px 0 0 0;
  position: relative;
  left: 48%;
  right: 48%;
  text-transform: uppercase;
}

.contact-us .contact-us-input {
  height: 300px;
  position: absolute;
  width: 60%;
  top: 20%;
  left: 15%;
}

.contact-us .contact-us-input #message {
  width: 100%;
}

.contact-us .our-contact {
  height: 300px;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 77%;
}

.contact-us .our-contact .our-item {
  margin: 0 0 20px 0;
}

.contact-us .btn-contact-us:hover {
  border: 3px solid;
}

.form-contact{
  display: flex;
  margin: 20px auto;
  justify-content: center;
}
.form-contact1{
  text-align: left;
}
.form-contact1 input{
  width: 500px;
  height: 25px;
  border: 1px solid rgb(168, 167, 167);
  margin: 10px auto;
  padding: 10px;
}
.form-contact1 button{
  width: 120px;
  height: 37px;
  margin: 10px 0;
  border: none;
  background: rgb(247, 203, 62);
  font-weight: bold;
}
.form-contact textarea{
  width: 500px;
  height: 80px;
  padding: 10px;
  margin: 10px 0;
}

.location{
  text-align: left;
}
.location p{
  color: rgb(163, 162, 162);
  margin: 5px 0;
}
.text-location{
  margin: 10px 20px;
  font-size: 13px;
}


.connect{
  background: url('../assets/img/bkg-footer.jpg') no-repeat;
  width: 100%;
  padding-top: 50px;
  background-size: cover;
  background-position: bottom center;
  text-align: center;
}
.connect h3{
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
}
.connect .content .connect-bar {
  height: 2px;
  width: 3%;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  margin: 10px 0 0 0;
  position: relative;
  left: 48%;
  right: 48%;
  text-transform: uppercase;
}


.icon-connect{
  display: flex;
  height: 350px;
  padding: 50px;
  text-align: center;
  justify-content: center;
}
.icon1{
  margin: 15px 60px;
  
}
.icon-connect img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 25px 0;
}
.icon-connect strong{
  margin: 10px 0;
  display: block;
  color: white;
}
.icon-connect p{
  color: white;
  margin: 30px 0;
}
.colorw{
  color: white
}
.bgrw{
  background-color: white
}

.footer{
  width: 100%;
  background: black;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 40px;
  display: flex;
  justify-content: center;
}
.lienhe{
  margin: 20px 30px;
  width: 450px;
}
.lienhe strong{
  margin: 5px 0;
  display: block;
}
.text-1{
  margin: 15px 0;
}
.text-1 p{
  margin: 3px 0;
}
.text-icon{
  display: flex;
}
.text-icon img{
  object-fit: cover;
  margin: 10px 10px 10px 0;
  width: 15px;
  height: 15px;
}
.text-icon p{
  margin: 10px 0;
}
.lienket{
  padding: 10px;
  margin: 7px;
  
}
.lienket strong{
  margin: 10px 20px;
  display: block;
}
.superdiv{
  display: flex;
}
.lienket1{
  margin: 10px 20px;
}
.lienket1-1{
  margin: 10px 0;
  width: 130px;
}
.lienket1-1 a{
  text-decoration: none;
  color: white;
  margin: 0 3px;
}

#nav{
  display: none;
}

.icon-menu div{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px -100px;
}
.icon-menu{
  margin: 25px 0;
  margin-left: 240px;
}
.menu{
  background-color:white;
  width: 100vh;
}

.menu a{
  text-decoration: none;
  width: 90%;
  height: 20px;
  background-color: white;
  color:black;
  margin: 10px 10px;
  display: block;
  padding: 10px;
  font-size: 20px;
}
.menu a:hover{
  background-color: rgb(204, 201, 201);
  width: 100vh;
  padding: 11px;
  margin: 0;
  height: 40px;
}
.input-slide{
  display: flex;
}
.content3 br{
  display: none;
}
.icon1-1{
  display: flex;
}
.display2{
  display: none;
}
.lienket hr{
  background-color: white;
  border: 1px solid white;
}