@import '../abstracts/variables';

.main { 
    .name-player {
        position: fixed;
        left: 0;
        font-family: 'Neucha', cursive;
        color: white;
    }

    .title {
        text-align: center;
        padding-top: 5%;
        font-family: 'Neucha', cursive;
        color: white;
    }
    .column{
        display: inline-block;
        margin-top: 20px;

        table {
            border: $border;
            
            tbody {

                tr {
                    padding-top: -1px;
                    padding-bottom: -1px;

                    td {
                        padding: 0px;

                        .square {
                            border: $bd-cell;
                            float: left;
                            font-size: 24px;
                            font-weight: bold;
                            line-height: 34px;
                            height: 50px;
                            margin: -2px;
                            text-align: center;
                            width: 50px;

                            input {
                                padding: 0px;   
                                font-size: 20px;
                                font-family: "lucida handwriting","comic sans ms",sans-serif;
                                width: 100%;
                                display: block;
                                height: 100%;
                                text-align: center;
                                border-style: hidden;
                                background: transparent;

                                &:disabled{
                                    color: white;
                                    background-image: $bg-linear;
                                }
                            }
                        }
                          
                        .square-white {
                            background: white;
                        }
                          
                        .square-blue {
                            background-image: $bg-linear;
                        }

                        .square-light {
                            background: $blue-light;
                        }
                          
                        .square-red {
                            background: rgb(221, 50, 50) !important;
                        }
    
                        .square:hover {
                            background: $blue-light;
                        }
                    }

                }
            }
        }
        
    }
}
