/* Media Queries*/
$screen-sm-max: 767px;
$screen-sm-min: 768px;
$screen-md-max: 991px;
$screen-md-min: 992px;
$screen-lg-max: 1199px;
$screen-lg-min: 1024px;

@mixin bp-iphone-exxtra-small {
    @media (max-width: 576px) {
        @content;
    } 
}
@mixin bp-iphone--small {
    @media (min-width: 576px) {
        @content;
    } 
}
@mixin bp-sm-min {
    @media (min-width: $screen-sm-min) {
        @content;
    } 
}
@mixin bp-md-min {
    @media (min-width: $screen-md-min) {
        @content;
    } 
}
@mixin bp-md-max {
    @media (max-width: $screen-md-max) {
        @content;
    } 
}
@mixin bp-lg-min {
    @media (min-width: $screen-lg-min) {
        @content;
    } 
}
@mixin bp-lg-max {
    @media (max-width: $screen-lg-max) {
        @content;
    } 
}
