@import '_breakpoint';
.header{
    background-color: #fff;
    box-shadow: 0 1px 3px #ccc; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90px;
    z-index: 99;
    .header-container{
        justify-content: space-between;
        display: flex;
        
        .img-header{
            width: 16%;
            .img-logo{
                width: 88%;
                padding: 21px 0;
                @include bp-md-max{
                    width: 130%;
                    padding: 25px 0;
                }
            }
        }
        .img-list{
            width: 28px;
            height: 28px;
            color: rgb(166, 166, 169);
            padding: 24px 0;
        }
    }
}