@media (max-width: 740px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header-container .img-header .img-logo {
    width: 200%;
    padding: 21px  0;
  }
  .header .header-container .img-list {
    color: #4cc6d8;
  }
  .slide {
    background: url(../bt3/assets/img/BUYNOW_PAYLATER_bg_mobile.png) top center/cover no-repeat;
  }
  .slide .sub-slider {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slide .sub-slider .pc-slider-heading {
    display: none;
  }
  .slide .sub-slider .mb-slider-heading {
    display: block;
    font-size: 36px;
    margin-bottom: 22px;
  }
  .slide .sub-slider .sub-slider-desc {
    width: 100%;
    padding: 0 24px 20px;
    font-size: 20px;
  }
  .slide .sub-slider .sub-slider-calc {
    margin: auto;
    margin-top: 280px;
  }
  .slide .sub-slider .arrow-down {
    margin: auto;
    width: 30px;
    height: 30px;
    color: #4cc6d8;
    display: block;
  }
  .slider {
    margin-top: 20px;
  }
  .benefit {
    padding: 40px 0;
  }
  .benefit .mb-header-mg {
    padding-top: 40px;
    border-top: 1px solid #ccc;
  }
  .benefit .mb-header-mg .benefit-heading {
    width: 70%;
  }
  .benefit .benefit-heading {
    text-align: center;
    width: 80%;
  }
  .benefit .benefit-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .benefit .benefit-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .benefit .benefit-list .item2 {
    margin: 10px 0;
  }
  .benefit .benefit-list .benefit-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .benefit .benefit-list .benefit-item .img-mb-benefit {
    width: 26%;
  }
  .benefit .benefit-list .benefit-item .img-mb-benefit1 {
    width: 30%;
  }
  .benefit .benefit-list .benefit-item .benefit-desc {
    font-size: 16px;
    font-weight: 500;
    color: #4c4c4c;
    width: 70%;
  }
  .benefit .benefit-list .benefit-item .fix1 {
    margin-top: 0;
    padding: 0;
  }
  .feature .feature-loan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: initial;
  }
  .feature .feature-loan .loan {
    padding-right: 0;
    margin-top: 20px;
  }
  .feature .feature-loan .img-loan-mobile {
    width: 100%;
  }
  .feature .feature-loan.loan-item2 .loan2 {
    padding-left: 0;
  }
  .feature .feature-loan.loan-item2 .loan2 .loan2-heading {
    width: 100%;
  }
  .feature .feature-loan.loan-item2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 20px 0;
  }
  .angle-down {
    -webkit-transform: translateY(115%) translateX(900%);
            transform: translateY(115%) translateX(900%);
  }
  #choose-option {
    font-size: 16px;
  }
  .calc-form .benefit-heading {
    width: 100%;
  }
  .calc-form .calc-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .calc-form .calc-list .space {
    margin: 0;
  }
  .btn-sign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn-sign .see-demo {
    padding: 16px 36px;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .btn-sign .btn-sign-mobile {
    font-weight: 800;
    color: #4cc6d8;
    border-color: #4cc6d8;
  }
  .condition {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 40px;
  }
  .condition .condition-item {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
  }
  .condition .condition-item .list-custom::before {
    width: 5px;
    height: 5px;
    margin: 0 -4px;
    border-radius: 30px;
    top: -3px;
    left: -14px;
    position: relative;
    background-color: #000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
  }
  .give-mess {
    display: none;
  }
  .btn {
    display: none !important;
  }
  .btn-mobile {
    display: block;
    color: #4cc6d8;
    border: 3px solid #4cc6d8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    font-size: 16px;
    width: 54%;
    margin: auto;
    margin-top: 40px;
  }
  .btn-mobile .btn-img {
    width: 16%;
  }
  .mb {
    display: block;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 60px 0 60px 20px;
    border: 1px solid #000;
    border-right: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .mb .item-plan-mb {
    width: 90%;
  }
  .mb .column {
    display: none;
  }
  .mb .plan-mb {
    width: 90%;
    padding: 20px 0 54px 30px;
    border-right: 1px solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mb .plan-mb .plan-mb-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #000;
  }
  .mb .plan-mb-body {
    padding: 10px 0;
  }
  .mb .plan-mb-body .plan-mb-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
  }
  .mb .plan-mb-body .plan-mb-item .plan-mb-item-desc {
    font-weight: 600;
  }
  .mb .plan-mb-body .plan-mb-item .plan-mb-item-desc1 {
    padding-left: 10px;
  }
  .mb .plan-mb-body .border-item-plan {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
  }
  .mb .plan-mb-body .btn-plan-mb {
    width: 100%;
    background-color: #4cc6d8;
    color: #fff;
    border: none;
    margin-top: 30px;
  }
  .mb .planb:checked {
    background-color: #000;
  }
  .mb .plan2 {
    padding: 17px 17px 57px;
    width: 90%;
    border-right: 1px solid #000;
  }
  .mb .plan-mb-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #000;
  }
  .mb .plan2-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mb .plan2-body .plan-mb-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 18px 0;
  }
  .mb .plan2-body .plan-mb-item .plan2-number {
    font-weight: 700;
    text-align: center;
    width: 34%;
  }
  .mb .plan2-body .border-item-plan {
    border-bottom: 1px solid #000;
  }
  .mb .plan2-body .btn-plan-mb {
    width: 100%;
    background-color: #4cc6d8;
    color: #fff;
    border: none;
    margin-top: 30px;
  }
  .owl-dots {
    display: none;
  }
  .plan2 {
    padding: 20px;
  }
  .planb {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    position: relative;
    z-index: 2;
    margin: 88px -100px;
    width: 120%;
    height: 17%;
  }
  .planb a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px;
    text-decoration: none;
  }
  .planb .planb-heading {
    font-size: 14px;
    color: #4cc6d8;
  }
  .planb .img-planb {
    padding: 0 10px;
  }
  .product {
    display: block;
    margin-bottom: 60px;
    border: 1px solid #000;
  }
  .product .product-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product .product-list {
    padding: 20px;
    list-style: none;
  }
  .product .product-list .list-custom2::before {
    width: 5px;
    height: 5px;
    margin: 0 6px;
    border-radius: 30px;
    top: -3px;
    left: -2px;
    position: relative;
    background-color: #000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
  }
  .product .product-list .product-item {
    margin: 10px 0;
  }
  #cv-required {
    text-decoration: none;
    color: #4c4c4c;
    font-weight: 600;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
  }
  #attention {
    background-color: #fff;
    font-weight: 600;
    color: #4c4c4c;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    width: 49%;
  }
  #attention:target {
    background-color: #eee;
    color: #000;
    font-weight: 400;
  }
  #cv-required:target {
    background-color: #eee;
    color: #000;
    font-weight: 400;
    width: 49%;
  }
  .make-line {
    padding-top: 60px;
    border-top: none;
  }
  .header-footer {
    padding: 40px 0;
  }
  .header-footer .header-footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-footer .info-footer-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-footer .info-footer-head .hotline {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px 0;
  }
  .header-footer .info-footer-head .need-sp {
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer-container {
    background: url(../bt3/assets/img/home-banner-app-install-mobile.jpg) top center/cover no-repeat;
    padding-top: 48px;
  }
  .footer-container .sub-footer-container-mobile {
    display: block;
    padding-bottom: 400px;
  }
  .footer-container .sub-footer-container-mobile .img-app-store {
    padding-right: 16px;
  }
  .footer-container .sub-footer-container {
    display: none;
  }
  .footer-container .go-top {
    bottom: -62px;
    right: -125px;
  }
  .footer-container .go-top .go-top-img {
    width: 50%;
  }
  .footer-bottom {
    padding: 40px 0;
  }
  .footer-bottom .bottom-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 16px;
  }
  .footer-bottom .bottom-list .bottom-item {
    padding: 0 10px;
  }
  .footer-bottom .bottom-list .bottom-item a {
    font-size: 14px;
    font-weight: 500;
  }
  .footer-bottom .bottom-list .separate {
    display: none;
  }
  .footer-bottom .bottom-list .mb-separate {
    display: block;
  }
  .footer-bottom .connect-footer {
    margin: 0 25px;
  }
  .footer-bottom .copyright {
    font-size: 10px;
    padding: 0 60px;
    padding-top: 0;
  }
  .bottom-separate-mb::after {
    position: absolute;
    content: "";
    display: block;
    border-left: 2px solid #ccc;
    height: 15px;
    right: -3px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (min-width: 1024px) {
  .btn-sign {
    float: right;
  }
  .benefit-desc {
    margin-left: 20px;
  }
  .condition-item {
    padding: 10px 55px 10px 0;
  }
  #choose-option {
    font-size: 15px;
  }
}

@media (min-width: 741px) and (max-width: 1023px) {
  #header {
    height: 130px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
  #header .img-logo {
    width: 240%;
    padding: 25px 0;
  }
  #header .img-list {
    color: #4cc6d8;
    width: 50px;
    padding: 38px 0;
  }
  #slide {
    background: url(../bt3/assets/img/BUYNOW_PAYLATER_bg_mobile.png) top center/cover no-repeat;
    padding-top: 175%;
  }
  #slide .sub-slider {
    width: 100%;
    bottom: 700px;
    margin: 0 20px;
    text-align: center;
  }
  #slide .sub-slider .sub-slider-desc {
    width: 100%;
    margin-bottom: 20px;
  }
  #slide .sub-slider .sub-slider-calc {
    margin: auto;
    margin-top: 100px;
  }
  #slide .sub-slider .arrow-down {
    margin: auto;
    width: 30px;
    height: 30px;
    color: #4cc6d8;
    display: block;
  }
  .benefit {
    margin: 0 20px;
    padding: 100px 0 60px;
  }
  .benefit .benefit-heading {
    text-align: center;
  }
  .benefit .benefit-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .benefit .benefit-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .feature .feature-loan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: auto;
  }
  .feature .feature-loan .loan {
    padding-right: 0;
  }
  .feature .feature-loan .loan .loan-heading {
    width: 100%;
  }
  .feature .feature-loan .img-loan-mobile {
    width: 100%;
  }
  .feature .feature-loan.loan-item2 .loan2 {
    padding-left: 0;
  }
  .feature .feature-loan.loan-item2 .loan2 .loan2-heading {
    width: 100%;
  }
  .feature .feature-loan.loan-item2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .calc-form .calc-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .calc-form .calc-list .space {
    margin: 0;
  }
  .btn-sign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn-sign .see-demo {
    padding: 16px 36px;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .btn-sign .btn-sign-mobile {
    font-weight: 800;
    color: #4cc6d8;
    border-color: #4cc6d8;
  }
  .condition {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 40px;
  }
  .condition .condition-item {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #aaa;
  }
  .give-mess {
    display: none;
  }
  .btn {
    display: none !important;
  }
  .btn-mobile {
    display: block;
    color: #4cc6d8;
    border: 3px solid #4cc6d8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 6px 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    font-size: 16px;
    width: 50%;
    margin: auto;
    margin-top: 40px;
  }
  .mb {
    display: block;
    margin: 60px 0 60px 20px;
    border: 1px solid #000;
    border-right: none;
    padding: 0 20px;
  }
  .mb .item-plan-mb {
    width: 90%;
  }
  .mb .plan-mb {
    width: 90%;
    padding: 20px 20px 20px 30px;
    border-right: 1px solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mb .plan-mb .plan-mb-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #000;
  }
  .mb .plan-mb .plan-mb-body {
    padding: 10px 0;
  }
  .mb .plan-mb .plan-mb-body .plan-mb-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
  }
  .mb .plan-mb .plan-mb-body .plan-mb-item .plan-mb-item-desc {
    font-weight: 600;
  }
  .mb .plan-mb .plan-mb-body .border-item-plan {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
  }
  .mb .plan-mb .plan-mb-body .btn-plan-mb {
    width: 100%;
    background-color: #4cc6d8;
    color: #fff;
    border: none;
    margin-top: 30px;
  }
  .planb {
    rotate: -90deg;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 55px -215px;
    padding: 10px;
    width: 50%;
    height: 17%;
  }
  .planb .planb-heading {
    font-size: 18px;
    color: #4cc6d8;
  }
  .planb .img-planb {
    padding: 0 10px;
    width: 20%;
  }
  .product {
    display: block;
    margin: 20px 20px 60px;
    border: 1px solid #000;
  }
  .product .product-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product .product-heading .product-header {
    padding: 10px 30px;
    background-color: #eee;
    border-radius: 4px;
  }
  .product .product-heading .product-header2 {
    background-color: #fff;
    font-weight: 600;
    color: #4c4c4c;
  }
  .product .product-list {
    padding: 20px 20px 20px 40px;
  }
  .product .product-list .product-item {
    margin: 10px 0;
  }
  .make-line {
    padding-top: 60px;
    border-top: 1px solid #ccc;
    border-bottom: none;
  }
  .header-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 30px;
  }
  .header-footer .info-footer-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-footer .info-footer-head .hotline {
    padding: 20px 0;
  }
  .header-footer .info-footer-head .need-sp {
    padding: 0;
  }
  .footer-container {
    background: url(../bt3/assets/img/home-banner-app-install-mobile.jpg) top center/cover no-repeat;
    padding-top: 164%;
  }
  .footer-container .sub-footer-container-mobile {
    position: absolute;
    display: block;
    bottom: 880px;
    padding: 0 30px;
  }
  .footer-container .sub-footer-container-mobile .img-app-store {
    padding-right: 16px;
  }
  .footer-container .sub-footer-container {
    display: none;
  }
  .footer-container .go-top {
    bottom: -82px;
    right: -60px;
  }
  .footer-container .go-top .go-top-img {
    width: 76%;
  }
  .footer-container .sub-footer-container-heading {
    width: 80%;
    font-size: 40px;
  }
  .footer-container .img-app-store {
    width: 40%;
  }
  .footer-bottom {
    padding: 40px 0;
  }
  .footer-bottom .bottom-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-bottom .sub-connect-footer {
    font-size: 16px !important;
  }
  .footer-bottom .img-connect {
    width: 60px;
  }
  .footer-bottom .address-footer {
    font-size: 20px;
  }
  .footer-bottom .copyright {
    font-size: 13px !important;
  }
  .footer-bottom .bottom-item {
    padding: 8px 10px !important;
  }
  .footer-bottom .bottom-list .bottom-item a {
    font-size: 24px;
  }
}
/*# sourceMappingURL=responsive.css.map */