@media (max-width: 740px){
    $main-color :#4cc6d8;
    .header{
        justify-content: space-between;
        .header-container{
            .img-header{
                .img-logo{
                    width:200% ;
                    padding:21px  0;
            }
            }
        .img-list{
            color: $main-color;
        }

    }
    }
    .slide{
        background: url(../bt3/assets/img/BUYNOW_PAYLATER_bg_mobile.png) top center / cover no-repeat;
        .sub-slider{
            text-align: center;
            align-items: center;
            .pc-slider-heading{
                display: none;
            }
            .mb-slider-heading{
                display: block;
                font-size: 36px;
                margin-bottom: 22px;
            }
            .sub-slider-desc {
                width: 100%;
                padding: 0 24px 20px;
                font-size: 20px;
            }
            .sub-slider-calc{
                margin: auto;
                margin-top: 280px;
            }
            .arrow-down{
                margin: auto;
                width: 30px;
                height: 30px;
                color: $main-color;
                display: block;
            }
        }
    }
    .slider{
        margin-top: 20px;
    }
    .benefit{
        padding: 40px 0 ;
        .mb-header-mg{
            padding-top: 40px;
            border-top: 1px solid #ccc;
            .benefit-heading{
            width: 70%;
            }
        }
        .benefit-heading{
            text-align: center;
            width: 80%;
        }
        .benefit-header{
            justify-content: center;
        }
        .benefit-list{
            flex-direction: column;
            text-align: center;
            .item2{
                margin: 10px 0;
            }
            .benefit-item{
                display: flex;
                align-items: center;
                text-align: initial;
                justify-content: space-between;
                .img-mb-benefit{
                    width: 26%;
                }
                .img-mb-benefit1{
                    width: 30%;
                }
                .benefit-desc{
                    font-size: 16px;
                    font-weight: 500;
                    color: #4c4c4c;
                    width: 70%;
                }
                .fix1{
                    margin-top: 0;
                    padding: 0 ;
                }
            }
        }
    }
    .feature{
        .feature-loan{
            flex-direction: column-reverse;
            justify-content: center;
            text-align: initial;
            .loan{
                padding-right: 0;
                margin-top: 20px;
            }

            .img-loan-mobile{
                width: 100%;
            }
            
        }
    }
    .feature .feature-loan.loan-item2 .loan2{
        padding-left: 0;
    }
    .feature .feature-loan.loan-item2 .loan2 .loan2-heading{
        width: 100%;
    }
    .feature .feature-loan.loan-item2{
        flex-direction: column-reverse;
        padding: 20px 0;
    }
    .angle-down{
        transform: translateY(115%) translateX(900%);
    }
    #choose-option{
        font-size: 16px;
    }
    .calc-form{
        .benefit-heading{
            width: 100%;
        }
        .calc-list {
            flex-direction: column;
            .space{
             margin: 0;
            }   
        }
    }
    .btn-sign{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .see-demo{
            padding: 16px 36px;
            margin-left: 0;
            margin-bottom: 20px;
        }
        .btn-sign-mobile{
            font-weight: 800;
            color: $main-color;
            border-color:$main-color ;
        }
    }
    .condition{
        flex-direction: column;
        padding: 50px 40px;
        .condition-item{
            width: 100%;
            border-right: none;
            border-bottom: 1px solid #aaa;
            padding-bottom: 20px; 
            .list-custom::before{
                width: 5px;
                height: 5px;
                margin: 0 -4px;
                border-radius: 30px;
                top: -3px;
                left: -14px;
                position: relative;
                background-color: #000;
                content: '';
                display: inline-block;
                visibility: visible;
                border: none;
            }
        }
    }
    .give-mess{
        display: none;
    }
    .btn{
        display: none !important;
    }
    .btn-mobile{
        display: block;
        color:$main-color;
        border: 3px solid $main-color;
        display: flex;
        justify-content: center;
        padding:8px;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        width: 54%;
        margin: auto;
        margin-top: 40px;
        .btn-img{
            width: 16%;
        }
    }
    .mb{    
        display: block;
        justify-content: space-around;
        display: flex;
        margin: 60px 0 60px 20px;
        border: 1px solid #000;
        border-right:none ;
        flex-direction: row-reverse;
        .item-plan-mb{
            width: 90%;
        }
        .column{
            display: none;
        }
        .plan-mb{
            width: 90%;
            padding: 20px 0 54px 30px;
            border-right: 1px solid #000;
            display: flex;
            justify-content: space-between;
            .plan-mb-heading{
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 1px solid #000;
            }
        }
        .plan-mb-body{
            padding: 10px 0;
            .plan-mb-item{
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                .plan-mb-item-desc{
                    font-weight: 600;
                }
                .plan-mb-item-desc1{
                    padding-left: 10px;
                }
            }
            .border-item-plan{
                padding-bottom: 10px;
                border-bottom: 1px solid #000;
            }
            .btn-plan-mb{
                width: 100%;
                background-color: $main-color;
                color: #fff;
                border: none;
                margin-top: 30px ;
            }
        }
    .planb:checked{
        background-color: #000;
    }
            .plan2{
                padding:17px 17px 57px;
                width: 90%;
                border-right: 1px solid #000;

            }
            .plan-mb-heading{
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 1px solid #000;
            }

            .plan2-body{
                display: flex;
                flex-direction: column;
                .plan-mb-item{
                    display: flex;
                    justify-content: space-between;
                    padding: 18px 0;
                    .plan2-number{
                        font-weight: 700;
                        text-align: center;
                        width: 34%;
                    }
                }
                .border-item-plan{
                    border-bottom: 1px solid #000;
                }
                .btn-plan-mb{
                    width: 100%;
                    background-color: $main-color;
                    color: #fff;
                    border: none;
                    margin-top: 30px ;
                }
            }
        
    }
    .owl-dots{
        display: none;
    }
    .plan2{
        padding:20px;
    }
    .planb{
        transform:rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        position: relative;
        z-index: 2;
        
        margin: 88px -100px;
        width: 120%;
        height: 17%;
        a{
            display: flex;
            padding-bottom: 20px;
            text-decoration: none;  
        }
        .planb-heading{
            font-size: 14px;
            color: $main-color;
        }
        .img-planb{
            padding: 0 10px;
        }
    }
    .product{
        display: block;
        margin-bottom:60px;
        border: 1px solid #000;
        .product-heading{
            display: flex;
            justify-content: space-between;
            
        }
        .product-list{
            padding: 20px;
            list-style: none;
            .list-custom2::before{
                width: 5px;
                height: 5px;
                margin: 0 6px;
                border-radius: 30px;
                top: -3px;
                left: -2px;
                position: relative;
                background-color: #000;
                content: '';
                display: inline-block;
                visibility: visible;
                border: none;
            }
            .product-item{
                margin: 10px 0;
            }
        }
    }
    #cv-required{
        text-decoration: none;
        color: #4c4c4c;  
        font-weight: 600;
        text-align: center;
        padding: 10px 20px;
        // background-color: #eee;
        border-radius: 4px;
    }
    #attention{
        background-color: #fff;
        font-weight: 600;
        color: #4c4c4c;  
        text-decoration: none;
        text-align: center;
        padding: 10px 20px;
        width: 49%;
    }
    #attention:target{
        background-color: #eee;
        color: #000;
        font-weight: 400;
    }
    #cv-required:target{
        background-color: #eee;
        color: #000;
        font-weight: 400;
        width: 49%;
    }
    .make-line{
        padding-top: 60px;
        border-top: none;

    }
    

    // footer
    .header-footer{
        padding: 40px 0;
        .header-footer-container{
            flex-direction: column;

        }
            .info-footer-head{
            flex-direction: column;
                
                .hotline{
                justify-content: flex-start;
                padding: 20px 0;
        }
                .need-sp{
                padding: 0;
                justify-content: flex-start;
        }
        }

    }
    .footer-container {
        background: url(../bt3/assets/img/home-banner-app-install-mobile.jpg) top center / cover no-repeat;
        padding-top: 48px;
        .sub-footer-container-mobile{
            display: block;
            padding-bottom: 400px;
            .img-app-store{
                padding-right: 16px;
            }
        }
        .sub-footer-container{
            display: none;
        }
        .go-top{
            bottom: -62px;
            right: -125px;
            .go-top-img{
                width: 50%;
            }
        }
    }
    .footer-bottom {
        padding: 40px 0;
        .bottom-list{
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 16px;
            .bottom-item {
               padding: 0 10px;
               a{
                   font-size: 14px;
                   font-weight: 500;
               }
            }
            .separate{
                display: none;
            }
            .mb-separate{
                display: block;
            }
        }
        .connect-footer{
            margin: 0 25px;
        }
        .copyright{
            font-size: 10px;
            padding:0 60px;
            padding-top: 0;
        }
    }
    .bottom-separate-mb::after{
        position: absolute;
        content: "";
        display: block;
        border-left: 2px solid #ccc;
        height: 15px;
        right: -3px;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media (min-width:1024px){
    .btn-sign{
        float: right;
    }
    .benefit-desc{
        margin-left: 20px;
    }
    .condition-item{
        padding: 10px 55px 10px 0;
       
    }
    #choose-option{
        font-size: 15px;
    }
    
}
@media (min-width:741px) and (max-width: 1023px){
    $main-color :#4cc6d8;
    #header{
        height: 130px;
        justify-content: space-between;
        padding: 0 20px;
        .img-logo{
            width: 240%;
            padding: 25px 0;
        }
        .img-list{
            color: $main-color;
            width: 50px;
            padding: 38px 0;
        }
    }
    #slide{
        background: url(../bt3/assets/img/BUYNOW_PAYLATER_bg_mobile.png) top center / cover no-repeat;
        padding-top: 175%;
        .sub-slider{
            width: 100%;
            bottom: 700px;
            margin: 0 20px;
            text-align: center;
            .sub-slider-desc {
                width: 100%;
                margin-bottom: 20px;
            }
            .sub-slider-calc{
                margin: auto;
                margin-top: 100px;
            }
            .arrow-down{
                margin: auto;
                width: 30px;
                height: 30px;
                color: $main-color;
                display: block;
            }
        }
    }
    .benefit{
        margin: 0 20px;
        padding: 100px 0 60px;
        .benefit-heading{
            text-align: center;
        }
        .benefit-header{
            justify-content: center;
        }
        .benefit-list{
            flex-direction: column;
            text-align: center;
        }
    }
    .feature{
        .feature-loan{
            flex-direction: column;
            width: 90%;
            justify-content: center;
            text-align: center;
            margin: auto;
            .loan{
                padding-right: 0;
                .loan-heading{
                    width: 100%;
                }

            }

            .img-loan-mobile{
                width: 100%;
            }
            
        }
    }
    .feature .feature-loan.loan-item2 .loan2{
        padding-left: 0;
    }
    .feature .feature-loan.loan-item2 .loan2 .loan2-heading{
        width: 100%;
    }
    .feature .feature-loan.loan-item2{
        flex-direction: column;
    }
    .calc-form .calc-list {
        flex-direction: column;
        .space{
         margin: 0;
        }   
    }
    .btn-sign{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .see-demo{
            padding: 16px 36px;
            margin-left: 0;
            margin-bottom: 20px;
        }
        .btn-sign-mobile{
            font-weight: 800;
            color: $main-color;
            border-color:$main-color ;
        }
    }
    .condition{
        flex-direction: column;
        padding: 50px 40px;
        .condition-item{
            width: 100%;
            border-right: none;
            border-bottom: 1px solid #aaa;
        }
    }
    .give-mess{
        display: none;
    }
    .btn{
        display: none !important;
    }
    .btn-mobile{
        display: block;
        color:$main-color;
        border: 3px solid $main-color;
        display: flex;
        justify-content: center;
        padding: 6px 8px;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        width: 50%;
        margin: auto;
        margin-top: 40px;
    }
    .mb{
        display: block;
        margin: 60px 0 60px 20px;
        border: 1px solid #000;
        border-right: none;
        padding: 0 20px;
        .item-plan-mb{
            width: 90%;
        }
        .plan-mb{
            width: 90%;
            padding: 20px 20px 20px 30px;
            border-right: 1px solid #000;
            display: flex;
            justify-content: space-between;
            .plan-mb-heading{
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 1px solid #000;
            }
            .plan-mb-body{
                padding: 10px 0;
                .plan-mb-item{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0;
                    .plan-mb-item-desc{
                        font-weight: 600;
                    }
                }
                .border-item-plan{
                    padding-bottom: 10px;
                    border-bottom: 1px solid #000;
                }
                .btn-plan-mb{
                    width: 100%;
                    background-color: $main-color;
                    color: #fff;
                    border: none;
                    margin-top: 30px ;
                }
            }
        }
    }
    .planb{
        rotate: -90deg;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        display: flex;
        margin: 55px -215px;
        padding: 10px;
        width: 50%;
        height: 17%;
        .planb-heading{
            font-size: 18px;
            color: $main-color;
        }
        .img-planb{
            padding: 0 10px;
            width: 20%;
        }
    }
    .product{
        display: block;
        margin: 20px 20px 60px;
        border: 1px solid #000;
        .product-heading{
            display: flex;
            justify-content: center ;
            .product-header{
                padding: 10px 30px;
                background-color: #eee;
                border-radius: 4px;
            }
            .product-header2{
                background-color: #fff;
                font-weight: 600;
                color: #4c4c4c;
            }
        }
        .product-list{
            padding: 20px 20px 20px 40px;
            .product-item{
                margin: 10px 0;
            }
        }
    }
    .make-line{
        padding-top: 60px;
        border-top: 1px solid #ccc;
        border-bottom: none;
    }

    // footer
    .header-footer{
        flex-direction: column;
        padding: 40px 30px;
            .info-footer-head{
            flex-direction: column;
                .hotline{
             padding: 20px 0;
        }
                .need-sp{
                padding: 0;
        }
        }

    }
    .footer-container {
        background: url(../bt3/assets/img/home-banner-app-install-mobile.jpg) top center / cover no-repeat;
        padding-top: 164%;
        .sub-footer-container-mobile{
            position: absolute;
            display: block;
            bottom: 880px;
            padding:0 30px;
            .img-app-store{
                padding-right: 16px;
            }
        }
        .sub-footer-container{
            display: none;
        }
        .go-top{
            bottom: -82px;
            right: -60px;
            .go-top-img{
                width: 76%;
            }
        }
        .sub-footer-container-heading{
            width: 80%;
            font-size: 40px;
        }
        .img-app-store{
            width: 40%;
        }
    }
    .footer-bottom {
        padding: 40px 0;
        .bottom-list{
            flex-wrap: wrap;
            justify-content: center;
           
        }
        .sub-connect-footer{
            font-size: 16px !important;
        }
        .img-connect{
            width: 60px;
        }
        .address-footer{
            font-size: 20px;
        }
        .copyright{
            font-size: 13px !important;
        }
        .bottom-item {
            padding: 8px 10px !important;
        }
    }
    .footer-bottom .bottom-list .bottom-item a{
        font-size: 24px;
    }
}