$main-color :#17b5cd;
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

#main{  
    overflow: hidden;
}

// header
@import 'header';
@import '_breakpoint';

.container{
    width: 1230px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
}
// slider
.slide{
    background: url(../bt3/assets/img/BUYNOW_PAYLATER_bg.png) top center / cover no-repeat;
    padding-top: 50px;
    margin-top: 88px;
    .sub-slider{
        padding-bottom: 40px;
        .sub-slider-heading{
            font-size: 40px;
        }
        .mb-slider-heading{
            display: none; 
        } 
        .pc-slider-heading{
            display: block;
        }
        .sub-slider-subheading{
            margin: 10px 0;
            font-size: 30px;
        }
        .sub-slider-desc{
            font-weight: 500;
            font-size: 21px;
            width: 600px;
            color: #4c4c4c;
            line-height: 1.4;
        }
        .sub-slider-calc{
            display: block;
            margin-top: 30px;
            padding: 14px 22px;
            color: #fff;
            font-size: 17px;
            text-decoration: none;
            width: 200px;
            background-color: #00aec7;
        }
    }
}

// content
.benefit{
    padding-top: 80px;
    .benefit-header{
        display: flex;
        justify-content: space-between;
        .benefit-heading{
            font-size: 28px;
        }
        .btn{
            color:$main-color;
            border: 3px solid $main-color;
            display: flex;
            justify-content: center;
            padding: 8px 4px;
            align-items: center;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;
        .btn-img{
            width: 16%;
            }
        }
    }
    .benefit-list{
        display: flex;
        justify-content: space-between;
        padding: 40px 0 80px;
        border-bottom: 1px solid #ccc;
        .benefit-item{
            @include bp-sm-min{
                width: 28%;
            }
            .benefit-desc{
                font-size: 18px;
                font-weight: 500;
                color: #4c4c4c;
            }
            .fix1{
                margin-top: 24px;
            }
        }
    }
}

.give-mess{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateX(95%);
    width: 100%;
    z-index: 1;
    .give-mess-img{
        width: 80px;
    }
}

.feature{
    display: flex;
    flex-direction: column;
    padding: 40px 0 80px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    .feature-loan{
        display: flex;
        justify-content: space-between;
        .loan{
            @include bp-lg-min{
                width: 57%;
            }
            margin: auto;
            .loan-heading{
                font-size: 24px;
                color: $main-color;
                @include bp-lg-min{
                    width: 50%;
                }
            }
            .loan-desc{
                margin: 24px;
                font-size: 15px;
                color: #4c4c4c;
                font-weight: 500;
            }
        }
    }
    .feature-loan.loan-item2 {
        flex-direction: row-reverse;
        padding: 70px 0;
        .loan2{
            margin-right: 0;
            @include bp-lg-min{
                width: 44%;
            }
            .loan2-heading{
                width: 100%;
            }
        }
    }
}
.list-custom{
    list-style: none;
}
.list-custom::before{
    width: 5px;
    height: 5px;
    margin: 0 -4px;
    border-radius: 30px;
    top: -3px;
    left: -14px;
    position: relative;
    background-color: #000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
}
// range slider
input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    width: 100%;
    height: 2px;
    background-color: #dedede;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00aec7), color-stop(100%, #00aec7));
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}


input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
    border: 0;
    background: #00aec7;
    border-radius: 50%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
    -webkit-appearance: none;
}

.calc-form{
    display: flex;
    flex-direction: column;
    .calc-list{
        display: flex;
        padding: 30px 0;
        justify-content: space-between;
        .slidecontainer, .calc-choose{
            @include bp-sm-min{
                width: 32%;
            }
            .calc-heading{
                color: #4c4c4c;
                font-weight: 500;
            }
            .calc-vay{
                display: flex;
                justify-content: space-between;
                color: #ccc;
            }
            .example, #choose-option{
                color: #e3e3e3;
                border-radius: 4px;
                background-color: #00aec7;
                padding: 6px 12px;
                margin: 8px 0 4px;
            }
            #choose-option{
                border: none;
                padding: 9px 18px;
                width: 100%;
                appearance: none;
                outline: none;      
                .choose-option-item{
                    background-color: #fff;
                    color: #000;
                }
            }
        }
    }
}
.angle-down{
    width: 15px;
    right: 160px;
    height: 10px;
    z-index: 1;
    transform: translatey(115%);
    position: absolute;
    .img-arown-down{
        width: 100%;
    }
}
.calc-fixx{
    padding-bottom: 100px;
}

// btn
.btn-sign{
    .btn-item{
        padding: 14px 22px;
        background-color: #fff;
        border: 2px solid #aaa;
        color: #aaa;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
    }
    .see-demo{
        background-color: #aaa;
        color: #fff;
        margin-left: 20px;
    }
}
.btn-mobile{
    display: none;
}
.make-line{
    border-bottom: none;
    border-top: 1px solid #ccc;
    @include bp-lg-min {
        margin: 0 120px;
    }
}
.condition{
    display: flex;
    margin-top: 60px;
    justify-content: space-evenly;
    border: 1px solid #aaa;
    padding: 50px 0;
    margin-bottom: 80px;
    font-size: 16px;
    color: #4c4c4c;
    font-weight: 500;
    .condition-item{
        border-right: 1px solid #aaa;
        width: 22%;
    }
    .condition-item2{
        padding-top: 10px;
    }
    .condition-item-heading{
        padding-bottom: 20px;
    }
}
.list-custom2::before{
    width: 5px;
    height: 5px;
    margin: 0 6px;
    border-radius: 30px;
    top: -3px;
    left: -2px;
    position: relative;
    background-color: #000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
}
// footer
// footer
.header-footer{
    background-color: #f5f5f5;
    text-align: center;
    align-items: center;
    padding: 40px 0 ;
    .header-footer-container {
        justify-content: space-between;
        display: flex;

    }
    .info-footer-head{
        display: flex;
        .need-sp{
            padding-left: 20px;
        }
        .hotline, .need-sp{
            display: flex;
            text-align: initial;
            align-items: center;
            justify-content: flex-end;
            .img-contact{
                width: 25%;
            }
        }
    }
}
.footer-container{
    background: url(../bt3/assets/img/bg-banner-footer.png) top center / cover no-repeat;
    padding-top: 90px;
    background-position: -180px;
    position: relative;
    .go-top{
        position: absolute;
        bottom: -58px;
        right: -20px;
        .go-top-img{
            width: 45%;
        }
    }
    .sub-footer-container-mobile{
        display: none;
    }
    .sub-footer-container{
        justify-content: space-between;
        display: flex;
        width: 100%;
        padding-bottom: 80px;
    }
        .sub-footer-container-heading{
            color: #fff;
            font-size: 30px;
            width: 340px;
        }
        .sub-footer-container-download{
            display: flex;
            padding-top: 20px;
            justify-content: space-between;
  
        }
        .qr-code{
            display: flex;
            justify-content: flex-end;
            .qr-code-img{
                width: 30%;
            }
            .sub-qr-code{
                color: #fff;
                font-size: 14px;
                text-align: initial;
                margin: auto 30px;
                margin-right: 0;
                width: 32%;
                opacity: 0.9;
                line-height: 1.6;
            }
        }
    }
    .footer-bottom{
        background-color:#3a3b40;
        padding: 60px 0 30px;
        .bottom-list{
            display: flex;
            list-style: none;
            .bottom-item{
                padding: 0 30px;
                position: relative; 
            }
            .bottom-item1{
                padding-left: 0;
            }
            .bottom-item2{
                padding-right: 0;
            }
            .separate{
                color: #c5bebe;
            }
            .no-need-border{
                border: none;
            }
            .bottom-item a{
                text-decoration: none;
                font-size: 16px;
                color: #fff;
            }
        }
        .connect-footer, .address-footer{
            text-align: center;
            color: #fff;
            padding: 20px 0;
            font-size: 13px;
            line-height: 1.6;
        }
        .sub-connect-footer{
            color: #999 !important;
            font-size: 12px !important;
        }
        .connect-footer{
            border-bottom: 1px solid #999;
        }
        .tel-email{
            display: flex;
            justify-content: center;
            .tel-footer{
                padding-right: 8px;
                position: relative;
            }
            .email{
                padding-left: 8px;
            }
        } 
        .img-connect {
            width: 46px;
            padding: 20px 6px;
        }
    }
    .bottom-list, .tel-email{
        @include bp-sm-min{
            .bottom-separate::after{
                position: absolute;
                content: "";
                display: block;
                border-left: 2px solid #ccc;
                height: 15px;
                right: -3px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
// pc
.arrow-down, .mb, .product{
    display: none;
}

.h4:active{
    background-color: #ccc;
}