* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

#main {
  overflow: hidden;
}

/* Media Queries*/
.header {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px #ccc;
          box-shadow: 0 1px 3px #ccc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90px;
  z-index: 99;
}

.header .header-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-container .img-header {
  width: 16%;
}

.header .header-container .img-header .img-logo {
  width: 88%;
  padding: 21px 0;
}

@media (max-width: 991px) {
  .header .header-container .img-header .img-logo {
    width: 130%;
    padding: 25px 0;
  }
}

.header .header-container .img-list {
  width: 28px;
  height: 28px;
  color: #a6a6a9;
  padding: 24px 0;
}

/* Media Queries*/
.container {
  width: 1230px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
}

.slide {
  background: url(../bt3/assets/img/BUYNOW_PAYLATER_bg.png) top center/cover no-repeat;
  padding-top: 50px;
  margin-top: 88px;
}

.slide .sub-slider {
  padding-bottom: 40px;
}

.slide .sub-slider .sub-slider-heading {
  font-size: 40px;
}

.slide .sub-slider .mb-slider-heading {
  display: none;
}

.slide .sub-slider .pc-slider-heading {
  display: block;
}

.slide .sub-slider .sub-slider-subheading {
  margin: 10px 0;
  font-size: 30px;
}

.slide .sub-slider .sub-slider-desc {
  font-weight: 500;
  font-size: 21px;
  width: 600px;
  color: #4c4c4c;
  line-height: 1.4;
}

.slide .sub-slider .sub-slider-calc {
  display: block;
  margin-top: 30px;
  padding: 14px 22px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  width: 200px;
  background-color: #00aec7;
}

.benefit {
  padding-top: 80px;
}

.benefit .benefit-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefit .benefit-header .benefit-heading {
  font-size: 28px;
}

.benefit .benefit-header .btn {
  color: #17b5cd;
  border: 3px solid #17b5cd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.benefit .benefit-header .btn .btn-img {
  width: 16%;
}

.benefit .benefit-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 80px;
  border-bottom: 1px solid #ccc;
}

@media (min-width: 768px) {
  .benefit .benefit-list .benefit-item {
    width: 28%;
  }
}

.benefit .benefit-list .benefit-item .benefit-desc {
  font-size: 18px;
  font-weight: 500;
  color: #4c4c4c;
}

.benefit .benefit-list .benefit-item .fix1 {
  margin-top: 24px;
}

.give-mess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 50%;
  -webkit-transform: translateX(95%);
          transform: translateX(95%);
  width: 100%;
  z-index: 1;
}

.give-mess .give-mess-img {
  width: 80px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0 80px;
  border-bottom: 1px solid #ccc;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature .feature-loan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature .feature-loan .loan {
  margin: auto;
}

@media (min-width: 1024px) {
  .feature .feature-loan .loan {
    width: 57%;
  }
}

.feature .feature-loan .loan .loan-heading {
  font-size: 24px;
  color: #17b5cd;
}

@media (min-width: 1024px) {
  .feature .feature-loan .loan .loan-heading {
    width: 50%;
  }
}

.feature .feature-loan .loan .loan-desc {
  margin: 24px;
  font-size: 15px;
  color: #4c4c4c;
  font-weight: 500;
}

.feature .feature-loan.loan-item2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 70px 0;
}

.feature .feature-loan.loan-item2 .loan2 {
  margin-right: 0;
}

@media (min-width: 1024px) {
  .feature .feature-loan.loan-item2 .loan2 {
    width: 44%;
  }
}

.feature .feature-loan.loan-item2 .loan2 .loan2-heading {
  width: 100%;
}

.list-custom {
  list-style: none;
}

.list-custom::before {
  width: 5px;
  height: 5px;
  margin: 0 -4px;
  border-radius: 30px;
  top: -3px;
  left: -14px;
  position: relative;
  background-color: #000;
  content: '';
  display: inline-block;
  visibility: visible;
  border: none;
}

input[type=range] {
  margin: auto;
  outline: none;
  padding: 0;
  width: 100%;
  height: 2px;
  background-color: #dedede;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00aec7), color-stop(100%, #00aec7));
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border: 0;
  background: #00aec7;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
}

.calc-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calc-form .calc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .calc-form .calc-list .slidecontainer, .calc-form .calc-list .calc-choose {
    width: 32%;
  }
}

.calc-form .calc-list .slidecontainer .calc-heading, .calc-form .calc-list .calc-choose .calc-heading {
  color: #4c4c4c;
  font-weight: 500;
}

.calc-form .calc-list .slidecontainer .calc-vay, .calc-form .calc-list .calc-choose .calc-vay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ccc;
}

.calc-form .calc-list .slidecontainer .example, .calc-form .calc-list .slidecontainer #choose-option, .calc-form .calc-list .calc-choose .example, .calc-form .calc-list .calc-choose #choose-option {
  color: #e3e3e3;
  border-radius: 4px;
  background-color: #00aec7;
  padding: 6px 12px;
  margin: 8px 0 4px;
}

.calc-form .calc-list .slidecontainer #choose-option, .calc-form .calc-list .calc-choose #choose-option {
  border: none;
  padding: 9px 18px;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.calc-form .calc-list .slidecontainer #choose-option .choose-option-item, .calc-form .calc-list .calc-choose #choose-option .choose-option-item {
  background-color: #fff;
  color: #000;
}

.angle-down {
  width: 15px;
  right: 160px;
  height: 10px;
  z-index: 1;
  -webkit-transform: translatey(115%);
          transform: translatey(115%);
  position: absolute;
}

.angle-down .img-arown-down {
  width: 100%;
}

.calc-fixx {
  padding-bottom: 100px;
}

.btn-sign .btn-item {
  padding: 14px 22px;
  background-color: #fff;
  border: 2px solid #aaa;
  color: #aaa;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.btn-sign .see-demo {
  background-color: #aaa;
  color: #fff;
  margin-left: 20px;
}

.btn-mobile {
  display: none;
}

.make-line {
  border-bottom: none;
  border-top: 1px solid #ccc;
}

@media (min-width: 1024px) {
  .make-line {
    margin: 0 120px;
  }
}

.condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid #aaa;
  padding: 50px 0;
  margin-bottom: 80px;
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 500;
}

.condition .condition-item {
  border-right: 1px solid #aaa;
  width: 22%;
}

.condition .condition-item2 {
  padding-top: 10px;
}

.condition .condition-item-heading {
  padding-bottom: 20px;
}

.list-custom2::before {
  width: 5px;
  height: 5px;
  margin: 0 6px;
  border-radius: 30px;
  top: -3px;
  left: -2px;
  position: relative;
  background-color: #000;
  content: '';
  display: inline-block;
  visibility: visible;
  border: none;
}

.header-footer {
  background-color: #f5f5f5;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.header-footer .header-footer-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-footer .info-footer-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-footer .info-footer-head .need-sp {
  padding-left: 20px;
}

.header-footer .info-footer-head .hotline, .header-footer .info-footer-head .need-sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-footer .info-footer-head .hotline .img-contact, .header-footer .info-footer-head .need-sp .img-contact {
  width: 25%;
}

.footer-container {
  background: url(../bt3/assets/img/bg-banner-footer.png) top center/cover no-repeat;
  padding-top: 90px;
  background-position: -180px;
  position: relative;
}

.footer-container .go-top {
  position: absolute;
  bottom: -58px;
  right: -20px;
}

.footer-container .go-top .go-top-img {
  width: 45%;
}

.footer-container .sub-footer-container-mobile {
  display: none;
}

.footer-container .sub-footer-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 80px;
}

.footer-container .sub-footer-container-heading {
  color: #fff;
  font-size: 30px;
  width: 340px;
}

.footer-container .sub-footer-container-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container .qr-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-container .qr-code .qr-code-img {
  width: 30%;
}

.footer-container .qr-code .sub-qr-code {
  color: #fff;
  font-size: 14px;
  text-align: initial;
  margin: auto 30px;
  margin-right: 0;
  width: 32%;
  opacity: 0.9;
  line-height: 1.6;
}

.footer-bottom {
  background-color: #3a3b40;
  padding: 60px 0 30px;
}

.footer-bottom .bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer-bottom .bottom-list .bottom-item {
  padding: 0 30px;
  position: relative;
}

.footer-bottom .bottom-list .bottom-item1 {
  padding-left: 0;
}

.footer-bottom .bottom-list .bottom-item2 {
  padding-right: 0;
}

.footer-bottom .bottom-list .separate {
  color: #c5bebe;
}

.footer-bottom .bottom-list .no-need-border {
  border: none;
}

.footer-bottom .bottom-list .bottom-item a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}

.footer-bottom .connect-footer, .footer-bottom .address-footer {
  text-align: center;
  color: #fff;
  padding: 20px 0;
  font-size: 13px;
  line-height: 1.6;
}

.footer-bottom .sub-connect-footer {
  color: #999 !important;
  font-size: 12px !important;
}

.footer-bottom .connect-footer {
  border-bottom: 1px solid #999;
}

.footer-bottom .tel-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-bottom .tel-email .tel-footer {
  padding-right: 8px;
  position: relative;
}

.footer-bottom .tel-email .email {
  padding-left: 8px;
}

.footer-bottom .img-connect {
  width: 46px;
  padding: 20px 6px;
}

@media (min-width: 768px) {
  .bottom-list .bottom-separate::after, .tel-email .bottom-separate::after {
    position: absolute;
    content: "";
    display: block;
    border-left: 2px solid #ccc;
    height: 15px;
    right: -3px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.arrow-down, .mb, .product {
  display: none;
}

.h4:active {
  background-color: #ccc;
}
/*# sourceMappingURL=style.css.map */