@media (max-width: 740px) {
  .header {
    padding: 0 20px;
  }
  .header .img-list {
    color: #eb681a;
  }
  .slider {
    padding-top: 300px;
    position: relative;
  }
  .sub-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
    position: absolute;
    bottom: -300px;
  }
  .sub-slider .sub-slider-left {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .sub-slider .sub-slider-left .sub-slider-left-header {
    font-size: 32px;
  }
  .sub-slider .sub-slider-left .sub-slider-left-desc {
    margin: 10px 50px;
    padding-top: 0;
    font-size: 20px;
    padding-right: 0;
  }
  .sub-slider .sub-slider-right {
    max-width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    color: #000;
    padding: 30px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 1px 3px #ccc;
            box-shadow: 0 1px 3px #ccc;
    margin: 0 auto;
  }
  .sub-slider .sub-slider-right .check-list-need, .sub-slider .sub-slider-right .sub-slider-right-desc {
    font-weight: 500;
  }
  .sub-slider .sub-slider-right .check-list-need {
    text-align: initial;
  }
  .sub-slider .sub-slider-right .slider-more-info {
    color: #eb681a;
    border: 1px solid #eb681a;
  }
  .sub-slider .sub-slider-right .pc-sub-slider {
    display: none;
  }
  .sub-slider .sub-slider-right .mb-sub-slider {
    display: block;
    padding: 0  54px;
  }
  .list-check::after {
    background-color: #fff;
    border: 2px solid #ccc;
  }
  .pc-choose {
    display: none;
  }
  .mobile-choose {
    display: block;
    padding-right: 40px;
  }
  .choose-option {
    padding: 360px 0 60px;
  }
  .choose-option .choose-option-header {
    font-size: 34px;
    text-align: center;
    padding: 0 80px;
  }
  .choose-option-item-sub {
    bottom: 40px;
  }
  .option-item-sub-desc {
    margin-bottom: 110px;
  }
  .option-item-sub-desc1 {
    margin-bottom: 130px;
  }
  .choose-option-items {
    margin: 0 !important;
  }
  .give-mess {
    display: none;
  }
  .about-us {
    padding: 0 20px;
  }
  .about-us .about-us .about-us-header {
    font-size: 30px;
  }
  .about-us .sub1 {
    margin: 0 34px;
  }
  .about-us .sub2 {
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
  }
  .about-us .about-us-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .about-us .about-us-list .about-us-item {
    padding: 24px 0;
    margin: 0 20px;
  }
  .about-us .about-us-list .line1-aboutus, .about-us .about-us-list .line2-aboutus {
    border-right: none;
  }
  .about-us .about-us-list .line2-aboutus {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
  }
  .about-us .frame-img {
    width: 180%;
  }
  .clients {
    margin: 0;
    padding: 20px 0 60px;
  }
  .no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
  }
  .clients-cmt {
    margin: 0 40px;
    padding: 50px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .img-client {
    width: 80%;
  }
  .clients-rate {
    padding: 0;
  }
  .rating-star {
    padding-top: 20px;
  }
  .rate-star {
    padding-right: 30px;
    width: 120% !important;
  }
  .clients .clients-heading {
    width: 100%;
    font-size: 25px;
    padding: 40px 40px 60px;
  }
  .clients-name {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 400;
  }
  .clients-comment {
    font-size: 20px;
    width: 100%;
    padding: 0;
  }
  .frame-img {
    width: 187%;
  }
  .owl-carousel-1 .owl-stage-outer .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .owl-carousel-1 .owl-stage-outer .owl-stage .owl-item {
    width: 100% !important;
  }
  .owl-prev {
    left: 0;
  }
  .owl-next {
    right: 0;
  }
  .mobile-choose .owl-nav.disabled {
    display: none;
  }
  .header-footer .header-footer-container {
    padding: 40px 20px;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-footer .info-footer-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-footer .info-footer-head .hotline {
    padding: 20px 0;
  }
  .header-footer .info-footer-head .hotline .sp-info-footer-head {
    padding: 10px 0;
  }
  .header-footer .info-footer-head .hotline .sp-info-footer-head .sp-scr1 {
    font-size: 18px;
  }
  .header-footer .info-footer-head .hotline .sp-info-footer-head .sp-scr1 a {
    text-decoration: underline;
  }
  .header-footer .info-footer-head .need-sp {
    padding: 0;
  }
  .header-footer .info-footer-head .need-sp .sp-scr {
    font-size: 15px;
  }
  .footer-container {
    background: url(../assets/img/home-banner-app-install-mobile.jpg) top center/cover no-repeat;
    padding-top: 44px;
  }
  .footer-container .sub-footer-container-mobile {
    display: block;
    padding: 0 16px 400px;
  }
  .footer-container .sub-footer-container-mobile .img-app-store {
    padding-right: 16px;
  }
  .footer-container .sub-footer-container-heading {
    padding-right: 30px;
  }
  .footer-container .sub-footer-container {
    display: none;
  }
  .footer-container .go-top {
    bottom: -62px;
    right: -120px;
  }
  .footer-container .go-top .go-top-img {
    width: 50%;
  }
  .footer-bottom {
    padding: 40px 0 20px;
  }
  .footer-bottom .bottom-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 15px;
  }
  .footer-bottom .bottom-list .bottom-item {
    border-right: none;
    padding: 0 10px;
  }
  .footer-bottom .bottom-list .bottom-item a {
    font-size: 14px;
    font-weight: 500;
  }
  .footer-bottom .bottom-list .separate {
    display: none;
  }
  .footer-bottom .bottom-list .mb-separate {
    display: block;
  }
  .footer-bottom .copyright {
    font-size: 10px;
    padding: 0 60px;
    padding-top: 0;
  }
  .bottom-separate-mb::after {
    position: absolute;
    content: "";
    display: block;
    border-left: 2px solid #ccc;
    height: 15px;
    right: -3px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (min-width: 1024px) {
  .clients-cmt {
    width: 800px;
  }
  .rate-star {
    padding: 0 10px;
  }
  .img-choose-item {
    width: 100%;
  }
  .sp-info-footer-head {
    padding-left: 10px;
  }
  .item-about-fix-pc {
    margin-right: 20px;
  }
  .check-list-item {
    margin-right: 34px;
  }
  .check-list-need {
    padding-right: 56px;
    margin-left: 10px;
  }
  .sub-connect-footer, .copyright {
    font-size: 9px;
    padding-top: 20px;
    color: #e7e7e7;
  }
}

@media (min-width: 741px) and (max-width: 1024px) {
  .header {
    height: 110px;
    padding: 0 20px;
  }
  .header .img-logo {
    width: 220%;
    padding: 25px 0;
  }
  .header .img-list {
    color: #eb681a;
    width: 38px;
    height: 38px;
    padding: 33px 0;
  }
  .slider {
    padding-top: 50%;
  }
  .sub-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 28px;
  }
  .sub-slider .sub-slider-left {
    max-width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  .sub-slider .sub-slider-left .sub-slider-left-header {
    font-size: 32px;
  }
  .sub-slider .sub-slider-left .sub-slider-left-desc {
    margin: 10px 50px;
    padding-top: 0;
    font-size: 20px;
    padding-right: 0;
  }
  .sub-slider .sub-slider-left, .sub-slider .sub-slider-right {
    width: 100%;
  }
  .sub-slider .sub-slider-right {
    max-width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    color: #000;
    padding: 30px;
    -webkit-box-shadow: 0 1px 3px #ccc;
            box-shadow: 0 1px 3px #ccc;
  }
  .sub-slider .sub-slider-right .slider-more-info {
    color: #eb681a;
    border: 1px solid #eb681a;
    font-weight: 500;
  }
  .list-check::after {
    background-color: #fff;
    border: 2px solid #ccc;
  }
  .pc-choose {
    display: block;
  }
  .mobile-choose {
    display: none;
  }
  .choose-option {
    padding: 60px 0;
  }
  .choose-option .choose-option-header {
    font-size: 34px;
    margin: 90px 80px 30px;
    text-align: center;
  }
  .choose-option-item-sub {
    bottom: 130px;
    font-size: 24px;
  }
  .link-choose-option {
    width: 160px;
  }
  .option-item-sub-desc {
    margin-bottom: 300px;
  }
  .choose-option-items {
    margin: 40px 20px;
  }
  .choose-option-items .img-choose-item {
    width: 100%;
  }
  .give-mess {
    display: none;
  }
  .about-us {
    padding: 0 20px;
  }
  .about-us .about-us .about-us-header {
    font-size: 30px;
  }
  .about-us .about-us-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .about-us .about-us-list .line1-aboutus, .about-us .about-us-list .line2-aboutus {
    border-right: none;
  }
  .about-us .about-us-list .line2-aboutus {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
  }
  .about-us .frame-img {
    width: 180%;
  }
  .clients {
    margin: 0;
    padding: 20px 0 60px;
  }
  .no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
  }
  .clients-cmt {
    margin: 0 40px;
    padding: 100px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .img-client {
    width: 80%;
  }
  .clients-rate {
    padding: 0;
  }
  .rating-star {
    padding-top: 20px;
  }
  .rate-star {
    padding-right: 30px;
    width: 120% !important;
  }
  .clients .clients-heading {
    width: 100%;
    font-size: 25px;
    padding: 40px 36px 60px;
  }
  .clients-name {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 400;
  }
  .clients-comment {
    font-size: 22px;
    width: 100%;
    padding: 0;
  }
  .header-footer {
    padding: 40px 30px;
    font-size: 23px;
  }
  .header-footer .header-footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-footer .info-footer-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-footer .info-footer-head .hotline {
    padding: 20px 0;
  }
  .header-footer .info-footer-head .need-sp {
    padding: 0;
  }
  .footer-container {
    background: url(../assets/img/home-banner-app-install-mobile.jpg) top center/cover no-repeat;
    padding-top: 164%;
  }
  .footer-container .sub-footer-container-mobile {
    display: none;
  }
  .footer-container .sub-footer-container-heading {
    font-size: 40px;
  }
  .footer-container .sub-footer-container {
    position: absolute;
    display: block;
    width: 85%;
    bottom: 720px;
    margin: 32px 20px;
  }
  .footer-container .sub-footer-container .app {
    width: 40%;
  }
  .footer-container .sub-footer-container .img-app-store {
    padding-right: 16px;
  }
  .footer-container .sub-footer-container .sub-qr-code {
    font-size: 24px;
  }
  .footer-container .go-top {
    bottom: -92px;
    right: -60px;
  }
  .footer-container .go-top .go-top-img {
    width: 80%;
  }
  .footer-bottom {
    padding: 40px 0;
  }
  .footer-bottom .bottom-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-bottom .sub-connect-footer {
    font-size: 16px !important;
  }
  .footer-bottom .img-connect {
    width: 60px;
  }
  .footer-bottom .address-footer {
    font-size: 20px;
  }
  .footer-bottom .copyright {
    font-size: 13px !important;
  }
  .footer-bottom .bottom-item {
    padding: 8px 10px !important;
  }
  .footer-bottom .bottom-list .bottom-item a {
    font-size: 24px;
  }
}
/*# sourceMappingURL=responsive.css.map */