@import '_breakpoint';
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}
#main{
    overflow: hidden;
}
.container{
        max-width: 100%;
        width: 1230px;
        margin: 0 auto;
        padding: 0 15px;
  
}
.header{
    background-color: #fff;
    box-shadow: 0 1px 3px #ccc; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 88px;
    z-index: 2;
    .container-header{
        justify-content: space-between;
        display: flex;
    }
    .img-header{
        width: 16%;
        .img-logo{
            width: 90%;
            padding: 16px 0;
            @include bp-md-max{
                width: 240%;
                padding: 25px 0;
            }
        }
}
}
.img-list{
    width: 28px;
    height: 28px;
    color: rgb(166, 166, 169);
    padding: 24px 0;
}
.slider{
    background: url(../assets/img/home-hero-banner.jpg) top center / cover no-repeat;
    padding-top: 50px;
    margin-top: 88px;
}
.sub-slider{
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.sub-slider-left, .sub-slider-right{
    width: 453px;
    text-align: initial;
}
.sub-slider-left-header{
    font-size: 36px;
    margin-top: 48px;
}
.sub-slider-left-desc{
    padding-top: 10px;
    padding-right: 172px;
    font-size: 24px;
}
.sub-slider-right-header{
    font-size: 20px;
}
.pc-sub-slider{
    display: block;
    font-size: 28px;
}
.mb-sub-slider{
    display: none;
}   
.sub-slider-right-desc{ 
    font-size: 16px;
    margin: 15px 0;
    opacity: 0.9;
    font-size: 14px;
    
}

.check-list-need{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    opacity: 0.9;
}
.check-list-item{
   display: flex;
   margin-bottom: 20px;
   align-items: center;
}

.list-check::after{
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -8px;
    left: -3px;
    position: relative;
    background-color: #ef8547;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.list-check:checked::after{
        width: 16px;
        height: 16px;
        border-radius: 15px;
        top: -8px;
        left: -3px;
        position: relative;
        background-color: red;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    
}
.list-check-desc{
    margin-left: 12px;
    margin-top: 5px;
}
.slider-more-info{
    display: inline-block;
    padding: 6px 22px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
// content
.mobile-choose{
    display: none;
}
.choose-option{
   padding: 80px 0;
   .choose-option-header{
       margin-bottom:40px;
       font-size: 28px;
   }
}
.choose-option-item{
    position: relative;
}
.choose-option-item-sub{
    position: absolute;
    bottom: 40px;
    padding-left: 40px;
}

.option-item-sub-desc{
    margin-bottom: 110px;
    margin-top: 12px;
}
.link-choose-option{
    padding: 4px 0;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    width: 120px;
    align-items: center;
    .link-connect-choose{
        text-decoration: none;
        color: #000;
        font-size: 15px;
    }
}
.choose-option-list{
    display: flex;
    justify-content: space-between;
}

.give-mess{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateX(95%);
    width: 100%;
    z-index: 1;
    .give-mess-img{
        width: 80px;
    }
}
// about us
.about-us{
    background-color: #f5f5f5;
    text-align: center;
    .about-us-header{
        color: #eb681a;
        padding: 20px 0 ;
        font-size: 36px;
    }
    .about-us-sub{
      padding-top: 80px;
    }
    .sub1{
        font-size: 18px;
    }
}
.about-us-list{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .about-us-item{
        text-align: initial;
        margin  : 24px 0;
        .img-about-us{
            transform: translateX(-18px);
        }
        .about-us-item-heading{
            font-size: 20px;
            font-weight: 600;
            color: #eb681a;
            margin: 20px 0;
            width: 276px;
        }
    }
    .line1-aboutus, .line2-aboutus{
        border-right: 1px solid #d2d2d2;
        flex: 2;
        padding-right: 40px;
    }
    .line2-aboutus, .line3-aboutus{
        padding-left: 36px;
    }

    .about-us-item.line3-aboutus {
        padding-right: 0;
        flex: 1;
    }
    .list-all-about{
        list-style: none;
    }
    .list-custom{
        line-height: 1.8;
    }
}
.list-custom::before{
    width: 5px;
    height: 5px;
    margin-right: 6px;
    border-radius: 30px;
    top: -3px;
    left: 2px;
    position: relative;
    background-color: #000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
}
// clients
.clients{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 80px 0 120px;
    .clients-heading{
        width: 600px;
        margin: auto;
        font-size: 28px;
        padding: 10px 0 60px;
    }

}
.clients-cmt{
    display: flex;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin: auto;
    padding: 40px 80px;
    box-shadow: 0 5px 12px 8px #ccc; 
    max-width: 100%;
}
.clients-rate{
    text-align: initial;
    padding:0 20px;
}
.clients-name{
    padding: 20px 10px;
    font-size: 17px;
    font-weight: 400;
}
.clients-comment{
    padding: 0 10px;
    font-size: 15px;
    line-height: 1.4;
}
.rating-star{
    display: flex;
}
.img-clients{
    width: 100%;
}
// owl slide
.owl-carousel .owl-stage-outer{
    overflow: visible;
}
.owl-prev{
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px !important;
    color: #eb681a !important;
    font-weight: 100 !important;
}
.owl-next{
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px !important;
    color: #eb681a !important;
    font-weight: 100 !important;
}
.owl-prev,.owl-next:hover{
    background: none !important;
}
.owl-dots{
    display: none !important;
}

// footer
.header-footer{
    background-color: #f5f5f5;
    padding: 40px 0;
    .header-footer-container{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .info-footer-head{
        display: flex;
        .need-sp{
            padding-left: 30px;
        }
        .hotline, .need-sp{
            display: flex;
            text-align: initial;  
            .sp-scr{
                padding-top: 4px;
                a{
                   color: #000;
                   font-size: 18px;
                   text-decoration: none;
               }
            }

        }
    }
}
.footer-container{
    background: url(../assets/img/home-banner-app-install.jpg) top center / cover no-repeat;
    padding-top: 100px;
    position: relative;
    .go-top{
        position: absolute;
        bottom: -58px;
        right: -8px;
        .go-top-img{
            width: 45%;
        }
    }
    .sub-footer-container-mobile{
        display: none;
    }
    .footer-container-body{
        
    }
    .sub-footer-container{
        width: 400px;

    }
        .sub-footer-container-heading{
            color: #fff;
            font-size: 30px;
               
        }
        .sub-footer-container-download{
            display: flex;
            padding-top: 30px;
            .img-app-store{
                padding-right: 30px;
            }
        }
        .qr-code{
            display: flex;
            justify-content: space-between;
            padding: 40px 0 80px;
            .qr-code-img{
                width: 26%;
            }
            .sub-qr-code{
                color: #fff;
                font-size: 14px;
                text-align: initial;
                margin: auto;
                padding: 0 72px 0 40px;
                line-height: 1.6;
            }
        }
    }

    .footer-bottom{
        background-color:#3a3b40;
        padding: 60px 0 30px;
        .bottom-list{
            display: flex;
            list-style: none;
            .bottom-item{
                padding: 0 33px;
                position: relative;
            }
            
            .bottom-item1{
                padding-left: 0;
            }
            .bottom-item2{
                padding-right: 0;
            }
            .separate{
                color: #c5bebe;
            }
            .no-need-border{
                border: none;
            }
            .bottom-item a{
                text-decoration: none;
                font-size: 15px;
                color: #fff;
            }
        }
       
        .connect-footer, .address-footer{
            text-align: center;
            color: #fff;
            padding: 20px 0;
            font-size: 13px;
            line-height: 1.6;

        }
        .sub-connect-footer{
            color: #999 !important;
            font-size: 12px !important;
        }
        .connect-footer{
            border-bottom: 1px solid #999;
        }
        .tel-email{
            display: flex;
            justify-content: center;
            .tel-footer{
                padding-right: 8px;
                position: relative;
            }
            .email{
                padding-left: 8px;
            }
        } 
        .img-connect {
            width: 46px;
            padding: 20px 6px;
        }
    } 
    .bottom-list, .tel-email{
        @include bp-sm-min{
            .bottom-separate::after{
                position: absolute;
                content: "";
                display: block;
                border-left: 2px solid #ccc;
                height: 15px;
                right: -3px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

