@media only screen and (max-width: 46.25em) {
  * {
    padding: 0;
  }
  body {
    width: 100%;
  }
  header .header-top {
    padding: 0 15px;
    width: 100%;
    height: 50px;
  }
  header .header-top .logo img {
    width: 86px;
    height: 26px;
    margin: auto 0;
  }
  header .header-top .navbar {
    margin-left: 53%;
    padding: 5px;
  }
  header .header-top .navbar .container {
    margin: 7px 0;
  }
  header .header-top .navbar .container .bar1, header .header-top .navbar .container .bar2, header .header-top .navbar .container .bar3 {
    width: 18px;
    margin: 3px 0;
    background-color: #f78d46;
  }
  header .header-down {
    width: 100%;
    height: 550px;
    padding: 25px 75px;
    background: url("../../assets/img/FLEXIBLE_LOAN_bg_mobile.png") no-repeat;
    background-position: bottom center;
    background-size: cover;
  }
  header .header-down .conten {
    padding: 10px 0;
    width: 100%;
    height: 300px;
    text-align: center;
  }
  header .header-down .conten span {
    width: 100%;
    font-size: 15px;
  }
  header .header-down .conten strong {
    font-size: 30px;
    width: 100%;
  }
  header .header-down .conten p {
    font-size: 18px;
  }
  header .header-down .conten button {
    margin-top: 310px;
    -webkit-box-shadow: 10px;
            box-shadow: 10px;
    display: block;
  }
  header .header-down .conten .hien {
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
  }
  header .header-down .conten .hien img {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .hien{
    display: block;
  }
  .ab img{
    width: 20px;
    height: 20px;
    margin: -5px 0;
  }
  section .container {
    padding: 0;
    margin-top: 150px;
  }
  section .container span {
    text-align: center;
    height: 60px;
    font-size: 25px;
    width: 90%;
    margin: 0 auto;
    padding: 0 30.5px;
    display: block;
  }
  section .container button{
    margin: 30px auto;
    border: 2px solid #ffbb01;
    width: 165px;
    height: 52px;
    color: #ffbb01;
  }
  section .container .conten-ct {
    padding: 10px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section .container .conten-ct .conten-ct-b, section .container .conten-ct .conten-ct-c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section .container .conten-ct .conten-ct-b {
    width: 100%;
    height: 100px;
    margin: 40px 0;
  }
  section .container .conten-ct .conten-ct-b p {
    margin: auto 10px;
  }
  section .container .hienn {
    margin: 20px auto;
    width: 175px;
    height: 48px;
    color: #ffbb01;
    font-size: 17px;
    font-weight: bold;
    display: block;
  }
  section .container .hienn img {
    margin: -6px 5px;
    width: 30px;
    height: 30px;
  }
  section .container .conten1 {
    width: 100%;
    margin: 20px 0;
    height: 430px;
    padding: 0 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section .container .conten1 .conten1-1 {
    width: 100%;
    height: 270px;
    margin: 10px 0;
  }
  section .container .conten1 .conten1-1 p {
    width: 90%;
    height: 70px;
    font-size: 18px;
    display: block;
    margin: 30px auto;
    font-weight: bold;
  }
  section .container .conten1 .conten1-1 ul {
    font-size: 15px;
    margin: 30px 0;
  }
  section .container .conten1 .conten1-1 img {
    margin: 20px 0;
  }
  section .container .conten1 .mrr {
    margin: 0;
  }
  section .container .conten1 img {
    width: 275px;
    height: 155px;
    margin: 10px 0 !important;
  }
  section .container .conten1-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section .form1 {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
  }
  section .form1 .stmv {
    width: 95%;
    height: 140px;
    margin: 0px auto;
  }
  section .form1 .stmv .p {
    font-size: 20px;
  }
  section .form1 .stmv .p span {
    font-size: 20px;
    right: 30px;
    height: 25px;
    width: 60px;
  }
  section .form1 .stmv .d p {
    width: 250px;
  }
  section .form1 .stmv .d .a {
    margin-left: 30%;
  }
  section .form1 .stmv .d .b {
    margin-left: 60%;
  }
  section form .nut {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-direction: column-reverse;
  }
  section form .nut .nut1{
    height: 48px;
    border: 2px solid #ffbb01;
    color: #ffbb01;
  }
  section form .nut .nut2{
    width: 185px;
  }
  section form .form {
    display: block;
    margin: 40px auto;
    width: 250px;
  }
  section .bp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
    width: 90%;
    margin: 0 auto;
  }
  section .bp .bp2 {
    margin: 10px 0;
  }
  section .bp .bp2 p {
    margin: 5px 10px;
    margin-bottom: 45px;
  }
  section .bp .bp1 {
    height: 250px;
    padding: 10px;
    width: 100%;
    border: none;
  }
  section .bp .bp1 p {
    margin: 5px 10px;
    margin-bottom: 45px;
  }
  section .bp .bp1 ul p {
    width: 150px;
    margin: 10px 0;
  }
  section .bp .hien {
    width: 100%;
    display: block;
  }
  .an {
    display: none;
  }
  /* Footer */
  footer .lienhe {
    width: 100%;
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  footer .lienhe strong {
    width: 100%;
    margin: 40px auto;
    font-size: 30px;
  }
  footer .lienhe .icon {
    margin: 20px 30px;
  }
  footer .lienhe .icon .text p {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    font-size: 17px;
  }
  footer .qc {
    background: url("../../assets/img/home-banner-app-install-mobile.jpg") no-repeat;
    background-size: cover;
    background-position: left center;
    padding: 0;
    height: 600px;
  }
  footer .footer {
    margin: 0px 20px;
    width: 90%;
    padding: 0;
    padding-top: 30px;
  }
  footer .footer .displaynone {
    display: block;
    margin: 0;
  }
  footer .footer .dplay {
    display: none;
  }
  footer .footer .qr {
    display: none;
  }
  footer .footer .img-footer img {
    width: 120px;
    height: 40px;
  }
  footer .footer p {
    width: 90%;
    font-size: 27px;
  }
  footer .footer2 {
    padding: 30px;
    height: 750px;
  }
  footer .footer2 .fiximg {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    top: -36px;
  }
  footer .footer2 .a {
    margin: 20px 0;
  }
  footer .footer2 .pp {
    color: #afadad;
  }
  footer .footer2 .pp p {
    font-size: 13px;
  }
  footer .footer2 .pp .p {
    margin: 10px 0;
  }
  footer .footer2 .nav1 {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer2 .nav1 .nav1-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 10px auto;
  }
  footer .footer2 .nav1 .nav1-1 span {
    margin: 0 auto;
  }
  footer .footer2 .nav1 .nav1-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 10px auto;
  }
  footer .footer2 .nav1 .nav1-2 span {
    margin: 0 auto;
  }
  footer .footer2 .nav1 .nav1-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 10px auto;
  }
  footer .footer2 .nav1 .nav1-3 span {
    margin: 0 auto;
  }
  footer .footer2 .nav {
    display: none;
  }
}
/*# sourceMappingURL=vay-reponsive.css.map */