* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  width: 100%;
}

/* Header */
header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 77px;
  padding: 0 200px 0 200px;
}

header .header-top .logo {
  padding: 10px;
}

header .header-top .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 45px;
}

header .header-top .navbar {
  width: 70px;
  padding: 18px;
  margin-left: 84%;
}

header .header-top .navbar .container {
  display: inline-block;
  cursor: pointer;
}

header .header-top .navbar .bar1, header .header-top .navbar .bar2, header .header-top .navbar .bar3 {
  width: 35px;
  height: 3px;
  background-color: #a8a6a6;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .header-top .navbar .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

header .header-top .navbar .change .bar2 {
  opacity: 0;
}

header .header-top .navbar .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

header .header-down {
  background: url("../../assets/img/FLEXIBLE_LOAN_bg.png");
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 386px;
}

header .header-down .conten {
  text-align: left;
  width: 55%;
  padding: 50px 200px;
  font-size: 40px;
  height: 386px;
}

header .header-down .conten button {
  width: 220px;
  height: 53px;
  background: #ffbb01;
  color: white;
  border: none;
  margin: 40px 0;
}

header .header-down .conten p {
  font-size: 27px;
  font-weight: bold;
  margin-top: 30px;
}

header .header-down .conten span {
  font-size: 22px;
  margin-top: 20px;
  width: 500px;
  display: block;
}

.hienn{
  display: none;
}
.ab img{
  width: 20px;
  height: 20px;
  margin: -5px 0;
}

section .container {
  width: 100%;
  padding: 50px 200px;
  text-align: left;
  position: relative;
}

section .container span {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

section .container .top, section .container .down {
  width: 70px;
  height: 100px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  right: 30px;
}

section .container button {
  width: 120px;
  height: 40px;
  border: 2px solid #ffbb01;
  background: transparent;
  margin-left: 90%;
  margin-top: -30px;
}

section .container .down {
  bottom: 90%;
}

section .container .conten-ct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .container .conten-ct .conten-ct-b {
  width: 300px;
  height: 200px;
}

section .container .conten-ct .conten-ct-b img {
  width: 90px;
  height: 90px;
  -webkit-filter: #f78d46;
          filter: #f78d46;
}

section .container .conten-ct .conten-ct-b p {
  margin: 10px 0;
}

section .container .conten-ct .c {
  margin: 0 auto;
}

section .container .conten1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 356px;
  width: 100%;
  margin: 80px 0;
}

section .container .conten1 img {
  width: 533px;
  height: 356px;
  -o-object-fit: cover;
     object-fit: cover;
}

section .container .conten1 .conten1-1 {
  height: 356px;
  width: 35%;
  margin: 50px 0;
}

section .container .conten1 .conten1-1 p {
  color: #ffbb01;
  font-size: 25px;
}

section .container .conten1 .conten1-1 ul {
  margin: 30px 0;
  margin-left: 25px;
  font-size: 20px;
}

section .container .conten1 .conten1-1 ul li {
  margin: 10px 0;
}

section .container .conten1 .mrr {
  margin-right: 185px;
}

section .sb {
  margin: 40px 0;
}

section .form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .stmv {
  width: 385px;
  margin-right: 20px;
}

section .stmv .d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

section .stmv .d .a {
  margin-left: 55%;
}

section .stmv .d .b {
  margin-left: 70%;
}

section .stmv .p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 46px;
  padding: 10px;
  background-color: #ffbb01;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  position: relative;
}

section .stmv .p span {
  position: absolute;
  right: 10px;
}

section .stmv .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  margin-top: 15px;
}

section .stmv .slider:hover {
  opacity: 1;
}

section .stmv .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffbb01;
  cursor: pointer;
  border-radius: 50%;
}

section .stmv .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

section .stmv select {
  width: 100%;
  height: 46px;
  background: #ffbb01;
  border-radius: 5px;
  color: white;
}

section form .form {
  margin: 30px 0;
  font-weight: bold;
  font-size: 25px;
}

section form label {
  margin: 10px 0;
  display: block;
}

section form .nut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 77%;
  margin-top: 60px;
  margin-bottom: 80px;
}

section form .nut .nut1 {
  background: white;
  width: 165px;
  height: 52px;
  margin: 10px 10px;
  border: 2px solid #9b9999;
  color: #9b9999;
}

section form .nut .nut2 {
  background: #9b9999;
  width: 165px;
  height: 52px;
  margin: 10px 0;
  border: 2px solid #9b9999;
  color: white;
}

section .bp {
  border: 1px solid black;
  width: 100%;
  height: 258px;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .bp .bp1 {
  width: 320px;
  height: 180px;
  border-right: 1px solid black;
  padding-right: 44px;
  padding-left: 24px;
}

section .bp .bp1 p {
  margin: 5px 0;
  font-size: 20px;
  margin-bottom: 45px;
}

section .bp .bp1 ul {
  margin-left: 20px;
  font-size: 20px;
}

section .bp .bp1 ul li {
  margin: 5px 0;
}

section .bp .bp1 ul p {
  font-size: 20px;
  margin: 5px -20px;
}

section .bp .bp2 {
  margin-left: 40px;
}

section .bp .bp2 p {
  margin: 5px 0;
  font-size: 20px;
  margin-bottom: 45px;
}

section .bp .bp2 ul {
  margin-left: 20px;
  font-size: 20px;
}

section .bp .bp2 ul li {
  margin: 5px 0;
}

.hien {
  width: 100%;
  display: none;
}

/* Footer */
footer .lienhe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  background: #f3f2f2;
  padding: 0 200px;
}

footer .lienhe strong {
  font-size: 25px;
  display: block;
  margin: auto 0;
  margin-right: 380px;
}

footer .lienhe .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: auto 100px;
  height: 50px;
  width: 240px;
}

footer .lienhe .icon strong {
  margin: 4px 0;
  font-size: 16px;
}

footer .lienhe .icon img {
  width: 50px;
  height: 50px;
}

footer .qc {
  background: url("../../assets/img/bg-banner-footer.png") no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 310px;
  padding: 75px 200px;
}

footer .footer {
  width: 25%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer .displaynone {
  display: none;
}

footer .footer p {
  font-size: 30px;
  width: 350px;
  display: block;
  color: white;
  font-weight: bold;
}

footer .footer .img-footer {
  margin: 30px 0;
}

footer .footer .img-footer img {
  width: 150px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px white;
}

footer .footer .qr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 160px;
  margin-left: 187%;
}

footer .footer .qr img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .footer .qr p {
  font-size: 15px;
  color: #dcdddd;
  width: 170px;
  margin: auto;
  margin-left: 20px;
}

footer .footer2 {
  position: relative;
  width: 100%;
  height: 400px;
  background: #3d424d;
  padding: 50px 200px;
  color: white;
}

footer .footer2 .fiximg {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  top: -40px;
  right: 160px;
  position: absolute;
}

footer .footer2 .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-bottom: 40px;
}

footer .footer2 .nav p {
  font-weight: bold;
}

footer .footer2 .nav span {
  margin: 0 50px;
}

footer .footer2 .nav1 {
  display: none;
}

footer .footer2 .a {
  display: block;
  margin: 30px 0;
  color: #afadad;
}

footer .footer2 .icon11 {
  margin: 20px 0;
}

footer .footer2 .icon11 img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .footer2 .pp p {
  margin: 5px 0;
}

footer .footer2 .pp .p {
  margin: 40px 0;
  color: #afadad;
}
/*# sourceMappingURL=vay.css.map */