@import "@/styles/_common";

#reservation-list {

    .container {

        .wrapper {
            flex-direction: column;

            .reservation-search {
                text-align: right;          
            }

            .reservation-table {
                padding-top: 20px;

                .ant-table-thead > tr > th {
                    text-align: center;
                }
        
                .ant-table-tbody > tr > td {
                   text-align: center;
                }

                .ant-table table {
                    text-align: center;
                }

        
            }
        }
    }
}