@media only screen and (max-width: 740px) {
    body {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: arial,sans-serif;
    }

    /* Header */
    .an {
        display: none;
    }

    .ann {
        display: block !important;
    }

    .aan {
        display: none !important;
    }

    .owl-theme .owl-nav {
        display: none;
    }

    .owl-theme .owl-dots {
        display: none;
    }

    .flex-colum {
        flex-direction: column;
    }

    .flex {
        position: relative;
        display: flex;
    }

    header {
        .header-top {
            .navbar {
                margin-left: 36%;
                .bar1 {
                    background-color: rgb(255, 130, 57);
                }

                .bar2 {
                    background-color: rgb(255, 130, 57);
                }

                .bar3 {
                    background-color: rgb(255, 130, 57);
                }

            }

            .logo {
                margin-left: 10px;
                img {
                    width: 140px;
                    height: 40px;
                    margin-top: 5px;
                    margin-left: 0;
                }

            }

        }

        .header-down {
            flex-direction: column;
            position: relative;
            height: 500px;
            justify-content: normal;
            background-size: cover;
            background-position: center bottom;
            .conten2 {
                background-color: white;
                color: black;
                margin: 0 auto;
                box-shadow: 0 1px 10px rgb(141, 140, 140);
                bottom: -162px;
                width: 90%;
                height: 445px;
                padding: 20px 30px;
                border-radius: 10px;
                border: 1px solid white;
                text-align: center;
                strong {
                    width: 69%;
                    margin: 10px auto;
                }

                p {
                    color: black;
                    text-align: left;
                }

                .t {
                    text-align: center;
                }

                button {
                    border: 2px solid rgb(255, 130, 57);
                    color:rgb(255, 130, 57);
                    margin: 10px auto;
                    margin-top: 20px;
                    width: 150px;
                    height: 50px;
                    font-weight: bold;
                }

                .input {
                    .checkmark::after {
                        background-color: white;
                        border: 1px solid rgb(136, 135, 135);
                    }

                }

            }

            .conten1 {
                width: 100%;
                height: 200px;
                margin: 10px auto;
                padding: 10px;
                text-align: center;
                justify-content: center;
                align-items: center;
                top: -100px;
                p {
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 40px;
                    display: block;
                }

            }

            .conten2-2 {
                position: absolute;
                width: 100%;
                bottom: -283px;
            }

        }

    }

    main {
        img {
            width: 100%;
            height: 70px;
            object-fit: cover;
            
        }

        .container1 {
            padding: 10px;
            height: 670px;
            .top {
                display: none;
            }

            .down {
                display: none;
            }

            .imgs {
                flex-direction: column;
                .img {
                    img {
                        width: 240px;
                    }

                    .img1 {
                        strong {
                            width: 150px;
                            height: 15px;
                            margin: 0;
                            margin-bottom: 10px;
                            margin-left: -19px;
                        }

                        p {
                            width: 110px;
                            margin-top: 12px;
                        }

                        button {
                            position: relative;
                            margin-top: 150px;
                            img {
                                top: 5px;
                                right: 0;
                            }

                        }

                    }

                }

            }

            strong {
                width: 70%;
                margin: 20px auto;
                margin-top: 200px;
                height: 100px;
                font-size: 35px;
                text-align: center;
            }

        }

        .conten2 {
            flex-direction: column;
            margin-top: 25px;
            .block {
                margin: 10px auto;
                border: none;
                padding: 0;
                height: 220px;
                width: 100%;
                p {
                    margin: 20px 0;
                    width: 300px;
                    font-weight: bold;
                    font-size: 19px;
                }

                ul {
                    .list-custom::before {
                        margin-right: -8px;
                        left: -10px;
                    }

                    li {
                        line-height: 1.6;
                    }

                }

                img {
                    margin-left: -15px;
                }

                .con-p {
                    width: 200px;
                }

            }

            .blockk {
                margin: 160px 0;
                height: 253px;
                .con-p {
                    width: 200px;
                }

            }

        }

        .container2 {
            padding: 40px 60px;
            .content1 {
                p {
                    color: black;
                    width: 250px;
                    margin: 10px auto;
                    line-height: 1.4;
                    font-size: 18px;
                }

                strong {
                    font-size: 25px;
                }

            }

        }

        .container3 {
            width: 100%;
            height: 720px;
            strong {
                width: 80%;
                font-size: 23px;
            }

            .imgs1 {
                left: 9px;
            }

            .imgs2 {
                right: 9px;
            }

            .owl-carousel1 {
                .owl-stage-outer {
                    overflow: visible;
                }

            }

            .sliderr {
                width: 100%;
                .owl-prev {
                    position: absolute;
                    left: 0;
                    top: 96%;
                    transform: translateY(-50%);
                    font-size: 80px !important;
                    color: #ffffff !important;
                    font-weight: 100 !important;
                }

                .owl-next {
                    position: absolute;
                    right: 0;
                    top: 96%;
                    transform: translateY(-50%);
                    font-size: 80px !important;
                    color: #ffffff !important;
                    font-weight: 100 !important;
                }

                
            }

            .owl-theme .owl-nav {
                display: block;
            }

            .contenss {
                width: 80%;
                height: 520px;
                box-shadow: 0 0 10px rgb(190, 190, 190);
                margin: 0 39px ;
                .imgs1 {
                    left: 5px;
                }

                .imgs2 {
                    right: 5px;;
                }

                .contents1 {
                    flex-direction: column;
                    width: 100%;
                    height: 400px;
                    img {
                        width: 100%;
                        height: 180px;
                    }

                    .contents2 {
                        margin: 10px 0;
                        img {
                            width: 20px;
                            height: 20px;
                            margin: 5px 0;
                            margin-right: 15px;
                            
                        }

                        p {
                            margin: 15px 0;
                        }

                    }

                }

            }

        }

    }

    footer {
        .lienhe {
            width: 100%;
            height: 300px;
            flex-direction: column;
            strong {
                width: 100%;
                margin: 60px auto;
                font-size: 25px;
                margin-bottom: 20px;
            }

            .iconvip {
                flex-direction: column;
                margin: 0 15px;
                width: 100%;
                .icon {
                    margin: 20px 30px;
                    width: 100%;
                    .text {
                        width: 100%;
                        .p1 {
                            text-decoration-line: underline; 
                            font-size: 19px;
                            width: 220px;
                        }

                        span {
                            font-size: 19px;
                            width: 150px;
                            margin-left: 3px;
                        }

                    }

                }

            }

            
        }

        .qc {
            background: url('../assets/img/home-banner-app-install-mobile.jpg') no-repeat;
            background-size: cover;
            background-position: left center;
            padding: 0;
        }

        .footer {
            margin: 0px 20px;
            width: 90%;
            padding: 0;
            padding-top: 30px;
            .displaynone {
                display: block;
                margin: 0;
            }

            .dplay {
                display: none;
            }

            .qr {
                display: none;
            }

            .img-footer {
                img {
                    width: 120px;
                    height: 40px;
                }

            }

            p {
                width: 90%;
                font-size: 27px;
            }

        }

        .footer2 {
            padding: 30px;           
            height: 400px;
                .fiximg {
                    img {
                        width: 70px;
                        height: 70px;
                        position: absolute;
                        right: 0;
                        top: -36px;
                    }

                }

            .a {
                margin: 20px 0;
            }

            .pp {
                color: #dfdfdf;
                p {
                    font-size: 13px;
                }

                .p {
                    margin: 10px 0;
                    color:rgb(221, 221, 221);
                }

            }

            hr {
                width: 100%;
            }

            .nav1 {
                display: block;
                text-align: center;
                justify-content: center;
                .nav1-1 {
                    display: flex;
                    width: 90%;
                    margin: 10px auto;
                    span {
                        margin: 0 auto;
                    }

                }

                .nav1-2 {
                    display: flex;
                    width: 80%;
                    margin: 10px auto;
                    span {
                        margin: 0 auto;
                    }

                }

                .nav1-3 {
                    display: flex;
                    width: 100%;
                    margin: 10px auto;
                    span {
                        margin: 0 auto;
                    }

                }

            }

            .nav {
                display: none;
                
            }

        }

    }

}
