@import 'breckpoint.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    width: 100%;
    font-family: Arial, sans-serif;
}

#main {
    overflow: hidden;
}

     /* Header */
.ann {
    display: none !important;
}

.h100 {
    height: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    @include phone-only {
        max-width: 540px;
    }
    @include tablet-sm {
        max-width: 720px;
    }
    @include tablet-lg {
        max-width: 960px;
    }
    @include desktop {
        width: 1230px;
        max-width: 100%;
        padding: 15px 0;
    }
}

.flex {
    display: flex;
}
.justy {
    justify-content: space-between;
}

header  {
    .header-top {
        .logo {
            padding: 15px 0;
            img {
                object-fit: cover;
                width: 150px;
                height: 40px;
            }

        }

        .navbar {
            width: 70px;
            padding: 15px 0;
            .navbar-header  {
                display: inline-block;
                cursor: pointer;
              }

              
              .bar1, .bar2, .bar3  {
                width: 35px;
                height: 3px;
                background-color: rgb(168, 166, 166);
                margin: 6px 0;
                transition: 0.4s;
              }

              
              .change .bar1  {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
              }

              
              .change .bar2  {opacity: 0;}

              
              .change .bar3  {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
              }

        }

    }

    .header-down {
        width: 100%;
        background:url('../assets/img/home-hero-banner.jpg');
        .conten1 {
            width: 450px;
            height: 220px;
            text-align: left;
            color: white;
            font-size: 25px;
            margin: auto 0;

            strong {
                margin: 20px 0;
                display: block;
                font-size: 35px;
            }

            p {
                font-size: 25px;
                height: 100px;
                width: 350px;
            }

        }

        .conten2 {
            width: 450px;
            height: 350px;
            text-align: left;
            color: white;
            padding: 40px;
            padding-right: 0;
            position: relative;
            strong {
                font-size: 20px;
                margin: 10px 0;
                display: block;
            }

            p {
                color: rgb(230, 227, 227);
                margin: 20px 0;
            }

            .input {
                color: rgb(230, 227, 227);
                margin: 10px 0;
                display: flex;
                input {
                    opacity: 1;
                    cursor: pointer;
                }

                .checkmark::after {
                    width: 16px;
                    height: 16px;
                    border-radius: 15px;
                    top: -1px;
                    left: -3px;
                    position: relative;
                    background-color: #da9f7e;;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border: 2px solid white;
                }

                .checkmark:checked::after {
                    width: 16px;
                    height: 16px;
                    border-radius: 15px;
                    top: -1px;
                    left: -3px;
                    position: relative;
                    background-color: #0c08f8;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border: 2px solid white;
                }

            
                p {
                    margin: 0 4px;
                    margin-left: 10px;
                }

            }

            button {
                background-color: transparent;
                width: 100px;
                height: 30px;
                color: white;
                border: 1px solid rgb(238, 236, 236);
                margin: 20px 0;
            }

        }

    }

}


/* main */

main {
    .container1 {
        padding: 60px;
        text-align: left;
        position: relative;
        .top {
            position: fixed;
            object-fit: cover;
            width: 50px;
            height: 100px;
            right: 20px;
            top: 135px;
        }

        .down {
            position: fixed;
            object-fit: cover;
            width: 50px;
            height: 100px;
            right: 20px;
            bottom: 240px;
        }

        
        strong {
            font-size: 25px;
            margin: 30px 0;
            display: block;

        }

        .imgs {
            display: flex;
            width: 100%;
            .img {
                position: relative;
                width: 33.33%;
                img {
                    height: 300px;
                    object-fit: cover;
                }

                .img1 {
                    position: absolute;
                    top: 15px;
                    left: 30px;
                    padding: 10px;
                    height: 200px;
                    strong {
                        margin: 15px 0;
                        font-size: 18px;
                        font-weight: bold;
                    }

                    button {
                        margin-top: 125px;
                        width: 110px;
                        height: 27px;
                        background: white;
                        border: none;
                        padding-right: 15px;
                        img {
                            width: 16px;
                            height: 16px;
                            object-fit: cover;
                            position: absolute;
                            margin: 0 10px;
                        }

                    }

                    p {
                        display: block;
                        height: 40px;
                        width: 175px;
                    }

                }

            }

        }

    }

    .container2 {
        width: 100%;
        padding-top: 60px;
        background-color: rgb(246, 246, 246);
        .content1 {
            color:rgb(253, 125, 40);
            strong {
                font-size: 30px;
                margin: 15px 0;
                display: block;
            }

            p {
                color: black;
            }

        }

    }

    .conten2 {
        display: flex;
        margin-top: 40px;
        .block {
            width: 356px;
            height: 340px;
            text-align: left;
            padding: 20px;
            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
            }

            .con-p {
                width: 180px;
            }

            p {
                color:rgb(253, 125, 40);
                width: 277px;
                margin: 30px 0;
                margin-top: 20px;
                font-size: 20px;
            }

            ul {
                .list-custom::before {
                    width: 5px;
                    height: 5px;
                    margin-right: 6px;
                    border-radius: 30px;
                    top: -3px;
                    left: 2px;
                    position: relative;
                    background-color: #000;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border: none;
                }

                li {
                    margin-top: 5px;
                    list-style-type: none;
                    line-height: 1.4;
                    font-size: 16px;
                }

            }

        }

        .blockk {
            width: 420px;
            
        }

        hr {
            height: 310px;
            margin-top: 20px
        }

    }

    img {
        width: 100%;
        object-fit: cover;
        height: 200px;
    }

    .container3 {
        text-align: center;
        position: relative;
        margin-top: 70px;
        strong {
            font-size: 25px;
            width: 500px;
            display: block;
            margin: 35px auto;
            font-weight: bold;
            line-height:1.4;
        }

        .imgs1 {
            position: absolute;
            width: 20px;
            height: 30px;
            background: transparent;
            object-fit: cover;
            left: 570px;
            top: 50%;
        }

        .imgs2 {
            position: absolute;
            width: 20px;
            height: 30px;
            background: transparent;
            object-fit: cover;
            right: 570px;
            top: 50%;
        }

        .sliderr {
            width: 700px;
            height: 300px;
            margin: 0 auto;
            .owl-prev {
                position: absolute;
                left: -23px;
                top: 55%;
                transform: translateY(-50%);
                font-size: 80px !important;
                color: #ffffff !important;
                font-weight: 100 !important;
                background: url('../assets/icons/icon-arrow-prev.svg') no-repeat !important;
            }

            .owl-next {
                position: absolute;
                right: -23px;
                top: 55%;
                transform: translateY(-50%);
                font-size: 80px !important;
                color: #ffffff !important;
                font-weight: 100 !important;
                background: url('../assets/icons/icon-arrow-next.svg') no-repeat !important;
            }

        }

        
        .contenss {
            width: 650px;
            height: 280px;
            margin: 0 auto;
            padding: 60px;
            background:rgb(246, 246, 246);
            box-shadow: 0 1px 13px #ccc;
            .contents1 {
                display: flex;
                text-align: left;
                img {
                    width: 150px;
                    height: 150px;
                }

                .contents2 {
                    margin: 0 10px;
                    margin-left: 20px;
                    img {
                        width: 17px;
                        height: 15px;
                        object-fit: cover;
                        margin: 5px 5px;
                    }

                    p {
                        margin: 10px 0;
                        line-height: 1.3;
                    }

                    .star {
                        display: flex;
                    }

                }

            }

            
        }

    }

}


/* Footer */ 
footer {
    .lienhe {
        width: 100%;
        height: 150px;
        background:rgb(243, 242, 242);
        strong {
            font-size: 25px;
            display: block;
            margin: auto 0px;
            
        }

        .iconvip {
            display: flex;
            width: 600px;
            .icon {
                display: flex;
                text-align: left;
                margin: auto 0px;
                height: 50px;
                width: 50%;
                margin-left: 30px;
                strong {
                    margin: 4px 0;
                    font-size: 16px;
                }

                img {
                    width: 50px;
                    height: 50px;
                }

                .text {
                    margin-left: 15px;
                }

            }

        }

        

    }

    .qc {
        background: url("../assets/img/home-banner-app-install.jpg") no-repeat;
        background-size: cover;
        background-position: top center;
        width: 100%;
        height: 700px;
        padding: 60px;
    }

    .footer {
        
        padding: 60px;
        text-align: left;
        .displaynone {
            display: none;
        }

        p {
            font-size: 30px;
            width: 360px;
            display: block;
            margin: 30px 0;
            color: white;
            font-weight: bold;
        }

        .img-footer {
            margin: 30px 0;
            img {
                width: 150px;
                height: 50px;
                object-fit: cover;
                margin-right: 10px;
                border-radius: 10px;
                border: 1px white;
            }

        }

        .qr {
            display: flex;
            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }

            p {
                font-size: 15px;
                margin-left: 20px;
                color: rgb(220, 221, 221);
                width: 190px;
            }

        }

    }

    .footer2 {
        position: relative;
        width: 100%;
        height: 400px;
        background:rgb(61, 66, 77);
        padding: 60px;
        color: white;
        .fiximg {
                img {
                    width: 90px;
                    height: 90px;
                    object-fit: cover;
                    top: -40px;
                    right: 160px;
                    position: absolute;
                }

        }

        button {
            margin-left: 191%;
            margin-top: -20px;
        }

        .nav {
            display: flex;
            margin: auto;
            color: white;
            list-style-type: none;
            margin-bottom: 40px;
            li {
                font-weight: bold;
                position: relative;
                padding: 0 16px;
            }
            .lit {
                padding-left: 0;
            }
            .lip {
                padding-right: 0;
            }

            
        }

        .nav1 {
            display: none;
        }

        .a {
            display: block;
            margin: 30px 0;
            color:rgb(175, 173, 173);
        }

        .icon11 {
            margin: 20px 0;
            img {
                width: 30px;
                height: 30px;
                margin: 0 10px;
                object-fit: cover;
            }

        }

        .pp {
            p {
                margin: 5px 0;
                color:rgb(221, 221, 221);
            }

            .p {
                margin: 40px 0;
                color: rgb(175, 173, 173);
            }

        }

        hr {
            width: 100%;
            margin: 0 auto;
            background: rgb(221, 221, 221) ;
        }

        .hrdoc::after {
            content: "";
            height: 15px;
            display: block;
            border-left: 2px solid white;
            position: absolute;
            transform: translateY(-50%);
            top : 50%;
            right: -3px;
        }

    }

}
