@media only screen and (max-width: 740px) {
  body {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: arial,sans-serif;
  }
  /* Header */
  .an {
    display: none;
  }
  .ann {
    display: block !important;
  }
  .aan {
    display: none !important;
  }
  .owl-theme .owl-nav {
    display: none;
  }
  .owl-theme .owl-dots {
    display: none;
  }
  .flex-colum {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-top .navbar {
    margin-left: 36%;
  }
  header .header-top .navbar .bar1 {
    background-color: #ff8239;
  }
  header .header-top .navbar .bar2 {
    background-color: #ff8239;
  }
  header .header-top .navbar .bar3 {
    background-color: #ff8239;
  }
  header .header-top .logo {
    margin-left: 10px;
  }
  header .header-top .logo img {
    width: 140px;
    height: 40px;
    margin-top: 5px;
    margin-left: 0;
  }
  header .header-down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    height: 500px;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    background-size: cover;
    background-position: center bottom;
  }
  header .header-down .conten2 {
    background-color: white;
    color: black;
    margin: 0 auto;
    -webkit-box-shadow: 0 1px 10px #8d8c8c;
            box-shadow: 0 1px 10px #8d8c8c;
    bottom: -162px;
    width: 90%;
    height: 445px;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
  }
  header .header-down .conten2 strong {
    width: 69%;
    margin: 10px auto;
  }
  header .header-down .conten2 p {
    color: black;
    text-align: left;
  }
  header .header-down .conten2 .t {
    text-align: center;
  }
  header .header-down .conten2 button {
    border: 2px solid #ff8239;
    color: #ff8239;
    margin: 10px auto;
    margin-top: 20px;
    width: 150px;
    height: 50px;
    font-weight: bold;
  }
  header .header-down .conten2 .input .checkmark::after {
    background-color: white;
    border: 1px solid #888787;
  }
  header .header-down .conten1 {
    width: 100%;
    height: 200px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -100px;
  }
  header .header-down .conten1 p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    display: block;
  }
  header .header-down .conten2-2 {
    position: absolute;
    width: 100%;
    bottom: -283px;
  }
  main img {
    width: 100%;
    height: 70px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .container1 {
    padding: 10px;
    height: 670px;
  }
  main .container1 .top {
    display: none;
  }
  main .container1 .down {
    display: none;
  }
  main .container1 .imgs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .container1 .imgs .img img {
    width: 240px;
  }
  main .container1 .imgs .img .img1 strong {
    width: 150px;
    height: 15px;
    margin: 0;
    margin-bottom: 10px;
    margin-left: -19px;
  }
  main .container1 .imgs .img .img1 p {
    width: 110px;
    margin-top: 12px;
  }
  main .container1 .imgs .img .img1 button {
    position: relative;
    margin-top: 150px;
  }
  main .container1 .imgs .img .img1 button img {
    top: 5px;
    right: 0;
  }
  main .container1 strong {
    width: 70%;
    margin: 20px auto;
    margin-top: 200px;
    height: 100px;
    font-size: 35px;
    text-align: center;
  }
  main .conten2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px;
  }
  main .conten2 .block {
    margin: 10px auto;
    border: none;
    padding: 0;
    height: 220px;
    width: 100%;
  }
  main .conten2 .block p {
    margin: 20px 0;
    width: 300px;
    font-weight: bold;
    font-size: 19px;
  }
  main .conten2 .block ul .list-custom::before {
    margin-right: -8px;
    left: -10px;
  }
  main .conten2 .block ul li {
    line-height: 1.6;
  }
  main .conten2 .block img {
    margin-left: -15px;
  }
  main .conten2 .block .con-p {
    width: 200px;
  }
  main .conten2 .blockk {
    margin: 160px 0;
    height: 253px;
  }
  main .conten2 .blockk .con-p {
    width: 200px;
  }
  main .container2 {
    padding: 40px 60px;
  }
  main .container2 .content1 p {
    color: black;
    width: 250px;
    margin: 10px auto;
    line-height: 1.4;
    font-size: 18px;
  }
  main .container2 .content1 strong {
    font-size: 25px;
  }
  main .container3 {
    width: 100%;
    height: 720px;
  }
  main .container3 strong {
    width: 80%;
    font-size: 23px;
  }
  main .container3 .imgs1 {
    left: 9px;
  }
  main .container3 .imgs2 {
    right: 9px;
  }
  main .container3 .owl-carousel1 .owl-stage-outer {
    overflow: visible;
  }
  main .container3 .sliderr {
    width: 100%;
  }
  main .container3 .sliderr .owl-prev {
    position: absolute;
    left: 0;
    top: 96%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 80px !important;
    color: #ffffff !important;
    font-weight: 100 !important;
  }
  main .container3 .sliderr .owl-next {
    position: absolute;
    right: 0;
    top: 96%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 80px !important;
    color: #ffffff !important;
    font-weight: 100 !important;
  }
  main .container3 .owl-theme .owl-nav {
    display: block;
  }
  main .container3 .contenss {
    width: 80%;
    height: 520px;
    -webkit-box-shadow: 0 0 10px #bebebe;
            box-shadow: 0 0 10px #bebebe;
    margin: 0 39px;
  }
  main .container3 .contenss .imgs1 {
    left: 5px;
  }
  main .container3 .contenss .imgs2 {
    right: 5px;
  }
  main .container3 .contenss .contents1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 400px;
  }
  main .container3 .contenss .contents1 img {
    width: 100%;
    height: 180px;
  }
  main .container3 .contenss .contents1 .contents2 {
    margin: 10px 0;
  }
  main .container3 .contenss .contents1 .contents2 img {
    width: 20px;
    height: 20px;
    margin: 5px 0;
    margin-right: 15px;
  }
  main .container3 .contenss .contents1 .contents2 p {
    margin: 15px 0;
  }
  footer .lienhe {
    width: 100%;
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .lienhe strong {
    width: 100%;
    margin: 60px auto;
    font-size: 25px;
    margin-bottom: 20px;
  }
  footer .lienhe .iconvip {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 15px;
    width: 100%;
  }
  footer .lienhe .iconvip .icon {
    margin: 20px 30px;
    width: 100%;
  }
  footer .lienhe .iconvip .icon .text {
    width: 100%;
  }
  footer .lienhe .iconvip .icon .text .p1 {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    font-size: 19px;
    width: 220px;
  }
  footer .lienhe .iconvip .icon .text span {
    font-size: 19px;
    width: 150px;
    margin-left: 3px;
  }
  footer .qc {
    background: url("../assets/img/home-banner-app-install-mobile.jpg") no-repeat;
    background-size: cover;
    background-position: left center;
    padding: 0;
  }
  footer .footer {
    margin: 0px 20px;
    width: 90%;
    padding: 0;
    padding-top: 30px;
  }
  footer .footer .displaynone {
    display: block;
    margin: 0;
  }
  footer .footer .dplay {
    display: none;
  }
  footer .footer .qr {
    display: none;
  }
  footer .footer .img-footer img {
    width: 120px;
    height: 40px;
  }
  footer .footer p {
    width: 90%;
    font-size: 27px;
  }
  footer .footer2 {
    padding: 30px;
    height: 400px;
  }
  footer .footer2 .fiximg img {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    top: -36px;
  }
  footer .footer2 .a {
    margin: 20px 0;
  }
  footer .footer2 .pp {
    color: #dfdfdf;
  }
  footer .footer2 .pp p {
    font-size: 13px;
  }
  footer .footer2 .pp .p {
    margin: 10px 0;
    color: #dddddd;
  }
  footer .footer2 hr {
    width: 100%;
  }
  footer .footer2 .nav1 {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer2 .nav1 .nav1-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 10px auto;
  }
  footer .footer2 .nav1 .nav1-1 span {
    margin: 0 auto;
  }
  footer .footer2 .nav1 .nav1-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 10px auto;
  }
  footer .footer2 .nav1 .nav1-2 span {
    margin: 0 auto;
  }
  footer .footer2 .nav1 .nav1-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 10px auto;
  }
  footer .footer2 .nav1 .nav1-3 span {
    margin: 0 auto;
  }
  footer .footer2 .nav {
    display: none;
  }
}
/*# sourceMappingURL=style-reponsive-tablet.css.map */