$banner_color : #eb681a;
$default-_col : #f5f5f5;
$footer_col : #3a3b40;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@font-face {
    font-family: calibri;
    src: url(../assets/fonts/calibri/calibri-regular.ttf); 
}
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
//     border: 1px solid #3a3b40;
}
@mixin img-100 {
    height: 100%;
    width: 100%;
}

.body-item{
    width: 100%;
    .body-container{
        width: 900px;
        max-width: 100%;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@mixin style-design{
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
}
input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    width: 100%;
    height: 2px;
    background-color: #dedede;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00aec7), color-stop(100%, #00aec7));
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}


input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
    border: 0;
    background: #00aec7;
    border-radius: 50%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
    -webkit-appearance: none;
}
.fal{
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1; 
    }
.fa-angle-double-down:before {
    content: "\f103"; 
}
