@import "default";

.header{
    .nav-bar{
        height : auto;
        display: flex;
        justify-content: space-between;
        margin-bottom:16px;
        padding-top: 20px;
        .nav-logo{
            width: 200px;
            height: auto;
            .img-logo{
                max-height: 100%;
                width: 100%;
            }
        }
        .toggle-nav{
            padding: 13px 0 ;
            height: auto;
            .toggle-bar{
                height: 5px;
                background-color: #d8d8da;
                width: 30px;
                margin: auto;
            }
            .toggle-bar:nth-child(2){
                margin : 8px 0 ;
            }
        }
    }
}
#main-content{
    .slide-heading{
        background: url("../assets/img/BUYNOW_PAYLATER_bg.png") center / cover no-repeat;
        height: 400px;
        padding-top: 50px;
        .slide-content{
            position: relative;
            .slide-text{
                .slide-desc, .slide-sub-title, .slide-title, .btn-slide{
                    line-height: 1.6;
                }
                .slide-title{
                    font-size: 40px;
                    font-weight: bold;
                }
                .slide-sub-title{
                    font-size: 20px;
                    font-weight: 600;
                    margin-top: 20px;
                }
                .slide-desc{
                    margin-top: 10px
                }
            }
            .btn-slide{
                width: 220px;
                margin-top: 50px;
                background-color: #00aec7;
                text-align: center;
                padding: 14px;
                .btn-cal{
                    text-decoration: none;
                    color: #ffffff;;
                }
            }
        }
        
    }
    .benefit{
        padding-top: 50px;
        .ben-header{
            display: flex;
            justify-content: space-between;
            .ben-header-title{
                font-size: 20px;
                font-weight: 600;
            }
            .btn-ben{
                padding: 10px;
                display: flex;
                justify-content: center;
                font-weight: 600;
                width: 165px;
                border: 2px solid #00aec7;
                color: #00aec7;
                .btn-img{
                    filter: invert(54%) sepia(90%) saturate(2076%) hue-rotate(148deg) brightness(90%) contrast(101%);
                    margin-right: 5px;
                }
            }
        }
        .ben-list{
            display: flex;
            list-style: none;
            .ben-item{
                min-height: 200px;
                text-align: left;
                img{
                    height: 120px;
                    width: 120px;
                    margin-left: -22px;
                }
                .ben-desc{
                    padding-right: 40px ;
                }
            }
            .ben-item:nth-child(1){
                margin: 0 40px 0 0 ;
            }
            .ben-item:nth-child(2){
                margin: 0 20px;
            }
            .ben-item:nth-child(3){
                margin: 0 0 0 40px;
            }
        }
    }
    .benefit::after{
        content: "";
        display: block;
        background-color: #857e7e;
        height: 1.5px;
        width: 870px;
        max-width: 100%;
        margin: 50px auto;
    }
    .sticker{
        z-index: 1;
        position: fixed;
        right: 0;
        top: 40%;
        width: 80px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .benefit-detail{
        .ben-del-header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
            .ben-title{
                font-size: 20px;
                font-weight: 600;
            }
            .btn-ben{
                padding: 10px;
                display: flex;
                justify-content: center;
                font-weight: 600;
                width: 165px;
                border: 2px solid #00aec7;
                color: #00aec7;
                .btn-img{
                    filter: invert(54%) sepia(90%) saturate(2076%) hue-rotate(148deg) brightness(90%) contrast(101%);
                    margin-right: 5px;
                }
            }
        }
        .feature{
            list-style: none;
            .feature-item{
                display: flex;
                justify-content: space-between;
                height: auto;
                .feature-content{
                    width: 45%;
                    height: auto;
                    padding: 10% 0;
                    .list-title{
                        font-size: 20px;
                        color: #00aec7;
                        font-weight: bold;
                        margin-bottom: 40px;
                        line-height: 1.4;
                    }
                    .list-desc{
                        margin-left: 30px;
                        list-style: none;
                        .li-item{
                            line-height: 1.9;
                        }
                        .li-item::before{
                            content: "";
                            height: 4px;
                            width: 4px;
                            border-radius: 50%;
                            background-color: #111111;
                            display: inline-block;
                            position: relative;
                            bottom: 3px;
                            right: 5px;
                        }
                    }
                }
                .feature-img{
                    width: 45%;
                    height: 100%;
                    img{
                        height: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .benefit-detail::after{
        content: "";
        display: block;
        background-color: #857e7e;
        height: 1.5px;
        width: 870px;
        max-width: 100%;
        margin: 50px auto;
      
    }
    .benefit-calculate{
        .form-calc{
            .benefit-heading{
                font-size: 20px;
                font-weight: 600;
            }
            .calc-list{
                display: flex;
                justify-content: space-between;
                padding: 50px 0 0 0;
                .calc-item:nth-child(2){
                    margin: 0 1% ;
                }
                .calc-item{
                    width: 32%;
                    .calc-def, .calc-number{
                        display: flex;
                        justify-content: space-between;
                        margin: 10px 0 5px 0;
                    }
                    .calc-number{
                        color: #c0baba;
                    }
                    .rage{
                        width: 100%;
                    }
                    .calc-def{
                        width: 100%;
                        padding: 10px;
                        border-radius: 5px;
                        color: #ffffff;
                        background-color: #00aec7;
                    }
                    .select-container{
                        width: 100%;
                        position: relative;
                        .arrow-down{
                            width: 10%;
                            position: absolute;
                            top: 19px;
                            left: 90%;
                            .arr{
                                color: #ffffff;
                                position: absolute;
                                font-size: 20px;
                            }
                        }
                        .select{
                            appearance: none;
                            border: 1px solid #00aec7;
                            width: 100%;
                            height: 39px;
                            padding: 10px;
                            margin-top: 10px;
                            border-radius: 5px;
                            color: #ffffff;
                            background-color: #00aec7;
                        }
                    }
                }
            }
        }
        .btn-calc{
            display: flex;
            justify-content: right;
            margin-top: 30px;
                .btn-item{
                    padding: 10px 20px;
                    cursor: pointer;
                    max-width: 200px;
                    font-size: 14px;
                }
                .btn-item:nth-child(1){
                    margin-right: 20px;
                    border: 2px solid #aaaaaa;
                    color: #aaaaaa;
                }
                .btn-item:nth-child(2){
                    background-color: #aaaaaa;
                    color: #ffffff;
                }
        }
    }
    .benefit-calculate::after{
        content: "";
        display: block;
        background-color: #857e7e;
        height: 1.5px;
        width: 870px;
        max-width: 100%;
        margin: 50px auto;
      
    }
    .benefit-condition{
        .ben-con-header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            .ben-heading{
                font-size: 20px;
                font-weight: bold;
            }
            .btn-ben{
                padding: 10px;
                display: flex;
                justify-content: center;
                font-weight: 600;
                width: 165px;
                border: 2px solid #00aec7;
                color: #00aec7;
                .btn-img{
                    filter: invert(54%) sepia(90%) saturate(2076%) hue-rotate(148deg) brightness(90%) contrast(101%);
                    margin-right: 5px;
                }
            }
        }
        .condition{
            display: flex;
            border: 1px solid #111111;
            width: 870px;
            .condition-item{
                padding-left: 20px;
                .con-heading{
                    margin: 40px 0 40px 0;
                }
                .list-con-1{
                    margin-right: 7%;
                }
                .list-con-2{
                    margin-right: 40px;
                }
                .list-con{
                    margin-bottom: 40px;
                    list-style: none;
                    .list-item::before{
                        content: ".";
                        content: "";
                        min-width: 4px;
                        height: 4px;
                        background-color: #111111;
                        border-radius: 50%;
                        display: inline-block;
                        margin: 0 6px 4px 0;
                    }
                }
            }
            .hr-condition{
                margin: 30px 0;
            }
            .condition-item:nth-child(1){
                width: 30%;
            }
            .condition-item:nth-child(2){
                width: 65%;
            }
        }
    }
    .mobile-plan{
        display: none;
        margin: 30px 100px 0 100px;
        .plan-container{
            position: relative;
            width: 100%;
            font-size: 16px;
            display: flex;
            #plan-first{
                border: 2px solid #111111;
                display: flex;
                overflow: auto;
                overflow-x: auto;
                overflow-y: hidden;
                width: 200%;
                .plan-item{
                    padding: 20px 10px;
                    min-width: 100%;
                    .plan-heading{
                        display: flex;
                        justify-content: space-between;
                        .img-title{
                            width: 24px;
                            height: 24px;
                            position: relative;
                            bottom: 3px;
                        }
                    }
                    .hr-plan{
                        border: 1px solid #111111;
                        background-color: #111111;
                        margin: 20px 0 20px 0
                    }
                    .plan-body{
                        .plan-body-item{
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 20px;
                            .plan-text-bold{
                                font-weight: 600;
                            }
                        }
                        .hr-plan{
                            border: 1px solid #111111;
                            background-color: #111111;
                            margin: 20px 0 20px 0
                        }
                        .btn-plan{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            .btn-item{
                                margin-top: 10px;
                                margin-bottom: 10px;
                                cursor: pointer;
                                font-weight: 600;
                                .fa{
                                    font-size: 20px;
                                    margin-left: 10px;
                                    position: relative;
                                    bottom: 1px;                                   }
                            }
                            .btn-item:nth-child(1){
                                background-color: #00aec7;
                                width: 100%;
                                padding: 10px ;
                                display: flex;
                                justify-content: center;
                                color: #ffffff;
                            }
                            .btn-item:nth-child(2){
                                max-width: 200px;
                                color: #00aec7;
                                border: 2px solid #00aec7;
                                padding: 10px 20px;
                            }
                        }
                    }
                }
            }
            #add-container{
                display: none;
            }
        }
    }
    .mobile-product{
        display: none;
    }
}
.footer{
    .footer-heading{
        text-align: center;
        background-color: #efefef;
        padding-bottom: 30px;
        .footer-heading-container{
            .footer-title{
                font-size: 24px;
                font-weight: bolder;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .footer-heading-content{
                padding-left: 20px;
                .contact-item{
                    display: flex;
                    justify-content: left;
                    .img-contact{
                        width: 50px;
                        height: auto;
                        img{
                            position: relative;
                            bottom: 5px;
                            width: 100%;
                        }
                    }
                    .con-text{
                        text-align: left;
                        .con-title{
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    .banner-footer{
        background:url(../assets/img/bg-app-download.png);
        background-size: cover;      
        background-position: top center right center;  
        padding-top: 50px;
        height: 600px;
        position: relative;
        .ban-body{
            display: flex;
            justify-content: space-between;
            .ban-left{
                .contact-item{
                    font-size: 1.7em;
                    color: #f5f5f5;
                    font-weight: bolder;
                }
                .app{
                    display: flex;
                    margin : 32px 0 0 0 ;
                    width: 70%;
                    .app-store{
                        margin-right: 10px;
                        width: 40%;
                        img{
                            height : 100%;
                            width : 100%;
                        }
                    }
                }
            }
        }
        .next-top{
            position: absolute;
            right : 5%;
            bottom: -1em;
            background-color: #f5f5f5;
            height: 32px;
            width : 32px;
            border-radius: 50%;
            text-align: center;
            img{
                margin-top:25%;
                height: 50%;
                width : 50%;
            }
        }
    }
    .footer-contact{
        background-color: #3a3b40;
        color: #dbd3d3;
        padding-bottom: 32px;
        padding-top: 3em;
        .list-contact{
           .sub-list{
               display: flex;
               justify-content: center;
               margin: 10px 0;
               .hide{
                   display: none;
               }
                .hr-contact{
                    height: 24px;
                    width: 1px;
                    margin: 0 20px;
                    background-color: #f5f5f5;
                    border: 0.01px solid #f5f5f5;
                }
                .list-contact-item{
                    color: #ffffff;
                    font-weight: 600;
                }
           }
        }
        .contact-net{
            margin-bottom : 32px;
            .contact-title{
                margin: 32px 0;
                text-align : center;
                color: #afaaaa;
                font-size: 13px;;
            }
            .list-app{
                height : 32px;
                display: flex;
                justify-content: center;
                padding: 0 30%;
                .app-2{
                    margin: 0 20px;
                }
                img{
                    height: 100%;
                    width : 100%;
                    color: #afaaaa;
                }
            }
        }
        .contact-net::after{
            content: "";
            display: block;
            height: 0.5px;
            background-color: #f5f5f5;
            width: 870px;
            max-width: 100%;
            margin: 0 auto;
            margin-top: 50px;
        }
        .address{
            color: #afaaaa;
            text-align: center;
            padding: 0 5%;
            .site-net{
                display: flex;
                justify-content: center;
                .hr-reverse{
                    height : 16px;
                    width : 1.6px;
                    background-color: #ffffff;
                    margin : 3.2px 6.4px ;
                }
            }
        }
    }
}