@import "desktop";
@media screen and (min-width: 767px) {
    .footer{
        .footer-heading{
            text-align: left;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            .footer-heading-container{
                display: flex;
                justify-content: space-between;
                .footer-title{
                    font-size: 32px;
                    font-weight: 600;
                }
                .footer-heading-content{
                    display: flex;
                    width: 50%; 
                    .contact-item:nth-child(1){
                        margin-right: 40px;
                    }
                    .contact-item{
                        justify-content: space-evenly;
                        padding: 40px 0;
                        .img-contact{
                            img{
                                position: static;
                            }
                        }
                        .con-text{
                            width: 100%;
                            margin-left: 20px ;
                            .con-title{
                                font-weight: bold;
                            }
                            u{
                                text-decoration: none;
                            }
                            .con-desc{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        .banner-footer{
            background-image: url(../assets/img/bg-banner-footer.png);
            background-size: cover;
            background-position: right center;
            height: 400px;
            padding: 100px 0 0 0;
            .ban-body{
                .ban-left{
                    .contact-item{
                        display: none;
                    }
                    .contact-desktop{
                        display: block !important;
                        font-size: 23px;
                        color: #f5f5f5;
                        font-weight: bolder;
                    }
                    .app{
                        display: flex;
                        margin : 2em 0 0 0 ;
                        width: 400px;
                        .app-store{
                            margin-right: 10px;
                            width: 40%;
                            img{
                                height : 100%;
                                width : 100%;
                            }
                        }
                    }
                }
            }
            .qr-code{
                display: flex !important;
                justify-content: left;
                width: 100%;
                .img-qr{
                    width: 200px;
                    height: 200px;
                    img{
                        width: 200px;
                        height: 200px;
                    }
                }
                .qr-text{
                    margin: 50px 25px 0 10px;
                    color: #f5f5f5;
                    line-height: 1.4;
                }
            }
        }
        .footer-contact{
            .list-contact{
                display: none;
                list-style: none;
            }
            .list-contact-desktop{
                list-style: none;
                display: flex !important;
                justify-content: space-between;
                .hr-contact{
                    height: 1.5em;
                    width: 1px;
                    background-color: #f5f5f5;
                    border: 0.01px solid #f5f5f5;
                }
            }
            
        }
    }
    #main-content{
        .mobile-plan{
            display: none ;
            #add-container{
                display: none;
            }
            #add-container-desktop{
                cursor: pointer;
                display: block;
                width: 50px;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                 #add-plan-desktop{
                 color: #00aec7;
                 width:auto;
                 // height:30px;
                 transform: rotate(-90deg);
                 position: relative;
                 top: 130px;
                 .plan-heading{
                     display: flex;
                     width: 150px;
                     .fa{
                         margin-left: 10px;
                     }
                 }
                 }
             }
        }
        .hr-2{
            margin: 50px 100px 0 100px;
            
        }
    }
}
@media screen and (max-width: 767px) {
   .nav-bar{
       padding: 16px 30px 0 30px;
   }
    .sticker{
        display: none;
    }
    .btn-mobile-heading{
        display: flex !important;
        justify-content: center;
        margin: 0 0 20px 0;
        .btn-con{
            width: 220px;
            margin-top: 50px;
            background-color: #00aec7;
            text-align: center;
            padding: 14px;
            .btn-cal{
                text-decoration: none;
                color: #ffffff;;
            }
        }
    }
    .btn-mobile-benefit{
        display: flex !important;
        justify-content: center;
        margin: 0 0 50px 0;
        padding: 0 15px;
        .btn-ben{
            padding: 10px;
            display: flex;
            justify-content: center;
            font-weight: 600;
            width: 165px;
            border: 2px solid #00aec7;
            color: #00aec7;
            .btn-img{
                filter: invert(54%) sepia(90%) saturate(2076%) hue-rotate(148deg) brightness(90%) contrast(101%);
                margin-right: 5px;
            }
        }
    }
    
    #main-content{
        .slide-heading{
            height: 600px;
            padding: 0;
            text-align: center;
            background: url("../assets/img/BUYNOW_PAYLATER_bg_mobile.png") bottom center /cover no-repeat;
            .slide-content{
                padding: 50px 15px;
                .slide-text{
                    .slide-title, .slide-desc{
                        br{
                            display: block !important;
                        }
                    }
                    .slide-desc{
                        #br-1{
                            display: none !important;
                        }
                    }
                }
                .btn-slide{
                    display: none !important;
                }
                .icon-down-mobile{
                    display: block !important;
                    padding-top: 20px;
                }
            }
        }
        .benefit{
            .ben-header{
                display: flex;
                justify-content: center;
                .ben-header-title{
                    font-size: 24px;
                    font-weight: 600;
                    width: 190px;
                    text-align: center;
                }
                .btn-ben{
                    display: none;
                }
            }
            .ben-list{
                display: block;
                .ben-item{
                    min-height: 200px;
                    display: flex;
                    padding: 0 20px ;
                    img{
                        height: 50%;
                        max-width: 50%;
                        margin-top: 40px;
                    }
                    .ben-desc{
                        margin-top: 60px;
                        font-size: 16px;
                        line-height: 1.4;
                        margin-left: 30px;
                    }
                    .ben-desc-3{
                        margin-top: 50px;
                    }
                }
                .ben-item:nth-child(1){
                    margin: 0 ;
                }
                .ben-item:nth-child(2){
                    margin:0;
                }
                .ben-item:nth-child(3){
                    margin: 0;
                }

            }
        }
        .benefit::after{
            margin: 0 15px 30px 15px;
            width: auto;
        }
        .hr{
            margin: 0 50px;
        }
        .hr1{
            margin: 0 70px;
        }
        .benefit-detail{
            .ben-del-header{
                display: flex;
                justify-content: center;
                .ben-title{
                    font-size: 26px;
                    font-weight: 600;
                    text-align: center;
                    padding: 0 15%;
                }
                .btn-ben{
                    display: none;
                }
            }
            .feature{
                .feature-item:nth-child(1){
                    flex-direction: column-reverse;
                }
                .feature-item:nth-child(2){
                    flex-direction: column;
                }
                .feature-item:nth-child(3){
                    flex-direction: column-reverse;
                }
                .feature-item{
                    display: flex;
                    justify-content: center;
                    height: auto;
                    width: 100%;
                    .feature-content{
                        width: 100%;
                        height: auto;
                        padding: 0 20px;
                        margin-bottom: 50px;
                        .list-title{
                            margin-top: 30px;
                            font-size: 20px;
                            color: #00aec7;
                            font-weight: bold;
                            margin-bottom: 20px;
                            line-height: 1.4;
                        }
                        .list-desc{
                            margin-left: 10px;
                            li{
                                line-height: 1.9;
                            }
                        }
                    }
                    .feature-img{
                        width:100%;
                        height: 100%;
                        padding: 0 20px;
                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .benefit-detail::after{
            display: none;
        }
        .btn-mobile-ben-detail{
            display: flex !important;
            justify-content: center;
            padding: 0 15px;
            .btn-ben{
                padding: 10px;
                display: flex;
                justify-content: center;
                font-weight: 600;
                width: 165px;
                border: 2px solid #00aec7;
                color: #00aec7;
                .btn-img{
                    filter: invert(54%) sepia(90%) saturate(2076%) hue-rotate(148deg) brightness(90%) contrast(101%);
                    margin-right: 5px;
                }
            }
        }
        .benefit-calculate{
            padding: 50px 0;
            width: 100%;
            .form-calc{
                margin-left: 0px;
                margin-right: 0px;
                .benefit-heading{
                    font-size: 20px;
                    font-weight: 600;
                    text-align: center;
                    margin-bottom: 20px;
                }
                .calc-list{
                    display: block;
                    padding: 0;
                    .calc-item:nth-child(2){
                        margin: 0 ;
                    }
                    .calc-item{
                        width: 100%;
                        .calc-heading, .calc-heading-option{
                            font-weight: 600;
                            line-height: 1.4;
                        }
                        .calc-def, .calc-number{
                            display: flex;
                            justify-content: space-between;
                        }
                        .calc-number{
                            color: #c0baba;
                            margin-top: 10px;
                            margin-bottom: 20px;
                        }
                        .rage{
                            width: 100%;
                            margin: 100px 0;
                        }
                        .calc-def{
                            width: 100%;
                            padding: 10px;
                            border-radius: 5px;
                            color: #ffffff;
                            background-color: #00aec7;
                        }
                        .select-container{
                        }
                    }
                }
            }
            .btn-calc{
                display: none;
            }
        }
        .benefit-calculate::after{
            margin-bottom: 0;
            display: none;
        }
        .btn-calc-mobile{
            width: auto;
            display: flex !important;
            justify-content: center;
            .btn-con{
                min-width: 150px ;
                text-align: center;
                .btn-item{
                    padding: 10px 20px;
                    cursor: pointer;
                    font-size: 0.8em;
                }
                .btn-item:nth-child(1){
                    border: 2px solid #aaaaaa;
                    color: #aaaaaa;
                }
                .btn-item:nth-child(2){
                    background-color: #aaaaaa;
                    color: #ffffff;
                    width: 130px;
                    margin-left: 10px;
                    margin-top: 20px;
                }
            }
        }
        .mobile-plan{
            display: block ;
            margin: 0;
            padding: 30px 15px;
            .plan-container{
                position: relative;
                width: 100%;
                font-size: 0.9em;
                display: flex;
                #plan-first{
                    border: 2px solid #111111;
                    display: flex;
                    overflow: auto;
                    overflow-x: auto;
                    overflow-y: hidden;
                    width: 200%;
                    .plan-item{
                        padding: 20px 10px;
                        min-width: 100%;
                        .plan-heading{
                            display: flex;
                            justify-content: space-between;
                            .img-title{
                                width: 1.5em;
                                height: 1.5em;
                                position: relative;
                                bottom: 3px;
                            }
                        }
                        .hr-plan{
                            border: 1px solid #111111;
                            background-color: #111111;
                            margin: 20px 0 20px 0
                        }
                        .plan-body{
                            .plan-body-item{
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 20px;
                                .plan-text-bold{
                                    font-weight: 600;
                                }
                            }
                            .hr-plan{
                                border: 1px solid #111111;
                                background-color: #111111;
                                margin: 20px 0 20px 0
                            }
                            .btn-plan{
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                .btn-item{
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                    cursor: pointer;
                                    font-weight: 600;
                                    .fa{
                                        font-size: 20px;
                                        margin-left: 10px;
                                        position: relative;
                                        bottom: 1px;                                   }
                                }
                                .btn-item:nth-child(1){
                                    background-color: #00aec7;
                                    width: 100%;
                                    padding: 10px ;
                                    display: flex;
                                    justify-content: center;
                                    color: #ffffff;
                                }
                                .btn-item:nth-child(2){
                                    max-width: 200px;
                                    color: #00aec7;
                                    border: 2px solid #00aec7;
                                    padding: 10px 20px;
                                }
                            }
                        }
                    }
                }
               #add-container{
                   display: block ;
                   width: 50px;
                   cursor: pointer;
                   border-top: 1px solid black;
                   border-bottom: 1px solid black;
                    #add-plan{
                    color: #00aec7;
                    width:auto;
                    // height:30px;
                    transform: rotate(-90deg);
                    position: relative;
                    top: 130px;
                    .plan-heading{
                        display: flex;
                        width: 150px;
                        .fa{
                            margin-left: 10px;
                        }
                    }
                    }
               }
               #add-container-desktop{
                display: none;
            }
            }
        }
        .mobile-product{
            border: 1.5px solid #5c5959;
            display: block !important;
            margin: 0 15px;
            margin-top: 40px;
            .product-heading{
                display: flex;
                .product-head-item{
                    padding: 20px 20px 10px 20px;
                    font-size: 25px;
                    width: 50%;
                }
                .product-head-item:nth-child(1){
                    background-color: #d8d0d0;
                    border-bottom-right-radius: 10px;
                }
            }
            .product-list{
                padding: 20px ;
                list-style: none;
                .product-item{
                    line-height: 1.4;
                    margin-bottom: 10px;
                }
                .product-item::before{
                    content: "";
                    height: 4px;
                    width: 4px;
                    background-color: #111111;
                    border-radius: 50%;
                    display: inline-block;
                    position: relative;
                    bottom: 3px;
                    left: 4px;
                    margin-right: 7px;
                }
            }
        }
        .benefit-condition::before, .benefit-calculate::before{
            content: ""; 
            display: block;
            height: 1px;
            background-color: #797272;
            margin: 30px ;
        }
        .benefit-calculate::before{
            margin:0 65px 30px 65px;
        }
        .hr-2{
            margin: 50px 50px 20px 50px;
        }
        .benefit-condition{
            padding: 10px 15px 50px 15px ;
            .ben-con-header{
                justify-content: center;
                .ben-heading{
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                    br{
                        display: block !important;
                    }
                }
                .btn-ben{
                    display: none;
                }
            }
            .condition{
                display: block;
                .condition-item{
                    .con-heading{
                        margin: 30x 0 30x 0;
                    }
                    .list-con{
                        margin-bottom: 40px;
                        list-style: none;
                        .list-item::before{
                            content: ".";
                            content: "";
                            min-width: 4px;
                            height: 4px;
                            background-color: #111111;
                            border-radius: 50%;
                            display: inline-block;
                            margin: 0 6px 4px 0;
                        }
                    }
                }
                .hr-condition{
                    width: 90%;
                    margin: 30px 5%;
                }
                .condition-item:nth-child(1){
                    width: 100%;
                }
                .condition-item:nth-child(2){
                    width: 100%;
                }
            }
        }
        .btn-container{
            display: flex !important;
            justify-content: center;
            margin-bottom: 50px;
            .btn-mobile-3{
                padding: 10px;
                display: flex;
                justify-content: center;
                width: 165px;
                border: 2px solid #00aec7;
                color: #00aec7;
                .btn-img{
                    filter: invert(54%) sepia(90%) saturate(2076%) hue-rotate(148deg) brightness(90%) contrast(101%);
                    margin-right: 5px;
                }
            }
        }

    }   
    .footer{
        .footer-contact{
            .contact-net::after{
                width: auto;
                margin: 30px 15px;
            }
        }
    }            
}