/* line 4, ../sass/_default.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
}

/* line 13, ../sass/_default.scss */
.body-item {
  width: 100%;
}
/* line 15, ../sass/_default.scss */
.body-item .body-container {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: calibri;
  src: url(../assets/fonts/calibri/calibri-regular.ttf);
}
@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
/* line 2, ../sass/_mobile.scss */
.header {
  padding: 10px 15px;
}
/* line 4, ../sass/_mobile.scss */
.header .nav-bar {
  height: auto;
  display: flex;
  justify-content: space-between;
}
/* line 8, ../sass/_mobile.scss */
.header .nav-bar .nav-logo {
  width: 150px;
  height: 50px;
}
/* line 11, ../sass/_mobile.scss */
.header .nav-bar .nav-logo .img-logo {
  height: 100%;
  width: 100%;
}
/* line 16, ../sass/_mobile.scss */
.header .nav-bar .toggle-nav {
  padding: 0.8em 1em;
  height: auto;
}
/* line 19, ../sass/_mobile.scss */
.header .nav-bar .toggle-nav .toggle-bar {
  height: 0.3em;
  background-color: #eb681a;
  width: 2em;
  margin: auto;
}
/* line 25, ../sass/_mobile.scss */
.header .nav-bar .toggle-nav .toggle-bar:nth-child(2) {
  margin: 0.5em 0;
}

/* line 33, ../sass/_mobile.scss */
.main .banner-header .banner-content {
  padding-left: 0;
  padding-right: 0;
}
/* line 36, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-left {
  background-image: url("../assets/img/home-hero-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right -550px center;
  z-index: 1;
  text-align: center;
  color: #ffffff;
  padding-bottom: 250px;
  padding-top: 50px;
}
/* line 46, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-left .ban-left-title {
  font-size: 32px;
  font-weight: bold;
}
/* line 50, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-left .ban-left-content {
  width: 100%;
  margin-top: 30px;
}
/* line 53, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-left .ban-left-content .ban-left-text {
  font-size: 1.7em;
}
/* line 58, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-right {
  margin: -220px 15px 0 15px;
  padding: 30px 50px 30px 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 9px 4px #b1acac;
}
/* line 64, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-right .ban-right-title, .main .banner-header .banner-content .ban-right .i-want {
  text-align: center;
}
/* line 67, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-right .ban-right-title {
  font-size: 32px;
  font-weight: bold;
}
/* line 71, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-right .i-want {
  margin: 30px auto;
  color: #111111;
}
/* line 75, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-right .btn-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
/* line 79, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-right .btn-container .btn-suggest {
  width: 130px;
  padding: 8px;
  text-align: center;
  border: 1.6px solid #eb681a;
  color: #eb681a;
  font-size: 20px;
  font-weight: bold;
}
/* line 89, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-right .list-wanted {
  padding-bottom: 20px;
}
/* line 92, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-right .list-wanted .list-item .check-desc {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}
/* line 99, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-right .list-wanted .list-item .check-desc br {
  display: none;
}
/* line 102, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-right .list-wanted .list-item .check-desc .check-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* line 107, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-right .list-wanted .list-item .check-desc .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #b1acac;
}
/* line 117, ../sass/_mobile.scss */
.main .banner-header .banner-content .ban-right .list-wanted .list-item .check-desc .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* line 129, ../sass/_mobile.scss */
.main .sticker {
  display: none;
}
/* line 132, ../sass/_mobile.scss */
.main .carousel {
  margin-bottom: 50px;
  margin-top: 50px;
}
/* line 135, ../sass/_mobile.scss */
.main .carousel .car-content {
  padding-left: 15px;
}
/* line 137, ../sass/_mobile.scss */
.main .carousel .car-content .car-title {
  font-size: 30px;
  font-weight: 600;
  font-weight: bold;
  text-align: center;
  width: 210px;
  max-width: 100%;
  margin: 50px auto;
}
/* line 146, ../sass/_mobile.scss */
.main .carousel .car-content .car-container {
  display: flex;
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
}
/* line 151, ../sass/_mobile.scss */
.main .carousel .car-content .car-container .car-item:nth-child(1), .main .carousel .car-content .car-container .car-item:nth-child(2) {
  margin-right: 10px;
}
/* line 154, ../sass/_mobile.scss */
.main .carousel .car-content .car-container .car-item {
  position: relative;
  min-width: 80%;
  height: 300px;
  padding: 50px 0 0 50px;
  line-height: 1.4;
}
/* line 160, ../sass/_mobile.scss */
.main .carousel .car-content .car-container .car-item .item-title {
  font-size: 20px;
  font-weight: bold;
}
/* line 164, ../sass/_mobile.scss */
.main .carousel .car-content .car-container .car-item .car-item-content {
  padding: 0 30% 0 0;
  margin-top: 20px;
}
/* line 168, ../sass/_mobile.scss */
.main .carousel .car-content .car-container .car-item .btn-explore {
  position: absolute;
  bottom: 2em;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 5px 10px;
  width: 110px;
}
/* line 176, ../sass/_mobile.scss */
.main .carousel .car-content .car-container .car-item .btn-explore .btn-img {
  border: 2px solid black;
  border-radius: 50%;
  height: auto;
  width: auto;
}
/* line 183, ../sass/_mobile.scss */
.main .carousel .car-content .car-container .car-item:nth-child(1) {
  background-image: url("../assets/img/loan-product-item-001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
/* line 189, ../sass/_mobile.scss */
.main .carousel .car-content .car-container .car-item:nth-child(2) {
  background: url("../assets/img/loan-product-item-002.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
/* line 195, ../sass/_mobile.scss */
.main .carousel .car-content .car-container .car-item:nth-child(3) {
  background-image: url("../assets/img/loan-product-item-003.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 205, ../sass/_mobile.scss */
.main .about-us {
  background-color: #f5f5f5;
  text-align: center;
  padding: 50px 50px 0 50px;
  position: relative;
}
/* line 210, ../sass/_mobile.scss */
.main .about-us .about-us-header {
  text-align: center;
}
/* line 212, ../sass/_mobile.scss */
.main .about-us .about-us-header .about-title {
  color: #eb681a;
  font-size: 1.8em;
  font-weight: bold;
  margin: 20px auto;
}
/* line 218, ../sass/_mobile.scss */
.main .about-us .about-us-header .about-heading-desc {
  font-weight: 400;
  font-size: 18px;
}
/* line 223, ../sass/_mobile.scss */
.main .about-us .about-us-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: #b1acac;
  margin: 30px 0;
}
/* line 231, ../sass/_mobile.scss */
.main .about-us .about-us-content {
  margin-top: 50px;
}
/* line 233, ../sass/_mobile.scss */
.main .about-us .about-us-content .about-container {
  text-align: left;
  margin-bottom: 40px;
}
/* line 236, ../sass/_mobile.scss */
.main .about-us .about-us-content .about-container .about-img {
  width: 100%;
}
/* line 238, ../sass/_mobile.scss */
.main .about-us .about-us-content .about-container .about-img img {
  height: 100px;
  width: 100px;
  position: relative;
  left: -25px;
}
/* line 245, ../sass/_mobile.scss */
.main .about-us .about-us-content .about-container .all-item {
  text-align: left;
}
/* line 247, ../sass/_mobile.scss */
.main .about-us .about-us-content .about-container .all-item .solution-title {
  font-size: 1.3em;
  font-weight: bold;
  color: #eb681a;
  margin: 1.5em 0 1.5em 0;
}
/* line 253, ../sass/_mobile.scss */
.main .about-us .about-us-content .about-container .all-item .list-all-about {
  list-style: none;
  margin-right: 60px;
  width: 100%;
  line-height: 1.6;
}
/* line 258, ../sass/_mobile.scss */
.main .about-us .about-us-content .about-container .all-item .list-all-about .list-about-item::before {
  content: "";
  min-width: 4px;
  height: 4px;
  background-color: #111111;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
  top: 3px;
  left: -15px;
}
/* line 273, ../sass/_mobile.scss */
.main .about-us .about-us-content .hr-about {
  display: none;
}
/* line 278, ../sass/_mobile.scss */
.main .about-us-footer {
  background-image: url("../assets/img/frame_02.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  margin-top: -40px;
}
/* line 286, ../sass/_mobile.scss */
.main .cus-evaluate {
  position: relative;
  padding-bottom: 50px;
}
/* line 289, ../sass/_mobile.scss */
.main .cus-evaluate .cus-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 298, ../sass/_mobile.scss */
.main .cus-evaluate .cus-content .arrow-left, .main .cus-evaluate .cus-content .arrow-right {
  position: relative;
  width: 30px !important;
  cursor: pointer;
}
/* line 305, ../sass/_mobile.scss */
.main .cus-evaluate .cus-content .arrow-left img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 540px;
  left: -10px;
}
/* line 314, ../sass/_mobile.scss */
.main .cus-evaluate .cus-content .arrow-right img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 540px;
  right: -10px;
}
/* line 322, ../sass/_mobile.scss */
.main .cus-evaluate .cus-content .slide-container {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* line 327, ../sass/_mobile.scss */
.main .cus-evaluate .cus-content .slide-container .cus-title {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin: 40px 0;
}
/* line 333, ../sass/_mobile.scss */
.main .cus-evaluate .cus-content .slide-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/* line 339, ../sass/_mobile.scss */
.main .cus-evaluate .cus-content .slide-container .mySlides {
  width: 100%;
}
/* line 341, ../sass/_mobile.scss */
.main .cus-evaluate .cus-content .slide-container .mySlides .cus-info {
  box-shadow: 0px 1px 14px 2px rgba(122, 120, 120, 0.75);
  border: 4px solid #f5f5f5;
  background-color: #efefef;
  padding: 50px 40px;
}
/* line 346, ../sass/_mobile.scss */
.main .cus-evaluate .cus-content .slide-container .mySlides .cus-info .ava-cus {
  width: 100%;
  height: 50%;
}
/* line 349, ../sass/_mobile.scss */
.main .cus-evaluate .cus-content .slide-container .mySlides .cus-info .ava-cus img {
  width: 100%;
  height: 100%;
}
/* line 355, ../sass/_mobile.scss */
.main .cus-evaluate .cus-content .slide-container .mySlides .cus-info .cus-detail .cus-rate {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1em 0 0 0;
}
/* line 360, ../sass/_mobile.scss */
.main .cus-evaluate .cus-content .slide-container .mySlides .cus-info .cus-detail .cus-rate img {
  margin: 0 0 0 0;
  max-width: 20%;
  height: 100%;
}
/* line 366, ../sass/_mobile.scss */
.main .cus-evaluate .cus-content .slide-container .mySlides .cus-info .cus-detail .cus-name {
  text-align: left;
  margin: 24px 0;
}

/* line 380, ../sass/_mobile.scss */
.footer .footer-header {
  background-color: #efefef;
}
/* line 382, ../sass/_mobile.scss */
.footer .footer-header .footer-header-content {
  padding: 20px 50px;
}
/* line 384, ../sass/_mobile.scss */
.footer .footer-header .footer-header-content .footer-header-title {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
  text-align: center;
}
/* line 391, ../sass/_mobile.scss */
.footer .footer-header .footer-header-content .footer-header-contact .contact-item {
  display: flex;
  justify-content: left;
}
/* line 394, ../sass/_mobile.scss */
.footer .footer-header .footer-header-content .footer-header-contact .contact-item .img-contact {
  width: 50px;
  height: auto;
}
/* line 397, ../sass/_mobile.scss */
.footer .footer-header .footer-header-content .footer-header-contact .contact-item .img-contact img {
  position: relative;
  bottom: 5px;
  width: 100%;
}
/* line 410, ../sass/_mobile.scss */
.footer .footer-banner {
  background-image: url("../assets/img/home-banner-app-install-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 600px;
  background-color: #3a3b40;
}
/* line 417, ../sass/_mobile.scss */
.footer .footer-banner .footer-banner-content {
  padding: 30px 50px;
  height: 100%;
  position: relative;
}
/* line 421, ../sass/_mobile.scss */
.footer .footer-banner .footer-banner-content .contact-mobile {
  font-size: 1.7em;
  color: #f5f5f5;
  font-weight: bolder;
}
/* line 426, ../sass/_mobile.scss */
.footer .footer-banner .footer-banner-content .contact-desktop {
  display: none;
}
/* line 429, ../sass/_mobile.scss */
.footer .footer-banner .footer-banner-content .app {
  display: flex;
  margin: 2em 0 0 0;
  width: 70%;
}
/* line 433, ../sass/_mobile.scss */
.footer .footer-banner .footer-banner-content .app .app-store {
  margin-right: 10px;
  width: 40%;
}
/* line 436, ../sass/_mobile.scss */
.footer .footer-banner .footer-banner-content .app .app-store img {
  height: 100%;
  width: 100%;
}
/* line 442, ../sass/_mobile.scss */
.footer .footer-banner .footer-banner-content .next-top {
  position: absolute;
  right: 50px;
  bottom: -16px;
  background-color: #f5f5f5;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
}
/* line 451, ../sass/_mobile.scss */
.footer .footer-banner .footer-banner-content .next-top img {
  margin-top: 25%;
  height: 50%;
  width: 50%;
}
/* line 459, ../sass/_mobile.scss */
.footer .footer-end {
  padding-top: 40px;
  background-color: #3a3b40;
  color: #dbd3d3;
  padding-bottom: 32px;
}
/* line 465, ../sass/_mobile.scss */
.footer .footer-end .list-contact .sub-list {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 10px 0;
}
/* line 470, ../sass/_mobile.scss */
.footer .footer-end .list-contact .sub-list .hide {
  display: none;
}
/* line 473, ../sass/_mobile.scss */
.footer .footer-end .list-contact .sub-list .hr-contact {
  height: 24px;
  width: 1px;
  margin: 0 20px;
  background-color: #f5f5f5;
  border: 0.01px solid #f5f5f5;
}
/* line 480, ../sass/_mobile.scss */
.footer .footer-end .list-contact .sub-list .list-contact-item {
  color: #ffffff;
  font-weight: 600;
}
/* line 486, ../sass/_mobile.scss */
.footer .footer-end .list-contact-desktop {
  display: none;
}
/* line 490, ../sass/_mobile.scss */
.footer .footer-end .contact-net .contact-title {
  margin: 2em 0;
  text-align: center;
  color: #afaaaa;
  font-size: 0.9em;
}
/* line 496, ../sass/_mobile.scss */
.footer .footer-end .contact-net .list-app {
  height: 2em;
  display: flex;
  justify-content: center;
  padding: 0 30%;
}
/* line 501, ../sass/_mobile.scss */
.footer .footer-end .contact-net .list-app .app-2 {
  margin: 0 20px;
}
/* line 504, ../sass/_mobile.scss */
.footer .footer-end .contact-net .list-app img {
  height: 100%;
  width: 100%;
  color: #afaaaa;
}
/* line 511, ../sass/_mobile.scss */
.footer .footer-end .contact-net::after {
  content: "";
  display: block;
  margin: 20px auto;
  height: 1.5px;
  background-color: #dbcccc;
  margin: 30px 15px;
}
/* line 519, ../sass/_mobile.scss */
.footer .footer-end .address {
  color: #afaaaa;
  text-align: center;
  padding: 0 5%;
}
/* line 523, ../sass/_mobile.scss */
.footer .footer-end .address .site-net {
  display: flex;
  justify-content: center;
}
/* line 526, ../sass/_mobile.scss */
.footer .footer-end .address .site-net .hr-reverse {
  height: 1em;
  width: 0.1em;
  background-color: #ffffff;
  margin: 0.2em 0.4em;
}

@media only screen and (min-width: 767px) {
  /* line 9, ../sass/style.scss */
  .main .banner-header {
    background-image: url("../assets/img/home-hero-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  /* line 14, ../sass/style.scss */
  .main .banner-header .banner-content {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
  }
  /* line 19, ../sass/style.scss */
  .main .banner-header .banner-content .ban-left {
    background-image: none;
    width: 40%;
    z-index: 1;
    text-align: left;
    padding-bottom: 50px;
  }
  /* line 32, ../sass/style.scss */
  .main .banner-header .banner-content .ban-right {
    margin: 0 20px 0 20px;
    padding: 30px 50px 30px 30px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: none;
    color: #f5f5f5;
  }
  /* line 39, ../sass/style.scss */
  .main .banner-header .banner-content .ban-right .ban-right-title, .main .banner-header .banner-content .ban-right .i-want {
    text-align: left;
  }
  /* line 42, ../sass/style.scss */
  .main .banner-header .banner-content .ban-right .ban-right-title {
    font-size: 18px;
  }
  /* line 45, ../sass/style.scss */
  .main .banner-header .banner-content .ban-right .i-want {
    color: #f5f5f5;
  }
  /* line 48, ../sass/style.scss */
  .main .banner-header .banner-content .ban-right .btn-container {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  /* line 52, ../sass/style.scss */
  .main .banner-header .banner-content .ban-right .btn-container .btn-suggest {
    width: 130px;
    padding: 8px;
    text-align: center;
    border: 1.6px solid #eb681a;
    color: #eb681a;
    font-size: 20px;
    font-weight: bold;
  }
  /* line 62, ../sass/style.scss */
  .main .banner-header .banner-content .ban-right .list-wanted {
    padding-bottom: 20px;
  }
  /* line 65, ../sass/style.scss */
  .main .banner-header .banner-content .ban-right .list-wanted .list-item .check-desc {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    line-height: 1.5;
  }
  /* line 73, ../sass/style.scss */
  .main .banner-header .banner-content .ban-right .list-wanted .list-item .check-desc br {
    display: block;
  }
  /* line 76, ../sass/style.scss */
  .main .banner-header .banner-content .ban-right .list-wanted .list-item .check-desc .check-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  /* line 81, ../sass/style.scss */
  .main .banner-header .banner-content .ban-right .list-wanted .list-item .check-desc .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #b1acac;
  }
  /* line 91, ../sass/style.scss */
  .main .banner-header .banner-content .ban-right .list-wanted .list-item .check-desc .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* line 102, ../sass/style.scss */
  .main .sticker {
    width: 70px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40%;
    right: 0;
    z-index: 1;
  }
  /* line 110, ../sass/style.scss */
  .main .sticker img {
    width: 100%;
    height: 100%;
  }
  /* line 115, ../sass/style.scss */
  .main .carousel {
    padding: 0;
    margin-bottom: 50px;
  }
  /* line 119, ../sass/style.scss */
  .main .carousel .car-content .car-title {
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
    font-size: 22px;
  }
  /* line 124, ../sass/style.scss */
  .main .carousel .car-content .car-title br {
    display: none;
  }
  /* line 129, ../sass/style.scss */
  .main .carousel .car-content .car-container .car-item:nth-child(1), .main .carousel .car-content .car-container .car-item:nth-child(2) {
    margin-right: auto;
  }
  /* line 132, ../sass/style.scss */
  .main .carousel .car-content .car-container .car-item {
    min-width: 32%;
  }
  /* line 134, ../sass/style.scss */
  .main .carousel .car-content .car-container .car-item .item-title {
    font-size: 20px;
    font-weight: bold;
  }
  /* line 141, ../sass/style.scss */
  .main .carousel .car-content .car-container .car-item .btn-explore {
    position: absolute;
    bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 5px 10px;
    width: 110px;
  }
  /* line 149, ../sass/style.scss */
  .main .carousel .car-content .car-container .car-item .btn-explore .btn-img {
    border: 2px solid black;
    border-radius: 50%;
    height: auto;
    width: auto;
  }
  /* line 156, ../sass/style.scss */
  .main .carousel .car-content .car-container .car-item:nth-child(1) {
    background-image: url("../assets/img/bg-banner-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }
  /* line 162, ../sass/style.scss */
  .main .carousel .car-content .car-container .car-item:nth-child(2) {
    background: url("../assets/img/loan-product-item-002.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }
  /* line 168, ../sass/style.scss */
  .main .carousel .car-content .car-container .car-item:nth-child(3) {
    background-image: url("../assets/img/loan-product-item-003.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  /* line 177, ../sass/style.scss */
  .main .about-us {
    padding: 50px 100px;
  }
  /* line 179, ../sass/style.scss */
  .main .about-us .about-us-header::after {
    display: none;
  }
  /* line 182, ../sass/style.scss */
  .main .about-us .about-us-content {
    display: flex;
    justify-content: center;
  }
  /* line 185, ../sass/style.scss */
  .main .about-us .about-us-content .hr-about {
    display: block;
    margin: 0 30px;
  }
  /* line 189, ../sass/style.scss */
  .main .about-us .about-us-content .about-container {
    width: 30%;
  }
  /* line 194, ../sass/style.scss */
  .main .about-us .about-us-content .about-container .all-item .list-all-about .list-about-item::before {
    content: "";
    min-width: 4px;
    height: 4px;
    background-color: #111111;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 6px;
    position: relative;
    top: 2px;
    left: 0px;
  }
  /* line 213, ../sass/style.scss */
  .main .about-us-footer {
    background-image: url("../assets/img/frame_01.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
    margin-bottom: 50px;
  }
  /* line 220, ../sass/style.scss */
  .main .cus-evaluate {
    text-align: center;
    position: relative;
  }
  /* line 225, ../sass/style.scss */
  .main .cus-evaluate .cus-content .arrow-left img, .main .cus-evaluate .cus-content .arrow-right img {
    top: 300px;
  }
  /* line 230, ../sass/style.scss */
  .main .cus-evaluate .cus-content .slide-container .cus-title {
    font-size: 27px;
    padding: 0 30px;
  }
  /* line 233, ../sass/style.scss */
  .main .cus-evaluate .cus-content .slide-container .cus-title br {
    display: none;
  }
  /* line 238, ../sass/style.scss */
  .main .cus-evaluate .cus-content .slide-container .mySlides .cus-info {
    display: flex;
    background-color: #efefef;
    padding: 50px;
    width: 100%;
    height: 100%;
  }
  /* line 244, ../sass/style.scss */
  .main .cus-evaluate .cus-content .slide-container .mySlides .cus-info .ava-cus {
    width: 40%;
    height: 187px;
    padding-right: 20px;
  }
  /* line 249, ../sass/style.scss */
  .main .cus-evaluate .cus-content .slide-container .mySlides .cus-info .cus-detail {
    width: 60%;
    height: 100%;
  }
  /* line 252, ../sass/style.scss */
  .main .cus-evaluate .cus-content .slide-container .mySlides .cus-info .cus-detail .cus-rate {
    width: 100%;
    display: flex;
    justify-content: initial;
    margin: 8px 0 0 0;
  }
  /* line 257, ../sass/style.scss */
  .main .cus-evaluate .cus-content .slide-container .mySlides .cus-info .cus-detail .cus-rate img {
    margin: 0 10px 0 0;
    max-width: 10%;
    height: 100%;
  }
  /* line 263, ../sass/style.scss */
  .main .cus-evaluate .cus-content .slide-container .mySlides .cus-info .cus-detail .cus-name {
    text-align: left;
    margin: 24px 0;
  }

  /* line 277, ../sass/style.scss */
  .footer .footer-header .footer-header-content {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
  }
  /* line 281, ../sass/style.scss */
  .footer .footer-header .footer-header-content .footer-header-title {
    width: 45%;
    text-align: left;
  }
  /* line 285, ../sass/style.scss */
  .footer .footer-header .footer-header-content .footer-header-contact {
    width: 55%;
    display: flex;
    justify-content: space-around;
  }
  /* line 289, ../sass/style.scss */
  .footer .footer-header .footer-header-content .footer-header-contact .contact-item {
    display: flex;
    justify-content: left;
  }
  /* line 292, ../sass/style.scss */
  .footer .footer-header .footer-header-content .footer-header-contact .contact-item .img-contact {
    width: 50px;
    height: auto;
  }
  /* line 295, ../sass/style.scss */
  .footer .footer-header .footer-header-content .footer-header-contact .contact-item .img-contact img {
    position: relative;
    bottom: 5px;
    width: 100%;
  }
  /* line 308, ../sass/style.scss */
  .footer .footer-banner {
    height: 380px;
    background-image: url("../assets/img/home-banner-app-install.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* line 314, ../sass/style.scss */
  .footer .footer-banner .footer-banner-content {
    padding: 50px 0;
  }
  /* line 316, ../sass/style.scss */
  .footer .footer-banner .footer-banner-content .contact-item {
    display: none;
  }
  /* line 319, ../sass/style.scss */
  .footer .footer-banner .footer-banner-content .contact-desktop {
    display: block;
    font-size: 1.4em;
    color: #f5f5f5;
    font-weight: bolder;
  }
  /* line 325, ../sass/style.scss */
  .footer .footer-banner .footer-banner-content .contact-mobile {
    display: none;
  }
  /* line 328, ../sass/style.scss */
  .footer .footer-banner .footer-banner-content .app {
    display: flex;
    margin: 32px 0 0 0;
    width: 400px;
  }
  /* line 332, ../sass/style.scss */
  .footer .footer-banner .footer-banner-content .app .app-store {
    margin-right: 10px;
    width: 70%;
  }
  /* line 335, ../sass/style.scss */
  .footer .footer-banner .footer-banner-content .app .app-store img {
    height: 100%;
    width: 100%;
  }
  /* line 341, ../sass/style.scss */
  .footer .footer-banner .footer-banner-content .qr-code {
    display: flex !important;
    margin-top: 40px;
  }
  /* line 344, ../sass/style.scss */
  .footer .footer-banner .footer-banner-content .qr-code .img-qr {
    width: 100px;
    height: 100px;
  }
  /* line 347, ../sass/style.scss */
  .footer .footer-banner .footer-banner-content .qr-code .img-qr img {
    width: 100%;
    height: 100%;
  }
  /* line 352, ../sass/style.scss */
  .footer .footer-banner .footer-banner-content .qr-code .qr-text {
    margin: 20px 25px;
    color: #f5f5f5;
  }
  /* line 357, ../sass/style.scss */
  .footer .footer-banner .footer-banner-content .next-top {
    right: 0;
  }
  /* line 363, ../sass/style.scss */
  .footer .footer-end .list-contact {
    display: none;
  }
  /* line 366, ../sass/style.scss */
  .footer .footer-end .list-contact-desktop {
    display: flex !important;
    justify-content: space-between;
    list-style: none;
  }
  /* line 370, ../sass/style.scss */
  .footer .footer-end .list-contact-desktop .hr-contact {
    height: 24px;
    width: 1px;
    background-color: #f5f5f5;
    border: 0.01px solid #f5f5f5;
  }
  /* line 377, ../sass/style.scss */
  .footer .footer-end .contact-net::after {
    margin: 30px 0;
  }
}
