.carousel {
  width: 1200px;
  height: 900px;
  margin: 0 auto;
}

.carousel #slider {
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  cursor: pointer;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.slider li {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.slider img {
  width: 1200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.right, .left {
  position: absolute;
  top: 50%;
}

.right {
  right: 0;
}

.left {
  left: 40px;
}

.dots {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.dots .dot {
  width: 20px;
  height: 20px;
  background-color: #050505;
  border-radius: 50%;
  margin: 0 15px;
  border: 2px solid black;
}

.dot.active {
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */