.carousel {
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    #slider {
        width: 100%;
        position: relative;
        margin: 0 auto;
        overflow: hidden;

        }
    }
.slider{
    display: flex;
    list-style-type: none;
    cursor: pointer;
    padding-inline-start:0 ;
    li {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex: 1 0 100%;
    }
    img {
        width: 1200px;
        object-fit: cover;
        flex: 1 0 100%
    }
}



.right, .left {
    position: absolute;
    top: 50%;
}
.right {
    right: 0;
}
.left {
    left: 40px;
}
.dots {
    width: 200px;
    display: flex;
    margin: 0 auto;
    .dot {
        width: 20px;
        height: 20px;
        background-color: rgb(5, 5, 5);
        border-radius: 50%;
        margin: 0 15px;
        border: 2px solid black;
    }
}

.dot.active {
    background-color: #fff;
}