/* Media Queries*/
/* ==========================================================================
   Media Queries
@media (max-width: $screen-sm-max) { }
@media (min-width: $screen-sm-min) { }
@media (max-width: $screen-md-max) { }
@media (min-width: $screen-md-min) { }
@media (max-width: $screen-lg-max) { }
@media (min-width: $screen-lg-min) { }
========================================================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

/*PC*/
.container {
  width: 1230px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
}

.container-body {
  width: 930px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  height: 80.4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  -webkit-box-shadow: 0 1px 3px #ccc;
          box-shadow: 0 1px 3px #ccc;
}

.logo-img {
  margin: 12px 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav li {
  list-style: none;
  display: block;
}

.nav a {
  text-decoration: none;
  color: #777575;
  padding: 12px 22px;
  font-size: 14px;
  line-height: 56.4px;
  display: block;
}

.nav li:hover a {
  background-color: #ccc;
  color: #000;
}

.nav-bars-btn {
  width: 28px;
  height: 28px;
  color: #000;
  display: none;
  margin: 23px 12px;
  position: relative;
}

.nav-input {
  display: none;
}

.nav-mobile {
  display: none;
}

.slider-item {
  background: url(../assets/img/st_banner_01.jpg) top center/cover no-repeat;
  padding-top: 100px;
}

.sub-slider {
  width: 100%;
  color: #fff;
  text-align: center;
}

@media (min-width: 992px) {
  .sub-slider {
    padding-top: 100px;
  }
}

.sub-content {
  padding-bottom: 70px;
  font-size: 22px;
  font-weight: 600;
}

.btn-slider .view-content {
  cursor: pointer;
  padding: 10px 18px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 11px;
  font-weight: 600;
  color: #fff;
}

.btn-slider .purchase-content {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f9c74f;
  border: none;
  font-size: 11px;
  margin-left: 12px;
  font-weight: 600;
  color: #fff;
}

.owl-prev {
  position: absolute;
  background: url(../assets/img/icon/icon-controller-left.png) top center/cover no-repeat !important;
  left: -5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 36px !important;
  width: 3%;
}

.owl-prev:hover {
  background: #869791 !important;
}

.owl-next:hover {
  background: #869791 !important;
}

.owl-next {
  position: absolute;
  background: url(../assets/img/icon/icon-controller-right.png) top center/cover no-repeat !important;
  right: -5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 36px !important;
  width: 3%;
}

.owl-dots {
  position: absolute;
  width: 100%;
  bottom: 20px;
  color: #fff;
}

.owl-theme .owl-nav {
  margin: 0;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: #fff;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #f9c74f;
}

.service-content {
  background-color: #f5f5f5;
  width: 100%;
  padding: 80px 0;
}

.service-content-heading {
  text-align: center;
  font-size: 20px;
}

.service-content-sub {
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: 30px;
  margin-top: -22px;
  padding-bottom: 40px;
}

.service-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-desc-about {
  background-color: #fff;
  padding: 48px 20px 40px;
}

@media (min-width: 768px) {
  .service-desc-about {
    width: 32%;
  }
}

.service-desc-about-img {
  text-align: center;
}

.service-desc-about-img img {
  width: 24px;
}

h3.service-desc-about-heading {
  margin: 24px 0;
  text-align: center;
  font-size: 16px;
}

.service-desc-about-paragraph {
  word-spacing: 1px;
  font-size: 16px;
  color: #c1c4c6;
  text-align: center;
}

.ourwork-content {
  padding: 80px 0;
}

.ourwork-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 20px;
  list-style: none;
}

.ourwork-img .img-aboutwork {
  margin: 6px 0;
  width: 32%;
}

@media (max-width: 615px) {
  .ourwork-img .img-aboutwork {
    width: 48%;
  }
}

@media (min-width: 992px) {
  .ourwork-img .img-aboutwork1 {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .ourwork-img .img-aboutwork2 {
    margin-right: 0;
  }
}

.heading-sp::after {
  content: "";
  width: 45px;
  margin: 10px auto 30px;
  height: 3px;
  display: block;
  background-color: #000;
}

.heading-sp1::after {
  content: "";
  width: 45px;
  background-color: #fff;
  margin: 10px auto 30px;
  height: 3px;
  display: block;
}

.btn-ourwork {
  text-align: center;
}

.btn-ourwork .btn-work {
  cursor: pointer;
  background-color: transparent;
  font-weight: 700;
  font-size: 12px;
  border: 1px #000 solid;
  padding: 7px 25px;
  color: #000;
}

.background-clients {
  background: url(../assets/img/bkg-quotes.jpg) top center/cover no-repeat;
  padding-top: 200px;
}

.icon-say {
  text-align: center;
  margin-bottom: 12px;
}

.clients-heading {
  color: #fff;
  font-weight: 600;
}

.clients-subheading {
  margin-bottom: 50px;
  color: #fff;
}

.clients-say-desc {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

@media (min-width: 768px) {
  .clients-say-desc {
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .clients-say-desc {
    padding: 36px 140px;
  }
}

.pc-clients-say {
  display: block;
}

.mb-clients-say {
  display: none;
}

.clients-tag {
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: italic;
}

.clients-check {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9c74f;
  padding: 24px 44px;
  text-align: center;
}

.clients-check .clients-check-body {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-check-desc {
  font-style: italic;
}

.team-member {
  padding: 80px 0;
}

.member-sub {
  padding-bottom: 40px;
}

.member-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

@media (max-width: 991px) {
  .member-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.member-list .member {
  width: 23%;
}

@media (max-width: 991px) {
  .member-list .member {
    width: 50%;
    text-align: center;
  }
}

.member-name {
  text-align: inherit;
  font-size: 16px;
  padding: 12px 0;
}

.member-introduce {
  color: #81818d;
  text-align: inherit;
  padding: 12px 0;
}

.recent-post {
  background-color: #f5f5f5;
  padding: 80px 0;
}

.recent-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-form .recent-outsourcing {
  background-color: #fff;
}

@media (min-width: 768px) {
  .recent-form .recent-outsourcing {
    width: 65%;
  }
}

.recent-form .recent-form-abt {
  padding: 18px;
}

.recent-new-abt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recent-heading {
  text-align: inherit;
  color: #000;
  padding-bottom: 16px;
}

.recent-paragraph {
  color: #777575;
  font-size: 14px;
  text-align: inherit;
  padding-bottom: 30px;
}

.recent-img {
  width: 100%;
}

.recent-news {
  width: 33%;
  background-color: #fff;
  padding: 16px;
  list-style: none;
}

.recent-news .recent-news-name {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 0;
}

.recent-news .hot-news-paragraph {
  color: #2d2a2a;
  padding: 0 16px 4px;
}

.contact {
  padding: 60px 0;
}

.col-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .contact-form {
    width: 80%;
  }
}

.contact-form .btn-submit {
  padding: 10px 8px;
  width: 120px;
  cursor: pointer;
  border: none;
  color: #000;
  background-color: #f9c74f;
  font-weight: 700;
}

.form-contact-input {
  margin-bottom: 24px;
}

.formn-control {
  width: 100%;
  padding: 8px;
  border: 1px #ccc solid;
}

@media (min-width: 768px) {
  .contact-list {
    width: 19%;
  }
}

.contact-list .contact-item {
  margin-bottom: 14px;
}

.contact-list .contact-item-name {
  font-size: 16px;
}

.contact-list .contact-item-sub {
  font-size: 14px;
  color: #777575;
}

.more-space {
  padding-bottom: 60px;
}

.footer {
  background: url(../assets/img/bkg-footer.jpg) top center/cover no-repeat;
  padding-top: 100px;
  position: relative;
}

.footer-content {
  text-align: center;
}

.connect-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}

.split-connect-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connect-item {
  width: 25%;
}

.connect-item .connect-img {
  width: 46px;
}

.connect-item .connect-item-heading {
  color: #fff;
  font-size: 16px;
  padding: 14px 0;
}

.connect-item .connect-item-sub {
  color: #fff;
  font-size: 13px;
}

.footer-contact {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
  text-align: initial;
  margin-top: 60px;
}

.footer-contact .footer-contact1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-address-heading {
  padding: 10px 0;
}

.address-desc {
  padding-bottom: 10px;
}

.footer-connect-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sp-footer-space {
  padding: 0 30px;
}
/*# sourceMappingURL=base.css.map */