/* Mobile */
@media (max-width: 740px){

    #main{
        overflow: hidden;
    }
    #header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background-color: #fff;
        width: 100%;
        z-index: 2;
    }
    .nav-bars-btn{
        display: block;
    }
    
    .nav{
        display: none;
    }
    .nav-mobile{
        position: fixed;
        top: 81px;
        left: 0;
        right: 0;
        width: 415px;
        max-width: 100%;
        background-color: #fff;
        z-index: 1;
        transform: translateX(-100%);
        transition: transform ease-in-out 0.3s;
        box-shadow: 0 1px 3px #ccc;
    }
    .nav-mobile{
        display: block;
    }
    .nav-mobile-link{
       display: block;
       text-decoration: none;
       color: #777575;
       padding: 16px;
    }
    .nav-mobile-link:hover{
        background-color: #ccc;
        color: #000;
      
    }
    .nav-input{
        display: none;
    }
    .nav-input:checked  ~ .nav-overlay{
        display: block;
    }
    .nav-input:checked ~ .nav-mobile{
        transform: translateX(0);
    }
   
    // owl-btn
    .owl-next{
        width: 5%;
        font-size: 30px !important ;
        top: 56%;
    }
    .owl-prev{
        position: absolute;
        background: url(../assets/img/icon/icon-controller-left.png) top center / cover no-repeat !important;
        left: -5px;
        top: 56%;
        transform: translateY(-50%);
        font-size: 30px !important ;
        width: 5%;
    }

    .slider-item{
    
        .btn-slider{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 50px;   
            .view-content, .purchase-content{
                width: 130px;
            }
            .purchase-content{
                margin: 12px 0;
            }
        }
        .sub-content{
            font-size: 16px;
            padding: 10px 0 28px;
        }

    }
    .service-desc{
        flex-direction: column;
        .service-desc-about{
            margin: 20px 0;
        }
    }

    .background-clients{
        padding-top: 120px;
    }
    .clients-subheading{
        margin-bottom: 18px;
    }
    .clients-check{
        padding: 24px 0;
    }
    .clients-check-body{
        flex-direction: column;
    }
    .clients-check-desc{
        padding: 0 12px;
    }
    .btn-ourwork{
        padding-top: 10px;
    }
    .clients-tag, .clients-say-desc{
        margin-bottom: 16px;
    }
    .pc-clients-say{
        display: none;
    }
    .mb-clients-say{
        display: block;
        font-size: 16px;
    }
    .ourwork-img{
        flex-direction: row;
    }
    .ourwork-img-line1,.ourwork-img-line2{
        flex-direction: column;
    }
    .img-mobile-work{
        width: 100%;
    }
    .ourwork-img-line1, .ourwork-img-line2{
        width: 50%;
    }
    .mobile-width{
        width: 90%;
        display: block;
        margin-left: 10px;
    }
    .half-member1{
        margin-left: 10px;
        flex-direction: column;
    }

    .member-name{
        text-align: center;
    }
    .member-introduce{
        text-align: center;
        padding: 12px;
    }
    .recent-news{
        display: none;
    }
    .contact-item{
        margin-top: 20px;
    }
    .col-half{
        flex-direction: column;
    }

    .connect-link{
        flex-wrap: wrap;
    }
    .footer-contact1{
        flex-direction: column;
    }
    .footer-address{
        border-bottom: 1px #f5f5f5 solid;
        padding-bottom: 20px;
    }
    .footer-connect-item{
        margin: 4px 10px;
    }
    .footer-address-heading{
        margin: 0;
    }
    .footer-connect{
        margin-bottom:40px;
    }
    .footer-connect-item{
        padding-bottom: 40px;
    }
    .connect-item{  
        width: 50%;
        margin-bottom: 20px;
    }
    .footer-connect-item{
        flex-wrap: wrap;
        .fix-footer-connect-item-mobile{
            margin-bottom: 6px;
        }
    }
}
// header
/*PC*/
@media (min-width: 741px){
    #slider{
        margin-top: 80.4px;
    }
    .btn-slider{
        padding-bottom: 192px;
    }
    .text-content{
        font-size: 60px;
        padding-bottom: 100px;    
    }

    .footer-address{
        width: 50%;
    }
  
}