/* Mobile */
@media (max-width: 740px) {
  #main {
    overflow: hidden;
  }
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 2;
  }
  .nav-bars-btn {
    display: block;
  }
  .nav {
    display: none;
  }
  .nav-mobile {
    position: fixed;
    top: 81px;
    left: 0;
    right: 0;
    width: 415px;
    max-width: 100%;
    background-color: #fff;
    z-index: 1;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform ease-in-out 0.3s;
    transition: -webkit-transform ease-in-out 0.3s;
    transition: transform ease-in-out 0.3s;
    transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
    -webkit-box-shadow: 0 1px 3px #ccc;
            box-shadow: 0 1px 3px #ccc;
  }
  .nav-mobile {
    display: block;
  }
  .nav-mobile-link {
    display: block;
    text-decoration: none;
    color: #777575;
    padding: 16px;
  }
  .nav-mobile-link:hover {
    background-color: #ccc;
    color: #000;
  }
  .nav-input {
    display: none;
  }
  .nav-input:checked ~ .nav-overlay {
    display: block;
  }
  .nav-input:checked ~ .nav-mobile {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .owl-next {
    width: 5%;
    font-size: 30px !important;
    top: 56%;
  }
  .owl-prev {
    position: absolute;
    background: url(../assets/img/icon/icon-controller-left.png) top center/cover no-repeat !important;
    left: -5px;
    top: 56%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 30px !important;
    width: 5%;
  }
  .slider-item .btn-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 50px;
  }
  .slider-item .btn-slider .view-content, .slider-item .btn-slider .purchase-content {
    width: 130px;
  }
  .slider-item .btn-slider .purchase-content {
    margin: 12px 0;
  }
  .slider-item .sub-content {
    font-size: 16px;
    padding: 10px 0 28px;
  }
  .service-desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service-desc .service-desc-about {
    margin: 20px 0;
  }
  .background-clients {
    padding-top: 120px;
  }
  .clients-subheading {
    margin-bottom: 18px;
  }
  .clients-check {
    padding: 24px 0;
  }
  .clients-check-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .clients-check-desc {
    padding: 0 12px;
  }
  .btn-ourwork {
    padding-top: 10px;
  }
  .clients-tag, .clients-say-desc {
    margin-bottom: 16px;
  }
  .pc-clients-say {
    display: none;
  }
  .mb-clients-say {
    display: block;
    font-size: 16px;
  }
  .ourwork-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .ourwork-img-line1, .ourwork-img-line2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img-mobile-work {
    width: 100%;
  }
  .ourwork-img-line1, .ourwork-img-line2 {
    width: 50%;
  }
  .mobile-width {
    width: 90%;
    display: block;
    margin-left: 10px;
  }
  .half-member1 {
    margin-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .member-name {
    text-align: center;
  }
  .member-introduce {
    text-align: center;
    padding: 12px;
  }
  .recent-news {
    display: none;
  }
  .contact-item {
    margin-top: 20px;
  }
  .col-half {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .connect-link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-contact1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-address {
    border-bottom: 1px #f5f5f5 solid;
    padding-bottom: 20px;
  }
  .footer-connect-item {
    margin: 4px 10px;
  }
  .footer-address-heading {
    margin: 0;
  }
  .footer-connect {
    margin-bottom: 40px;
  }
  .footer-connect-item {
    padding-bottom: 40px;
  }
  .connect-item {
    width: 50%;
    margin-bottom: 20px;
  }
  .footer-connect-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-connect-item .fix-footer-connect-item-mobile {
    margin-bottom: 6px;
  }
}

/*PC*/
@media (min-width: 741px) {
  #slider {
    margin-top: 80.4px;
  }
  .btn-slider {
    padding-bottom: 192px;
  }
  .text-content {
    font-size: 60px;
    padding-bottom: 100px;
  }
  .footer-address {
    width: 50%;
  }
}
/*# sourceMappingURL=responsive.css.map */