@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Lato:wght@100&family=Roboto:wght@100;500&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
/* line 1, ../sass/_default.scss */
* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* line 8, ../sass/_default.scss */
input[type=text], select {
  width: 100%;
  padding: 12px 10px;
  margin: 20px 0 10px 0;
  display: inline-block;
  border: 1px solid #696666;
  box-sizing: border-box;
}

/* line 16, ../sass/_default.scss */
#message, select {
  width: 100%;
  height: 140px;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #726f6f;
  box-sizing: border-box;
}

/* line 25, ../sass/_default.scss */
.body-item {
  width: 100%;
}
/* line 27, ../sass/_default.scss */
.body-item .body-container {
  width: 900px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* line 1, ../sass/_desktop.scss */
.wrapper {
  width: 100%;
}
/* line 4, ../sass/_desktop.scss */
.wrapper .header .nav-container {
  width: 1100px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* line 6, ../sass/_desktop.scss */
.wrapper .header .nav-container .nav-bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
}
/* line 10, ../sass/_desktop.scss */
.wrapper .header .nav-container .nav-bar .nav-logo {
  width: 150px;
  height: 100%;
  padding-top: 10px;
}
/* line 14, ../sass/_desktop.scss */
.wrapper .header .nav-container .nav-bar .nav-logo img {
  max-width: 100%;
  height: 40px;
}
/* line 19, ../sass/_desktop.scss */
.wrapper .header .nav-container .nav-bar .nav-list {
  list-style: none;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 500px;
  max-width: 600px;
}
/* line 26, ../sass/_desktop.scss */
.wrapper .header .nav-container .nav-bar .nav-list .nav-item {
  height: 100%;
  text-align: center;
  padding-top: 23px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 32, ../sass/_desktop.scss */
.wrapper .header .nav-container .nav-bar .nav-list .nav-item .nav-link {
  text-decoration: none;
  color: #575555;
  font-size: 14px;
}
/* line 38, ../sass/_desktop.scss */
.wrapper .header .nav-container .nav-bar .nav-list .nav-item:hover {
  background-color: #d4d3d3;
}
/* line 44, ../sass/_desktop.scss */
.wrapper .header .slide-container {
  width: 100%;
}
/* line 46, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container {
  text-align: center;
  width: 100%;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #f5f5f5;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Number text (1/3 etc) */
  /* The dots/bullets/indicators */
  /* Fading animation */
}
/* line 52, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .mySlides {
  display: none;
  background-image: url(../assets/image/st_banner_01.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 500px;
  padding-top: 70px;
}
/* line 61, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .mySlides .banner-content .banner-title {
  font-size: 50px;
}
/* line 64, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .mySlides .banner-content .slide-text {
  font-size: 16px;
  margin: 50px 0;
}
/* line 68, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .mySlides .banner-content .index-banner {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* line 72, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .mySlides .banner-content .index-banner .index {
  padding: 12px 15px 7px 15px;
  font-size: 13px;
  width: 150px;
}
/* line 77, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .mySlides .banner-content .index-banner .index:nth-child(1) {
  border: 1px solid #f5f5f5;
  margin-right: 5px;
}
/* line 81, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .mySlides .banner-content .index-banner .index:nth-child(2) {
  background-color: #f9ce06;
  margin-left: 5px;
}
/* line 89, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .prev, .wrapper .header .slide-container .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  height: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}
/* line 103, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .prev {
  background: url(../assets/image/icon/icon-controller-left.png);
  background-size: cover;
  background-position: center;
  left: 0;
}
/* line 111, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .next {
  background: url(../assets/image/icon/icon-controller-right.png);
  background-size: cover;
  background-position: center;
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* line 120, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .prev:hover, .wrapper .header .slide-container .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 125, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* line 136, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* line 145, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .dot-banner {
  width: 100%;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
}
/* line 152, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #eeece5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* line 163, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .active, .wrapper .header .slide-container .slideshow-container .dot:hover {
  background-color: #f9ce06;
}
/* line 168, ../sass/_desktop.scss */
.wrapper .header .slide-container .slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/* line 179, ../sass/_desktop.scss */
.wrapper .main .our-services {
  background-color: #f5f5f5;
  padding-bottom: 40px;
}
/* line 183, ../sass/_desktop.scss */
.wrapper .main .our-services .our-services-content .services-header {
  text-align: center;
  padding: 40px 0 50px 0;
}
/* line 186, ../sass/_desktop.scss */
.wrapper .main .our-services .our-services-content .services-header .ser-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 30px;
  border: 1px solid #111111;
  border-radius: 10px;
  background-color: #111111;
  margin: 10px 0 0 0;
  margin: 10px auto;
}
/* line 198, ../sass/_desktop.scss */
.wrapper .main .our-services .our-services-content .services-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}
/* line 204, ../sass/_desktop.scss */
.wrapper .main .our-services .our-services-content .services-list .ser-item {
  background-color: #ffffff;
  width: 32%;
  text-align: center;
}
/* line 208, ../sass/_desktop.scss */
.wrapper .main .our-services .our-services-content .services-list .ser-item .ser-icon {
  height: 30px;
  width: 30px;
  margin: 50px 0;
}
/* line 212, ../sass/_desktop.scss */
.wrapper .main .our-services .our-services-content .services-list .ser-item .ser-text {
  color: #5c5252;
  margin: 50px 7px 70px 7px;
  padding: auto;
  font-size: 14px;
}
/* line 217, ../sass/_desktop.scss */
.wrapper .main .our-services .our-services-content .services-list .ser-item .ser-text br {
  display: none;
}
/* line 226, ../sass/_desktop.scss */
.wrapper .main .our-work {
  text-align: center;
}
/* line 229, ../sass/_desktop.scss */
.wrapper .main .our-work .our-work-content .work-header {
  margin: 50px 0;
}
/* line 231, ../sass/_desktop.scss */
.wrapper .main .our-work .our-work-content .work-header .work-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 30px;
  border: 1px solid #111111;
  border-radius: 10px;
  background-color: #111111;
  margin: 10px auto;
}
/* line 242, ../sass/_desktop.scss */
.wrapper .main .our-work .our-work-content .st-work {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
/* line 246, ../sass/_desktop.scss */
.wrapper .main .our-work .our-work-content .st-work .work-item {
  width: 33.3333%;
}
/* line 248, ../sass/_desktop.scss */
.wrapper .main .our-work .our-work-content .st-work .work-item .img-style {
  height: 95%;
  width: 95%;
}
/* line 253, ../sass/_desktop.scss */
.wrapper .main .our-work .our-work-content .btn-con {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
/* line 259, ../sass/_desktop.scss */
.wrapper .main .our-work .our-work-content .btn-con .btn {
  width: 250px;
}
/* line 261, ../sass/_desktop.scss */
.wrapper .main .our-work .our-work-content .btn-con .btn .btn-link {
  border: 2px solid #111111;
  text-decoration: none;
  color: #111111;
  font-weight: bolder;
  padding: 15px 25px 10px 25px;
}
/* line 272, ../sass/_desktop.scss */
.wrapper .main .client-banner {
  margin-top: 70px;
  text-align: center;
  background: url("../assets/image/bkg-quotes.jpg") no-repeat;
  background-size: cover;
  background-position: center left;
  color: #f5f5f5;
}
/* line 279, ../sass/_desktop.scss */
.wrapper .main .client-banner .client-banner-content {
  width: 600px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 283, ../sass/_desktop.scss */
.wrapper .main .client-banner .client-banner-content .reviews-text {
  line-height: 1.4;
}
/* line 286, ../sass/_desktop.scss */
.wrapper .main .client-banner .client-banner-content .client-title {
  margin: 20px 0;
}
/* line 289, ../sass/_desktop.scss */
.wrapper .main .client-banner .client-banner-content .client-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 30px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 10px auto;
}
/* line 299, ../sass/_desktop.scss */
.wrapper .main .client-banner .client-banner-content .author-client {
  margin: 30px 0 0 0;
}
/* line 302, ../sass/_desktop.scss */
.wrapper .main .client-banner .client-banner-content .quotes-icon {
  height: 32px;
  width: 32px;
}
/* line 309, ../sass/_desktop.scss */
.wrapper .main .client-footer {
  background-color: #f9ce06;
  padding: 30px 0;
}
/* line 312, ../sass/_desktop.scss */
.wrapper .main .client-footer .client-footer-content {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}
/* line 316, ../sass/_desktop.scss */
.wrapper .main .client-footer .client-footer-content .text-build {
  padding: 5px 0 0 0;
  font-size: 13px;
  font-weight: 300;
}
/* line 321, ../sass/_desktop.scss */
.wrapper .main .client-footer .client-footer-content .btn {
  border: 2px solid #111111;
  min-width: 120px;
  padding: 12px 15px 5px 15px;
  display: flex;
  justify-content: center;
}
/* line 327, ../sass/_desktop.scss */
.wrapper .main .client-footer .client-footer-content .btn .btn-link {
  text-decoration: none;
  color: #111111;
  font-weight: bolder;
  font-size: 12px;
  font-weight: bold;
}
/* line 336, ../sass/_desktop.scss */
.wrapper .main .our-team {
  margin-bottom: 50px;
}
/* line 338, ../sass/_desktop.scss */
.wrapper .main .our-team .our-team-content {
  text-align: center;
}
/* line 340, ../sass/_desktop.scss */
.wrapper .main .our-team .our-team-content .team-header {
  margin: 50px 0 50px 0;
}
/* line 342, ../sass/_desktop.scss */
.wrapper .main .our-team .our-team-content .team-header .team-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 30px;
  border: 1px solid #111111;
  border-radius: 10px;
  background-color: #111111;
  margin: 10px auto;
}
/* line 353, ../sass/_desktop.scss */
.wrapper .main .our-team .our-team-content .list-member {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
/* line 357, ../sass/_desktop.scss */
.wrapper .main .our-team .our-team-content .list-member .member {
  text-align: left;
}
/* line 358, ../sass/_desktop.scss */
.wrapper .main .our-team .our-team-content .list-member .member img {
  width: 100%;
}
/* line 362, ../sass/_desktop.scss */
.wrapper .main .our-team .our-team-content .list-member .member .mem-name {
  margin: 20px 0;
}
/* line 366, ../sass/_desktop.scss */
.wrapper .main .our-team .our-team-content .list-member .member:nth-child(2) {
  margin: 0 8px 0 16px;
}
/* line 369, ../sass/_desktop.scss */
.wrapper .main .our-team .our-team-content .list-member .member:nth-child(3) {
  margin: 0 16px 0 8px;
}
/* line 376, ../sass/_desktop.scss */
.wrapper .main .our-recent-post {
  background-color: #f5f5f5;
}
/* line 378, ../sass/_desktop.scss */
.wrapper .main .our-recent-post .our-recent-post-content {
  text-align: center;
  position: relative;
  padding-bottom: 50px;
}
/* line 382, ../sass/_desktop.scss */
.wrapper .main .our-recent-post .our-recent-post-content .post-header {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 50px;
  padding-top: 40px;
}
/* line 388, ../sass/_desktop.scss */
.wrapper .main .our-recent-post .our-recent-post-content .post-header .post-title-container .post-title-mobile {
  display: none;
}
/* line 392, ../sass/_desktop.scss */
.wrapper .main .our-recent-post .our-recent-post-content .post-header .post-title-container::after {
  content: "";
  display: block;
  height: 1px;
  width: 30px;
  border: 1px solid #111111;
  border-radius: 10px;
  background-color: #111111;
  margin: 10px auto;
}
/* line 403, ../sass/_desktop.scss */
.wrapper .main .our-recent-post .our-recent-post-content .recent-post {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
/* line 407, ../sass/_desktop.scss */
.wrapper .main .our-recent-post .our-recent-post-content .recent-post .outsourcing {
  background-color: #ffffff;
  width: 65.5%;
  padding-bottom: 30px;
}
/* line 412, ../sass/_desktop.scss */
.wrapper .main .our-recent-post .our-recent-post-content .recent-post .outsourcing .thumb-main img {
  width: 100%;
  height: 100%;
}
/* line 417, ../sass/_desktop.scss */
.wrapper .main .our-recent-post .our-recent-post-content .recent-post .outsourcing .outsourcing-content {
  padding: 40px 30px;
}
/* line 421, ../sass/_desktop.scss */
.wrapper .main .our-recent-post .our-recent-post-content .recent-post .hot-news {
  background-color: #ffffff;
  width: 33%;
  height: 80%;
  padding: 35px 5px 35px 15px;
  list-style: none;
}
/* line 427, ../sass/_desktop.scss */
.wrapper .main .our-recent-post .our-recent-post-content .recent-post .hot-news .news-item {
  display: flex;
  margin: 10px 0 0 0;
  font-size: 15px;
}
/* line 431, ../sass/_desktop.scss */
.wrapper .main .our-recent-post .our-recent-post-content .recent-post .hot-news .news-item .img-news {
  margin: 0 5% 0 0;
  height: 30%;
  width: auto;
}
/* line 436, ../sass/_desktop.scss */
.wrapper .main .our-recent-post .our-recent-post-content .recent-post .hot-news .news-item p {
  width: 65%;
}
/* line 447, ../sass/_desktop.scss */
.wrapper .main .our-contact-us {
  margin-bottom: 50px;
}
/* line 450, ../sass/_desktop.scss */
.wrapper .main .our-contact-us .our-contact-us-content .contact-us-header {
  text-align: center;
  margin-top: 50px;
}
/* line 453, ../sass/_desktop.scss */
.wrapper .main .our-contact-us .our-contact-us-content .contact-us-header .con-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 30px;
  border: 1px solid #111111;
  border-radius: 10px;
  background-color: #111111;
  margin: 10px auto;
}
/* line 464, ../sass/_desktop.scss */
.wrapper .main .our-contact-us .our-contact-us-content .contact-content {
  display: flex;
}
/* line 466, ../sass/_desktop.scss */
.wrapper .main .our-contact-us .our-contact-us-content .contact-content .form-contact {
  width: 65%;
}
/* line 468, ../sass/_desktop.scss */
.wrapper .main .our-contact-us .our-contact-us-content .contact-content .form-contact .btn-contact-us {
  margin-top: 30px;
}
/* line 470, ../sass/_desktop.scss */
.wrapper .main .our-contact-us .our-contact-us-content .contact-content .form-contact .btn-contact-us .btn-submit {
  width: 160px;
  background-color: #f9ce06;
  color: #111111;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 10px 0px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* line 483, ../sass/_desktop.scss */
.wrapper .main .our-contact-us .our-contact-us-content .contact-content .our-contact {
  list-style: none;
}
/* line 485, ../sass/_desktop.scss */
.wrapper .main .our-contact-us .our-contact-us-content .contact-content .our-contact .our-item {
  margin: 25px 0 20px 20px;
}
/* line 487, ../sass/_desktop.scss */
.wrapper .main .our-contact-us .our-contact-us-content .contact-content .our-contact .our-item .our-item-title {
  margin-bottom: 5px;
}
/* line 500, ../sass/_desktop.scss */
.wrapper .footer .banner-footer {
  padding: 70px 0;
  height: 380px;
  background-image: url("../assets/image/bkg-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 508, ../sass/_desktop.scss */
.wrapper .footer .banner-footer .connect-us .connect-header {
  text-align: center;
}
/* line 510, ../sass/_desktop.scss */
.wrapper .footer .banner-footer .connect-us .connect-header .connect-title {
  color: #ffffff;
}
/* line 513, ../sass/_desktop.scss */
.wrapper .footer .banner-footer .connect-us .connect-header .connect-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 30px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 10px auto;
}
/* line 524, ../sass/_desktop.scss */
.wrapper .footer .banner-footer .connect-us .networking {
  display: flex;
  justify-content: space-between;
  color: #f5f5f5;
  margin-top: 50px;
}
/* line 529, ../sass/_desktop.scss */
.wrapper .footer .banner-footer .connect-us .networking .social-net {
  text-align: center;
  width: 20%;
}
/* line 532, ../sass/_desktop.scss */
.wrapper .footer .banner-footer .connect-us .networking .social-net .app-contact {
  font-size: 20px;
  margin: 20px 0;
}
/* line 536, ../sass/_desktop.scss */
.wrapper .footer .banner-footer .connect-us .networking .social-net img {
  height: 42px;
  width: 42px;
}
/* line 544, ../sass/_desktop.scss */
.wrapper .footer .footer-end-container {
  background-color: #111111;
}
/* line 546, ../sass/_desktop.scss */
.wrapper .footer .footer-end-container .footer-content {
  margin: 0 auto;
  padding: 50px 15px;
}
/* line 549, ../sass/_desktop.scss */
.wrapper .footer .footer-end-container .footer-content .info-me {
  color: #f5f5f5;
  display: flex;
}
/* line 552, ../sass/_desktop.scss */
.wrapper .footer .footer-end-container .footer-content .info-me .contact-me {
  width: 50%;
  padding-right: 10px;
}
/* line 555, ../sass/_desktop.scss */
.wrapper .footer .footer-end-container .footer-content .info-me .contact-me .contact-local {
  margin: 20px 0 0 0;
  line-height: 1.6;
}
/* line 559, ../sass/_desktop.scss */
.wrapper .footer .footer-end-container .footer-content .info-me .contact-me .contact-info {
  text-align: center;
  display: flex;
  margin: 15px 0 0 0;
}
/* line 565, ../sass/_desktop.scss */
.wrapper .footer .footer-end-container .footer-content .info-me .hr {
  width: 100%;
  display: none;
}
/* line 569, ../sass/_desktop.scss */
.wrapper .footer .footer-end-container .footer-content .info-me .link-target {
  width: 50%;
}
/* line 571, ../sass/_desktop.scss */
.wrapper .footer .footer-end-container .footer-content .info-me .link-target .connect-me {
  margin: 30px 0 0 10px;
  display: flex;
  flex-wrap: wrap;
}
/* line 575, ../sass/_desktop.scss */
.wrapper .footer .footer-end-container .footer-content .info-me .link-target .connect-me .connect-me-item {
  width: 32%;
  display: flex;
}
/* line 578, ../sass/_desktop.scss */
.wrapper .footer .footer-end-container .footer-content .info-me .link-target .connect-me .connect-me-item .icon-arrow {
  height: 10px;
  width: 10px;
  margin: 5px 7px 0 0;
}
/* line 582, ../sass/_desktop.scss */
.wrapper .footer .footer-end-container .footer-content .info-me .link-target .connect-me .connect-me-item p {
  line-height: 1.6;
  font-size: 12px;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes nav-con {
  from {
    opacity: .2;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 768px) {
  /* line 7, ../sass/style.scss */
  .mobile-nav {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  /* line 16, ../sass/style.scss */
  .wrapper .header .nav-container .nav-bar .nav-list {
    display: none;
  }
  /* line 19, ../sass/style.scss */
  .wrapper .header .nav-container .nav-bar .animation-nav {
    animation: nav-con;
    animation-duration: 2.5s;
  }
  /* line 23, ../sass/style.scss */
  .wrapper .header .nav-container .nav-bar .toggle-nav {
    text-align: center;
    height: 40px;
    padding-top: 15px;
  }
  /* line 27, ../sass/style.scss */
  .wrapper .header .nav-container .nav-bar .toggle-nav .toggle-bar {
    box-sizing: border-box;
    height: 4px;
    width: 30px;
    border: 1px solid #111111;
    background-color: #111111;
    margin: 5px 0 0 0;
  }
  /* line 40, ../sass/style.scss */
  .wrapper .header .mobile-nav {
    display: none;
    animation-name: nav-con;
    animation-duration: 2s;
    position: relative;
    top: 0;
    z-index: 1;
  }
  /* line 48, ../sass/style.scss */
  .wrapper .header .mobile-nav .nav-list .nav-item {
    padding: 15px;
  }
  /* line 50, ../sass/style.scss */
  .wrapper .header .mobile-nav .nav-list .nav-item .nav-link {
    text-decoration: none;
    color: #444343;
  }
  /* line 55, ../sass/style.scss */
  .wrapper .header .mobile-nav .nav-list .nav-item:hover {
    background-color: #717572;
    color: #f5f5f5;
  }
  /* line 64, ../sass/style.scss */
  .wrapper .header .slide-container .banner-header-content .banner-title {
    font-size: 50px;
  }
  /* line 67, ../sass/style.scss */
  .wrapper .header .slide-container .banner-header-content .slide-text {
    font-size: 16px;
  }
  /* line 70, ../sass/style.scss */
  .wrapper .header .slide-container .banner-header-content .index-banner {
    display: flex;
    justify-content: center;
  }
  /* line 73, ../sass/style.scss */
  .wrapper .header .slide-container .banner-header-content .index-banner .index {
    font-size: 13px;
    width: auto;
  }
  /* line 82, ../sass/style.scss */
  .wrapper .header .slide-container .banner-header-content .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #eeece5;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  /* line 93, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container {
    /* Next & previous buttons */
    /* Position the "next button" to the right */
    /* On hover, add a black background color with a little bit see-through */
    /* Caption text */
    /* Number text (1/3 etc) */
    /* The dots/bullets/indicators */
    /* Fading animation */
  }
  /* line 94, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .mySlides {
    padding-top: 100px;
  }
  /* line 97, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .mySlides .banner-content .banner-title {
    font-size: 30px;
  }
  /* line 100, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .mySlides .banner-content .slide-text {
    font-size: 16px;
    margin: 50px 0;
  }
  /* line 104, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .mySlides .banner-content .index-banner {
    display: block;
    text-align: center;
    width: 100%;
  }
  /* line 108, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .mySlides .banner-content .index-banner .index {
    margin: 0 auto;
  }
  /* line 111, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .mySlides .banner-content .index-banner .index:nth-child(1) {
    border: 1px solid #f5f5f5;
    margin-right: 0;
    margin: 0 auto 10px auto;
  }
  /* line 116, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .mySlides .banner-content .index-banner .index:nth-child(2) {
    background-color: #f9ce06;
    margin-left: 0;
    margin: 10px auto 0 auto;
  }
  /* line 125, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .prev, .wrapper .header .slide-container .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  }
  /* line 139, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .prev {
    background: url(../assets/image/icon/icon-controller-left.png);
    background-size: cover;
    background-position: center;
    left: 0;
  }
  /* line 147, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .next {
    background: url(../assets/image/icon/icon-controller-right.png);
    background-size: cover;
    background-position: center;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* line 156, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .prev:hover, .wrapper .header .slide-container .slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* line 161, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  /* line 172, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* line 181, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .dot-banner {
    width: 100%;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
  }
  /* line 188, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #eeece5;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  /* line 199, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .active, .wrapper .header .slide-container .slideshow-container .dot:hover {
    background-color: #f9ce06;
  }
  /* line 204, ../sass/style.scss */
  .wrapper .header .slide-container .slideshow-container .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  /* line 217, ../sass/style.scss */
  .wrapper .main .our-services .our-services-content .services-header {
    padding: 40px 0 0 0;
  }
  /* line 220, ../sass/style.scss */
  .wrapper .main .our-services .our-services-content .services-title {
    padding: 0;
    width: auto;
    background-color: #f5f5f5;
  }
  /* line 225, ../sass/style.scss */
  .wrapper .main .our-services .our-services-content .services-list {
    display: block;
    padding: 0 0 50px 0;
    margin-top: 0;
    background-color: #f5f5f5;
    text-align: center;
  }
  /* line 231, ../sass/style.scss */
  .wrapper .main .our-services .our-services-content .services-list .ser-item {
    width: 100%;
    padding: 0 20px 50px 20px;
    margin-top: 100px;
  }
  /* line 235, ../sass/style.scss */
  .wrapper .main .our-services .our-services-content .services-list .ser-item .ser-text {
    font-size: 18px;
    line-height: 1.5;
    margin: 30px 0;
  }
  /* line 239, ../sass/style.scss */
  .wrapper .main .our-services .our-services-content .services-list .ser-item .ser-text br {
    display: none !important;
  }
  /* line 249, ../sass/style.scss */
  .wrapper .main .our-work .our-work-content {
    margin-top: 150px;
    text-align: center;
  }
  /* line 252, ../sass/style.scss */
  .wrapper .main .our-work .our-work-content .st-work {
    padding: 0;
  }
  /* line 254, ../sass/style.scss */
  .wrapper .main .our-work .our-work-content .st-work .work-item {
    width: 50%;
  }
  /* line 256, ../sass/style.scss */
  .wrapper .main .our-work .our-work-content .st-work .work-item .img-style {
    height: 100%;
    width: 100%;
  }
  /* line 260, ../sass/style.scss */
  .wrapper .main .our-work .our-work-content .st-work .work-item:nth-child(1), .wrapper .main .our-work .our-work-content .st-work .work-item:nth-child(3), .wrapper .main .our-work .our-work-content .st-work .work-item:nth-child(5) {
    padding: 0 10px 20px 0;
  }
  /* line 263, ../sass/style.scss */
  .wrapper .main .our-work .our-work-content .st-work .work-item:nth-child(2), .wrapper .main .our-work .our-work-content .st-work .work-item:nth-child(4), .wrapper .main .our-work .our-work-content .st-work .work-item:nth-child(6) {
    padding: 0 0 20px 10px;
  }
  /* line 270, ../sass/style.scss */
  .wrapper .main .client-banner {
    background-image: none;
    background-color: #989061;
  }
  /* line 273, ../sass/style.scss */
  .wrapper .main .client-banner .client-banner-content {
    font-size: 15px;
  }
  /* line 277, ../sass/style.scss */
  .wrapper .main .client-banner .client-banner-content .reviews-text {
    font-size: 12px;
    font-family: "roboto";
    margin: 32px 0 32px 0;
  }
  /* line 286, ../sass/style.scss */
  .wrapper .main .client-footer .client-footer-content {
    display: block;
    text-align: center;
  }
  /* line 289, ../sass/style.scss */
  .wrapper .main .client-footer .client-footer-content .text-build {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-right: 30px;
  }
  /* line 296, ../sass/style.scss */
  .wrapper .main .client-footer .client-footer-content .btn {
    width: 100px;
    margin: 30px auto 10px auto;
  }
  /* line 305, ../sass/style.scss */
  .wrapper .main .our-team .our-team-content .list-member {
    flex-wrap: wrap;
  }
  /* line 307, ../sass/style.scss */
  .wrapper .main .our-team .our-team-content .list-member .member {
    width: 48%;
    text-align: center;
    padding-bottom: 30px;
  }
  /* line 312, ../sass/style.scss */
  .wrapper .main .our-team .our-team-content .list-member .member:nth-child(2) {
    margin: 0;
  }
  /* line 315, ../sass/style.scss */
  .wrapper .main .our-team .our-team-content .list-member .member:nth-child(3) {
    margin: 0;
  }
  /* line 322, ../sass/style.scss */
  .wrapper .main .our-recent-post {
    padding-bottom: 50px;
  }
  /* line 324, ../sass/style.scss */
  .wrapper .main .our-recent-post .our-recent-post-content {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 329, ../sass/style.scss */
  .wrapper .main .our-recent-post .our-recent-post-content .post-header .post-title-container .post-title-desktop {
    display: none;
  }
  /* line 332, ../sass/style.scss */
  .wrapper .main .our-recent-post .our-recent-post-content .post-header .post-title-container .post-title-mobile {
    display: block;
  }
  /* line 337, ../sass/style.scss */
  .wrapper .main .our-recent-post .our-recent-post-content .recent-post {
    display: block;
    padding: 0;
  }
  /* line 340, ../sass/style.scss */
  .wrapper .main .our-recent-post .our-recent-post-content .recent-post .outsourcing {
    width: 100%;
  }
  /* line 342, ../sass/style.scss */
  .wrapper .main .our-recent-post .our-recent-post-content .recent-post .outsourcing .thumb-main {
    background-size: cover;
  }
  /* line 346, ../sass/style.scss */
  .wrapper .main .our-recent-post .our-recent-post-content .recent-post .hot-news {
    display: none;
  }
  /* line 355, ../sass/style.scss */
  .wrapper .main .our-contact-us .our-contact-us-content .contact-content {
    display: block;
  }
  /* line 357, ../sass/style.scss */
  .wrapper .main .our-contact-us .our-contact-us-content .contact-content .form-contact {
    width: 100%;
  }
  /* line 359, ../sass/style.scss */
  .wrapper .main .our-contact-us .our-contact-us-content .contact-content .form-contact .btn-contact-us {
    margin-bottom: 30px;
  }
  /* line 363, ../sass/style.scss */
  .wrapper .main .our-contact-us .our-contact-us-content .contact-content .our-contact {
    list-style: none;
  }
  /* line 365, ../sass/style.scss */
  .wrapper .main .our-contact-us .our-contact-us-content .contact-content .our-contact .our-item {
    margin: 25px 0 20px;
  }
  /* line 367, ../sass/style.scss */
  .wrapper .main .our-contact-us .our-contact-us-content .contact-content .our-contact .our-item .our-item-title {
    margin-bottom: 5px;
  }
  /* line 378, ../sass/style.scss */
  .wrapper .footer .banner-footer {
    padding: 70px 40px;
    height: 600px;
  }
  /* line 382, ../sass/style.scss */
  .wrapper .footer .banner-footer .connect-us .networking {
    padding: 50px 0 0 0;
    display: flex;
    flex-wrap: wrap;
  }
  /* line 386, ../sass/style.scss */
  .wrapper .footer .banner-footer .connect-us .networking .social-net {
    width: 40%;
    clear: left;
    font-size: 13px;
  }
  /* line 390, ../sass/style.scss */
  .wrapper .footer .banner-footer .connect-us .networking .social-net .app-contact {
    font-size: 16px;
    margin: 20px 0;
  }
  /* line 394, ../sass/style.scss */
  .wrapper .footer .banner-footer .connect-us .networking .social-net img {
    height: 30px;
    width: 30px;
  }
  /* line 399, ../sass/style.scss */
  .wrapper .footer .banner-footer .connect-us .networking .social-net:nth-child(3) {
    padding: 50px 0 0 0;
  }
  /* line 402, ../sass/style.scss */
  .wrapper .footer .banner-footer .connect-us .networking .social-net:nth-child(4) {
    padding: 50px 0 0 0;
  }
  /* line 408, ../sass/style.scss */
  .wrapper .footer .footer-end-container {
    background-color: #111111;
  }
  /* line 411, ../sass/style.scss */
  .wrapper .footer .footer-end-container .footer-content .info-me {
    flex-wrap: wrap;
  }
  /* line 413, ../sass/style.scss */
  .wrapper .footer .footer-end-container .footer-content .info-me .contact-me, .wrapper .footer .footer-end-container .footer-content .info-me .link-target {
    width: 100%;
  }
  /* line 416, ../sass/style.scss */
  .wrapper .footer .footer-end-container .footer-content .info-me .contact-me {
    padding-right: 10px;
  }
  /* line 418, ../sass/style.scss */
  .wrapper .footer .footer-end-container .footer-content .info-me .contact-me .contact-local {
    margin: 20px 0 0 0;
    line-height: 1.6;
  }
  /* line 422, ../sass/style.scss */
  .wrapper .footer .footer-end-container .footer-content .info-me .contact-me .contact-info {
    text-align: center;
    display: flex;
    margin: 15px 0 0 0;
  }
  /* line 428, ../sass/style.scss */
  .wrapper .footer .footer-end-container .footer-content .info-me .contact-me::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #888585;
    margin: 30px 0;
  }
  /* line 436, ../sass/style.scss */
  .wrapper .footer .footer-end-container .footer-content .info-me .link-target {
    width: 70%;
  }
  /* line 438, ../sass/style.scss */
  .wrapper .footer .footer-end-container .footer-content .info-me .link-target .connect-me {
    margin: 30px 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
  }
  /* line 442, ../sass/style.scss */
  .wrapper .footer .footer-end-container .footer-content .info-me .link-target .connect-me .connect-me-item {
    width: 48%;
    display: flex;
    margin-right: 1%;
  }
  /* line 446, ../sass/style.scss */
  .wrapper .footer .footer-end-container .footer-content .info-me .link-target .connect-me .connect-me-item .icon-arrow {
    height: 10px;
    width: 10px;
    margin: 5px 7px 0 0;
  }
  /* line 450, ../sass/style.scss */
  .wrapper .footer .footer-end-container .footer-content .info-me .link-target .connect-me .connect-me-item p {
    line-height: 1.6;
    font-size: 13px;
  }
}
