*{
  box-sizing: border-box;
}
.container, .Carousel {
  margin: 0;
  max-width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
} 
.slider-items{
  width: 992px;
  height: 768px;
  position: relative;
  overflow: hidden;
  
}
 .slider {
  display: flex;
  justify-content: center;
  }
  .slider-list {
    width: 10000px;
    display: flex; 
    position: absolute;
    top: 0;
    left: -992px;
    cursor: pointer;
    list-style: none;
    padding: 0;
  }
  .slider-list.transition{
    transition: all 0.4s ease-in-out;
  }
  .slider-img{
    width: 992px;

  }
  
  .slider-img img {
      width: 100%;
  }



.indicator-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.indicator-container ul {
  padding-left: 0;
}

.indicator-container ul li {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 12px;
  background: #fff;
  margin: 0 5px;
  cursor: pointer;
}
.dot.active{
  width: 15px;
  height: 15px;
  background-color: red;
}
.btn-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  height: 0;
  transform: translateY(-50%);
  left: 0;
  z-index: 99;
  width: 100%;
}

.btn-container .button {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #000;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.btn-container .prevBtn {
  margin-left: 20px;
}

.btn-container .nextBtn {
  margin-right: 20px;
}
