*{
     margin: 0;
     padding: 0;
     // border: 1px solid black;
}
body{
     background-color: rgb(214, 179, 19);
}
.carousel{
     padding-left: 15px;
     padding-right: 15px;
     .carousel-wrapper{
          width: 100%;
          margin: 50px 0;
          .carousel-viewport{
               position: relative;
               width: 900px;
               max-width: 100%;
               margin: 0 auto;
               height: 500px;
               .item-container{
                    position: relative;
                    width: 100%;
                    height: 500px;
                    cursor:  grab;
                    overflow: hidden;
                    .slide-ul{
                         position: absolute;
                         top: 0;
                         display: flex;
                         list-style: none;
                         .slide-inner{
                              width: 100%;
                              img{
                                   height: auto;
                                   width: 900px;
                                   max-height: auto;
                              }
                         }
                    }
               }
               .item-container:active{
                    cursor: grabbing;
               }
               .btn-container{
                    z-index: 1;
                    height: 0;
                    position: absolute;
                    top: 45%;
                    width: 90%;
                    left: 5%;
                    right: 5%;
                    display: flex;
                    justify-content: space-between;
                    .button {
                         cursor: grab;
                         img{
                              width: 45px;
                              height: 45px;
                              border-radius: 50%;
                         }
                    }
                    .button:hover{
                         opacity: 0.4;
                    }
                    .button:active{
                         cursor: grabbing;
                    }
               }
               .ind-container{
                    z-index: 1;
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    .indicator{
                         list-style: none;
                         display: flex;
                         justify-content: space-between;
                         max-width: 100%;
                         margin: 30px auto;
                         width: 200px;
                         .dot{
                              z-index: 100;
                              background-color: transparent;
                              border-radius: 50%;
                              border: 2px solid rgb(5, 5, 5);
                              cursor: grab;
                              bottom: 0;
                              height: 20px;
                              width: 20px;
                         }
                         .dot:hover{
                              background-color: rgb(22, 233, 145) !important;
                         }
                         .dot:active{
                              cursor: grabbing;
                         }
                         .dot:nth-child(1){
                              background-color: red;
                         }
                    }
               }
          }
     }
}
