* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  width: 100%;
}

/* Header */
header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
}

header .header-top .logo {
  padding: 10px;
  margin-left: 10%;
}

header .header-top .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 40px;
}

header .header-top .navbar {
  width: 70px;
  padding: 10px;
  margin-left: 70%;
}

header .header-top .navbar .container {
  display: inline-block;
  cursor: pointer;
}

header .header-top .navbar .bar1, header .header-top .navbar .bar2, header .header-top .navbar .bar3 {
  width: 35px;
  height: 3px;
  background-color: #a8a6a6;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .header-top .navbar .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

header .header-top .navbar .change .bar2 {
  opacity: 0;
}

header .header-top .navbar .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

header .header-down {
  width: 100%;
  height: 350px;
  background: url("../assets/img/home-hero-banner.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-down .conten1 {
  width: 400px;
  height: 350px;
  text-align: left;
  color: white;
  font-size: 25px;
  padding: 40px;
  margin: 0 150px;
}

header .header-down .conten1 strong {
  margin: 20px 0;
  display: block;
}

header .header-down .conten1 p {
  font-size: 20px;
  height: 100px;
  width: 200px;
}

header .header-down .conten2 {
  width: 450px;
  height: 350px;
  margin: 0 150px;
  text-align: left;
  color: white;
  padding: 40px;
}

header .header-down .conten2 strong {
  font-size: 20px;
  margin: 10px 0;
  display: block;
}

header .header-down .conten2 p {
  color: #e6e3e3;
  margin: 20px 0;
}

header .header-down .conten2 .input {
  color: #e6e3e3;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-down .conten2 .input input {
  margin-top: 3px;
}

header .header-down .conten2 .input p {
  margin: 0 4px;
}

header .header-down .conten2 button {
  background-color: transparent;
  width: 100px;
  height: 30px;
  color: white;
  border: 1px solid white;
  margin: 10px 0;
}

/* main */
main .container {
  padding: 60px;
  text-align: left;
  position: relative;
}

main .container .top {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
  height: 100px;
  right: 20px;
  top: 50px;
}

main .container .down {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
  height: 100px;
  right: 20px;
  bottom: 240px;
}

main .container strong {
  font-size: 20px;
  margin: 20px 345px;
  display: block;
}

main .container .imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container .imgs .img {
  position: relative;
}

main .container .imgs .img img {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 10px;
}

main .container .imgs .img .img1 {
  position: absolute;
  top: 15px;
  left: 20px;
  padding: 10px;
  height: 200px;
}

main .container .imgs .img .img1 strong {
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
}

main .container .imgs .img .img1 button {
  margin-top: 150px;
  width: 110px;
  height: 27px;
  background: white;
  border: none;
  padding-right: 15px;
}

main .container .imgs .img .img1 button img {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

main .container .imgs .img .img1 p {
  display: block;
  height: 40px;
  width: 120px;
}

main .container2 {
  width: 100%;
  padding-top: 60px;
  background-color: #f6f6f6;
}

main .container2 .content1 {
  color: #fd7d28;
}

main .container2 .content1 strong {
  font-size: 30px;
  margin: 15px 0;
  display: block;
}

main .conten2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .conten2 .block {
  width: 350px;
  height: 320px;
  text-align: left;
  padding: 20px;
  margin-left: 40px;
  border-right: 2px solid #b9b9b9;
}

main .conten2 .block img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .conten2 .block p {
  color: #fd7d28;
  width: 220px;
  margin: 30px 0;
}

main .conten2 .block ul .list-custom::before {
  width: 5px;
  height: 5px;
  margin-right: 6px;
  border-radius: 30px;
  top: -3px;
  left: 2px;
  position: relative;
  background-color: #000;
  content: '';
  display: inline-block;
  visibility: visible;
  border: none;
}

main .conten2 .block ul li {
  margin-top: 5px;
}

main img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

main .container3 {
  text-align: center;
  position: relative;
  height: 350px;
}

main .container3 strong {
  font-size: 20px;
  width: 400px;
  display: block;
  margin: 30px auto;
  font-weight: bold;
}

main .container3 .contens {
  width: 600px;
  height: 200px;
  margin: 0 auto;
  padding: 40px;
  background: #f6f6f6;
  -webkit-box-shadow: 10px;
          box-shadow: 10px;
}

main .container3 .contens .imgs1 {
  position: absolute;
  width: 20px;
  height: 30px;
  background: transparent;
  -o-object-fit: cover;
     object-fit: cover;
  left: 570px;
  top: 50%;
}

main .container3 .contens .imgs2 {
  position: absolute;
  width: 20px;
  height: 30px;
  background: transparent;
  -o-object-fit: cover;
     object-fit: cover;
  right: 570px;
  top: 50%;
}

main .container3 .contens .contents1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

main .container3 .contens .contents1 img {
  width: 150px;
  height: 150px;
}

main .container3 .contens .contents1 .contents2 {
  margin: 0 10px;
}

main .container3 .contens .contents1 .contents2 img {
  width: 17px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 5px 5px;
}

main .container3 .contens .contents1 .contents2 p {
  margin: 10px 0;
}

/* Footer */
footer .lienhe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  background: #f3f2f2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .lienhe strong {
  font-size: 25px;
  display: block;
  margin: auto 100px;
}

footer .lienhe .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: auto 100px;
  height: 50px;
  width: 240px;
}

footer .lienhe .icon strong {
  margin: 4px 0;
  font-size: 16px;
}

footer .lienhe .icon img {
  width: 50px;
  height: 50px;
}

footer .qc {
  background: url("../assets/img/home-banner-app-install.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 700px;
  padding: 60px;
}

footer .footer {
  width: 25%;
  padding: 60px;
  text-align: left;
  margin: 0px 250px;
}

footer .footer .displaynone {
  display: none;
}

footer .footer p {
  font-size: 30px;
  width: 350px;
  display: block;
  margin: 30px 0;
  color: white;
  font-weight: bold;
}

footer .footer .img-footer {
  margin: 30px 0;
}

footer .footer .img-footer img {
  width: 150px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px white;
}

footer .footer .qr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer .qr img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .footer .qr p {
  font-size: 15px;
  margin-left: 20px;
  color: #dcdddd;
}

footer .footer2 {
  position: relative;
  width: 100%;
  height: 400px;
  background: #3d424d;
  padding: 60px;
  color: white;
}

footer .footer2 .fiximg {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  top: -40px;
  right: 160px;
  position: absolute;
}

footer .footer2 .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-bottom: 40px;
}

footer .footer2 .nav p {
  font-weight: bold;
}

footer .footer2 .nav span {
  margin: 0 25px;
}

footer .footer2 .nav1 {
  display: none;
}

footer .footer2 .a {
  display: block;
  margin: 30px 0;
  color: #afadad;
}

footer .footer2 .icon11 {
  margin: 20px 0;
}

footer .footer2 .icon11 img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .footer2 .pp p {
  margin: 5px 0;
}

footer .footer2 .pp .p {
  margin: 40px 0;
  color: #afadad;
}
/*# sourceMappingURL=style.css.map */