@media only screen and (max-width: 46.25em){
    body{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    /* Header */
    .an{
        display: none;
    }
    .ann{
        display: block !important;
    }
    .aan{
        display: none !important;
    }
    .owl-theme .owl-nav{
        display: none;
    }
    .owl-theme .owl-dots{
        display: none;
    }
    header{
        .header-top{
            .navbar{
                margin-left: 36%;
                .bar1{
                    background-color: rgb(255, 144, 80);
                }
                .bar2{
                    background-color: rgb(255, 144, 80);
                }
                .bar3{
                    background-color: rgb(255, 144, 80);
                }
            }
            .logo{
                margin-left: 10px;
                img{
                    width: 140px;
                    height: 40px;
                    margin-top: 5px;
                    margin-left: 0;
                }
            }
        }
        .header-down{
            flex-direction: column;
            position: relative;
            height: 500px;
            justify-content: normal;
            background-size: cover;
            background-position: center bottom;
            .conten2{
                float: left;
                width: 100%;
                position: absolute;
                background-color: white;
                color: black;
                margin: 0 auto;
                margin-left: 20px;
                box-shadow: 0 1px 10px rgb(141, 140, 140);
                bottom: -150px;
                width: 340px;
                height: 420px;
                padding: 20px 30px;
                border-radius: 20px;
                border: 1px solid white;
                text-align: center;
                strong{
                    width: 61%;
                    margin: 10px auto;
                }
                p{
                    color: black;
                    text-align: left;
                }
                .t{
                    text-align: center;
                }
                button{
                    border: 1px solid rgb(255, 144, 80);
                    color:rgb(255, 144, 80);
                    margin: 10px auto;
                    margin-top: 20px;
                    width: 150px;
                    height: 50px;
                }
                .input{
                    .checkmark::after{
                        background-color: white;
                        border: 1px solid rgb(136, 135, 135);
                    }
                }
            }
            .conten1{
                width: 100%;
                height: 200px;
                margin: 10px auto;
                padding: 10px;
                text-align: center;
                justify-content: center;
                align-items: center;
                top: -100px;
                p{
                    width: 100%;
                }
            }
        }
    }
    main{
        img{
            width: 100%;
            height: 70px;
            object-fit: cover;
            
        }
        .container{
            padding: 10px;
            .top{
                display: none;
            }
            .down{
                display: none;
            }
            .imgs{
                flex-direction: column;
                .img{
                    img{
                        width: 240px;
                    }
                    .img1{
                        strong{
                            width: 150px;
                            height: 15px;
                            margin: 0;
                            margin-bottom: 10px;
                            margin-left: -19px;
                        }
                        p{
                            width: 110px;
                            margin-top: 12px;
                        }
                        button{
                            position: relative;
                            margin-top: 150px;
                            img{
                                top: 5px;
                                right: 0;
                            }
                        }
                    }
                }
            }
            strong{
                width: 70%;
                margin: 20px auto;
                margin-top: 180px;
                height: 100px;
                font-size: 35px;
                text-align: center;
            }
        }
        .conten2{
            flex-direction: column;
            margin-top: 25px;
            .block{
                margin: 10px auto;
                border: none;
                padding: 0;
                height: 220px;
                width: 100%;
                p{
                    margin: 20px 0;
                }
                ul{
                    .list-custom::before{
                        margin-right: -8px;
                        left: -10px;
                    }
                }
                img{
                    margin-left: -15px;
                }
            }
            .blockk{
                margin: 120px 0;
            }
        }
        .container2{
            padding: 40px 60px;
            .content1{
                p{
                    color: black;
                    width: 250px;
                    margin: 10px auto;
                    line-height: 1.4;
                    font-size: 18px;
                }
                strong{
                    font-size: 25px;
                }
            }
        }
        .container3{
            width: 100%;
            height: 720px;
            strong{
                width: 80%;
                font-size: 25px;
            }
            .imgs1{
                left: 9px;
            }
            .imgs2{
                right: 9px;
            }
            .contens{
                width: 80%;
                height: 520px;
                box-shadow: 0 0 10px rgb(190, 190, 190);
                .imgs1{
                    left: 5px;
                }
                .imgs2{
                    right: 5px;;
                }
                .contents1{
                    flex-direction: column;
                    width: 100%;
                    height: 400px;
                    img{
                        width: 100%;
                        height: 180px;
                    }
                    .contents2{
                        margin: 10px 0;
                        img{
                            width: 20px;
                            height: 20px;
                            margin: 5px 0;
                            margin-right: 15px;
                            
                        }
                        p{
                            margin: 15px 0;
                        }
                    }
                }
            }
        }
    }
    footer{
        .lienhe{
            width: 100%;
            height: 300px;
            flex-direction: column;
            strong{
                width: 100%;
                margin: 40px auto;
                font-size: 25px;
            }
            .iconvip{
                flex-direction: column;
                margin: 0 15px;
                width: 100%;
                .icon{
                    margin: 20px 30px;
                    width: 100%;
                    .text{
                        width: 100%;
                        .p1{
                            text-decoration-line: underline; 
                            font-size: 19px;
                            width: 220px;
                        }
                        span{
                            font-size: 19px;
                            width: 150px;
                            margin-left: 3px;
                        }
                    }
                }
            }
            
        }
        .qc{
            background: url('../assets/img/home-banner-app-install-mobile.jpg') no-repeat;
            background-size: cover;
            background-position: left center;
            padding: 0;
        }
        .footer{
            margin: 0px 20px;
            width: 90%;
            padding: 0;
            padding-top: 30px;
            .displaynone{
                display: block;
                margin: 0;
            }
            .dplay{
                display: none;
            }
            .qr{
                display: none;
            }
            .img-footer{
                img{
                    width: 120px;
                    height: 40px;
                }
            }
            p{
                width: 90%;
                font-size: 27px;
            }
        }
        .footer2{
            padding: 30px;           
            height: 660px;
                .fiximg{
                    img{
                        width: 70px;
                        height: 70px;
                        position: absolute;
                        right: 0;
                        top: -36px;
                    }
                }
            .a{
                margin: 20px 0;
            }
            .pp{
                color: #afadad;
                p{
                    font-size: 13px;
                }
                .p{
                    margin: 10px 0;
                }
            }
            .nav1{
                display: block;
                text-align: center;
                justify-content: center;
                .nav1-1{
                    display: flex;
                    width: 90%;
                    margin: 10px auto;
                    span{
                        margin: 0 auto;
                    }
                }
                .nav1-2{
                    display: flex;
                    width: 80%;
                    margin: 10px auto;
                    span{
                        margin: 0 auto;
                    }
                }
                .nav1-3{
                    display: flex;
                    width: 100%;
                    margin: 10px auto;
                    span{
                        margin: 0 auto;
                    }
                }
            }
            .nav{
                display: none;
                
            }
        }
    }
}