*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    width: 100%;

}
#main{
    overflow: hidden;
}
     /* Header */
.ann{
    display: none !important;
}
header {
    .header-top{
        display: flex;
        width: 100%;
        height: 70px;
        .logo{
            padding: 10px;
            margin-left: 10%;
            img{
                object-fit: cover;
                width: 150px;
                height: 40px;
                margin-left: 125%;
            }
        }
        .navbar{
            width: 70px;
            padding: 10px;
            margin-left: 60%;
            .container {
                display: inline-block;
                cursor: pointer;
              }
              
              .bar1, .bar2, .bar3 {
                width: 35px;
                height: 3px;
                background-color: rgb(168, 166, 166);
                margin: 6px 0;
                transition: 0.4s;
              }
              
              .change .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
              }
              
              .change .bar2 {opacity: 0;}
              
              .change .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
              }
        }
    }
    .header-down{
        width: 100%;
        height: 350px;
        background:url('../assets/img/home-hero-banner.jpg');
        display: flex;
        justify-content: center;
        .conten1{
            width: 450px;
            height: 300px;
            text-align: left;
            color: white;
            font-size: 25px;
            padding: 40px;
            margin: 30px 150px;
            strong{
                margin: 20px 0;
                display: block;
                font-size: 35px;
            }
            p{
                font-size: 25px;
                height: 100px;
                width: 250px;
            }
        }
        .conten2{
            width: 450px;
            height: 350px;
            margin: 0 150px;
            text-align: left;
            color: white;
            padding: 40px;
            position: relative;
            strong{
                font-size: 20px;
                margin: 10px 0;
                display: block;
            }
            p{
                color: rgb(230, 227, 227);
                margin: 20px 0;
            }
            .input{
                color: rgb(230, 227, 227);
                margin: 10px 0;
                display: flex;
                input{
                    opacity: 1;
                    cursor: pointer;
                }
                .checkmark::after{
                    width: 16px;
                    height: 16px;
                    border-radius: 15px;
                    top: -1px;
                    left: -3px;
                    position: relative;
                    background-color: #da9f7e;;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border: 2px solid white;
                }
                .checkmark:checked::after{
                    width: 16px;
                    height: 16px;
                    border-radius: 15px;
                    top: -1px;
                    left: -3px;
                    position: relative;
                    background-color: #0c08f8;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border: 2px solid white;
                }
            
                p{
                    margin: 0 4px;
                    margin-left: 10px;
                }
            }
            button{
                background-color: transparent;
                width: 100px;
                height: 30px;
                color: white;
                border: 1px solid rgb(238, 236, 236);
                margin: 10px 0;
            }
        }
    }
}

/* main */

main{
    .container{
        padding: 60px;
        text-align: left;
        position: relative;
        .top{
            position: absolute;
            object-fit: cover;
            width: 50px;
            height: 100px;
            right: 20px;
            top: 50px;
        }
        .down{
            position: absolute;
            object-fit: cover;
            width: 50px;
            height: 100px;
            right: 20px;
            bottom: 240px;
        }
        
        strong{
            font-size: 25px;
            margin: 25px 345px;
            display: block;

        }
        .imgs{
            display: flex;
            justify-content: center;
            .img{
                position: relative;
                img{
                    width: 350px;
                    height: 300px;
                    object-fit: cover;
                    margin: 0 10px;
                }
                .img1{
                    position: absolute;
                    top: 15px;
                    left: 30px;
                    padding: 10px;
                    height: 200px;
                    strong{
                        margin: 15px 0;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    button{
                        margin-top: 125px;
                        width: 110px;
                        height: 27px;
                        background: white;
                        border: none;
                        padding-right: 15px;
                        img{
                            width: 16px;
                            height: 16px;
                            object-fit: cover;
                            position: absolute;
                        }
                    }
                    p{
                        display: block;
                        height: 40px;
                        width: 120px;
                    }
                }
            }
        }
    }
    .container2{
        width: 100%;
        padding-top: 60px;
        background-color: rgb(246, 246, 246);
        .content1{
            color:rgb(253, 125, 40);
            strong{
                font-size: 30px;
                margin: 15px 0;
                display: block;
            }
            p{
                color: black;
            }
        }
    }
    .conten2{
        display: flex;
        margin-top: 40px;
        justify-content: center;
        .block{
            width: 350px;
            height: 340px;
            text-align: left;
            padding: 20px;
            margin-right: 40px;
            img{
                width: 70px;
                height: 70px;
                object-fit: cover;
            }
            
            p{
                color:rgb(253, 125, 40);
                width: 252px;
                margin: 30px 0;
                margin-top: 20px;
                font-size: 20px;
            }
            ul{
                .list-custom::before{
                    width: 5px;
                    height: 5px;
                    margin-right: 6px;
                    border-radius: 30px;
                    top: -3px;
                    left: 2px;
                    position: relative;
                    background-color: #000;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border: none;
                }
                li{
                    margin-top: 5px;
                    list-style-type: none;
                    line-height: 1.4;
                    font-size: 16px;
                }
            }
        }
        .blockk{
            width: 450px;
            margin-right: 30px;
        }
        hr{
            height: 310px;
            margin-top: 20px
        }
    }
    img{
        width: 100%;
        object-fit: cover;
        height: 200px;
    }
    .container3{
        text-align: center;
        position: relative;
        height: 450px;
        margin-top: 70px;
        strong{
            font-size: 25px;
            width: 500px;
            display: block;
            margin: 35px auto;
            font-weight: bold;
            line-height:1.4;
        }
        .imgs1{
            position: absolute;
            width: 20px;
            height: 30px;
            background: transparent;
            object-fit: cover;
            left: 570px;
            top: 50%;
        }
        .imgs2{
            position: absolute;
            width: 20px;
            height: 30px;
            background: transparent;
            object-fit: cover;
            right: 570px;
            top: 50%;
        }
        .contens{
            width: 650px;
            height: 280px;
            margin: 0 auto;
            padding: 60px;
            background:rgb(246, 246, 246);
            box-shadow: 0 1px 3px #ccc;
            display: none;
            .contents1{
                display: flex;
                text-align: left;
                img{
                    width: 150px;
                    height: 150px;
                }
                .contents2{
                    margin: 0 10px;
                    margin-left: 20px;
                    img{
                        width: 17px;
                        height: 15px;
                        object-fit: cover;
                        margin: 5px 5px;
                    }
                    p{
                        margin: 10px 0;
                        line-height: 1.3;
                    }
                }
            }
            
        }
    }
}

/* Footer */ 
footer{
    .lienhe{
        display: flex;
        width: 100%;
        height: 150px;
        background:rgb(243, 242, 242);
        strong{
            font-size: 25px;
            display: block;
            margin: auto 100px;
            margin-left: 19.5%;
        }
        .iconvip{
            display: flex;
            margin-left: 14%;
            .icon{
                display: flex;
                text-align: left;
                margin: auto 100px;
                margin-right: 0px;
                margin-left: 40px;
                height: 50px;
                width: 240px;
                strong{
                    margin: 4px 0;
                    font-size: 16px;
                }
                img{
                    width: 50px;
                    height: 50px;
                }
                .text{
                    margin-left: 5px;
                }
            }
        }
        

    }
    .qc{
        background: url("../assets/img/home-banner-app-install.jpg") no-repeat;
        background-size: cover;
        background-position: top center;
        width: 100%;
        height: 700px;
        padding: 60px;
    }
    .footer{
        width: 25%;
        padding: 60px;
        text-align: left;
        margin: 0px 250px;
        .displaynone{
            display: none;
        }
        p{
            font-size: 30px;
            width: 350px;
            display: block;
            margin: 30px 0;
            color: white;
            font-weight: bold;
        }
        .img-footer{
            margin: 30px 0;
            img{
                width: 150px;
                height: 50px;
                object-fit: cover;
                margin-left: 10px;
                border-radius: 10px;
                border: 1px white;
            }
        }
        .qr{
            display: flex;
            img{
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
            p{
                font-size: 15px;
                margin-left: 20px;
                color: rgb(220, 221, 221);
            }
        }
    }
    .footer2{
        position: relative;
        width: 100%;
        height: 400px;
        background:rgb(61, 66, 77);
        padding: 60px;
        color: white;
        .fiximg{
                img{
                    width: 90px;
                    height: 90px;
                    object-fit: cover;
                    top: -40px;
                    right: 160px;
                    position: absolute;
                }
        }
        .nav{
            display: flex;
            margin: auto;
            justify-content: center;
            color: white;
            margin-bottom: 40px;
            p{
                font-weight: bold;
            }
            span{
                margin: 0 25px;
            }
        }
        .nav1{
            display: none;
        }
        .a{
            display: block;
            margin: 30px 0;
            color:rgb(175, 173, 173);
        }
        .icon11{
            margin: 20px 0;
            img{
                width: 30px;
                height: 30px;
                margin: 0 10px;
                object-fit: cover;
            }
        }
        .pp{
            p{
                margin: 5px 0;
            }
            .p{
                margin: 40px 0;
                color: rgb(175, 173, 173);
            }
        }
    }
}