/* Table: width >= 740 and width < 1024 */

    @media only screen and (min-width: 741px) and (max-width: 1023px)  {
    
    body {
        width: 100%;
        
    }
    
    header .logo {
        
        margin: 5px 10px;
    }
    
    .logo img {
        width: 200px;
        object-fit: cover;
    }
    
    header .menubar {
        display: none;
    }
    
    header .menu-reponesive {
        display: block;
        margin: 5px 0;
        margin-left: 45%;
        width: 100px;
    }
    
    #slides {
        width: 100%;
        height: 400px;
    }
    
    #slides button {
        top: 180px;
        width: 40px;
        height: 40px;
    }
    
    #slides button img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
    
    .aslide {
        width: 100%;
        height: 100px;
    }
    
    .aslide img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        
    }
    
    .text-slide strong {
        font-size: 40px;
        margin: 30px auto;
    }
    
    .text-slide p {
        font-size: 30px;
    }
    
    .text-slide input {
        width: 150px;
        margin: 10px auto;
        font-size: 10px;
    }
    
    .text-slide input:hover {
        background:rgb(247, 203, 62);
    }
    
    .input-slide {
        flex-direction: column;
        margin-top: 40px;
    }
    
    .text-slide {
        padding: 10px;
        margin: 40px auto;
    }
    
    #dot {
        width: 50px;
        margin: 0 auto;
        left: 47%;
    }
    
    .input-slide .ab {
        background:rgb(247, 176, 62);
        border: none;
    }
    

    .content strong,.conten2-1 strong, .card strong, .conten2 strong {
        font-size: 25px;
    }
    

    .content {
        margin: 70px 0;
    }
    
    .content3 {
        padding: 10px;
        padding-top: 70px;
        height: 250px;
        text-align: center;
    }
    
    .content3 br {
        display: block;
    }
    
    .content3 span {
        width: 100%;
        margin: 25px 0 10px 0;
        display: block;
        font-size: 25px;
    }
    
    .content3 button {
        width: 170px;
        height: 40px;
        margin-top: -5px;
        margin-left: 0;
    }
    
    .lorem {
        height: 100px;
        padding: 15px;
        font-size: 20px;
    }
    
    .cards {
        padding: 5px;
        
    }
    
    .card {
        width: 100%;
        margin: 10px auto;

    }
    

    .ourwork, .content2, .conten2-2 {
        padding: 10px;
    }
    
    .ourwork {
        height: 1210px;
    }
    
    .ourwork button {
        margin-top: 40px;
        width: 170px;
        height: 40px;
    }
    
    .mycard {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 10px;
        height: 1200px;
    }
    
    .imgflex {
        display: flex;
    }
    
    .imgs1 img {
        width: 260px;
    }
    
    .content2 {
        height: 500px;
    }
    
    .content2 p {
        height: 100px;
        width: 100%;
        padding: 20px 5px;
        font-size: 20px;
    }
    
    .conten2-2 span {
        font-size: 20px;
    }
    
    
    .conten2-1 {
        margin: 50px 0;
    }
    
    .team {
        padding: 10px;
        height: 1700px;
    }
    
    .member1 {
        width: 100%;
        height: 650px;
        margin: 10px auto;
        text-align: center;
    }
    
    .member1 img {
        
        height: 340px;
        margin: 20px 0;
    }
    
    .member1 p {
        height: 250px;
        padding: 10px;
        font-size: 25px;
        text-align: center;
        width: 350px;
    }
    
    .member1 strong {
        font-size: 20px;
    }
    
    .member {
        display: flex;
        height: 1400px;
    }
    
    .members {
        margin: 10px 15px;
        width: 400px;
        justify-content: center;
        flex-direction: column;
    }
    
    .our-1-2 {
        display: none;
    }
    
    .footer {
        flex-direction: column;
    }
    
    .form-contact {
        flex-direction: column;
        width: 100%;
    }
    
    .ourpost {
        padding: 10px;
        height: 830px;
    }
    
    .our1 {
        padding: 10px;
    }
    
    .our-1-1 {
        width: 100%;
    }
    
    .our-img img {
        width: 100%;
        height: 250px;
    }
    
    .our-text {
        width: 100%;
        height: 258px;
        margin: 0px 0;
    }
    
    .our-text strong {
        font-size: 20px;
        margin: 20px 0;
    }
    
    .our-text p {
        font-size: 25px;
        height: 150px;
    }
    
    .form-contact1 {
        width: 100%;
        margin-left: 0;
    }
    
    .form-contact1 input {
        width: 100%;
        height: 40px;
        font-size: 20px;
        
    }
    
    .form-contact textarea {
        width: 100%;
        font-size: 20px;
    }
    
    .contact {
        padding: 20px;
    }
    
    .location {
        
        padding: 0;
    }
    
    .text-location {
        margin: 20px 0;
        font-size: 20px;
    }
    
    .footer {
        padding: 20px;
    }
    
    .lienhe {
        margin: 20px 0;
        font-size: 20px;
        width: 100%;
    }
    
    .text-icon p {
        margin: 7px 0;
    }

    .icon1 {
        width: 50%;
    }
    
    .icon-connect {
        padding: 0;
        height: 600px;
    }
    
    .display1 {
        display: none;
    }
    
    .display2 {
        display: block;
    }
    
    .lienket {
        padding:0;
        margin: 7px 0;
    }
    
    
}