/****** ALL ******/
*{
	margin: 0;
	padding: 0;
	outline: none;
	font-size: 14px;
	word-wrap: break-word;
	box-sizing: border-box;
	line-height: 2em;
	font-family: "Arial";
}

[class*='col-'] {
    padding-right: 8px;
    padding-left: 8px;
}
.row { margin: 0 -8px;}

.no_pdl { padding-left: 0 !important;}
.no_pdr { padding-right: 0 !important;}
.clr 	{ clear: both;}

ul li { list-style: none;}
img { display: block; max-width: 100%;}
ul::after,
.body-content::after { content : ""; display : table; clear : both; }
a:hover { text-decoration: none;}

.phone { background: url(../img/icon/icon-phone.png) center center no-repeat; width: 14px; height: 14px; vertical-align: middle; display: inline-block;}
.email { background: url(../img/icon/icon-email.png) center center no-repeat; width: 13px; height: 9px; vertical-align: middle; display: inline-block;}

.underscore 		{ background: #000; height: 3px; width: 42px; margin: 0 auto;}
.underscore.white 	{ background: #fff; }

.container 		{ width: 1230px; max-width: 100%;}
.body-content 	{ width: 900px; max-width: 100%; margin: 0 auto; height: 100%;}

.heading 	{ margin-bottom: 60px;}
.heading h2 { text-align: center; text-transform: uppercase; font-size: 18px; letter-spacing: 1px; margin: 0 0 12px 0; font-weight: bold; height: 1em; overflow: hidden;}

.title h3 	{ text-transform: uppercase; text-align: center;}
.title img 	{ display: block; margin: 0 auto; width: 56px;}
.st-btn 	{ width: 135px; height: 32px; border: 1px solid #000; text-align: center; line-height: 32px; margin: 0 auto; text-transform: uppercase;}
.st-btn a 	{ color: #000; font-weight: bold; text-transform: inherit; font-size: 12px;}

.st-btn.btn-view 	{ border-color: #fff; color: #fff;}
.st-btn.btn-view a 	{ color: inherit;}

.btn-submit-form 	{ height: 40px; color: #000;}

.navbar-toggle .icon-bar 					{ width: 28px; height: 3px; margin-bottom: 6px;}
.navbar-default .navbar-toggle 				{ border: none;}
.navbar-default .navbar-toggle:hover 		{ background: none; border: none;}
.navbar-default .navbar-toggle .icon-bar 	{ background: #000;}

.navbar-collapse.collapse .underscore 		{ display: none;}

/***** LAYOUT *****/

.header 									{ height: 82px;}
.header > .navbar 						{ margin-bottom: 0; height: 100%;}
.header > .navbar.navbar-default 		{ background: #fff; border: none;}
.header > .navbar .navbar-header 		{ margin-top: 14px; }
.header > .navbar .navbar-header a 		{ display: block; padding: 0; margin-left: 15px !important;}

.header .collapse.navbar-collapse 		{}
.header .collapse.navbar-collapse ul 	{ height: 100%;}
.header .collapse.navbar-collapse ul li 	{ height: 100%; width: 78px; text-align: center;}
.header .collapse.navbar-collapse ul li:hover 	{ background: #e7e7e7 !important;}
.header .collapse.navbar-collapse ul li.active 	{ background: #f5f5f5;}
.header .collapse.navbar-collapse ul li:hover a,
.header .collapse.navbar-collapse ul li.active a { background: none; }
.header .collapse.navbar-collapse ul li a 		{ height: 100%; padding: 0; line-height: 82px;}
.header .collapse.navbar-collapse ul li a:hover,
.header .collapse.navbar-collapse ul li.active a:hover { background: none;}

.navbar-collapse.collapse.in 					{ }
.navbar-collapse.collapse.in ul 				{ margin-top: 0;}
.navbar-collapse.collapse.in ul li 				{ width: 100%; text-align: left; height: 50px; padding: 0 15px; background: #fff; z-index: 99999999;}
.navbar-collapse.collapse.in ul li a 			{ line-height: 50px;}
.navbar-collapse.collapse.in ul li.active 		{ background: #f5f5f5;}
.navbar-collapse.collapse.in ul .underscore 	{ display: block; margin-top: 5px; position: relative; z-index: 999999;}

.main { }

.main > .slider 			{ max-width: 100%; margin: 0 auto; }
.main > .slider ul 			{ }
.main > .slider ul li 		{ position: relative;}
.main > .slider ul li h2 	{ position: absolute; top: 25%; width: 100%; text-align: center; color: #fff; text-transform: uppercase; font-size: 60px; font-weight: bold; }
.main > .slider ul li p 	{ position: absolute; top: 45%; width: 100%; text-align: center; color: #fff; font-size: 20px; font-weight: bold; }

.main > .slider ul li .getting-start 					{ position: absolute; width: 285px; top: 55%; left: 50%; margin-left: -143px;}
.main > .slider ul li .getting-start .btn-view 			{ }
.main > .slider ul li .getting-start .btn-view:hover 	{ background: #fff;}
.main > .slider ul li .getting-start .btn-view:hover a 	{ color: #000;}
.main > .slider ul li .getting-start .btn-view a 		{ font-weight: bold; }
.main > .slider ul li .getting-start .btn-purchase 		{ background: #f9bf34; color: #fff; border: #f9bf34; }
.main > .slider ul li .getting-start .btn-purchase a 	{ color: inherit; }

.main > .slider .bx-wrapper 										{ margin-bottom: 0; }
.main > .slider .bx-wrapper .bx-controls-direction a 			{ width: 38px; height: 44px;}
.main > .slider .bx-wrapper .bx-next 							{ background: url(../img/icon/icon-controller-right.png) center center no-repeat; right: 0; background-size: contain;}
.main > .slider .bx-wrapper .bx-pager 							{ bottom: 40px;}
.main > .slider .bx-wrapper .bx-pager.bx-default-pager a 		{ width: 12px; height: 12px; border-radius: 6px;}
.main > .slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.main > .slider .bx-wrapper .bx-pager.bx-default-pager a.active 	{ background: #f8c900;}
.main > .slider .bx-wrapper .bx-pager.bx-default-pager a,
.main > .slider .bx-wrapper .bx-pager.bx-default-pager a 		{ background: #fff;}
.main > .slider .bx-wrapper .bx-prev 							{ background: url(../img/icon/icon-controller-left.png) center center no-repeat; left: 0; background-size: contain;}
.main > .slider .bx-wrapper .bx-viewport 						{ box-shadow: none; left: 0; border: none;}

.main > .service 											{ background: #f5f5f5; }
.main > .service .content .column							{ background: #fff; padding: 48px 20px 40px;}
.main > .service .content .column .title 					{ height: 85px; overflow: hidden; margin-bottom: 25px;}
.main > .service .content .column .title .icon-symbol 		{ height: 25px; }
.main > .service .content .column .title .icon-symbol img 	{ width: auto; height: 100%; }
.main > .service .content .column .title h3 				{ font-weight: bold; margin-top: 35px; margin-bottom: 0; color: black; height: 2em; font-size: 14px; overflow: hidden;}
.main > .service .content .texture p 						{ text-align: center; color: #818181; line-height: 1.3em; letter-spacing: 0.5px; margin: 0; height: 13em; overflow: hidden;}

.main > .work 						{ }
.main > .work .content 				{ padding: 0 15px;}
.main > .work .content .st-btn 		{ }
.main > .work .content ul 			{ margin-bottom: 37px;}
.main > .work .content ul li 		{ padding: 8px;}
.main > .work .content ul li:hover 	{ cursor: pointer;}
.main > .work .content ul li img 	{ margin: 0 auto;}

.main > .work .content ul li .work-image 			{ position: relative;}
.main > .work .content ul li .work-image .cover 	{ position: absolute; width: 100%; height: 100%; top: 0; background: rgba(75,75,75, 0.7); text-align: center; display: none;}
.main > .work .content ul li .work-image .cover.in 	{ display: block;}
.main > .work .content ul li .work-image .cover h4 	{ margin: 0; color: #fff; font-weight: bold; font-size: 17px; text-transform: uppercase; position: absolute; width: 100%; top: 40%;; }
.main > .work .content ul li .work-image .cover p 	{ margin: 0; color: #fff; position: absolute; top: 50%; width: 100%; }

.main > .quotes 					{ background: url(../img/bkg-quotes.jpg) center center no-repeat; background-size: cover; height: 420px;}
.main > .quotes img 				{ display: block; margin: 0 auto 30px;}
.main > .quotes .heading 			{ margin-bottom: 50px;}
.main > .quotes .heading h2 		{ color: #fff; height: 1em; overflow: hidden;}
.main > .quotes .content 			{ width: 570px; max-width: 100%; margin: 45px auto 0;}
.main > .quotes .content p 			{ text-align: center; color: #fff; letter-spacing: 2px; font-size: 15px; margin: 0; line-height: 1.3em; height: 3.9em; overflow: hidden;}
.main > .quotes .content p.author 	{ font-style: italic; margin-top: 35px; height: 1em; overflow: hidden;;}

.main > .more_info 						{ background: #f9ce06; height: 103px; padding: 0px 15px;}
.main > .more_info::after 				{ content : ""; display : table; clear : both; }
.main > .more_info .intro-texture 		{ float: left; max-width: 80%; height: 100%; overflow: hidden; }
.main > .more_info .intro-texture p 	{ margin: 0; font-size: 18px; font-style: italic; display: table-cell; vertical-align: middle; height: 103px; line-height: 1.2em; overflow: hidden; max-height: 100%;}
.main > .more_info .button-view 		{ float: right; height: 100%; max-width: 20%; width: 20%; position: relative; }
.main > .more_info .button-view .st-btn { position: absolute; top: 50%; left: 50%; margin-left: -67px; margin-top: -16px; }

.main > .member 					{ }
.main > .member .header 			{ }
.main > .member .content 			{  }
.main > .member .content ul li 		{ }
.main > .member .content ul li img 	{ max-height: 205px;}
.main > .member .content ul li p 	{ letter-spacing: 2px; line-height: 1.3em; color: #818181; height: 9.2em; overflow: hidden; margin: 0;;}
.main > .member .content ul li h4 	{ text-transform: uppercase; margin: 20px 0; letter-spacing: 1px; height: 1em; overflow: hidden; font-weight: bold; font-size: 13px;}

.main > .news 											{ background: #f5f5f5;}
.main > .news .body-content 							{ padding: 0 15px;}
.main > .news .content .newest-news 					{ background: #fff; }
.main > .news .content .newest-news img 				{ }
.main > .news .content .newest-news .content-newest 	{ padding: 25px; }
.main > .news .content .newest-news .content-newest h3 	{ font-weight: bold; letter-spacing: 1px; text-transform: uppercase; font-size: 14px; }
.main > .news .content .newest-news .content-newest p 	{ color: #818181; line-height: 1.3em; }

.main > .news .content .sb-news 										{ background: #fff; padding: 30px 20px 20px; }
.main > .news .content .sb-news h3 									{ margin-top: 0; text-transform: uppercase; font-size: 14px; font-weight: bold; letter-spacing: 1px; }
.main > .news .content .sb-news .content-newest 						{ }
.main > .news .content .sb-news .content-newest ul 					{ }
.main > .news .content .sb-news .content-newest ul li 				{ margin-bottom: 15px; }
.main > .news .content .sb-news .content-newest ul li .thumb-img 	{ }
.main > .news .content .sb-news .content-newest ul li .thumb-img img { }
.main > .news .content .sb-news .content-newest ul li .thumb-text 	{ }
.main > .news .content .sb-news .content-newest ul li .thumb-text h4 { margin: 0; font-size: 14px; line-height: 1.3em; letter-spacing: 1px; }

.main > .contact { }

.main > .contact .body-content 						{ padding: 0 15px;}
.main > .contact .content 							{ }
.main > .contact .content form input[type="text"] 	{ width: 100%; margin: 11px 0; border: 1px solid #d3d3d3; padding: 5px 10px; height: 34px;}
.main > .contact .content form textarea 				{ width: 100%; margin: 11px 0; border: 1px solid #d3d3d3; padding: 5px 10px; height: 103px; resize: none;}
.main > .contact .content form input[type="submit"] 	{ background: #f9ce06; margin: 11px 0; border: 1px solid #f9ce06; font-weight: bold; height: 39px; }

.main > .contact .content .info 		{ padding-top: 10px; }
.main > .contact .content .info h4 	{ margin: 0; text-transform: uppercase; font-size: 14px; font-weight: bold;}
.main > .contact .content .info p  	{ color: #818181; letter-spacing: 1px;}

.main > .contact, .main > .news, .main > .member,
.main > .quotes,  .main > .work, .main > .service { padding: 80px 0;}


.footer 			{ }

.footer .heading 	{ }
.footer .heading h3 { text-transform: uppercase;}

.footer .social 					{ background: url(../img/bkg-footer.jpg) center center no-repeat; background-size: cover; padding: 85px 0 150px;}
.footer .social .body-content 		{ padding: 0 15px; }
.footer .social .heading h2 		{ color: #fff; font-size: 16px;}
.footer .social .content .title 	{ }
.footer .social .content .title h3 	{ color: #fff; text-transform: uppercase; font-size: 14px; margin: 30px 0 20px; letter-spacing: 1px; overflow: hidden; height: 1em;}
.footer .social .content .title p 	{ color: #fff; font-size: 14px; text-align: center; margin: 0; height: 2em; overflow: hidden;}

.footer .connect 				{ background: #111111; color: #fff; padding: 40px 0; font-size: 14px;}
.footer .connect .body-content 	{ padding: 0 15px; }
.footer .connect .heading 		{ margin-bottom: 15px;}
.footer .connect .heading h3 	{ margin: 0; font-size: 14px; font-weight: bold;}

.footer .connect .content h4 { font-size: 14px; margin: 0; font-weight: bold;}

.footer .connect .more_info p 		{ margin-bottom: 0;}
.footer .connect .more_info p span 	{ margin-right: 5px;}

.footer .connect ul li 				{ padding-left: 30px;}
.footer .connect ul li::before 		{ content:""; position: absolute; left: 15px; top: 10px; background: url(../img/icon/icon-arrow-right.png) center center no-repeat; width: 10px; height: 10px;}


/**************************
	RESPONSIVE
**************************/
@media screen and (min-width: 320px) and (max-width: 640px){
	.st-btn 	{}
	.st-btn a 	{ font-weight: normal;}
	.heading h2 {}

	.header .navbar-brand > img 					{ width: 70%; margin-top: 8px;}

	.main > .slider ul li h2 							{ top: 10%; font-size: 23px;}
	.main > .slider ul li p 							{ margin-left: 10%; line-height: 1.2em; top: 34%; width: 80%; font-size: 14px;}
	.main > .slider ul li .getting-start 				{ top: 60%; }
	.main > .slider ul li .getting-start 				{ width: 100px; margin-left: -50px; top: 52%;}
	.main > .slider ul li .getting-start .btn-view 		{ margin-bottom: 10px;}
	.main > .slider ul li .getting-start .btn-view a 	{ }
	.main > .slider ul li .getting-start .btn-purchase 	{ }
	.main > .slider ul li .getting-start .btn-purchase a { }

	.main > .slider .bx-wrapper .bx-pager 				{ bottom: -10px;}
	.main > .slider .bx-wrapper .bx-controls-direction a { height: 22px; width: 19px; }

	.main > .slider ul li .getting-start .btn-view 		{ height: 25px; width: 100px; font-size: 14px; line-height: 25px;}
	.main > .slider ul li .getting-start .btn-view a 	{ font-size: 10px; line-height: 25px;}
	.main > .slider ul li .getting-start .btn-purchase 	{ height: 25px; width: 100px; font-size: 14px; line-height: 25px;}
	.main > .slider ul li .getting-start .btn-purchase a { font-size: 10px; line-height: 25px;}

	.main > .slider .bx-wrapper .bx-pager.bx-default-pager a { width: 8px; height: 8px; border-style: 4px;}
	
	.main > .service .content .column .title h3 { }
	.main > .service .content 					{ width: 505px; max-width: 100%; margin: 0 auto; padding: 0 15px; }
	.main > .service .content .texture p 		{}
	.main > .service .content .title img 		{ width: auto;}
	.main > .service .content .column 			{ margin-bottom: 15px;}
	.main > .service .content .column .title h3 { margin-top: 43px; margin-bottom: 50px;}

	.main > .work .content ul 			{ padding: 0 8px;}

	.main > .quotes .heading h2 		{ }
	.main > .quotes .content p 			{ }
	.main > .quotes .content p.author 	{ margin: 70px 0 0;}
	
	.main > .news .content .sb-news 	{ display: none;}

	.main > .more_info 					{ padding: 35px 15px; height: auto;}
	.main > .more_info p 				{ line-height: 1.5em; text-align: center; float: none; margin-bottom: 20px;}
	.main > .more_info .intro-texture 	{ float: none; width: 100%; max-width: 100%;}
	.main > .more_info .button-view 	{ float: none; max-width: 100%; width: 100%; margin-top: 10px;}

	.main > .member 					{ padding: 45px 15px;}
	.main > .member .content ul li 		{ margin-bottom: 10px;}
	.main > .member .content ul li h4 	{ text-align: center;}
	.main > .member .content ul li img 	{ margin: 0 auto;}
	.main > .member .content ul li p 	{ text-align: center;}

	.main > .contact 					{ padding: 60px 0 50px;}
	.main > .contact .content .info 	{ padding-top: 40px;}
	.main > .contact .content .info h4 	{ }
	.main > .contact .content .info p 	{ margin-bottom: 20px;}

	.footer .social .content .title p 	{ font-size: 10px;}
	.footer .social .title img 			{ width: 43px;}
	.footer .social .content .title 		{ margin-bottom: 20px;}

	.footer .connect .heading 			{ margin-top: 20px;}
	.footer .connect .body-content 		{ padding: 0 15px;}

	.footer .connect .more_info 		{ padding-bottom: 20px; border-bottom: 1px solid #636363;}

	.footer .connect .body-content .address 	{ }
	.footer .connect .body-content .link-site 	{ }
}

@media screen and (min-width: 641px) and (max-width: 710px){
	.main > .slider ul li h2 { font-size: 48px; top: 26%;}
}


@media screen and (min-width: 320px) and (max-width: 850px){
	
}
