#app {
    overflow: hidden;
}

.grid {
    max-width: 100%;
    display: block;
    padding: 0 16px;
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -4px;
}

.col {
    padding: 0px 4px;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

// low pc >=
@media (min-width: 1113px) {
    .row {
        margin: 0px -12px;
    }

    .col {
        padding: 0px 12px;
    }

    .l-0 {
        display: none;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

}

// tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .row {
        margin: 0px -8px;
    }

    .col {
        padding : 0px 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

}

// mobile big screen 511px - 739px
@media (max-width: 739px) {
    .col {
        padding : 0px 8px;
    }
    
    .s-0 {
        display: none;
    }
    
    .s-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .s-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .s-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .s-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .s-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .s-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .s-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .s-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .s-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .s-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .s-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .s-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}