$black-color: #181818;
$beige-color: #c9b489;
$white-color: #ffffff;
$beige-hover: #e7d1a3;
$font-family-primary: "Merienda", cursive;
$font-family-normal: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-family-home: "Poppins", sans-serif;
$green-color: #069c54;
$subTitle-color: #393939;
$text-color: #707070;