@import '~antd/dist/antd.less';
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Merienda&family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, 
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin:0;
  padding: 0;
  font-family:"Poppins", sans-serif;
  font-size: 16px;
}

input, 
textarea, 
select,
button {
  outline: none;
  font-size: 16px;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  display: block;
  max-width: 100%;
}






