@import 'breckpoint.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    width: 100%;
    font-family: arial sans-serif;
}
.main{
    overflow: hidden;
}
     /* Header */

.container {
    width: 100%;
    margin: 0 auto;
    @include phone-only {
        max-width: 540px;
    }
    @include tablet-sm {
        max-width: 720px;
    }
    @include tablet-lg {
        max-width: 960px;
    }
    @include desktop {
        max-width: 1140px;
    }
}

.justy {
    justify-content: space-between;
}

.h100 {
   height: 100%;
}

.flex {
    display: flex;
}

header {
    .header-top{
        display: flex;
        width: 100%;
        height: 77px;
        .logo{
            padding: 10px;
            img{
                object-fit: cover;
                width: 150px;
                height: 45px;  
            }
        }
        .navbar{
            width: 70px;
            padding: 18px;
            .container {
                display: inline-block;
                cursor: pointer;
              }
              
              .bar1, .bar2, .bar3 {
                width: 35px;
                height: 3px;
                background-color: rgb(168, 166, 166);
                margin: 6px 0;
                transition: 0.4s;
              }
              
              .change .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
              }
              
              .change .bar2 {opacity: 0;}
              
              .change .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
              }
        }
    }
    .header-down{
        background: url('../assets/img/BUYNOW_PAYLATER_bg.png');
        background-size: cover;
        background-position: bottom center;
        width: 100%;
        height: 386px;
        .conten{
            text-align: left;
            width: 100%;
            padding: 50px 0;
            font-size: 40px;
            height: 386px;
            button{
                width: 220px;
                height: 53px;
                background: rgb(0, 174, 199);
                color: white;
                border: none;
                margin: 40px 0;
            }
            p{
                font-size: 27px;
                font-weight: bold;
                margin-top: 30px;
            }
            span{
                font-size: 22px;
                margin-top: 20px;
                width: 500px;
                display: block;
            }
            strong{
                width: 100%;
            }
        }
    }
}
.hienn{
    display: none;
}



section{
    .container1{
        width: 100%;
        padding: 50px 0;
        text-align: left;
        position: relative;
        span{
            font-size: 25px;
            font-weight: bold;
            display: block;
            margin-top: 70px;
            margin-bottom: -30px;
        }
        .top, .down{
            width: 70px;
            height: 100px;
            position: fixed;
            object-fit: cover;
            right: 20px;
            top: 100px;
        }
        button{
            width: 150px;
            height: 45px;
            border: 2px solid rgb(0, 174, 199);
            background: transparent;
            margin-left: 86%;
            margin-top: -30px;
            color: rgb(0, 174, 199);
            img{
                width: 20px;
                height: 20px;
                object-fit: cover;
                margin: -5px 0;
            }
        }
        .down{
            top: 192px;
        }
        .conten-ct{
            display: flex;
            margin-top: 60px;
            .conten-ct-b{
                width: 300px;
                height: 200px;
                img{
                    width: 90px;
                    height: 90px;
                }
                p{
                    margin: 10px 0;
                }
            }
        }
        .conten1{
            display: flex;
            height: 356px;
            width: 100%;
            margin: 70px 0;
            img{
                object-fit: cover;
            }
            
            .conten1-1{
                height: 167px;
                width: 533px;
                margin: auto 0;
                display: block;
                p{
                    color:rgb(0, 174, 199);
                    font-size: 25px;;
                    width: 400px;
                }
                .p1{
                    width: 500px;
                }
                ul{
                    margin: 30px 0;
                    margin-left: 25px;
                    font-size: 20px;
                    li{
                        margin: 10px 0;
                    }
                }
            }
            
        }
    }
    .sb{
        margin: 40px 0;
    }
    .form1{
        display: flex;
    }
    .marat{
        margin: 0 auto;
    }
    .stmv{
        width: 385px;
        
        position: relative;
        .d{
            display: flex;
            margin: 10px 0;
            .a{
                margin-left: 30%;
                width: 200px;
            }
            .b{
                margin-left: 60%
            }
            p{
                width: 200px;
                height: 20px;
            }
        }
        .p{
            display: flex;
            width: 96%;
            height: 46px;
            padding: 10px;
            background-color: rgb(0, 174, 199);
            color: white;
            border-radius: 5px;
            font-size: 20px;
            position: relative;
            span{
                position: absolute;
                right: 10px;
                font-size: 20px;
                margin: 0;
            }
        }
        input[type=range] {
            margin: 20px auto;
            outline: none;
            padding: 0;
            width: 368px;
            height: 2px;
            background-color: #dedede;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00aec7), color-stop(100%, #00aec7));
            background-size: 50% 100%;
            background-repeat: no-repeat;
            border-radius: 10px;
            cursor: pointer;
            -webkit-appearance: none;
        }
        
        input[type=range]::-webkit-slider-runnable-track {
            box-shadow: none;
            border: none;
            background: transparent;
            -webkit-appearance: none;
        }
        
        
        input[type=range]::-webkit-slider-thumb {
          height: 25px;
          width: 25px;
            border: 0;
            background: #00aec7;
            border-radius: 50%;
            box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
            -webkit-appearance: none;
        }
          select {
              width: 97%;
              height: 46px;
              background:rgb(0, 174, 199);
              border-radius: 5px;
              color: white;
              border: none;
              padding: 10px;
              appearance: none;
          }
          .selectionn::before {
            position: absolute;
            content: "";
            top: 57px;
            right: 23px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: rgb(246, 246, 246) transparent transparent transparent;
          }
          
    }
    
    form{
        .form{
            margin: 30px 0;
            font-weight: bold;
            font-size:25px;
        }
        label{
            margin: 10px 0;
            display: block;
        }
        .nut{
            display: flex;
            margin-left: 69%;
            margin-top: 60px;
            margin-bottom: 80px;;
            .nut1{
                background: white;
                width: 165px;
                height: 52px;
                margin: 10px 10px;
                border: 2px solid rgb(155, 153, 153);
                color: rgb(155, 153, 153);
            }
            .nut2{
                background: rgb(155, 153, 153);
                width: 165px;
                height: 52px;
                margin: 10px 0;
                border: 2px solid rgb(155, 153, 153) ;
                color: white;
            }
        }
        .pa, .hs{
            display: none;
        }
    }
    .bp{
        border: 1px solid black;
        width: 100%;
        height: 258px;
        padding: 35px;
        display: flex;
        .bp1{
            width: 320px;
            height: 180px;
            padding-right: 44px;
            padding-left: 24px;
            p{
                margin: 5px 0;
                font-size: 20px;
                margin-bottom: 45px;
                
            }
            ul{
                margin-left: 20px;
                font-size: 20px;
                li{
                    margin: 5px 0;
                }
                p{
                    font-size: 20px;
                    margin: 5px -20px;
                }
            }
        }
        .bp2{
            margin-left: 40px;
            p{
                margin: 5px 0;
                font-size: 20px;
                margin-bottom: 45px;
            }
            ul{
                margin-left: 20px;
                font-size: 20px;
                li{
                    margin: 5px 0;
                }
                
            }
        }
    }
    
}
.hien{
    width: 100%;
    display: none;
}
/* Footer */
footer{
    .lienhe {
        width: 100%;
        height: 150px;
        background:rgb(243, 242, 242);
        strong {
            font-size: 25px;
            display: block;
            margin: auto 0px;
            
        }

        .iconvip {
            display: flex;
            width: 600px;
            .icon {
                display: flex;
                text-align: left;
                margin: auto 0px;
                height: 50px;
                width: 50%;
                margin-left: 30px;
                strong {
                    margin: 4px 0;
                    font-size: 16px;
                }

                img {
                    width: 50px;
                    height: 50px;
                }

                .text {
                    margin-left: 15px;
                }

            }

        }
        

    }
    .qc{
        background: url("../assets/img/bg-banner-footer.png") no-repeat;
        background-size: cover;
        background-position: center 100%;
        width: 100%;
        height: 310px;
        padding: 75px 0;
    }
    .footer{
        text-align: left;
        display: flex;
        .displaynone{
            display: none;
        }
        p{
            font-size: 30px;
            width: 350px;
            display: block;
            color: white;
            font-weight: bold;
        }
        .img-footer{
            margin: 30px 0;
            img{
                width: 150px;
                height: 50px;
                object-fit: cover;
                margin-right: 10px;
                border-radius: 10px;
                border: 1px white;
            }
        }
        .qr{
            display: flex;
            height: 160px;
            img{
                width: 160px;
                height: 160px;
                object-fit: cover;
            }
            p{
                font-size: 15px;
                
                color: rgb(220, 221, 221);
                width: 170px;
                margin: auto;
                margin-left: 20px;
            }
        }
    }
    .footer2 {
        position: relative;
        width: 100%;
        height: 400px;
        background:rgb(61, 66, 77);
        padding: 60px;
        color: white;
        .fiximg {
                img {
                    width: 90px;
                    height: 90px;
                    object-fit: cover;
                    top: -40px;
                    right: 160px;
                    position: absolute;
                }

        }

        button {
            margin-left: 191%;
            margin-top: -20px;
        }

        .nav {
            display: flex;
            margin: auto;
            color: white;
            list-style-type: none;
            margin-bottom: 40px;
            font-size: 18px;
            li {
                font-weight: bold;
                position: relative;
                padding: 0 16px;
            }
            .lit {
                padding-left: 0;
            }
            .lip {
                padding-right: 0;
            }

            
        }

        .nav1 {
            display: none;
        }

        .a {
            display: block;
            margin: 30px 0;
            color:rgb(175, 173, 173);
        }

        .icon11 {
            margin: 20px 0;
            img {
                width: 30px;
                height: 30px;
                margin: 0 10px;
                object-fit: cover;
            }

        }

        .pp {
            p {
                margin: 5px 0;
                color:rgb(221, 221, 221);
            }

            .p {
                margin: 40px 0;
                color: rgb(175, 173, 173);
            }

        }

        hr {
            width: 100%;
            margin: 0 auto;
            background: rgb(221, 221, 221) ;
        }

        .hrdoc::after {
            content: "";
            height: 15px;
            display: block;
            border-left: 2px solid white;
            position: absolute;
            transform: translateY(-50%);
            top : 50%;
            right: -3px;
        }

    }
}
