* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  width: 100%;
  font-family: arial sans-serif;
}

.main {
  overflow: hidden;
}

/* Header */
.container {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.justy {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.h100 {
  height: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 77px;
}

header .header-top .logo {
  padding: 10px;
}

header .header-top .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 45px;
}

header .header-top .navbar {
  width: 70px;
  padding: 18px;
}

header .header-top .navbar .container {
  display: inline-block;
  cursor: pointer;
}

header .header-top .navbar .bar1, header .header-top .navbar .bar2, header .header-top .navbar .bar3 {
  width: 35px;
  height: 3px;
  background-color: #a8a6a6;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .header-top .navbar .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

header .header-top .navbar .change .bar2 {
  opacity: 0;
}

header .header-top .navbar .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

header .header-down {
  background: url("../assets/img/BUYNOW_PAYLATER_bg.png");
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 386px;
}

header .header-down .conten {
  text-align: left;
  width: 100%;
  padding: 50px 0;
  font-size: 40px;
  height: 386px;
}

header .header-down .conten button {
  width: 220px;
  height: 53px;
  background: #00aec7;
  color: white;
  border: none;
  margin: 40px 0;
}

header .header-down .conten p {
  font-size: 27px;
  font-weight: bold;
  margin-top: 30px;
}

header .header-down .conten span {
  font-size: 22px;
  margin-top: 20px;
  width: 500px;
  display: block;
}

header .header-down .conten strong {
  width: 100%;
}

.hienn {
  display: none;
}

section .container1 {
  width: 100%;
  padding: 50px 0;
  text-align: left;
  position: relative;
}

section .container1 span {
  font-size: 25px;
  font-weight: bold;
  display: block;
  margin-top: 70px;
  margin-bottom: -30px;
}

section .container1 .top, section .container1 .down {
  width: 70px;
  height: 100px;
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  right: 20px;
  top: 100px;
}

section .container1 button {
  width: 150px;
  height: 45px;
  border: 2px solid #00aec7;
  background: transparent;
  margin-left: 86%;
  margin-top: -30px;
  color: #00aec7;
}

section .container1 button img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: -5px 0;
}

section .container1 .down {
  top: 192px;
}

section .container1 .conten-ct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

section .container1 .conten-ct .conten-ct-b {
  width: 300px;
  height: 200px;
}

section .container1 .conten-ct .conten-ct-b img {
  width: 90px;
  height: 90px;
}

section .container1 .conten-ct .conten-ct-b p {
  margin: 10px 0;
}

section .container1 .conten1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 356px;
  width: 100%;
  margin: 70px 0;
}

section .container1 .conten1 img {
  -o-object-fit: cover;
     object-fit: cover;
}

section .container1 .conten1 .conten1-1 {
  height: 167px;
  width: 533px;
  margin: auto 0;
  display: block;
}

section .container1 .conten1 .conten1-1 p {
  color: #00aec7;
  font-size: 25px;
  width: 400px;
}

section .container1 .conten1 .conten1-1 .p1 {
  width: 500px;
}

section .container1 .conten1 .conten1-1 ul {
  margin: 30px 0;
  margin-left: 25px;
  font-size: 20px;
}

section .container1 .conten1 .conten1-1 ul li {
  margin: 10px 0;
}

section .sb {
  margin: 40px 0;
}

section .form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .marat {
  margin: 0 auto;
}

section .stmv {
  width: 385px;
  position: relative;
}

section .stmv .d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

section .stmv .d .a {
  margin-left: 30%;
  width: 200px;
}

section .stmv .d .b {
  margin-left: 60%;
}

section .stmv .d p {
  width: 200px;
  height: 20px;
}

section .stmv .p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96%;
  height: 46px;
  padding: 10px;
  background-color: #00aec7;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  position: relative;
}

section .stmv .p span {
  position: absolute;
  right: 10px;
  font-size: 20px;
  margin: 0;
}

section .stmv input[type=range] {
  margin: 20px auto;
  outline: none;
  padding: 0;
  width: 368px;
  height: 2px;
  background-color: #dedede;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00aec7), color-stop(100%, #00aec7));
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

section .stmv input[type=range]::-webkit-slider-runnable-track {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

section .stmv input[type=range]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border: 0;
  background: #00aec7;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
}

section .stmv select {
  width: 97%;
  height: 46px;
  background: #00aec7;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

section .stmv .selectionn::before {
  position: absolute;
  content: "";
  top: 57px;
  right: 23px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #f6f6f6 transparent transparent transparent;
}

section form .form {
  margin: 30px 0;
  font-weight: bold;
  font-size: 25px;
}

section form label {
  margin: 10px 0;
  display: block;
}

section form .nut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 69%;
  margin-top: 60px;
  margin-bottom: 80px;
}

section form .nut .nut1 {
  background: white;
  width: 165px;
  height: 52px;
  margin: 10px 10px;
  border: 2px solid #9b9999;
  color: #9b9999;
}

section form .nut .nut2 {
  background: #9b9999;
  width: 165px;
  height: 52px;
  margin: 10px 0;
  border: 2px solid #9b9999;
  color: white;
}

section form .pa, section form .hs {
  display: none;
}

section .bp {
  border: 1px solid black;
  width: 100%;
  height: 258px;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .bp .bp1 {
  width: 320px;
  height: 180px;
  padding-right: 44px;
  padding-left: 24px;
}

section .bp .bp1 p {
  margin: 5px 0;
  font-size: 20px;
  margin-bottom: 45px;
}

section .bp .bp1 ul {
  margin-left: 20px;
  font-size: 20px;
}

section .bp .bp1 ul li {
  margin: 5px 0;
}

section .bp .bp1 ul p {
  font-size: 20px;
  margin: 5px -20px;
}

section .bp .bp2 {
  margin-left: 40px;
}

section .bp .bp2 p {
  margin: 5px 0;
  font-size: 20px;
  margin-bottom: 45px;
}

section .bp .bp2 ul {
  margin-left: 20px;
  font-size: 20px;
}

section .bp .bp2 ul li {
  margin: 5px 0;
}

.hien {
  width: 100%;
  display: none;
}

/* Footer */
footer .lienhe {
  width: 100%;
  height: 150px;
  background: #f3f2f2;
}

footer .lienhe strong {
  font-size: 25px;
  display: block;
  margin: auto 0px;
}

footer .lienhe .iconvip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
}

footer .lienhe .iconvip .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: auto 0px;
  height: 50px;
  width: 50%;
  margin-left: 30px;
}

footer .lienhe .iconvip .icon strong {
  margin: 4px 0;
  font-size: 16px;
}

footer .lienhe .iconvip .icon img {
  width: 50px;
  height: 50px;
}

footer .lienhe .iconvip .icon .text {
  margin-left: 15px;
}

footer .qc {
  background: url("../assets/img/bg-banner-footer.png") no-repeat;
  background-size: cover;
  background-position: center 100%;
  width: 100%;
  height: 310px;
  padding: 75px 0;
}

footer .footer {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer .displaynone {
  display: none;
}

footer .footer p {
  font-size: 30px;
  width: 350px;
  display: block;
  color: white;
  font-weight: bold;
}

footer .footer .img-footer {
  margin: 30px 0;
}

footer .footer .img-footer img {
  width: 150px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px white;
}

footer .footer .qr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
}

footer .footer .qr img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .footer .qr p {
  font-size: 15px;
  color: #dcdddd;
  width: 170px;
  margin: auto;
  margin-left: 20px;
}

footer .footer2 {
  position: relative;
  width: 100%;
  height: 400px;
  background: #3d424d;
  padding: 60px;
  color: white;
}

footer .footer2 .fiximg img {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  top: -40px;
  right: 160px;
  position: absolute;
}

footer .footer2 button {
  margin-left: 191%;
  margin-top: -20px;
}

footer .footer2 .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  color: white;
  list-style-type: none;
  margin-bottom: 40px;
  font-size: 18px;
}

footer .footer2 .nav li {
  font-weight: bold;
  position: relative;
  padding: 0 16px;
}

footer .footer2 .nav .lit {
  padding-left: 0;
}

footer .footer2 .nav .lip {
  padding-right: 0;
}

footer .footer2 .nav1 {
  display: none;
}

footer .footer2 .a {
  display: block;
  margin: 30px 0;
  color: #afadad;
}

footer .footer2 .icon11 {
  margin: 20px 0;
}

footer .footer2 .icon11 img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .footer2 .pp p {
  margin: 5px 0;
  color: #dddddd;
}

footer .footer2 .pp .p {
  margin: 40px 0;
  color: #afadad;
}

footer .footer2 hr {
  width: 100%;
  margin: 0 auto;
  background: #dddddd;
}

footer .footer2 .hrdoc::after {
  content: "";
  height: 15px;
  display: block;
  border-left: 2px solid white;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: -3px;
}
/*# sourceMappingURL=muatruoc.css.map */