@media only screen and (max-width: 46.25em) {
  * {
    padding: 0;
  }
  body {
    width: 100%;
  }
  .flex-colum {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-top {
    padding: 0 15px;
    width: 100%;
    height: 50px;
  }
  header .header-top .logo img {
    width: 86px;
    height: 26px;
    margin: auto 0;
  }
  header .header-top .navbar {
    margin-left: 53%;
    padding: 5px;
  }
  header .header-top .navbar .container {
    margin: 7px 0;
  }
  header .header-top .navbar .container .bar1, header .header-top .navbar .container .bar2, header .header-top .navbar .container .bar3 {
    width: 18px;
    margin: 3px 0;
    background-color: #f78d46;
  }
  header .header-down {
    width: 100%;
    height: 550px;
    padding: 25px 20px;
    background: url("../assets/img/BUYNOW_PAYLATER_bg_mobile.png") no-repeat;
    background-position: bottom center;
    background-size: cover;
  }
  header .header-down .conten {
    padding: 10px 0;
    width: 100%;
    height: 300px;
    text-align: center;
  }
  header .header-down .conten span {
    width: 66%;
    font-size: 15px;
    line-height: 1.3;
    margin: 0 auto;
    margin-top: 20px;
  }
  header .header-down .conten strong {
    font-size: 30px;
    width: 100%;
    font-weight: bold;
  }
  header .header-down .conten p {
    font-size: 20px;
    width: 197px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
  }
  header .header-down .conten button {
    margin: 0 auto;
    margin-top: 270px;
    -webkit-box-shadow: 10px;
            box-shadow: 10px;
    display: block;
  }
  header .header-down .conten .hien {
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
  }
  header .header-down .conten img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 70px;
    height: 40px;
  }
  .hienn {
    display: block;
    margin: 10px auto;
  }
  section .container1 {
    padding: 0;
    margin-top: 150px;
  }
  section .container1 .hr1 {
    width: 70%;
    margin: 40px auto;
  }
  section .container1 span {
    text-align: center;
    height: 60px;
    font-size: 25px;
    width: 90%;
    margin: 0 auto;
    padding: 0 30.5px;
    display: block;
  }
  section .container1 .conten-ct {
    padding: 10px 50px;
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section .container1 .conten-ct .conten-ct-b, section .container1 .conten-ct .conten-ct-c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section .container1 .conten-ct .conten-ct-b {
    width: 100%;
    height: 100px;
    margin-top: 20px;
  }
  section .container1 .conten-ct .conten-ct-b p {
    margin: auto 10px;
  }
  section .container1 .hien {
    margin: 40px auto;
    margin-bottom: 50px;
    width: 175px;
    height: 48px;
    color: #17b5cd;
    font-size: 17px;
    font-weight: bold;
    display: block;
  }
  section .container1 .hien img {
    margin: -6px 5px;
    width: 25px;
    height: 25px;
  }
  section .container1 .conten1 {
    width: 100%;
    margin: 0;
    height: 330px;
    padding: 0 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section .container1 .conten1 .conten1-1 {
    width: 100%;
    height: 170px;
    margin: 10px 0;
  }
  section .container1 .conten1 .conten1-1 p {
    width: 90%;
    height: 70px;
    font-size: 18px;
    display: block;
    margin: 10px 0;
    font-weight: bold;
  }
  section .container1 .conten1 .conten1-1 .p1 {
    width: 300px;
  }
  section .container1 .conten1 .conten1-1 ul {
    font-size: 15px;
    margin-left: 18px;
    margin: 0 auto;
    margin-left: 25px;
  }
  section .container1 .conten1 .conten1-1 img {
    margin: 20px 0;
  }
  section .container1 .conten1 .mrr {
    margin: 0;
  }
  section .container1 .conten1 img {
    width: 290px;
    height: 155px;
    margin: 10px 0 !important;
  }
  section .container1 .conten1-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section .form1 {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
  }
  section .form1 .stmv {
    width: 95%;
    height: 140px;
    margin: 10px auto;
  }
  section .form1 .stmv input[type=range] {
    width: 354px;
  }
  section .form1 .stmv .p {
    font-size: 20px;
  }
  section .form1 .stmv .p span {
    font-size: 20px;
    right: 30px;
    height: 25px;
    width: 60px;
  }
  section .form1 .stmv .d p {
    width: 250px;
    height: 30px;
    color: #818181;
  }
  section .form1 .stmv .d .a {
    margin-left: 0%;
    width: 400px;
    height: 30px;
  }
  section .form1 .stmv .d .b {
    margin-left: 60%;
  }
  section form .nut {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 40px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section form .nut .nut2 {
    width: 205px;
    font-weight: bold;
  }
  section form .nut .nut1 {
    border: 2px solid #17b5cd;
    color: #17b5cd;
  }
  section form .form {
    display: block;
    margin: 40px auto;
    width: 230px;
  }
  section form .pa {
    border: 1px solid black;
    margin-left: 10px;
    margin-bottom: 40px;
    height: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section form .pa .content-pa {
    margin: 5px 0;
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section form .pa .content-pa p {
    width: 350px;
    display: block;
  }
  section form .pa .content-pa span {
    font-size: 20px;
    text-align: right;
    height: 20px;
    padding: 0;
    width: 100px;
  }
  section form .pa .content-pa .s1 {
    width: 50px;
  }
  section form .pa .content-pa input {
    height: 25px;
    width: 100px;
  }
  section form .pa .but {
    margin: 10px auto;
    width: 100%;
  }
  section form .pa .but .button1 {
    width: 100%;
    background: #17b5cd;
    color: white;
  }
  section form .pa .but .button2 {
    margin-left: 87px;
  }
  section form .pa .but button {
    margin: 10px auto;
  }
  section form .pa .pas {
    width: 90%;
    border-right: 1px solid black;
    padding: 12px;
  }
  section form .pa .pas .pa1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
  }
  section form .pa .pas .pa1 img {
    width: 30px;
    height: 30px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
    margin-left: 39%;
  }
  section form .pa .pas .pa1 strong {
    width: 150px;
    height: 30px;
    margin: auto 0;
    padding: 5px;
  }
  section form .pa .tpas {
    width: 100%;
    display: block;
    z-index: 10;
  }
  section form .pa .tpas p {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    width: 170px;
    height: 204px;
    margin-top: 12px;
    font-size: 19px;
    color: #17b5cd;
    margin-right: 20px;
    margin-left: -12px;
  }
  section form .pa .tpas p img {
    margin-right: -20px;
    margin-bottom: -8px;
  }
  section form .hs {
    width: 90%;
    border: 1px solid black;
    margin: 10px 20px;
    height: 500px;
  }
  section form .hs .but1 {
    width: 100%;
  }
  section form .hs .but1 .button-hs1, section form .hs .but1 .button-hs2 {
    margin: 0 auto;
    border: none;
    padding: 20px 10px 10px 20px;
    height: 50px;
    width: 49%;
    border-radius: 0 0 10px 0;
  }
  section form .hs .but1 .button-hs2 {
    border-radius: 0 0 0 10px;
  }
  section form .hs ul .list-custom::before {
    width: 5px;
    height: 5px;
    margin-right: 6px;
    border-radius: 30px;
    top: -3px;
    left: 2px;
    position: relative;
    background-color: #000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
  }
  section form .hs ul li {
    margin: 20px 20px;
    list-style-type: none;
    line-height: 1.4;
    font-size: 16px;
  }
  section .bp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 670px;
    width: 90%;
    margin: 0 auto;
  }
  section .bp .bp2 {
    margin: 10px 0;
  }
  section .bp .bp2 p {
    margin: 5px 10px;
    margin-bottom: 45px;
  }
  section .bp .bp1 {
    height: 250px;
    padding: 10px;
    width: 100%;
    border: none;
  }
  section .bp .bp1 p {
    margin: 5px 10px;
    margin-bottom: 45px;
  }
  section .bp .bp1 ul p {
    width: 150px;
    margin: 10px 0;
  }
  section .bp .an1 {
    width: 100%;
    display: block;
  }
  .an {
    display: none;
  }
  /* Footer */
  footer .lienhe {
    width: 100%;
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .lienhe strong {
    width: 100%;
    margin: 40px auto;
    font-size: 25px;
  }
  footer .lienhe .iconvip {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 15px;
    width: 100%;
  }
  footer .lienhe .iconvip .icon {
    margin: 20px 30px;
    width: 100%;
  }
  footer .lienhe .iconvip .icon .text {
    width: 100%;
  }
  footer .lienhe .iconvip .icon .text .p1 {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    font-size: 19px;
    width: 220px;
  }
  footer .lienhe .iconvip .icon .text span {
    font-size: 19px;
    width: 150px;
    margin-left: 3px;
  }
  footer .qc {
    background: url("../assets/img/home-banner-app-install-mobile.jpg") no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 0;
    height: 700px;
  }
  footer .footer {
    margin: 0px 20px;
    width: 90%;
    padding: 0;
    padding-top: 30px;
  }
  footer .footer .displaynone {
    display: block;
    margin: 0;
  }
  footer .footer .dplay {
    display: none;
  }
  footer .footer .qr {
    display: none;
  }
  footer .footer .img-footer img {
    width: 120px;
    height: 40px;
  }
  footer .footer p {
    width: 90%;
    font-size: 27px;
  }
  footer .footer2 {
    padding: 30px;
    height: 400px;
  }
  footer .footer2 .fiximg img {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    top: -36px;
  }
  footer .footer2 .a {
    margin: 20px 0;
  }
  footer .footer2 .pp {
    color: #afadad;
  }
  footer .footer2 .pp p {
    font-size: 13px;
  }
  footer .footer2 .pp .p {
    margin: 10px 0;
  }
  footer .footer2 .nav1 {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer2 .nav1 .nav1-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 10px auto;
  }
  footer .footer2 .nav1 .nav1-1 span {
    margin: 0 auto;
  }
  footer .footer2 .nav1 .nav1-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 10px auto;
  }
  footer .footer2 .nav1 .nav1-2 span {
    margin: 0 auto;
  }
  footer .footer2 .nav1 .nav1-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 10px auto;
  }
  footer .footer2 .nav1 .nav1-3 span {
    margin: 0 auto;
  }
  footer .footer2 .nav {
    display: none;
  }
  footer .footer2 hr {
    width: 100%;
  }
}
/*# sourceMappingURL=muatruoc-reponsive.css.map */