@media only screen and (max-width: 46.25em) {
    * {
        padding: 0;
        
    }

    // #17b5cd;
    body {
        width: 100%;
    }

    .flex-colum  {
        flex-direction: column;
    }

    header {
        .header-top {
            padding: 0 15px;
            width: 100%;
            height: 50px;
            .logo {
                img {
                    width: 86px;
                    height: 26px;
                    margin: auto 0;
                }

            }

            .navbar {
                margin-left: 53%;
                padding: 5px;
                .container {
                    margin: 7px 0;;
                    .bar1, .bar2, .bar3 {
                        width: 18px;
                        margin: 3px 0;
                        background-color: #f78d46;
                    }

                    
                }

            }

        }

        .header-down {
            width: 100%;
            height: 550px;
            padding: 25px 20px;
            background: url('../assets/img/BUYNOW_PAYLATER_bg_mobile.png') no-repeat;
            background-position: bottom center;
            background-size: cover;
            .conten {
                padding: 10px 0;
                width: 100%;
                height: 300px;
                text-align: center;
                span {
                    width: 66%;
                    font-size: 15px;
                    line-height: 1.3;
                    margin: 0 auto;
                    margin-top: 20px;
                }

                strong {
                    font-size: 30px;
                    width: 100%;
                    font-weight: bold;
                }

                p {
                    font-size: 20px;
                    width: 197px;
                    height: 40px;
                    display: block;
                    margin: 0 auto;
                    margin-top: 25px;
                }

                button {
                    margin: 0 auto;
                    margin-top: 270px;
                    box-shadow: 10px;
                    display: block;
                }

                .hien {
                    display: block;
                    width: 50px;
                    height: 50px;
                    margin: 10px auto;
                    
                }

                img {
                    object-fit: cover;
                    width: 70px;
                    height: 40px;
                }

            }

        }

    }

    .hienn {
        display: block;
        margin: 10px auto;
    }

    section {
        .container1 {
            padding: 0;
            margin-top: 150px;
            .hr1 {
                width: 70%;
                margin: 40px auto;
            }

            span {
                text-align: center;
                height: 60px;
                font-size: 25px;
                width: 90%;
                margin: 0 auto;
                padding: 0 30.5px;
                display: block;
            }

            .conten-ct {
                padding: 10px 50px;
                margin-top: 0;
                flex-direction: column;
                .conten-ct-b, .conten-ct-c {
                    display: flex;
                }

                .conten-ct-b {
                    width: 100%;
                    height: 100px;
                    margin-top: 20px;
                    p {
                        margin: auto 10px
                    }

                    
                }

            }

            .hien {
                margin: 40px auto;
                margin-bottom: 50px;
                width: 175px;
                height: 48px;
                color: #17b5cd;
                font-size: 17px;
                font-weight: bold;
                display: block;
                img {
                    margin: -6px 5px;
                    width: 25px;
                    height: 25px;
                }

            }

            .conten1 {
                width: 100%;
                margin: 0;
                height: 330px;
                padding: 0 50px;
                flex-direction: column-reverse;
                .conten1-1 {
                    width: 100%;
                    height: 170px;
                    margin: 10px 0;
                    p {
                        width: 90%;
                        height: 70px;
                        font-size: 18px;
                        display: block;
                        margin: 10px 0;
                        font-weight: bold;
                    }

                    .p1 {
                        width: 300px;
                    }

                    ul {
                        font-size: 15px;
                        margin-left: 18px;
                        margin: 0 auto;
                        margin-left: 25px;
                    }

                    img {
                        margin: 20px 0;
                    }

                }

                .mrr {
                    margin: 0;
                }

                img {
                    width: 290px;
                    height: 155px;
                    margin: 10px 0 !important;
                }

            }

            .conten1-1 {
                flex-direction: column;
            }

        }

        .form1 {
            padding: 0;
            flex-direction: column;
            height: 400px;
            .stmv {
                width: 95%;
                height: 140px;
                margin: 10px auto ;

                input[type=range] {
                    width: 354px;
                }

                .p {
                    font-size: 20px;
                    span {
                        font-size: 20px;
                        right: 30px;
                        height: 25px;
                        width: 60px;
                    }

                }

                .d {
                    p {
                        width: 250px;
                        height: 30px;
                        color:rgb(129, 129, 129)
                    }

                    .a {
                        margin-left: 0%;
                        width: 400px;
                        height: 30px;
                    }

                    .b {
                        margin-left: 60%;
                    }

                }

            }

            
        }

        form {
            .nut {
                flex-direction: column-reverse;
                margin: 40px 0;;
                justify-content: center;
                align-items: center;
                .nut2 {
                    width: 205px;
                    font-weight: bold;
                }

                .nut1 {
                    border: 2px solid #17b5cd;
                    color: #17b5cd;
                }

            }

            .form {
                display: block;
                margin: 40px auto;
                width: 230px;
            }

            .pa {
                border: 1px solid black;
                margin-left: 10px;
                margin-bottom: 40px;
                height: 550px;
                display: flex;
                .content-pa {
                    margin: 5px 0;
                    width: 100%;
                    height: 40px;
                    display: flex;
                    p {
                        width: 350px;
                        display: block;
                    }

                    span {
                        font-size: 20px;
                        text-align: right;
                        height: 20px;
                        padding: 0;
                        width: 100px;
                    }

                    .s1 {
                        width: 50px;
                    }

                    input {
                        height: 25px;
                        width: 100px;
                    }

                }

                .but {
                    margin: 10px auto;
                    width: 100%;
                    .button1 {
                        width: 100%;
                        background:#17b5cd;
                        color: white;
                    }

                    .button2 {
                        margin-left: 87px;
                    }

                    button {
                        margin: 10px auto;
                    }

                }

                .pas {
                    width: 90%;
                    border-right: 1px solid black;
                    padding: 12px;
                    .pa1 {
                        display: flex;
                        height: 50px;
                        img {
                            width: 30px;
                            height: 30px;
                            object-fit: cover;
                            margin: auto;
                            margin-left: 39%;
                        }

                        strong {
                            width: 150px;
                            height: 30px;
                            margin: auto 0;
                            padding: 5px;
                        }

                    }

                }

                .tpas {
                    width: 100%;
                    display: block;
                    z-index: 10;
                    p {
                        transform: rotate(270deg);
                        width: 170px;
                        height: 204px;
                        margin-top: 12px;
                        font-size: 19px;
                        color:#17b5cd;
                        margin-right: 20px;
                        margin-left: -12px;
                        img {
                            margin-right: -20px;
                            margin-bottom: -8px;
                        }

                    }

                    
                }

            }

            .hs {
                width: 90%;
                border: 1px solid black;
                margin: 10px 20px;
                height: 500px;
                .but1 {
                    width: 100%;
                    .button-hs1, .button-hs2 {
                        margin: 0 auto;
                        border: none;
                        padding: 20px 10px 10px 20px;
                        height: 50px;
                        width: 49%;
                        border-radius: 0 0 10px 0 ;
                    }

                    .button-hs2 {
                        border-radius: 0 0 0 10px ;
                    }

                }

                ul {
                    .list-custom::before {
                        width: 5px;
                        height: 5px;
                        margin-right: 6px;
                        border-radius: 30px;
                        top: -3px;
                        left: 2px;
                        position: relative;
                        background-color: #000;
                        content: '';
                        display: inline-block;
                        visibility: visible;
                        border: none;
                    }

                    li {
                        margin: 20px 20px;
                        list-style-type: none;
                        line-height: 1.4;
                        font-size: 16px;
                    }

                }

            }

        }

        .bp {
            flex-direction: column;
            height: 670px;
            width: 90%;
            margin: 0 auto;
            .bp2 {
                margin: 10px 0;
                p {
                    margin: 5px 10px;
                    margin-bottom: 45px;
                }

            }

            .bp1 {
                height: 250px;
                padding: 10px;
                width: 100%;
                border: none;
                p {
                    margin: 5px 10px;
                    margin-bottom: 45px;
                }

                ul {
                    p {
                        width: 150px;
                        margin: 10px 0;
                    }

                }

            }

            .an1 {
                width: 100%;
                display: block;
            }

        }

    }

    .an {
        display: none;
    }


    /* Footer */
    footer {
        .lienhe {
            width: 100%;
            height: 300px;
            flex-direction: column;
            strong {
                width: 100%;
                margin: 40px auto;
                font-size: 25px;
            }

            .iconvip {
                flex-direction: column;
                margin: 0 15px;
                width: 100%;
                .icon {
                    margin: 20px 30px;
                    width: 100%;
                    .text {
                        width: 100%;
                        .p1 {
                            text-decoration-line: underline; 
                            font-size: 19px;
                            width: 220px;
                        }

                        span {
                            font-size: 19px;
                            width: 150px;
                            margin-left: 3px;
                        }

                    }

                }

            }

            
        }

        .qc {
            background: url('../assets/img/home-banner-app-install-mobile.jpg') no-repeat;
            background-size: cover;
            background-position: bottom center;
            padding: 0;
            height: 700px;
        }

        .footer {
            margin: 0px 20px;
            width: 90%;
            padding: 0;
            padding-top: 30px;
            .displaynone {
                display: block;
                margin: 0;
            }

            .dplay {
                display: none;
            }

            .qr {
                display: none;
            }

            .img-footer {
                img {
                    width: 120px;
                    height: 40px;
                }

            }

            p {
                width: 90%;
                font-size: 27px;
            }

        }

        .footer2 {
            padding: 30px;           
            height: 400px;
                .fiximg {
                    img {
                        width: 70px;
                        height: 70px;
                        position: absolute;
                        right: 0;
                        top: -36px;
                    }

                }

            .a {
                margin: 20px 0;
            }

            .pp {
                color: #afadad;
                p {
                    font-size: 13px;
                }

                .p {
                    margin: 10px 0;
                }

            }

            .nav1 {
                display: block;
                text-align: center;
                justify-content: center;
                .nav1-1 {
                    display: flex;
                    width: 90%;
                    margin: 10px auto;
                    span {
                        margin: 0 auto;
                    }

                }

                .nav1-2 {
                    display: flex;
                    width: 80%;
                    margin: 10px auto;
                    span {
                        margin: 0 auto;
                    }

                }

                .nav1-3 {
                    display: flex;
                    width: 100%;
                    margin: 10px auto;
                    span {
                        margin: 0 auto;
                    }

                }

            }

            .nav {
                display: none;
                
            }

            hr {
                width: 100%;
            }

        }

    }

}
