form {
    display: flex;
    flex-direction: column;
    padding: 20px;

    label {
        font-weight: bold;
        font-size: 14px;
        margin: 2px 0px;
    }

    .input {
        width: 100%;
        font-size: 16px;
        border-radius: 5px;
        padding: 6px;

    }
    
    .button {
        width: 100%;
        font-size: 16px;
        border-radius: 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px !important;

        span {
            position: absolute;

        }
    }
    
}