.form-ct {
    width: 500px;
    border: 2px solid blue;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;
    margin: 50px auto;
}

.ngchuyen, .sotien, .ngnhan, .date {
    border: 1px solid rgb(48, 131, 255);
    margin: 20px 0;
    justify-content: space-between;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

input[type="text"], input[type="number"], input[type="date"] {
    height: 30px;
    margin: 10px 0 !important;
    flex: 1;
}

label {
    width: 150px;
}

.tableForm {
  width: 1100px;
  margin: 50px auto;
  border: 1px solid rgb(124, 126, 241);
}

.bn39 {
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    height: 50px;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
  }
  
  .bn39:hover {
    color: #fff;
  }
  
  .bn39 .bn39span {
    align-items: center;
    background: #0e0e10;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .bn39:hover .bn39span {
    background: transparent;
  }

  .active {
    color: red;
  }